.flows_WIN-04L2L9UMOVJ.json.backup
[{"id":"c9cbc1d0.c83bb","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"628932e8.96ed3c","type":"tab","label":"FLOW_EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"53209bf1.715a54","type":"tab","label":"FLOW_POWER","disabled":false,"info":""},{"id":"a1d01121.5171d","type":"tab","label":"FLOW_HEATERS","disabled":false,"info":""},{"id":"e37d0c23.38823","type":"tab","label":"FLOW_GALLERY_UP","disabled":false,"info":""},{"id":"a90ed9d7.9ebc98","type":"tab","label":"FLOW_DOOR_WINDOWS_SOUTHSIDE","disabled":false,"info":""},{"id":"54edc83d.e783e8","type":"tab","label":"FLOW_ANTEROOM","disabled":false,"info":""},{"id":"97b808d5.1f17a8","type":"tab","label":"FLOW_WESTSIDE","disabled":false,"info":""},{"id":"ab8826d2.0f8738","type":"tab","label":"FLOW_KITCHEN","disabled":false,"info":""},{"id":"b79ded16.27bdc","type":"tab","label":"FLOW_KID_SLEEPING_ROOM","disabled":false,"info":""},{"id":"828d597d.f84538","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"f53bda41.da6d68"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"3981215e.9d9e3e","port":0}]}],"status":{"x":760,"y":120,"wires":[{"id":"3981215e.9d9e3e","port":0}]}},{"id":"5c497dbd.c68984","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"8ec084e5.1a60a8"}]}],"out":[{"x":805.8567552566528,"y":41.28568649291992,"wires":[{"id":"d6025086.29818","port":0}]}],"status":{"x":802.9851112365723,"y":86,"wires":[{"id":"d6025086.29818","port":0}]}},{"id":"26a3130b.a685ac","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":2078.651309967041,"y":153.0057258605957,"wires":[{"id":"e9631090.8588"}]}],"out":[{"x":3118.650531768799,"y":129.00568199157715,"wires":[{"id":"684e2692.d44b78","port":0}]}]},{"id":"57f68ca1.d0f864","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"ba329dc1.a61cd"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"12b5b20d.46a48e","port":0}]}]},{"id":"2386de2a.17b1e2","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"1699908c.79cf1f"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"b3e18792.807b58","port":0}]}]},{"id":"2f961c0a.e768e4","type":"subflow","name":"LIGHT_KITCHEN","info":"","category":"","in":[{"x":2418.0147857666016,"y":475.00567531585693,"wires":[{"id":"8469fc52.00e49"}]}],"out":[{"x":3091.01473236084,"y":473.0056140422821,"wires":[{"id":"7e0ae9da.778dc8","port":0}]}]},{"id":"39e2c51b.63462a","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"508eebc0.c0aaa4"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"caf62a80.c9fd68","port":0}]}]},{"id":"28b20817.180f18","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"fce28241.d5709"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"8c852e2e.6ebf5","port":0}]}]},{"id":"15519932.ff6c67","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"988c57d2.3efb08"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"ee996716.0067b8","port":0}]}]},{"id":"87b21da.79682e","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"b78d5b33.299388"}]}],"out":[{"x":1460,"y":2560,"wires":[{"id":"62513f27.a1669","port":0}]}]},{"id":"8e55f1f3.8d083","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"68a01b18.6bb714"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"465dc73d.4ac638","port":0}]}]},{"id":"a52d2104.7681","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"cc79d975.0d2b28"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"61c68e86.ea7cb","port":0}]}]},{"id":"b257ffa5.3b8ec","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"e10aae99.8a54a"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"675cabcf.ba3a64","port":0}]}]},{"id":"a82afb18.89e7e8","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"31084f9c.5b7e5"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"7f705f0.d7555a","port":0}]}]},{"id":"9a5ea19.095836","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"53ff633a.36324c"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"b0b52240.31b48","port":0}]}]},{"id":"9b901edf.a3fe8","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"33813e23.f1fd92"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"fcbb2263.e73b7","port":0}]}]},{"id":"e784f860.bf2628","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"c8ca9454.00b5a8"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"f38791f7.03ffd","port":0}]}]},{"id":"6614deca.8645c","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"1a7d6643.467f8a"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"26a9019f.805c9e","port":0}]}]},{"id":"6f928949.5e7568","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"dcd811de.76102"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"fecb81a1.03069","port":0}]}]},{"id":"a893f309.b12cb","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"46d48af4.bb1204"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"1949caf3.4f9995","port":0}]}]},{"id":"6ee8aeea.8e8e8","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"b814a7cf.5b7b58"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"64503f8a.b5b42","port":0}]}]},{"id":"b3eeb2a3.ab4b4","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"3535f93b.76b726"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"79511f01.30ac","port":0}]}]},{"id":"e89874ff.a29b78","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"72bc2e7e.3f20a"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"3d64046d.d4fdec","port":0}]}]},{"id":"199ead11.e787d3","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"c1621262.2cd75"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"f2936e61.f5555","port":0}]}]},{"id":"1576c382.125dfc","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"f2979f7a.4ba72"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"302e961.765306a","port":0}]}]},{"id":"b7b9e9d6.4ee208","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"c7a3ef11.3021d"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"e878b225.95cf6","port":0}]}]},{"id":"26e2ed27.4336a2","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"4e1622c4.4cba1c"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"3ec13b32.2130a4","port":0}]}]},{"id":"9bf2adb4.b3e7e","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"bd7f339b.92a4e"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"26d2d34b.b2614c","port":0}]}]},{"id":"aead713f.e6479","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"fb9dfcc0.65059"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"86971ab.43f7fe8","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"55230b44.b93a84","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"52705f43.b6e74"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"c9e52f28.2e747","port":0}]}]},{"id":"55ddc4fa.b2262c","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"a6c2387b.074988"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"edef7705.a2c048","port":0}]}]},{"id":"87c55a15.ce5868","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"e21228b.0a6f8d8"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"41a98545.8d98cc","port":0}]}]},{"id":"9f16fc31.21643","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":740,"y":100,"wires":[{"id":"3ddee6dc.79123a","port":0}]},{"x":740,"y":220,"wires":[{"id":"c1109445.eda598","port":0}]}],"status":{"x":740,"y":160,"wires":[{"id":"de19586e.d4b908","port":0}]}},{"id":"a52a7a3f.a4fcc8","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"6e34a186.e038"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"d99f403d.4a4b5","port":0}]}]},{"id":"f4b0a378.cec04","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"c0ac778.36ef888"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"238c5ded.0fd472","port":0}]}]},{"id":"52fe722e.b7e8cc","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"3b1d4ff7.0c3df"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"6808e761.e62db8","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"6808e761.e62db8","port":0}]}},{"id":"183d261f.40106a","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"7de6094.4035ef8"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"5cb59cfa.d5d704","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"5cb59cfa.d5d704","port":0}]}},{"id":"9da3031f.9632f","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"3ad3dcc4.354634"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"1fba42f4.98a99d","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"1fba42f4.98a99d","port":0}]}},{"id":"eaa5b3ca.03497","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"486b18da.bcbd98"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"875b03a1.8d89e","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"875b03a1.8d89e","port":0}]}},{"id":"22fe54d2.32932c","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"230a0591.a18c2a"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"1b699bc3.321a44","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"1b699bc3.321a44","port":0}]}},{"id":"6f92a37f.85228c","type":"subflow","name":"SUB_HEATER_BATHROOM","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"504e12d1.0ad35c"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"26c78aab.e08126","port":0}]}],"env":[],"status":{"x":900,"y":40,"wires":[{"id":"26c78aab.e08126","port":0}]}},{"id":"22c9b1ac.5e8d2e","type":"subflow","name":"FLOW_BOILER","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"4bda40d.7a123c"}]}],"out":[{"x":639.9138717651367,"y":94.92855262756348,"wires":[{"id":"10e9b1b9.95702e","port":0}]}],"env":[],"status":{"x":640,"y":40,"wires":[{"id":"10e9b1b9.95702e","port":0}]}},{"id":"9faca507.f92f68","type":"subflow","name":"FLOW_PLUG_IR","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"38150ddb.6b78b2"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"42312914.0ca2d8","port":0}]}],"env":[],"status":{"x":480,"y":20,"wires":[{"id":"42312914.0ca2d8","port":0}]}},{"id":"f537e597.963d78","type":"subflow","name":"SUB_KID_ROOM_ALL","info":"","category":"","in":[{"x":46.00000190734863,"y":80.00000190734863,"wires":[{"id":"f04a1970.ab7ac8"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"ceb8591d.c97ba8","port":0}]}],"env":[],"status":{"x":700,"y":140,"wires":[{"id":"ceb8591d.c97ba8","port":0}]}},{"id":"fade5d06.7bafd","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"377dcdf.d62c032","disp":true,"width":"6","collapse":false},{"id":"8390f71b.57b2d8","type":"ui_group","z":"","name":"KÜCHE","tab":"183e2ea3.d7f081","order":1,"disp":true,"width":"6"},{"id":"5fd5084d.d76898","type":"ui_group","z":"","name":"FENSTERBANK","tab":"dbf137d8.ef21f8","order":6,"disp":true,"width":"6"},{"id":"2d4397e2.dec968","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"dbf137d8.ef21f8","order":2,"disp":true,"width":"6"},{"id":"b74a778c.025848","type":"ui_group","z":"","name":"GALLERIE","tab":"dbf137d8.ef21f8","order":3,"disp":true,"width":"6"},{"id":"a6f6e47a.579b88","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"dbf137d8.ef21f8","order":5,"disp":true,"width":"6"},{"id":"4cfe9ebb.370cd","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"dbf137d8.ef21f8","order":4,"disp":true,"width":"6"},{"id":"20e5a596.ba6eda","type":"ui_group","z":"","name":"VORHAUS","tab":"e59caa4c.c20918","order":2,"disp":true,"width":"6","collapse":false},{"id":"377dcdf.d62c032","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard","order":2},{"id":"183e2ea3.d7f081","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":5},{"id":"dbf137d8.ef21f8","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":3},{"id":"e59caa4c.c20918","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":6},{"id":"11026a5f.cecf16","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"401d1b69.c72544","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"578cd27c.108efc","disp":true,"width":"6"},{"id":"c76d592d.1c93a8","type":"ui_group","z":"","name":"KÜCHE","tab":"b812ded6.0761b","order":1,"disp":true,"width":"6"},{"id":"aec6b853.beac78","type":"ui_group","z":"","name":"FENSTERBANK","tab":"8b4f84ca.18af78","order":6,"disp":true,"width":"6"},{"id":"9bd6dbe5.5e45e8","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"8b4f84ca.18af78","order":1,"disp":true,"width":"6"},{"id":"d10493c8.58d11","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"8b4f84ca.18af78","order":2,"disp":true,"width":"6"},{"id":"a02787d6.4badb8","type":"ui_group","z":"","name":"GALLERIE","tab":"8b4f84ca.18af78","order":3,"disp":true,"width":"6"},{"id":"ef79353c.c4b9f8","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"8b4f84ca.18af78","order":5,"disp":true,"width":"6"},{"id":"8541df94.b953f","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"8b4f84ca.18af78","order":4,"disp":true,"width":"6"},{"id":"578cd27c.108efc","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard","order":1},{"id":"b812ded6.0761b","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":7},{"id":"8b4f84ca.18af78","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":4},{"id":"5dded2dd.a943bc","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":8},{"id":"52cc1b09.678064","type":"ui_group","z":"","name":"VORHAUS","tab":"e59caa4c.c20918","order":1,"disp":true,"width":"6","collapse":false},{"id":"11cb683e.a18178","type":"ui_group","name":"Group 2","tab":"578cd27c.108efc","order":2,"disp":true,"width":6},{"id":"d8f39338.108f7","type":"ui_group","name":"Group 3","tab":"578cd27c.108efc","order":3,"disp":true,"width":6},{"id":"d71d223c.745e1","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":9},{"id":"63c31cd8.f79104","type":"ui_group","z":"","name":"BODEN","tab":"d71d223c.745e1","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c653471.ea3c88","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":10},{"id":"5ebed562.d2559c","type":"ui_group","z":"","name":"LICHTER","tab":"8c653471.ea3c88","order":1,"disp":true,"width":"6","collapse":false},{"id":"f92f1257.f0056","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":11},{"id":"8a84d65a.a00058","type":"ui_group","z":"","name":"LICHTER","tab":"f92f1257.f0056","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb134131.86665","type":"ui_group","z":"","name":"LUEFTER","tab":"f92f1257.f0056","order":2,"disp":true,"width":"6","collapse":false},{"id":"df75d77d.e56be8","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":12},{"id":"74462880.cd0368","type":"ui_group","z":"","name":"Lichter","tab":"df75d77d.e56be8","order":1,"disp":true,"width":"6","collapse":false},{"id":"20472517.c8d7aa","type":"ui_group","z":"","name":"Heizung","tab":"8c653471.ea3c88","order":2,"disp":true,"width":"6","collapse":false},{"id":"dcd34f11.c7fdc","type":"ui_group","z":"","name":"Heizkörper","tab":"5dded2dd.a943bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ec084e5.1a60a8","type":"ui_switch","z":"5c497dbd.c68984","name":"BOILER","label":"WARMWASSER","group":"401d1b69.c72544","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":40,"wires":[["d6025086.29818"]]},{"id":"92c2bd82.0ffbf","type":"udp out","z":"c9cbc1d0.c83bb","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":2513.0142364501953,"y":520.9999980926514,"wires":[]},{"id":"90407f18.f4503","type":"udp in","z":"c9cbc1d0.c83bb","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1673.0142364501953,"y":160.99999809265137,"wires":[["f3832b0a.218d48"]]},{"id":"4bda40d.7a123c","type":"function","z":"22c9b1ac.5e8d2e","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["10e9b1b9.95702e"]]},{"id":"d6025086.29818","type":"function","z":"5c497dbd.c68984","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":544.4282112121582,"y":41.28568363189697,"wires":[[]]},{"id":"5d87491f.1422a8","type":"catch","z":"c9cbc1d0.c83bb","name":"","scope":["74d3b71d.ecebb8","7a7005fd.65563c","c06b7c90.f01f5","db8e698b.1cb928","43d49232.6f44ec","f0cc13f4.39c47","66ec967e.fa79a8","1f9d4fc2.e1a9d","b34385ec.2753b8","2672aaeb.a7e526","e28b5401.036348","e3b2df98.84f2b","9e0ccec8.e35c6","5737bf6d.7d04a","e6f223c4.c9985","b94246db.6df208","503782ee.c533dc","429b620.99e2aa","cf07f1e5.e232e","53785039.61b07","acaaec64.f30f4","8ac35003.bac8d","1b0f0465.b3f15c","32239554.bd7f4a","6de8f093.c6407","13b7bb42.a82d25","540cc059.3f5c9","76ef407d.2e46e","d914ce59.e6739","764dbbb7.e8ab64","fc35a5b8.016ad8","90407f18.f4503","cc306421.1cf448","a93a776c.905a88","92c2bd82.0ffbf","7cd733ef.28080c","f3832b0a.218d48","8e1cee11.0733f"],"uncaught":false,"x":2193.0142364501953,"y":140.99999809265137,"wires":[["7cd733ef.28080c"]]},{"id":"7cd733ef.28080c","type":"ui_toast","z":"c9cbc1d0.c83bb","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2353.0142364501953,"y":140.99999809265137,"wires":[]},{"id":"684e2692.d44b78","type":"function","z":"26a3130b.a685ac","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2918.650531768799,"y":129.00568199157715,"wires":[[]]},{"id":"12b5b20d.46a48e","type":"function","z":"57f68ca1.d0f864","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"b3e18792.807b58","type":"function","z":"2386de2a.17b1e2","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"e9631090.8588","type":"ui_switch","z":"26a3130b.a685ac","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"c76d592d.1c93a8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2278.651309967041,"y":153.0057258605957,"wires":[["684e2692.d44b78"]]},{"id":"ba329dc1.a61cd","type":"ui_switch","z":"57f68ca1.d0f864","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"aec6b853.beac78","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["12b5b20d.46a48e"]]},{"id":"1699908c.79cf1f","type":"ui_switch","z":"2386de2a.17b1e2","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"401d1b69.c72544","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["b3e18792.807b58"]]},{"id":"8469fc52.00e49","type":"ui_switch","z":"2f961c0a.e768e4","name":"LIGHT KITCHEN","label":"ALLE KÜCHENLICHTER","group":"c76d592d.1c93a8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2588.0147857666016,"y":475.00567531585693,"wires":[["7e0ae9da.778dc8"]]},{"id":"7e0ae9da.778dc8","type":"function","z":"2f961c0a.e768e4","name":"LIGHT KITCHEN COMMAND","func":"var result;\nvar ResultOn  = \"TURN-ALL-KITCHEN-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-KITCHEN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2881.01473236084,"y":473.0056140422821,"wires":[[]]},{"id":"74d3b71d.ecebb8","type":"ui_switch","z":"c9cbc1d0.c83bb","name":"ALL LIGHTS","label":"ALLE LICHTER ","group":"401d1b69.c72544","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":923.0142364501953,"y":320.99999809265137,"wires":[["f0cc13f4.39c47","7a7005fd.65563c","8e1cee11.0733f","429b620.99e2aa","e3b2df98.84f2b","2672aaeb.a7e526","13b7bb42.a82d25","76ef407d.2e46e","825f65d1.faed48","c82bc149.f1e6c"]]},{"id":"f0cc13f4.39c47","type":"function","z":"c9cbc1d0.c83bb","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1173.0142364501953,"y":760.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"7a7005fd.65563c","type":"ui_switch","z":"c9cbc1d0.c83bb","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"9bd6dbe5.5e45e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1203.0142364501953,"y":700.9999980926514,"wires":[["7394f52a.55af3c"]]},{"id":"caf62a80.c9fd68","type":"function","z":"39e2c51b.63462a","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"508eebc0.c0aaa4","type":"ui_switch","z":"39e2c51b.63462a","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"aec6b853.beac78","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["caf62a80.c9fd68"]]},{"id":"8c852e2e.6ebf5","type":"function","z":"28b20817.180f18","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"fce28241.d5709","type":"ui_switch","z":"28b20817.180f18","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"c76d592d.1c93a8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["8c852e2e.6ebf5"]]},{"id":"988c57d2.3efb08","type":"ui_switch","z":"15519932.ff6c67","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"9bd6dbe5.5e45e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["ee996716.0067b8"]]},{"id":"ee996716.0067b8","type":"function","z":"15519932.ff6c67","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"cc79d975.0d2b28","type":"ui_switch","z":"a52d2104.7681","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"d10493c8.58d11","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["61c68e86.ea7cb"]]},{"id":"61c68e86.ea7cb","type":"function","z":"a52d2104.7681","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"e10aae99.8a54a","type":"ui_switch","z":"b257ffa5.3b8ec","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"d10493c8.58d11","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["675cabcf.ba3a64"]]},{"id":"675cabcf.ba3a64","type":"function","z":"b257ffa5.3b8ec","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"8e1cee11.0733f","type":"ui_switch","z":"c9cbc1d0.c83bb","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"aec6b853.beac78","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1403.0142364501953,"y":240.99999809265137,"wires":[["1b0f0465.b3f15c"]]},{"id":"de19586e.d4b908","type":"ui_dropdown","z":"9f16fc31.21643","name":"SCENARIOS","label":"SCENARIOS","place":"Select option","group":"401d1b69.c72544","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":210,"y":160,"wires":[["3ddee6dc.79123a","c1109445.eda598"]]},{"id":"3ddee6dc.79123a","type":"function","z":"9f16fc31.21643","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"c1109445.eda598","type":"function","z":"9f16fc31.21643","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[[]]},{"id":"31084f9c.5b7e5","type":"ui_switch","z":"a82afb18.89e7e8","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"a02787d6.4badb8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["7f705f0.d7555a"]]},{"id":"7f705f0.d7555a","type":"function","z":"a82afb18.89e7e8","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"c8ca9454.00b5a8","type":"ui_switch","z":"e784f860.bf2628","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"a02787d6.4badb8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["f38791f7.03ffd"]]},{"id":"f38791f7.03ffd","type":"function","z":"e784f860.bf2628","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"1a7d6643.467f8a","type":"ui_switch","z":"6614deca.8645c","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"a02787d6.4badb8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["26a9019f.805c9e"]]},{"id":"26a9019f.805c9e","type":"function","z":"6614deca.8645c","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"46d48af4.bb1204","type":"ui_switch","z":"a893f309.b12cb","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"d10493c8.58d11","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["1949caf3.4f9995"]]},{"id":"1949caf3.4f9995","type":"function","z":"a893f309.b12cb","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"b814a7cf.5b7b58","type":"ui_switch","z":"6ee8aeea.8e8e8","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"9bd6dbe5.5e45e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["64503f8a.b5b42"]]},{"id":"64503f8a.b5b42","type":"function","z":"6ee8aeea.8e8e8","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"cc306421.1cf448","type":"ui_button","z":"c9cbc1d0.c83bb","name":"RESET","group":"401d1b69.c72544","order":8,"width":0,"height":0,"passthru":false,"label":"ALLE LICHTER  AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":913.0142364501953,"y":460.99999809265137,"wires":[["74d3b71d.ecebb8","f0cc13f4.39c47","8e1cee11.0733f","7a7005fd.65563c","1b0f0465.b3f15c","429b620.99e2aa","e3b2df98.84f2b","2672aaeb.a7e526","13b7bb42.a82d25","76ef407d.2e46e","825f65d1.faed48","c82bc149.f1e6c"]]},{"id":"3535f93b.76b726","type":"ui_switch","z":"b3eeb2a3.ab4b4","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"d10493c8.58d11","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["79511f01.30ac"]]},{"id":"79511f01.30ac","type":"function","z":"b3eeb2a3.ab4b4","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"72bc2e7e.3f20a","type":"ui_switch","z":"e89874ff.a29b78","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"ef79353c.c4b9f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["3d64046d.d4fdec"]]},{"id":"3d64046d.d4fdec","type":"function","z":"e89874ff.a29b78","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"c7a3ef11.3021d","type":"ui_switch","z":"b7b9e9d6.4ee208","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"ef79353c.c4b9f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["e878b225.95cf6"]]},{"id":"e878b225.95cf6","type":"function","z":"b7b9e9d6.4ee208","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"4e1622c4.4cba1c","type":"ui_switch","z":"26e2ed27.4336a2","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"ef79353c.c4b9f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["3ec13b32.2130a4"]]},{"id":"3ec13b32.2130a4","type":"function","z":"26e2ed27.4336a2","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"bd7f339b.92a4e","type":"ui_switch","z":"9bf2adb4.b3e7e","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"ef79353c.c4b9f8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["26d2d34b.b2614c"]]},{"id":"26d2d34b.b2614c","type":"function","z":"9bf2adb4.b3e7e","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"fb9dfcc0.65059","type":"ui_switch","z":"aead713f.e6479","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["86971ab.43f7fe8"]]},{"id":"86971ab.43f7fe8","type":"function","z":"aead713f.e6479","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"52705f43.b6e74","type":"ui_switch","z":"55230b44.b93a84","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["c9e52f28.2e747"]]},{"id":"c9e52f28.2e747","type":"function","z":"55230b44.b93a84","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"a6c2387b.074988","type":"ui_switch","z":"55ddc4fa.b2262c","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["edef7705.a2c048"]]},{"id":"edef7705.a2c048","type":"function","z":"55ddc4fa.b2262c","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"e21228b.0a6f8d8","type":"ui_switch","z":"87c55a15.ce5868","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["41a98545.8d98cc"]]},{"id":"41a98545.8d98cc","type":"function","z":"87c55a15.ce5868","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"f2979f7a.4ba72","type":"ui_switch","z":"1576c382.125dfc","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["302e961.765306a"]]},{"id":"302e961.765306a","type":"function","z":"1576c382.125dfc","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"c1621262.2cd75","type":"ui_switch","z":"199ead11.e787d3","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["f2936e61.f5555"]]},{"id":"f2936e61.f5555","type":"function","z":"199ead11.e787d3","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"dcd811de.76102","type":"ui_switch","z":"6f928949.5e7568","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["fecb81a1.03069"]]},{"id":"fecb81a1.03069","type":"function","z":"6f928949.5e7568","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"33813e23.f1fd92","type":"ui_switch","z":"9b901edf.a3fe8","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["fcbb2263.e73b7"]]},{"id":"fcbb2263.e73b7","type":"function","z":"9b901edf.a3fe8","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"53ff633a.36324c","type":"ui_switch","z":"9a5ea19.095836","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["b0b52240.31b48"]]},{"id":"b0b52240.31b48","type":"function","z":"9a5ea19.095836","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"68a01b18.6bb714","type":"ui_switch","z":"8e55f1f3.8d083","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["465dc73d.4ac638"]]},{"id":"465dc73d.4ac638","type":"function","z":"8e55f1f3.8d083","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"b78d5b33.299388","type":"ui_switch","z":"87b21da.79682e","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"8541df94.b953f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["62513f27.a1669"]]},{"id":"62513f27.a1669","type":"function","z":"87b21da.79682e","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[[]]},{"id":"f53bda41.da6d68","type":"ui_switch","z":"828d597d.f84538","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"52cc1b09.678064","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":60,"wires":[["3981215e.9d9e3e"]]},{"id":"3981215e.9d9e3e","type":"function","z":"828d597d.f84538","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"10e9b1b9.95702e","type":"subflow:5c497dbd.c68984","z":"22c9b1ac.5e8d2e","name":"BOILER","env":[],"x":500,"y":100,"wires":[[]]},{"id":"1b0f0465.b3f15c","type":"subflow:57f68ca1.d0f864","z":"c9cbc1d0.c83bb","name":"LIGHT_WINDOW_LEDGE_EAST","x":1813.0142364501953,"y":240.99999809265137,"wires":[["92c2bd82.0ffbf"]]},{"id":"429b620.99e2aa","type":"subflow:2386de2a.17b1e2","z":"c9cbc1d0.c83bb","name":"LIGHT_OUTSIDE","x":1763.0142364501953,"y":320.99999809265137,"wires":[["92c2bd82.0ffbf"]]},{"id":"a93a776c.905a88","type":"subflow:9f16fc31.21643","z":"c9cbc1d0.c83bb","name":"SCENARIOS","env":[],"x":1543.0142364501953,"y":500.99999809265137,"wires":[["1b0f0465.b3f15c","cec4d22f.f2cd"],["610077fc.820ef8","1a64fdab.7e4bd2"]]},{"id":"6e34a186.e038","type":"ui_switch","z":"a52a7a3f.a4fcc8","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"63c31cd8.f79104","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["d99f403d.4a4b5"]]},{"id":"d99f403d.4a4b5","type":"function","z":"a52a7a3f.a4fcc8","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"c0ac778.36ef888","type":"ui_switch","z":"f4b0a378.cec04","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"5ebed562.d2559c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["238c5ded.0fd472"]]},{"id":"238c5ded.0fd472","type":"function","z":"f4b0a378.cec04","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"e3b2df98.84f2b","type":"subflow:f4b0a378.cec04","z":"c9cbc1d0.c83bb","name":"","x":1763.0142364501953,"y":100.99999809265137,"wires":[["92c2bd82.0ffbf"]]},{"id":"3b1d4ff7.0c3df","type":"ui_switch","z":"52fe722e.b7e8cc","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"8a84d65a.a00058","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["6808e761.e62db8"]]},{"id":"6808e761.e62db8","type":"function","z":"52fe722e.b7e8cc","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"2672aaeb.a7e526","type":"subflow:52fe722e.b7e8cc","z":"c9cbc1d0.c83bb","name":"","env":[],"x":1743.0142364501953,"y":40.99999809265137,"wires":[["92c2bd82.0ffbf"]]},{"id":"7de6094.4035ef8","type":"ui_switch","z":"183d261f.40106a","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"52cc1b09.678064","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["5cb59cfa.d5d704"]]},{"id":"5cb59cfa.d5d704","type":"function","z":"183d261f.40106a","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"3ad3dcc4.354634","type":"ui_switch","z":"9da3031f.9632f","name":"HEATER WEST","label":"Heizkörper West","group":"9bd6dbe5.5e45e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["1fba42f4.98a99d"]]},{"id":"1fba42f4.98a99d","type":"function","z":"9da3031f.9632f","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"486b18da.bcbd98","type":"ui_switch","z":"eaa5b3ca.03497","name":"HEATER EAST","label":"Heizkörper Osten","group":"9bd6dbe5.5e45e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["875b03a1.8d89e"]]},{"id":"875b03a1.8d89e","type":"function","z":"eaa5b3ca.03497","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"de870a23.9066b8","type":"ui_button","z":"628932e8.96ed3c","name":"GallerieOben_Ein","group":"8541df94.b953f","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["2faa8b30.52ec24"]]},{"id":"66ec967e.fa79a8","type":"link in","z":"c9cbc1d0.c83bb","name":"","links":["2faa8b30.52ec24"],"x":1348.0142364501953,"y":440.99999809265137,"wires":[["13b7bb42.a82d25"]]},{"id":"2faa8b30.52ec24","type":"link out","z":"628932e8.96ed3c","name":"","links":["66ec967e.fa79a8"],"x":715,"y":160,"wires":[]},{"id":"f001a0fa.f0b46","type":"ui_button","z":"628932e8.96ed3c","name":"GallerieOben_Aus","group":"8541df94.b953f","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["2faa8b30.52ec24"]]},{"id":"1b699bc3.321a44","type":"function","z":"22fe54d2.32932c","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"230a0591.a18c2a","type":"ui_button","z":"22fe54d2.32932c","name":"ANTEROOM_MIDDLE_OFF","group":"52cc1b09.678064","order":0,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["1b699bc3.321a44"]]},{"id":"504e12d1.0ad35c","type":"ui_switch","z":"6f92a37f.85228c","name":"HEATER BATH","label":"Heizkörper Badezimmer","group":"20472517.c8d7aa","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":120,"wires":[["26c78aab.e08126"]]},{"id":"26c78aab.e08126","type":"function","z":"6f92a37f.85228c","name":"HEATER BATH ","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BATH-ON\";\nvar ResultOff = \"TURN-HEATER-BATH-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":784.4282112121582,"y":121.28568363189697,"wires":[[]]},{"id":"f3832b0a.218d48","type":"subflow:22c9b1ac.5e8d2e","z":"c9cbc1d0.c83bb","name":"SUB_BOILER","env":[],"x":1853.0142364501953,"y":160.99999809265137,"wires":[["92c2bd82.0ffbf"]]},{"id":"38150ddb.6b78b2","type":"ui_switch","z":"9faca507.f92f68","name":"PLUG-IR","label":"STECKDOSE-IRHEIZUNG","group":"401d1b69.c72544","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"PLUG-IR","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":80,"wires":[["42312914.0ca2d8"]]},{"id":"42312914.0ca2d8","type":"function","z":"9faca507.f92f68","name":"PLUG-IR","func":"var result;\nvar ResultOn  = \"POWER-PLUG-INFRA-RED-ON\";\nvar ResultOff = \"POWER-PLUG-INFRA-RED-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":340,"y":80,"wires":[[]]},{"id":"12ece2d2.7f094d","type":"subflow:9faca507.f92f68","z":"53209bf1.715a54","name":"SUB_PLUG_IR","env":[],"x":920,"y":140,"wires":[["352784cc.bfa73c"]]},{"id":"352784cc.bfa73c","type":"link out","z":"53209bf1.715a54","name":"LINK_POWER_OUT","links":["fc35a5b8.016ad8"],"x":1140,"y":140,"wires":[]},{"id":"fc35a5b8.016ad8","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_POWER_IN","links":["352784cc.bfa73c"],"x":2008.0142364501953,"y":500.99999809265137,"wires":[["92c2bd82.0ffbf"]]},{"id":"a0a7f4d3.caba38","type":"subflow:9da3031f.9632f","z":"a1d01121.5171d","name":"","env":[],"x":680,"y":300,"wires":[["c527ab2c.664318"]]},{"id":"8d6021a4.575d2","type":"subflow:eaa5b3ca.03497","z":"a1d01121.5171d","name":"","env":[],"x":680,"y":220,"wires":[["c527ab2c.664318"]]},{"id":"36b78437.a9d77c","type":"ui_button","z":"a1d01121.5171d","name":"HEATERSOFF","group":"401d1b69.c72544","order":6,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":280,"y":80,"wires":[["8d6021a4.575d2","a0a7f4d3.caba38","68c53acb.a2a564"]]},{"id":"3bf70d01.05f3d2","type":"ui_button","z":"a1d01121.5171d","name":"HEATERSON","group":"401d1b69.c72544","order":7,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":280,"y":360,"wires":[["8d6021a4.575d2","a0a7f4d3.caba38","68c53acb.a2a564"]]},{"id":"68c53acb.a2a564","type":"subflow:6f92a37f.85228c","z":"a1d01121.5171d","name":"","env":[],"x":700,"y":140,"wires":[["c527ab2c.664318"]]},{"id":"c527ab2c.664318","type":"link out","z":"a1d01121.5171d","name":"LINK_HEATERS_OUT","links":["764dbbb7.e8ab64"],"x":960,"y":240,"wires":[]},{"id":"764dbbb7.e8ab64","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_HEATERS_IN","links":["c527ab2c.664318"],"x":2008.0142364501953,"y":660.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"13b7bb42.a82d25","type":"link out","z":"c9cbc1d0.c83bb","name":"LINK_CONTROL_GALLERY_UP_OUT","links":["cab3dd98.0e1b7"],"x":1348.0142364501953,"y":500.99999809265137,"wires":[]},{"id":"45414842.31b348","type":"subflow:87b21da.79682e","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_11","env":[],"x":630,"y":700,"wires":[["b2f6956e.3d82a8"]]},{"id":"a7b8a3e2.f53e7","type":"subflow:8e55f1f3.8d083","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_10","x":640,"y":640,"wires":[["b2f6956e.3d82a8"]]},{"id":"9d9bb2ff.26b46","type":"subflow:9a5ea19.095836","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_9","x":630,"y":580,"wires":[["b2f6956e.3d82a8"]]},{"id":"97a8e35b.8036","type":"subflow:9b901edf.a3fe8","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_8","x":630,"y":520,"wires":[["b2f6956e.3d82a8"]]},{"id":"fde5e9ef.af94f8","type":"subflow:6f928949.5e7568","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_7","x":630,"y":460,"wires":[["b2f6956e.3d82a8"]]},{"id":"8a507bc0.b03858","type":"subflow:199ead11.e787d3","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_6","x":630,"y":400,"wires":[["b2f6956e.3d82a8"]]},{"id":"57116a41.f275b4","type":"subflow:1576c382.125dfc","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_5","x":630,"y":340,"wires":[["b2f6956e.3d82a8"]]},{"id":"9fb45886.4a9b08","type":"subflow:aead713f.e6479","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_1","env":[],"x":632.9845428466797,"y":109.10723495483398,"wires":[["b2f6956e.3d82a8"]]},{"id":"3707d600.0dfeba","type":"subflow:55230b44.b93a84","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_2","x":630,"y":160,"wires":[["b2f6956e.3d82a8"]]},{"id":"cfe2ccce.d248f","type":"subflow:55ddc4fa.b2262c","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_3","x":630,"y":220,"wires":[["b2f6956e.3d82a8"]]},{"id":"cebd766c.e168b8","type":"subflow:87c55a15.ce5868","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP_4","x":630,"y":280,"wires":[["b2f6956e.3d82a8"]]},{"id":"cab3dd98.0e1b7","type":"link in","z":"e37d0c23.38823","name":"LINK_CONTROL_GALLERY_UP_IN","links":["13b7bb42.a82d25"],"x":235,"y":460,"wires":[["9fb45886.4a9b08","3707d600.0dfeba","cfe2ccce.d248f","cebd766c.e168b8","57116a41.f275b4","8a507bc0.b03858","fde5e9ef.af94f8","97a8e35b.8036","9d9bb2ff.26b46","a7b8a3e2.f53e7","45414842.31b348","f9ade4ac.b2cc98","655c5a8c.6563d4"]]},{"id":"b2f6956e.3d82a8","type":"link out","z":"e37d0c23.38823","name":"LINK_CONTROL_GALLERY_UP_TOSEND_OUT","links":["540cc059.3f5c9"],"x":975,"y":460,"wires":[]},{"id":"540cc059.3f5c9","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_CONTROL_GALLERY_UP_TOSEND_IN","links":["b2f6956e.3d82a8"],"x":2008.0142364501953,"y":580.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"64452106.19c99","type":"subflow:a52d2104.7681","z":"a90ed9d7.9ebc98","name":"LIGHT_DOOR_ENTRY_LEFT","env":[],"x":790,"y":400,"wires":[["832430f0.6eb7b"]]},{"id":"6a5536b4.cf4a68","type":"subflow:a893f309.b12cb","z":"a90ed9d7.9ebc98","name":"LIGHT_MAIN_DOOR","x":760,"y":80,"wires":[["832430f0.6eb7b"]]},{"id":"9f55610.c097fa","type":"subflow:6ee8aeea.8e8e8","z":"a90ed9d7.9ebc98","name":"LIGHT_WINDOW_UP_EAST","x":780,"y":180,"wires":[["832430f0.6eb7b"]]},{"id":"3f4568ba.8b2e38","type":"subflow:b3eeb2a3.ab4b4","z":"a90ed9d7.9ebc98","name":"LIGHT_RIGHT_NEXT_DOOR","x":790,"y":280,"wires":[["832430f0.6eb7b"]]},{"id":"cb99cffa.883a6","type":"link in","z":"a90ed9d7.9ebc98","name":"LINK_CONTROL_SOUTH_IN","links":["76ef407d.2e46e"],"x":375,"y":200,"wires":[["6a5536b4.cf4a68","9f55610.c097fa","3f4568ba.8b2e38","64452106.19c99"]]},{"id":"832430f0.6eb7b","type":"link out","z":"a90ed9d7.9ebc98","name":"LINK_CONTROL_TOSEND_SOUTH_OUT","links":["d914ce59.e6739"],"x":1075,"y":220,"wires":[]},{"id":"76ef407d.2e46e","type":"link out","z":"c9cbc1d0.c83bb","name":"LINK_CONTROL_TO_FLOWS_SOUTH_OUT","links":["cb99cffa.883a6"],"x":1348.0142364501953,"y":560.9999980926514,"wires":[]},{"id":"d914ce59.e6739","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_CONTROL_TOSEND_SOUTH_IN","links":["832430f0.6eb7b"],"x":2008.0142364501953,"y":620.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"f9ade4ac.b2cc98","type":"subflow:e784f860.bf2628","z":"e37d0c23.38823","name":"LIGHT_GALLERY_UP","env":[],"x":620,"y":760,"wires":[["b2f6956e.3d82a8"]]},{"id":"655c5a8c.6563d4","type":"subflow:6614deca.8645c","z":"e37d0c23.38823","name":"LIGHT_TRIANGLE_UP","x":630,"y":820,"wires":[["b2f6956e.3d82a8"]]},{"id":"610077fc.820ef8","type":"link out","z":"c9cbc1d0.c83bb","name":"SCENARIO_TOFLOW_SOUTH_OUT","links":["c791d787.d45fa8"],"x":1728.0142364501953,"y":540.9999980926514,"wires":[]},{"id":"c791d787.d45fa8","type":"link in","z":"a90ed9d7.9ebc98","name":"FROM_SCENARIO","links":["610077fc.820ef8"],"x":455,"y":360,"wires":[["64452106.19c99"]]},{"id":"4e9c77d0.cc6d28","type":"subflow:183d261f.40106a","z":"54edc83d.e783e8","name":"","x":600,"y":120,"wires":[["e8329120.018e7"]]},{"id":"c59be699.6668c8","type":"subflow:828d597d.f84538","z":"54edc83d.e783e8","name":"ANTEROOM_MAIN_LIGHT","env":[],"x":602.4659423828125,"y":191.87314891815186,"wires":[["e8329120.018e7"]]},{"id":"af7a1049.4c0f5","type":"subflow:a52a7a3f.a4fcc8","z":"54edc83d.e783e8","name":"","x":600,"y":260,"wires":[["e8329120.018e7"]]},{"id":"825f65d1.faed48","type":"link out","z":"c9cbc1d0.c83bb","name":"LINK_CONTROL_TO_FLOWS_ANTROOM_OUT","links":["e5992791.92f048"],"x":1348.0142364501953,"y":380.99999809265137,"wires":[]},{"id":"e5992791.92f048","type":"link in","z":"54edc83d.e783e8","name":"LINK_CONTROL_TO_FLOWS_ANTEROOM_IN","links":["825f65d1.faed48"],"x":282.07640075683594,"y":188.72570037841797,"wires":[["4e9c77d0.cc6d28","c59be699.6668c8","af7a1049.4c0f5","c036c260.14cb7"]]},{"id":"e8329120.018e7","type":"link out","z":"54edc83d.e783e8","name":"LINK_TOSEND_ANTEROOM_OUT","links":["1bf91e2d.896372"],"x":855,"y":200,"wires":[]},{"id":"1bf91e2d.896372","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_TO_SEND_ANTEROOM_IN","links":["e8329120.018e7"],"x":2008.0142364501953,"y":540.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"143a2fd0.cf78","type":"function","z":"97b808d5.1f17a8","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["aab08351.1fe56"]]},{"id":"a39d0559.18c9a8","type":"subflow:39e2c51b.63462a","z":"97b808d5.1f17a8","name":"LIGHT_WINDOW_LEDGE_WEST","x":800,"y":80,"wires":[["aab08351.1fe56"]]},{"id":"f44a6087.e5d97","type":"subflow:15519932.ff6c67","z":"97b808d5.1f17a8","name":"LIGHT_WALL_WEST","x":760,"y":160,"wires":[["aab08351.1fe56"]]},{"id":"3b62a2da.3076fe","type":"subflow:b257ffa5.3b8ec","z":"97b808d5.1f17a8","name":"LIGHT_TRIANGLE_WEST","x":780,"y":200,"wires":[["aab08351.1fe56"]]},{"id":"1a64fdab.7e4bd2","type":"link out","z":"c9cbc1d0.c83bb","name":"SCENARIO_ADVENTURE","links":["3bc87d6b.a4c362"],"x":1728.0142364501953,"y":480.99999809265137,"wires":[]},{"id":"9631196e.d87c18","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_WETSIDE_IN","links":["aab08351.1fe56"],"x":2008.0142364501953,"y":700.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"71413dfa.b7fd24","type":"link in","z":"97b808d5.1f17a8","name":"LINK_CONTROL_TO_FLOWS_WESTSIDE_IN","links":["7394f52a.55af3c"],"x":500,"y":140,"wires":[["a39d0559.18c9a8","143a2fd0.cf78","f44a6087.e5d97","3b62a2da.3076fe"]]},{"id":"7394f52a.55af3c","type":"link out","z":"c9cbc1d0.c83bb","name":"LINK_CONTROL_TO_WESTSIDE_OUT","links":["71413dfa.b7fd24"],"x":1348.0142364501953,"y":700.9999980926514,"wires":[]},{"id":"aab08351.1fe56","type":"link out","z":"97b808d5.1f17a8","name":"LINK_TO_SEND_WESTSIDE_OUT","links":["9631196e.d87c18"],"x":1120,"y":140,"wires":[]},{"id":"cec4d22f.f2cd","type":"link out","z":"c9cbc1d0.c83bb","name":"SCENARIO_TO_FLOW_WESTSIDE","links":["2118e68b.b7f30a"],"x":1728.0142364501953,"y":420.99999809265137,"wires":[]},{"id":"2118e68b.b7f30a","type":"link in","z":"97b808d5.1f17a8","name":"LINK_FROM_SCENARIO_WESTSIDE1","links":["cec4d22f.f2cd"],"x":495,"y":80,"wires":[["a39d0559.18c9a8"]]},{"id":"c036c260.14cb7","type":"subflow:22fe54d2.32932c","z":"54edc83d.e783e8","name":"ANTEROOM_MIDDLE","env":[],"x":580,"y":340,"wires":[["e8329120.018e7"]]},{"id":"d87b4ab2.03ea28","type":"subflow:2f961c0a.e768e4","z":"ab8826d2.0f8738","name":"LIGHT_KITCHEN","x":630,"y":260,"wires":[["9347cb4c.e3c618"]]},{"id":"53d88639.d94858","type":"subflow:28b20817.180f18","z":"ab8826d2.0f8738","name":"LIGHT_KITCHENBOARD_DOWN","x":680,"y":220,"wires":[["9347cb4c.e3c618"]]},{"id":"91a16834.742188","type":"subflow:26a3130b.a685ac","z":"ab8826d2.0f8738","name":"FRONTLIGHTS_KITCHEN","x":660,"y":180,"wires":[["9347cb4c.e3c618"]]},{"id":"fd57967e.5edb38","type":"link in","z":"ab8826d2.0f8738","name":"LINK_CONTROL_TO_KITCHEN_IN","links":["c82bc149.f1e6c"],"x":420,"y":220,"wires":[["91a16834.742188","53d88639.d94858","d87b4ab2.03ea28"]]},{"id":"c82bc149.f1e6c","type":"link out","z":"c9cbc1d0.c83bb","name":"LINK_TO_KITCHEN","links":["fd57967e.5edb38"],"x":1348.0142364501953,"y":620.9999980926514,"wires":[]},{"id":"9347cb4c.e3c618","type":"link out","z":"ab8826d2.0f8738","name":"LINK_SEND_TO_KITCHEN_OUT","links":["1dffb48e.09267b"],"x":960,"y":220,"wires":[]},{"id":"1dffb48e.09267b","type":"link in","z":"c9cbc1d0.c83bb","name":"LINK_TO_SEND_KITCEN_IN","links":["9347cb4c.e3c618"],"x":2008.0142364501953,"y":740.9999980926514,"wires":[["92c2bd82.0ffbf"]]},{"id":"3bc87d6b.a4c362","type":"link in","z":"a90ed9d7.9ebc98","name":"SCENARIO_ADVENTURE_IN","links":["1a64fdab.7e4bd2"],"x":675,"y":240,"wires":[["9f55610.c097fa"]]},{"id":"f04a1970.ab7ac8","type":"ui_switch","z":"f537e597.963d78","name":"ALL_LIGHTS","label":"Alle Lichter","group":"74462880.cd0368","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"ALLE LICHTER","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":80,"wires":[["ceb8591d.c97ba8"]]},{"id":"ceb8591d.c97ba8","type":"function","z":"f537e597.963d78","name":"LIGHT KID_ROOM_ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-KIDROOM-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-KIDROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[[]]},{"id":"93592152.19a72","type":"subflow:f537e597.963d78","z":"b79ded16.27bdc","name":"SUB_KID_ROOM_ALL","env":[],"x":640,"y":140,"wires":[[]]}]