.flows_GEORGLAPTOP.json.backup
[{"id":"576f94c7.1a7a9c","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"e62fc015.a43b6","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":2660,"y":2611.666748046875,"wires":[{"id":"144c60bb.e7af0f"}]}],"out":[{"x":3885.1285858154297,"y":2599.565972328186,"wires":[{"id":"d2ef09e0.0f6f38","port":0}]}]},{"id":"7fc0ed69.a4e8e4","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"4a96fbff.71ff54","disp":true,"width":"6"},{"id":"8d7ef31f.eb581","type":"ui_group","z":"","name":"KÜCHE","tab":"4db34798.ee4118","order":1,"disp":true,"width":"6"},{"id":"9affd8e4.2f6468","type":"ui_group","z":"","name":"FENSTERBANK","tab":"4887286f.be1d58","order":6,"disp":true,"width":"6"},{"id":"d7581697.470708","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"4887286f.be1d58","order":1,"disp":true,"width":"6"},{"id":"a45296d6.f37658","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"4887286f.be1d58","order":2,"disp":true,"width":"6"},{"id":"927c0e9b.5c3ef","type":"ui_group","z":"","name":"GALLERIE","tab":"4887286f.be1d58","order":3,"disp":true,"width":"6"},{"id":"7de4fcaa.af4454","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"4887286f.be1d58","order":5,"disp":true,"width":"6"},{"id":"cba5963a.d0ab38","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"4887286f.be1d58","order":4,"disp":true,"width":"6"},{"id":"4a96fbff.71ff54","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"4db34798.ee4118","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"4887286f.be1d58","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"403b2244.b7cb4c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6ddf5018.bd4f5","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"c1f92bed.22aeb8","type":"ui_group","z":"","name":"VORHAUS","tab":"6ddf5018.bd4f5","disp":true,"width":"6","collapse":false},{"id":"6796ab20.2a0c64","type":"ui_switch","z":"576f94c7.1a7a9c","name":"BOILER","label":"WARMWASSER","group":"7fc0ed69.a4e8e4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2097.0148887634277,"y":54,"wires":[["a367b363.8be06"]]},{"id":"9612f32b.dbd96","type":"udp out","z":"576f94c7.1a7a9c","name":"SENDER","addr":"127.0.0.1","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":3761.01460647583,"y":1116.999808549881,"wires":[]},{"id":"156915cb.d2d03a","type":"udp in","z":"576f94c7.1a7a9c","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":380.00011444091797,"y":999.000111579895,"wires":[["c9cf522.6bf12b","3d2289de.911286"]]},{"id":"c9cf522.6bf12b","type":"function","z":"576f94c7.1a7a9c","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1656.5147857666016,"y":64.99994707107544,"wires":[["6796ab20.2a0c64"]]},{"id":"a367b363.8be06","type":"function","z":"576f94c7.1a7a9c","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2930.014305114746,"y":40.999969482421875,"wires":[["9612f32b.dbd96"]]},{"id":"7205de3c.d45c7","type":"catch","z":"576f94c7.1a7a9c","name":"","scope":["156915cb.d2d03a","9612f32b.dbd96"],"x":972.514533996582,"y":2737.0002222061157,"wires":[["4e3488f8.ee52e8"]]},{"id":"4e3488f8.ee52e8","type":"ui_toast","z":"576f94c7.1a7a9c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1317.8014755249023,"y":2784.698980331421,"wires":[]},{"id":"92615f8f.9cb52","type":"function","z":"576f94c7.1a7a9c","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2918.650531768799,"y":129.00568199157715,"wires":[["9612f32b.dbd96"]]},{"id":"ba80030f.bcb49","type":"function","z":"576f94c7.1a7a9c","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[["9612f32b.dbd96"]]},{"id":"42049be7.906ac4","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[["9612f32b.dbd96"]]},{"id":"d6e5dc5f.b802e","type":"ui_switch","z":"576f94c7.1a7a9c","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"8d7ef31f.eb581","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2278.651309967041,"y":153.0057258605957,"wires":[["92615f8f.9cb52"]]},{"id":"e334fc23.94982","type":"ui_switch","z":"576f94c7.1a7a9c","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"9affd8e4.2f6468","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["ba80030f.bcb49"]]},{"id":"a52a20ec.5cb53","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"7fc0ed69.a4e8e4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["42049be7.906ac4"]]},{"id":"3e82faff.0db636","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHT KITCHEN","label":"ALLE KÜCHENLICHTER","group":"8d7ef31f.eb581","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2588.0147857666016,"y":475.00567531585693,"wires":[["35de78c6.3c5858"]]},{"id":"35de78c6.3c5858","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT KITCHEN COMMAND","func":"var result;\nvar ResultOn  = \"TURN-ALL-KITCHEN-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-KITCHEN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2881.01473236084,"y":473.0056140422821,"wires":[["9612f32b.dbd96"]]},{"id":"8a4956de.b21048","type":"ui_switch","z":"576f94c7.1a7a9c","name":"ALL LIGHTS","label":"ALLE LICHTER ","group":"7fc0ed69.a4e8e4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":732.0147323608398,"y":1185.0056438446045,"wires":[["8cff676e.47fbe8","5bc0e08b.25cec","e6c6476a.8eab88","2dacd20a.11b01e","313682f.ef56f7e","d6e5dc5f.b802e","a52a20ec.5cb53","3e82faff.0db636","aa16c976.3287f8","490d48e2.a540e8","deb43d02.1a4fd","8636bcdc.67ed1","bdc78d7b.606ad","3263b98d.7608c6","324d7cad.9d6574","1d695609.ac014a","e9304b4.74fd8b8","aace038e.d059b","b1638da5.6296f","dc962c59.f63b9","fda39763.27d658","4d049a78.ed9dd4","8f6fa539.ecf8a8","3e009e3e.285e72","9eb31e2b.8f3d4","c26200cd.2ef75","de251899.ab2e48","80a847f2.3d3458"]]},{"id":"8cff676e.47fbe8","type":"function","z":"576f94c7.1a7a9c","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2937.0144844055176,"y":556.0056324005127,"wires":[["9612f32b.dbd96"]]},{"id":"2f1f39e6.c33da6","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3211.014171600342,"y":1140.0056116580963,"wires":[["9612f32b.dbd96"]]},{"id":"5bc0e08b.25cec","type":"ui_switch","z":"576f94c7.1a7a9c","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"d7581697.470708","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2447.0001678466797,"y":1100.0053808689117,"wires":[["2f1f39e6.c33da6","ba19f689.dc5978","7fec8ca8.67cf44","cd63868d.77e5a8","695782c3.b3e31c","f100aacf.1735d8"]]},{"id":"3d2289de.911286","type":"function","z":"576f94c7.1a7a9c","name":"CHECK STATUS ALL LIGHTS WEST","func":"var result;\nvar ToCompare = \"ALL-LIGHTS-WEST-ARE-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":606.0003890991211,"y":1357.005862236023,"wires":[["5bc0e08b.25cec","ba19f689.dc5978","7fec8ca8.67cf44","cd63868d.77e5a8","695782c3.b3e31c","f100aacf.1735d8"]],"icon":"node-red/light.png"},{"id":"c0789b42.d46768","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[["9612f32b.dbd96"]]},{"id":"ba19f689.dc5978","type":"ui_switch","z":"576f94c7.1a7a9c","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"9affd8e4.2f6468","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["c0789b42.d46768"]]},{"id":"688dd71f.c27b58","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[["9612f32b.dbd96"]]},{"id":"7fec8ca8.67cf44","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"8d7ef31f.eb581","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["688dd71f.c27b58"]]},{"id":"cd63868d.77e5a8","type":"ui_switch","z":"576f94c7.1a7a9c","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"d7581697.470708","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["d6b07124.be6c5"]]},{"id":"d6b07124.be6c5","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[["9612f32b.dbd96"]]},{"id":"695782c3.b3e31c","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"a45296d6.f37658","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["bd52b865.54ef88"]]},{"id":"bd52b865.54ef88","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[["9612f32b.dbd96"]]},{"id":"f100aacf.1735d8","type":"ui_switch","z":"576f94c7.1a7a9c","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"a45296d6.f37658","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["d716b4bf.41fd18"]]},{"id":"d716b4bf.41fd18","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[["9612f32b.dbd96"]]},{"id":"aa16c976.3287f8","type":"ui_switch","z":"576f94c7.1a7a9c","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"9affd8e4.2f6468","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2461.00048828125,"y":1008.0056209564209,"wires":[["e334fc23.94982","ba19f689.dc5978"]]},{"id":"4f383cff.2cc0a4","type":"ui_dropdown","z":"576f94c7.1a7a9c","name":"SCENARIOS","label":"SCENARIOS","place":"Select option","group":"7fc0ed69.a4e8e4","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":75,"y":1369.4942359924316,"wires":[["454fa8c7.1072e8","dfee29ca.6f0cf8"]]},{"id":"454fa8c7.1072e8","type":"function","z":"576f94c7.1a7a9c","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":270.0145378112793,"y":1237.8238220214844,"wires":[["e334fc23.94982","ba19f689.dc5978"]]},{"id":"dfee29ca.6f0cf8","type":"function","z":"576f94c7.1a7a9c","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":471.01448822021484,"y":1465.8239440917969,"wires":[["f100aacf.1735d8","695782c3.b3e31c"]]},{"id":"e6c6476a.8eab88","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"927c0e9b.5c3ef","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["61924eac.db1d4"]]},{"id":"61924eac.db1d4","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[["9612f32b.dbd96"]]},{"id":"2dacd20a.11b01e","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"927c0e9b.5c3ef","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["2a6e9ab5.e2ae66"]]},{"id":"2a6e9ab5.e2ae66","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[["9612f32b.dbd96"]]},{"id":"313682f.ef56f7e","type":"ui_switch","z":"576f94c7.1a7a9c","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"927c0e9b.5c3ef","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["d7ce61fe.348df"]]},{"id":"d7ce61fe.348df","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[["9612f32b.dbd96"]]},{"id":"490d48e2.a540e8","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"a45296d6.f37658","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["a57eee6e.848f4"]]},{"id":"a57eee6e.848f4","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[["9612f32b.dbd96"]]},{"id":"deb43d02.1a4fd","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"d7581697.470708","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["6402e8.0cdb5d18"]]},{"id":"6402e8.0cdb5d18","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2954.229248046875,"y":1801.6986351013184,"wires":[["9612f32b.dbd96"]]},{"id":"f7c2a444.3e60f8","type":"ui_button","z":"576f94c7.1a7a9c","name":"RESET","group":"7fc0ed69.a4e8e4","order":0,"width":0,"height":0,"passthru":false,"label":"ALLES AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":967.5996437072754,"y":1021.5277004241943,"wires":[["8a4956de.b21048","8cff676e.47fbe8","d6e5dc5f.b802e","e334fc23.94982","a52a20ec.5cb53","3e82faff.0db636","aa16c976.3287f8","5bc0e08b.25cec","ba19f689.dc5978","7fec8ca8.67cf44","cd63868d.77e5a8","695782c3.b3e31c","f100aacf.1735d8","e6c6476a.8eab88","2dacd20a.11b01e","313682f.ef56f7e","490d48e2.a540e8","deb43d02.1a4fd","6796ab20.2a0c64","8636bcdc.67ed1","bdc78d7b.606ad","3263b98d.7608c6","324d7cad.9d6574","1d695609.ac014a","e9304b4.74fd8b8","aace038e.d059b","b1638da5.6296f","dc962c59.f63b9","fda39763.27d658","4d049a78.ed9dd4","8f6fa539.ecf8a8","3e009e3e.285e72","9eb31e2b.8f3d4","c26200cd.2ef75","de251899.ab2e48"]]},{"id":"8636bcdc.67ed1","type":"ui_switch","z":"576f94c7.1a7a9c","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"a45296d6.f37658","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["5e8f8ed.d2e547"]]},{"id":"5e8f8ed.d2e547","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[["9612f32b.dbd96"]]},{"id":"bdc78d7b.606ad","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"7de4fcaa.af4454","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["332bf705.688c38"]]},{"id":"332bf705.688c38","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[["9612f32b.dbd96"]]},{"id":"3263b98d.7608c6","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"7de4fcaa.af4454","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["3e600883.91e7e8"]]},{"id":"3e600883.91e7e8","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[["9612f32b.dbd96"]]},{"id":"324d7cad.9d6574","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"7de4fcaa.af4454","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["5366c6c1.e52278"]]},{"id":"5366c6c1.e52278","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[["9612f32b.dbd96"]]},{"id":"1d695609.ac014a","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"7de4fcaa.af4454","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["c9c415f4.545058"]]},{"id":"c9c415f4.545058","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[["9612f32b.dbd96"]]},{"id":"e9304b4.74fd8b8","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["82ffcd82.ce866"]]},{"id":"82ffcd82.ce866","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3095,"y":2092.4764671325684,"wires":[["9612f32b.dbd96"]]},{"id":"aace038e.d059b","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["53165c5.9b370a4"]]},{"id":"53165c5.9b370a4","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[["9612f32b.dbd96"]]},{"id":"b1638da5.6296f","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["9c5e47e4.fd3db8"]]},{"id":"9c5e47e4.fd3db8","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[["9612f32b.dbd96"]]},{"id":"dc962c59.f63b9","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["8751c278.8f3ac"]]},{"id":"8751c278.8f3ac","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[["9612f32b.dbd96"]]},{"id":"fda39763.27d658","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["8866cbe1.129cd8"]]},{"id":"8866cbe1.129cd8","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[["9612f32b.dbd96"]]},{"id":"4d049a78.ed9dd4","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["8939ad82.2359b"]]},{"id":"8939ad82.2359b","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[["9612f32b.dbd96"]]},{"id":"8f6fa539.ecf8a8","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["ec7b93b5.53d69"]]},{"id":"ec7b93b5.53d69","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[["9612f32b.dbd96"]]},{"id":"3e009e3e.285e72","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["324798d.caf6f68"]]},{"id":"324798d.caf6f68","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[["9612f32b.dbd96"]]},{"id":"9eb31e2b.8f3d4","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["c3099b32.f9f9e8"]]},{"id":"c3099b32.f9f9e8","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[["9612f32b.dbd96"]]},{"id":"c26200cd.2ef75","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["59658657.df1ab8"]]},{"id":"59658657.df1ab8","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[["9612f32b.dbd96"]]},{"id":"de251899.ab2e48","type":"ui_switch","z":"576f94c7.1a7a9c","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"cba5963a.d0ab38","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["bcbd5898.a31258"]]},{"id":"bcbd5898.a31258","type":"function","z":"576f94c7.1a7a9c","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3608.015579223633,"y":2539.726357460022,"wires":[["9612f32b.dbd96"]]},{"id":"144c60bb.e7af0f","type":"ui_switch","z":"e62fc015.a43b6","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"c1f92bed.22aeb8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":3175.999973297119,"y":2345.667085647583,"wires":[["d2ef09e0.0f6f38"]]},{"id":"d2ef09e0.0f6f38","type":"function","z":"e62fc015.a43b6","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3620.1288146972656,"y":2452.5660724639893,"wires":[[]]},{"id":"80a847f2.3d3458","type":"subflow:e62fc015.a43b6","z":"576f94c7.1a7a9c","name":"ANTEROOM_MAIN_LIGHT","x":3271.5649185180664,"y":1015.6167240142822,"wires":[["9612f32b.dbd96"]]}]