.flows_WIN-04L2L9UMOVJ.json.backup
[{"id":"e82d9180.25452","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"4c0d31b.be8d8d","type":"tab","label":"FLOW_EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"33c68bbf.23b814","type":"tab","label":"FLOW_POWER","disabled":false,"info":""},{"id":"422bc0eb.18dbc","type":"tab","label":"FLOW_HEATERS","disabled":false,"info":""},{"id":"a8ab5bb2.e3a4a8","type":"tab","label":"FLOW_GALLERY_UP","disabled":false,"info":""},{"id":"f9686227.d7afc","type":"tab","label":"FLOW_DOOR_WINDOWS_SOUTHSIDE","disabled":false,"info":""},{"id":"8df32bb8.d282b8","type":"tab","label":"FLOW_ANTEROOM","disabled":false,"info":""},{"id":"6af69c3d.70e8f4","type":"tab","label":"FLOW_WESTSIDE","disabled":false,"info":""},{"id":"299a059e.15e8fa","type":"tab","label":"FLOW_KITCHEN","disabled":false,"info":""},{"id":"89b05196.3022c","type":"tab","label":"FLOW_KID_SLEEPING_ROOM","disabled":false,"info":""},{"id":"5f50a9ff.960ad8","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"2f9472f1.2f3e6e"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"247446da.1ed16a","port":0}]}],"status":{"x":760,"y":120,"wires":[{"id":"247446da.1ed16a","port":0}]}},{"id":"a4c161f1.7549","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"7ab4f731.211988"}]}],"out":[{"x":805.8567552566528,"y":41.28568649291992,"wires":[{"id":"606097ab.298ae8","port":0}]}],"status":{"x":802.9851112365723,"y":86,"wires":[{"id":"606097ab.298ae8","port":0}]}},{"id":"36f32d22.115d32","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":2078.651309967041,"y":153.0057258605957,"wires":[{"id":"3750dc84.a55b64"}]}],"out":[{"x":3118.650531768799,"y":129.00568199157715,"wires":[{"id":"da3b8de3.6d5d","port":0}]}]},{"id":"70dde6c9.0adcb8","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"a3355c83.432b8"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"a3a87094.64a59","port":0}]}]},{"id":"d507c61e.2a6d98","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"1a96411e.cc7fbf"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"d516c159.34ead","port":0}]}]},{"id":"34d1efdd.44025","type":"subflow","name":"LIGHT_KITCHEN","info":"","category":"","in":[{"x":2418.0147857666016,"y":475.00567531585693,"wires":[{"id":"b4e4e01a.da5dc"}]}],"out":[{"x":3091.01473236084,"y":473.0056140422821,"wires":[{"id":"e93cc48e.b32868","port":0}]}]},{"id":"c4f0e769.e11978","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"ec6298c.caa8668"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"35946852.b83d78","port":0}]}]},{"id":"50acc55e.b7717c","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"49a66e2b.96bfa"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"52105ad3.31fce4","port":0}]}]},{"id":"43e54d8b.0da854","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"94a1cd1e.9b468"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"14579793.8c5c68","port":0}]}]},{"id":"e662bdcf.c288d","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"30fa82d5.03faae"}]}],"out":[{"x":1460,"y":2560,"wires":[{"id":"6741b291.2a494c","port":0}]}]},{"id":"40db99c6.8cefe8","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"45133773.cfebf8"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"1ff3e24c.e7e2ee","port":0}]}]},{"id":"2aad2fb.1ad21d","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"c5a07a8a.e72078"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"f8930452.d06ff8","port":0}]}]},{"id":"d6e2cd6f.99b17","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"45eabef2.6dd25"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"c4faf63.6047208","port":0}]}]},{"id":"db0b5b77.f61d78","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"ae66e27e.f401"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"beae4877.97e0d8","port":0}]}]},{"id":"c6206531.db1b38","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"807a1407.813aa8"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"7ce322be.5b14cc","port":0}]}]},{"id":"95f41f0e.2352d","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"218853d3.e3cecc"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"a272dc62.27748","port":0}]}]},{"id":"36c32ef3.498c52","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"c5248fac.13374"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"bd280b8d.88bb38","port":0}]}]},{"id":"f0a56045.dda5a","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"107e26d1.d4bf89"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"d4046cf2.d0299","port":0}]}]},{"id":"601370ba.187f5","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"7b14a92b.4a2298"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"b31e3540.ecae88","port":0}]}]},{"id":"390d899f.32f606","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"bb5de6fe.943fb8"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"f1937b3d.a3f9e8","port":0}]}]},{"id":"7ab15a54.96a054","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"9a80f9a1.020178"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"e3f2e311.deb56","port":0}]}]},{"id":"f662395d.1cb098","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"647d0299.7a309c"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"11de4f7d.759451","port":0}]}]},{"id":"6f96713a.f98d5","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"e8a29d3a.1b317"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"ba4a5e86.b3962","port":0}]}]},{"id":"a34218a3.b63678","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"86333617.933bd8"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"684573bc.a57c3c","port":0}]}]},{"id":"73423936.5e3598","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"54f7c183.9176b"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"3070fe78.87e252","port":0}]}]},{"id":"b324c730.42aa68","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"3f7082db.f15fee"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"a37a51f.103ffb","port":0}]}]},{"id":"9edd3afc.efd358","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"a7b34326.41494"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"373de936.3b75d6","port":0}]}]},{"id":"356f509e.e3588","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"b83a2e51.b15de"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"c37fe299.2d44c","port":0}]}]},{"id":"69cc3a50.d92984","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"a5e0b5bd.a4a908"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"2913049f.efaeac","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"18ca5eac.3d6951","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"4d1ee784.8d02b8"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"b212ffac.8c4a4","port":0}]}]},{"id":"47c52918.a25698","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"56b46754.194d38"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"c621a645.487848","port":0}]}]},{"id":"dca378a3.e134d8","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"f1496ac3.c87de8"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"64cdd6a7.e53578","port":0}]}]},{"id":"12575691.ae6429","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":740,"y":100,"wires":[{"id":"ba54362c.189698","port":0}]},{"x":740,"y":220,"wires":[{"id":"2b63af37.d4bc5","port":0}]}],"status":{"x":740,"y":160,"wires":[{"id":"ab7d148.db270e8","port":0}]}},{"id":"b532049a.6d8748","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"65f6f6d2.f423a8"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"388e41c9.4f38ae","port":0}]}]},{"id":"bc56466.b55cbb8","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"94709592.7ba7d8"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"4e9a7fc5.7b61","port":0}]}]},{"id":"ad980371.bf366","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"99806123.42df1"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"5c61bb5.5e7ac44","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"5c61bb5.5e7ac44","port":0}]}},{"id":"facd94bc.2b6088","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"3cbf8877.7dca88"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"e04c95bd.cf62c8","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"e04c95bd.cf62c8","port":0}]}},{"id":"618ca145.36c3","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"48db9129.08e9b"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"dbe724e7.050128","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"dbe724e7.050128","port":0}]}},{"id":"abd80004.a213b","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"6ca457ff.c4b2d8"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"2d5ad535.06a04a","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"2d5ad535.06a04a","port":0}]}},{"id":"d13d4f5c.eb8f5","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"2ea08915.d889c6"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"e3b71805.809c78","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"e3b71805.809c78","port":0}]}},{"id":"5d00a7f9.9b0758","type":"subflow","name":"SUB_HEATER_BATHROOM","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"e39c3e5d.33f75"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"7d233160.c29de","port":0}]}],"env":[],"status":{"x":900,"y":40,"wires":[{"id":"7d233160.c29de","port":0}]}},{"id":"5c64db4.144c624","type":"subflow","name":"FLOW_BOILER","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"41c72eb.e009dd"}]}],"out":[{"x":639.9138717651367,"y":94.92855262756348,"wires":[{"id":"596b46a5.bd8398","port":0}]}],"env":[],"status":{"x":640,"y":40,"wires":[{"id":"596b46a5.bd8398","port":0}]}},{"id":"800abd2f.08579","type":"subflow","name":"FLOW_PLUG_IR","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"10f10585.a1aaea"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"c3ffe0f9.47556","port":0}]}],"env":[],"status":{"x":480,"y":20,"wires":[{"id":"c3ffe0f9.47556","port":0}]}},{"id":"9b4e3d5e.13e23","type":"subflow","name":"SUB_KID_ROOM_ALL","info":"","category":"","in":[{"x":46.00000190734863,"y":80.00000190734863,"wires":[{"id":"dc049115.914b1"}]}],"out":[{"x":700,"y":80,"wires":[{"id":"ad7eb30a.f88bb","port":0}]}],"env":[],"status":{"x":700,"y":140,"wires":[{"id":"ad7eb30a.f88bb","port":0}]}},{"id":"1a552941.5c7f37","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"dd34b48d.53f038","disp":true,"width":"6","collapse":false},{"id":"b5c90600.c1d668","type":"ui_group","z":"","name":"KÜCHE","tab":"","order":1,"disp":true,"width":"6"},{"id":"3181d53d.09d95a","type":"ui_group","z":"","name":"FENSTERBANK","tab":"254d1d3a.8daa02","order":6,"disp":true,"width":"6"},{"id":"c264cc8c.96566","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"254d1d3a.8daa02","order":2,"disp":true,"width":"6"},{"id":"48fc9576.eaed6c","type":"ui_group","z":"","name":"GALLERIE","tab":"254d1d3a.8daa02","order":3,"disp":true,"width":"6"},{"id":"4ab00f81.05763","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"254d1d3a.8daa02","order":5,"disp":true,"width":"6"},{"id":"5b74ccb3.153a14","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"254d1d3a.8daa02","order":4,"disp":true,"width":"6"},{"id":"dd34b48d.53f038","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard","order":2},{"id":"254d1d3a.8daa02","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":3},{"id":"d8eef532.2d9d08","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":6},{"id":"99e48ec8.f44bb","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2bdc42d6.8056ce","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"a4dc0a1.8f72ef8","disp":true,"width":"6"},{"id":"bd021e1e.b814","type":"ui_group","z":"","name":"KÜCHE","tab":"e4af3fd0.711fc","order":1,"disp":true,"width":"6"},{"id":"8c71e435.d37588","type":"ui_group","z":"","name":"FENSTERBANK","tab":"f6f1a630.2f6a68","order":6,"disp":true,"width":"6"},{"id":"47ac4aee.77a464","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"f6f1a630.2f6a68","order":1,"disp":true,"width":"6"},{"id":"fa6d5063.66c93","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"f6f1a630.2f6a68","order":2,"disp":true,"width":"6"},{"id":"31c497e.b6fe068","type":"ui_group","z":"","name":"GALLERIE","tab":"f6f1a630.2f6a68","order":3,"disp":true,"width":"6"},{"id":"5cc9134c.1424bc","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"f6f1a630.2f6a68","order":5,"disp":true,"width":"6"},{"id":"6c81eb3.340ed14","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"f6f1a630.2f6a68","order":4,"disp":true,"width":"6"},{"id":"a4dc0a1.8f72ef8","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard","order":1},{"id":"e4af3fd0.711fc","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":7},{"id":"f6f1a630.2f6a68","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":4},{"id":"9de9511f.d19a8","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":8},{"id":"4028a657.20a0f8","type":"ui_group","z":"","name":"VORHAUS","tab":"d8eef532.2d9d08","order":1,"disp":true,"width":"6","collapse":false},{"id":"c59defa8.ee79d","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":9},{"id":"9814e51e.16c198","type":"ui_group","z":"","name":"BODEN","tab":"c59defa8.ee79d","order":1,"disp":true,"width":"6","collapse":false},{"id":"8462cdb4.5370f","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":10},{"id":"4230d0bd.4bbb4","type":"ui_group","z":"","name":"LICHTER","tab":"8462cdb4.5370f","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd9eb677.9bf1c8","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":11},{"id":"4fd980.c370d68","type":"ui_group","z":"","name":"LICHTER","tab":"fd9eb677.9bf1c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8c897ae3.244c88","type":"ui_group","z":"","name":"LUEFTER","tab":"fd9eb677.9bf1c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c7667697.79c018","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":12},{"id":"a8da73c6.c1da7","type":"ui_group","z":"","name":"Lichter","tab":"c7667697.79c018","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff64ef35.46b2d","type":"ui_group","z":"","name":"Heizung","tab":"8462cdb4.5370f","order":2,"disp":true,"width":"6","collapse":false},{"id":"1d9d8e3c.9c62b2","type":"ui_group","z":"","name":"Heizkörper","tab":"9de9511f.d19a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ab4f731.211988","type":"ui_switch","z":"a4c161f1.7549","name":"BOILER","label":"WARMWASSER","group":"2bdc42d6.8056ce","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":40,"wires":[["606097ab.298ae8"]]},{"id":"c056134f.3e5d8","type":"udp out","z":"e82d9180.25452","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":1700,"y":500,"wires":[]},{"id":"b1384a18.04ae08","type":"udp in","z":"e82d9180.25452","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":860,"y":140,"wires":[["af8b1062.b9152"]]},{"id":"41c72eb.e009dd","type":"function","z":"5c64db4.144c624","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["596b46a5.bd8398"]]},{"id":"606097ab.298ae8","type":"function","z":"a4c161f1.7549","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":544.4282112121582,"y":41.28568363189697,"wires":[[]]},{"id":"180ffaf9.ce4b35","type":"catch","z":"e82d9180.25452","name":"","scope":["98a5118b.61928","febe930b.9085b","c06b7c90.f01f5","db8e698b.1cb928","43d49232.6f44ec","e3dc1d24.a8057","ea7fb65b.42c428","1f9d4fc2.e1a9d","b34385ec.2753b8","224d53d.c39e3ac","e28b5401.036348","46743539.f6efdc","9e0ccec8.e35c6","5737bf6d.7d04a","e6f223c4.c9985","b94246db.6df208","503782ee.c533dc","b5e0c7db.d64e58","cf07f1e5.e232e","53785039.61b07","acaaec64.f30f4","8ac35003.bac8d","14dbaf9.a3ba75","32239554.bd7f4a","6de8f093.c6407","327a2fe6.adc39","667754ad.4a658c","c52dcc75.f4312","e2bd34c0.b4b8d8","dd89ed.66fc161","11b40f11.188481","b1384a18.04ae08","cbe0a365.592a","b93b3a1b.72ff48","c056134f.3e5d8","3397ae98.be6832","af8b1062.b9152","a50ac5d9.bad668"],"uncaught":false,"x":1380,"y":120,"wires":[["3397ae98.be6832"]]},{"id":"3397ae98.be6832","type":"ui_toast","z":"e82d9180.25452","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1540,"y":120,"wires":[]},{"id":"da3b8de3.6d5d","type":"function","z":"36f32d22.115d32","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2918.650531768799,"y":129.00568199157715,"wires":[[]]},{"id":"a3a87094.64a59","type":"function","z":"70dde6c9.0adcb8","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"d516c159.34ead","type":"function","z":"d507c61e.2a6d98","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"3750dc84.a55b64","type":"ui_switch","z":"36f32d22.115d32","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"bd021e1e.b814","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2278.651309967041,"y":153.0057258605957,"wires":[["da3b8de3.6d5d"]]},{"id":"a3355c83.432b8","type":"ui_switch","z":"70dde6c9.0adcb8","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"8c71e435.d37588","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["a3a87094.64a59"]]},{"id":"1a96411e.cc7fbf","type":"ui_switch","z":"d507c61e.2a6d98","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"2bdc42d6.8056ce","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["d516c159.34ead"]]},{"id":"b4e4e01a.da5dc","type":"ui_switch","z":"34d1efdd.44025","name":"LIGHT KITCHEN","label":"ALLE KÜCHENLICHTER","group":"bd021e1e.b814","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2588.0147857666016,"y":475.00567531585693,"wires":[["e93cc48e.b32868"]]},{"id":"e93cc48e.b32868","type":"function","z":"34d1efdd.44025","name":"LIGHT KITCHEN COMMAND","func":"var result;\nvar ResultOn  = \"TURN-ALL-KITCHEN-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-KITCHEN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2881.01473236084,"y":473.0056140422821,"wires":[[]]},{"id":"98a5118b.61928","type":"ui_switch","z":"e82d9180.25452","name":"ALL LIGHTS","label":"ALLE LICHTER ","group":"2bdc42d6.8056ce","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":300,"wires":[["e3dc1d24.a8057","febe930b.9085b","a50ac5d9.bad668","b5e0c7db.d64e58","46743539.f6efdc","224d53d.c39e3ac","327a2fe6.adc39","c52dcc75.f4312","27245bcd.2fcd94","240c00fa.a3f5f","bd679a65.9b2798"]]},{"id":"e3dc1d24.a8057","type":"function","z":"e82d9180.25452","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["c056134f.3e5d8"]]},{"id":"febe930b.9085b","type":"ui_switch","z":"e82d9180.25452","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"47ac4aee.77a464","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":680,"wires":[["85dd5f1c.b16db"]]},{"id":"35946852.b83d78","type":"function","z":"c4f0e769.e11978","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"ec6298c.caa8668","type":"ui_switch","z":"c4f0e769.e11978","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"8c71e435.d37588","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["35946852.b83d78"]]},{"id":"52105ad3.31fce4","type":"function","z":"50acc55e.b7717c","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"49a66e2b.96bfa","type":"ui_switch","z":"50acc55e.b7717c","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"bd021e1e.b814","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["52105ad3.31fce4"]]},{"id":"94a1cd1e.9b468","type":"ui_switch","z":"43e54d8b.0da854","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"47ac4aee.77a464","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["14579793.8c5c68"]]},{"id":"14579793.8c5c68","type":"function","z":"43e54d8b.0da854","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"c5a07a8a.e72078","type":"ui_switch","z":"2aad2fb.1ad21d","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"fa6d5063.66c93","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["f8930452.d06ff8"]]},{"id":"f8930452.d06ff8","type":"function","z":"2aad2fb.1ad21d","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"45eabef2.6dd25","type":"ui_switch","z":"d6e2cd6f.99b17","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"fa6d5063.66c93","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["c4faf63.6047208"]]},{"id":"c4faf63.6047208","type":"function","z":"d6e2cd6f.99b17","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"a50ac5d9.bad668","type":"ui_switch","z":"e82d9180.25452","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"8c71e435.d37588","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":590,"y":220,"wires":[["14dbaf9.a3ba75"]]},{"id":"ab7d148.db270e8","type":"ui_dropdown","z":"12575691.ae6429","name":"SCENARIOS","label":"SCENARIOS","place":"Select option","group":"2bdc42d6.8056ce","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":210,"y":160,"wires":[["ba54362c.189698","2b63af37.d4bc5"]]},{"id":"ba54362c.189698","type":"function","z":"12575691.ae6429","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"2b63af37.d4bc5","type":"function","z":"12575691.ae6429","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[[]]},{"id":"ae66e27e.f401","type":"ui_switch","z":"db0b5b77.f61d78","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"31c497e.b6fe068","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["beae4877.97e0d8"]]},{"id":"beae4877.97e0d8","type":"function","z":"db0b5b77.f61d78","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"c5248fac.13374","type":"ui_switch","z":"36c32ef3.498c52","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"31c497e.b6fe068","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["bd280b8d.88bb38"]]},{"id":"bd280b8d.88bb38","type":"function","z":"36c32ef3.498c52","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"107e26d1.d4bf89","type":"ui_switch","z":"f0a56045.dda5a","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"31c497e.b6fe068","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["d4046cf2.d0299"]]},{"id":"d4046cf2.d0299","type":"function","z":"f0a56045.dda5a","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"bb5de6fe.943fb8","type":"ui_switch","z":"390d899f.32f606","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"fa6d5063.66c93","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["f1937b3d.a3f9e8"]]},{"id":"f1937b3d.a3f9e8","type":"function","z":"390d899f.32f606","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"9a80f9a1.020178","type":"ui_switch","z":"7ab15a54.96a054","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"47ac4aee.77a464","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["e3f2e311.deb56"]]},{"id":"e3f2e311.deb56","type":"function","z":"7ab15a54.96a054","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"cbe0a365.592a","type":"ui_button","z":"e82d9180.25452","name":"RESET","group":"2bdc42d6.8056ce","order":8,"width":0,"height":0,"passthru":false,"label":"ALLE LICHTER  AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":100,"y":440,"wires":[["98a5118b.61928","e3dc1d24.a8057","a50ac5d9.bad668","febe930b.9085b","14dbaf9.a3ba75","b5e0c7db.d64e58","46743539.f6efdc","224d53d.c39e3ac","327a2fe6.adc39","c52dcc75.f4312","27245bcd.2fcd94","240c00fa.a3f5f","bd679a65.9b2798"]]},{"id":"647d0299.7a309c","type":"ui_switch","z":"f662395d.1cb098","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"fa6d5063.66c93","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["11de4f7d.759451"]]},{"id":"11de4f7d.759451","type":"function","z":"f662395d.1cb098","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"e8a29d3a.1b317","type":"ui_switch","z":"6f96713a.f98d5","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"5cc9134c.1424bc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["ba4a5e86.b3962"]]},{"id":"ba4a5e86.b3962","type":"function","z":"6f96713a.f98d5","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"3f7082db.f15fee","type":"ui_switch","z":"b324c730.42aa68","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"5cc9134c.1424bc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["a37a51f.103ffb"]]},{"id":"a37a51f.103ffb","type":"function","z":"b324c730.42aa68","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"a7b34326.41494","type":"ui_switch","z":"9edd3afc.efd358","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"5cc9134c.1424bc","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["373de936.3b75d6"]]},{"id":"373de936.3b75d6","type":"function","z":"9edd3afc.efd358","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"b83a2e51.b15de","type":"ui_switch","z":"356f509e.e3588","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"5cc9134c.1424bc","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["c37fe299.2d44c"]]},{"id":"c37fe299.2d44c","type":"function","z":"356f509e.e3588","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"a5e0b5bd.a4a908","type":"ui_switch","z":"69cc3a50.d92984","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["2913049f.efaeac"]]},{"id":"2913049f.efaeac","type":"function","z":"69cc3a50.d92984","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"4d1ee784.8d02b8","type":"ui_switch","z":"18ca5eac.3d6951","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["b212ffac.8c4a4"]]},{"id":"b212ffac.8c4a4","type":"function","z":"18ca5eac.3d6951","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"56b46754.194d38","type":"ui_switch","z":"47c52918.a25698","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["c621a645.487848"]]},{"id":"c621a645.487848","type":"function","z":"47c52918.a25698","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"f1496ac3.c87de8","type":"ui_switch","z":"dca378a3.e134d8","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["64cdd6a7.e53578"]]},{"id":"64cdd6a7.e53578","type":"function","z":"dca378a3.e134d8","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"54f7c183.9176b","type":"ui_switch","z":"73423936.5e3598","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["3070fe78.87e252"]]},{"id":"3070fe78.87e252","type":"function","z":"73423936.5e3598","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"86333617.933bd8","type":"ui_switch","z":"a34218a3.b63678","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["684573bc.a57c3c"]]},{"id":"684573bc.a57c3c","type":"function","z":"a34218a3.b63678","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"7b14a92b.4a2298","type":"ui_switch","z":"601370ba.187f5","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["b31e3540.ecae88"]]},{"id":"b31e3540.ecae88","type":"function","z":"601370ba.187f5","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"218853d3.e3cecc","type":"ui_switch","z":"95f41f0e.2352d","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["a272dc62.27748"]]},{"id":"a272dc62.27748","type":"function","z":"95f41f0e.2352d","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"807a1407.813aa8","type":"ui_switch","z":"c6206531.db1b38","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["7ce322be.5b14cc"]]},{"id":"7ce322be.5b14cc","type":"function","z":"c6206531.db1b38","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"45133773.cfebf8","type":"ui_switch","z":"40db99c6.8cefe8","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["1ff3e24c.e7e2ee"]]},{"id":"1ff3e24c.e7e2ee","type":"function","z":"40db99c6.8cefe8","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"30fa82d5.03faae","type":"ui_switch","z":"e662bdcf.c288d","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"6c81eb3.340ed14","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["6741b291.2a494c"]]},{"id":"6741b291.2a494c","type":"function","z":"e662bdcf.c288d","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[[]]},{"id":"2f9472f1.2f3e6e","type":"ui_switch","z":"5f50a9ff.960ad8","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"4028a657.20a0f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":60,"wires":[["247446da.1ed16a"]]},{"id":"247446da.1ed16a","type":"function","z":"5f50a9ff.960ad8","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"596b46a5.bd8398","type":"subflow:a4c161f1.7549","z":"5c64db4.144c624","name":"BOILER","env":[],"x":500,"y":100,"wires":[[]]},{"id":"14dbaf9.a3ba75","type":"subflow:70dde6c9.0adcb8","z":"e82d9180.25452","name":"LIGHT_WINDOW_LEDGE_EAST","x":1000,"y":220,"wires":[["c056134f.3e5d8"]]},{"id":"b5e0c7db.d64e58","type":"subflow:d507c61e.2a6d98","z":"e82d9180.25452","name":"LIGHT_OUTSIDE","x":950,"y":300,"wires":[["c056134f.3e5d8"]]},{"id":"b93b3a1b.72ff48","type":"subflow:12575691.ae6429","z":"e82d9180.25452","name":"SCENARIOS","env":[],"x":730,"y":480,"wires":[["14dbaf9.a3ba75","123a4621.039f1a"],["54c1f642.e2e8b8","503458a5.427fc8"]]},{"id":"65f6f6d2.f423a8","type":"ui_switch","z":"b532049a.6d8748","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"9814e51e.16c198","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["388e41c9.4f38ae"]]},{"id":"388e41c9.4f38ae","type":"function","z":"b532049a.6d8748","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"94709592.7ba7d8","type":"ui_switch","z":"bc56466.b55cbb8","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"4230d0bd.4bbb4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["4e9a7fc5.7b61"]]},{"id":"4e9a7fc5.7b61","type":"function","z":"bc56466.b55cbb8","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"46743539.f6efdc","type":"subflow:bc56466.b55cbb8","z":"e82d9180.25452","name":"","x":950,"y":80,"wires":[["c056134f.3e5d8"]]},{"id":"99806123.42df1","type":"ui_switch","z":"ad980371.bf366","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"4fd980.c370d68","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["5c61bb5.5e7ac44"]]},{"id":"5c61bb5.5e7ac44","type":"function","z":"ad980371.bf366","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"224d53d.c39e3ac","type":"subflow:ad980371.bf366","z":"e82d9180.25452","name":"","env":[],"x":930,"y":20,"wires":[["c056134f.3e5d8"]]},{"id":"3cbf8877.7dca88","type":"ui_switch","z":"facd94bc.2b6088","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"4028a657.20a0f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["e04c95bd.cf62c8"]]},{"id":"e04c95bd.cf62c8","type":"function","z":"facd94bc.2b6088","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"48db9129.08e9b","type":"ui_switch","z":"618ca145.36c3","name":"HEATER WEST","label":"Heizkörper West","group":"47ac4aee.77a464","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["dbe724e7.050128"]]},{"id":"dbe724e7.050128","type":"function","z":"618ca145.36c3","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"6ca457ff.c4b2d8","type":"ui_switch","z":"abd80004.a213b","name":"HEATER EAST","label":"Heizkörper Osten","group":"47ac4aee.77a464","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["2d5ad535.06a04a"]]},{"id":"2d5ad535.06a04a","type":"function","z":"abd80004.a213b","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"eab3a156.af533","type":"ui_button","z":"4c0d31b.be8d8d","name":"GallerieOben_Ein","group":"6c81eb3.340ed14","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["a691174d.136f18"]]},{"id":"ea7fb65b.42c428","type":"link in","z":"e82d9180.25452","name":"","links":["a691174d.136f18"],"x":535,"y":420,"wires":[["327a2fe6.adc39"]]},{"id":"a691174d.136f18","type":"link out","z":"4c0d31b.be8d8d","name":"","links":["ea7fb65b.42c428"],"x":715,"y":160,"wires":[]},{"id":"47945617.ae0e58","type":"ui_button","z":"4c0d31b.be8d8d","name":"GallerieOben_Aus","group":"6c81eb3.340ed14","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["a691174d.136f18"]]},{"id":"e3b71805.809c78","type":"function","z":"d13d4f5c.eb8f5","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"2ea08915.d889c6","type":"ui_button","z":"d13d4f5c.eb8f5","name":"ANTEROOM_MIDDLE_OFF","group":"4028a657.20a0f8","order":0,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["e3b71805.809c78"]]},{"id":"e39c3e5d.33f75","type":"ui_switch","z":"5d00a7f9.9b0758","name":"HEATER BATH","label":"Heizkörper Badezimmer","group":"ff64ef35.46b2d","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":120,"wires":[["7d233160.c29de"]]},{"id":"7d233160.c29de","type":"function","z":"5d00a7f9.9b0758","name":"HEATER BATH ","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BATH-ON\";\nvar ResultOff = \"TURN-HEATER-BATH-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":784.4282112121582,"y":121.28568363189697,"wires":[[]]},{"id":"af8b1062.b9152","type":"subflow:5c64db4.144c624","z":"e82d9180.25452","name":"SUB_BOILER","env":[],"x":1040,"y":140,"wires":[["c056134f.3e5d8"]]},{"id":"10f10585.a1aaea","type":"ui_switch","z":"800abd2f.08579","name":"PLUG-IR","label":"STECKDOSE-IRHEIZUNG","group":"2bdc42d6.8056ce","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"PLUG-IR","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":80,"wires":[["c3ffe0f9.47556"]]},{"id":"c3ffe0f9.47556","type":"function","z":"800abd2f.08579","name":"PLUG-IR","func":"var result;\nvar ResultOn  = \"POWER-PLUG-INFRA-RED-ON\";\nvar ResultOff = \"POWER-PLUG-INFRA-RED-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":340,"y":80,"wires":[[]]},{"id":"5661e50b.88719c","type":"subflow:800abd2f.08579","z":"33c68bbf.23b814","name":"SUB_PLUG_IR","env":[],"x":920,"y":140,"wires":[["cfc0bab4.ee2a78"]]},{"id":"cfc0bab4.ee2a78","type":"link out","z":"33c68bbf.23b814","name":"LINK_POWER_OUT","links":["11b40f11.188481"],"x":1140,"y":140,"wires":[]},{"id":"11b40f11.188481","type":"link in","z":"e82d9180.25452","name":"LINK_POWER_IN","links":["cfc0bab4.ee2a78"],"x":1195,"y":480,"wires":[["c056134f.3e5d8"]]},{"id":"d8bd940d.b9df88","type":"subflow:618ca145.36c3","z":"422bc0eb.18dbc","name":"","env":[],"x":680,"y":300,"wires":[["c057d8a8.ecaf08"]]},{"id":"de7cf42f.0b9a08","type":"subflow:abd80004.a213b","z":"422bc0eb.18dbc","name":"","env":[],"x":680,"y":220,"wires":[["c057d8a8.ecaf08"]]},{"id":"ff86e5f2.8f8618","type":"ui_button","z":"422bc0eb.18dbc","name":"HEATERSOFF","group":"2bdc42d6.8056ce","order":6,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":280,"y":80,"wires":[["de7cf42f.0b9a08","d8bd940d.b9df88","36b9c6d7.d8fb5a"]]},{"id":"a2b8d706.e2f358","type":"ui_button","z":"422bc0eb.18dbc","name":"HEATERSON","group":"2bdc42d6.8056ce","order":7,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":280,"y":360,"wires":[["de7cf42f.0b9a08","d8bd940d.b9df88","36b9c6d7.d8fb5a"]]},{"id":"36b9c6d7.d8fb5a","type":"subflow:5d00a7f9.9b0758","z":"422bc0eb.18dbc","name":"","env":[],"x":700,"y":140,"wires":[["c057d8a8.ecaf08"]]},{"id":"c057d8a8.ecaf08","type":"link out","z":"422bc0eb.18dbc","name":"LINK_HEATERS_OUT","links":["dd89ed.66fc161"],"x":960,"y":240,"wires":[]},{"id":"dd89ed.66fc161","type":"link in","z":"e82d9180.25452","name":"LINK_HEATERS_IN","links":["c057d8a8.ecaf08"],"x":1195,"y":640,"wires":[["c056134f.3e5d8"]]},{"id":"327a2fe6.adc39","type":"link out","z":"e82d9180.25452","name":"LINK_CONTROL_GALLERY_UP_OUT","links":["f8d54798.aff2e8"],"x":535,"y":480,"wires":[]},{"id":"a731dd2b.85931","type":"subflow:e662bdcf.c288d","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_11","env":[],"x":630,"y":700,"wires":[["c8fa6564.73e6a8"]]},{"id":"71f56fca.0bb9a","type":"subflow:40db99c6.8cefe8","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_10","x":640,"y":640,"wires":[["c8fa6564.73e6a8"]]},{"id":"97492683.84b508","type":"subflow:c6206531.db1b38","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_9","x":630,"y":580,"wires":[["c8fa6564.73e6a8"]]},{"id":"e9043a1f.86fc18","type":"subflow:95f41f0e.2352d","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_8","x":630,"y":520,"wires":[["c8fa6564.73e6a8"]]},{"id":"9040bbdc.8aeff8","type":"subflow:601370ba.187f5","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_7","x":630,"y":460,"wires":[["c8fa6564.73e6a8"]]},{"id":"fb9ce305.b51fa","type":"subflow:a34218a3.b63678","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_6","x":630,"y":400,"wires":[["c8fa6564.73e6a8"]]},{"id":"fe66f52b.76c948","type":"subflow:73423936.5e3598","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_5","x":630,"y":340,"wires":[["c8fa6564.73e6a8"]]},{"id":"9ae3b73e.9863e8","type":"subflow:69cc3a50.d92984","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_1","env":[],"x":632.9845428466797,"y":109.10723495483398,"wires":[["c8fa6564.73e6a8"]]},{"id":"ff246137.42fe2","type":"subflow:18ca5eac.3d6951","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_2","x":630,"y":160,"wires":[["c8fa6564.73e6a8"]]},{"id":"b6b056dd.32aea8","type":"subflow:47c52918.a25698","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_3","x":630,"y":220,"wires":[["c8fa6564.73e6a8"]]},{"id":"82316f39.f0dcc","type":"subflow:dca378a3.e134d8","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP_4","x":630,"y":280,"wires":[["c8fa6564.73e6a8"]]},{"id":"f8d54798.aff2e8","type":"link in","z":"a8ab5bb2.e3a4a8","name":"LINK_CONTROL_GALLERY_UP_IN","links":["327a2fe6.adc39"],"x":235,"y":460,"wires":[["9ae3b73e.9863e8","ff246137.42fe2","b6b056dd.32aea8","82316f39.f0dcc","fe66f52b.76c948","fb9ce305.b51fa","9040bbdc.8aeff8","e9043a1f.86fc18","97492683.84b508","71f56fca.0bb9a","a731dd2b.85931","4fea48d1.a55cd8","3a30512f.94c6ae"]]},{"id":"c8fa6564.73e6a8","type":"link out","z":"a8ab5bb2.e3a4a8","name":"LINK_CONTROL_GALLERY_UP_TOSEND_OUT","links":["667754ad.4a658c"],"x":975,"y":460,"wires":[]},{"id":"667754ad.4a658c","type":"link in","z":"e82d9180.25452","name":"LINK_CONTROL_GALLERY_UP_TOSEND_IN","links":["c8fa6564.73e6a8"],"x":1195,"y":560,"wires":[["c056134f.3e5d8"]]},{"id":"25ecb717.9db648","type":"subflow:2aad2fb.1ad21d","z":"f9686227.d7afc","name":"LIGHT_DOOR_ENTRY_LEFT","env":[],"x":790,"y":400,"wires":[["47db02f6.3b63dc"]]},{"id":"2addf4d3.618f5c","type":"subflow:390d899f.32f606","z":"f9686227.d7afc","name":"LIGHT_MAIN_DOOR","x":760,"y":80,"wires":[["47db02f6.3b63dc"]]},{"id":"34e5c878.743278","type":"subflow:7ab15a54.96a054","z":"f9686227.d7afc","name":"LIGHT_WINDOW_UP_EAST","x":780,"y":180,"wires":[["47db02f6.3b63dc"]]},{"id":"85309d36.8c2c6","type":"subflow:f662395d.1cb098","z":"f9686227.d7afc","name":"LIGHT_RIGHT_NEXT_DOOR","x":790,"y":280,"wires":[["47db02f6.3b63dc"]]},{"id":"b82a1e14.45fd1","type":"link in","z":"f9686227.d7afc","name":"LINK_CONTROL_SOUTH_IN","links":["c52dcc75.f4312"],"x":375,"y":200,"wires":[["2addf4d3.618f5c","34e5c878.743278","85309d36.8c2c6","25ecb717.9db648"]]},{"id":"47db02f6.3b63dc","type":"link out","z":"f9686227.d7afc","name":"LINK_CONTROL_TOSEND_SOUTH_OUT","links":["e2bd34c0.b4b8d8"],"x":1075,"y":220,"wires":[]},{"id":"c52dcc75.f4312","type":"link out","z":"e82d9180.25452","name":"LINK_CONTROL_TO_FLOWS_SOUTH_OUT","links":["b82a1e14.45fd1"],"x":535,"y":540,"wires":[]},{"id":"e2bd34c0.b4b8d8","type":"link in","z":"e82d9180.25452","name":"LINK_CONTROL_TOSEND_SOUTH_IN","links":["47db02f6.3b63dc"],"x":1195,"y":600,"wires":[["c056134f.3e5d8"]]},{"id":"4fea48d1.a55cd8","type":"subflow:36c32ef3.498c52","z":"a8ab5bb2.e3a4a8","name":"LIGHT_GALLERY_UP","env":[],"x":620,"y":760,"wires":[["c8fa6564.73e6a8"]]},{"id":"3a30512f.94c6ae","type":"subflow:f0a56045.dda5a","z":"a8ab5bb2.e3a4a8","name":"LIGHT_TRIANGLE_UP","x":630,"y":820,"wires":[["c8fa6564.73e6a8"]]},{"id":"54c1f642.e2e8b8","type":"link out","z":"e82d9180.25452","name":"SCENARIO_TOFLOW_SOUTH_OUT","links":["46df0051.1641a"],"x":915,"y":520,"wires":[]},{"id":"46df0051.1641a","type":"link in","z":"f9686227.d7afc","name":"FROM_SCENARIO","links":["54c1f642.e2e8b8"],"x":455,"y":360,"wires":[["25ecb717.9db648"]]},{"id":"82751921.555738","type":"subflow:facd94bc.2b6088","z":"8df32bb8.d282b8","name":"","x":600,"y":120,"wires":[["68d7c99.f481f38"]]},{"id":"4fe3af17.43c47","type":"subflow:5f50a9ff.960ad8","z":"8df32bb8.d282b8","name":"ANTEROOM_MAIN_LIGHT","env":[],"x":602.4659423828125,"y":191.87314891815186,"wires":[["68d7c99.f481f38"]]},{"id":"8eecec87.658be","type":"subflow:b532049a.6d8748","z":"8df32bb8.d282b8","name":"","x":600,"y":260,"wires":[["68d7c99.f481f38"]]},{"id":"27245bcd.2fcd94","type":"link out","z":"e82d9180.25452","name":"LINK_CONTROL_TO_FLOWS_ANTROOM_OUT","links":["6dd48588.caf7cc"],"x":535,"y":360,"wires":[]},{"id":"6dd48588.caf7cc","type":"link in","z":"8df32bb8.d282b8","name":"LINK_CONTROL_TO_FLOWS_ANTEROOM_IN","links":["27245bcd.2fcd94"],"x":282.07640075683594,"y":188.72570037841797,"wires":[["82751921.555738","4fe3af17.43c47","8eecec87.658be","9a74f522.76da48"]]},{"id":"68d7c99.f481f38","type":"link out","z":"8df32bb8.d282b8","name":"LINK_TOSEND_ANTEROOM_OUT","links":["8492ede0.11afd"],"x":855,"y":200,"wires":[]},{"id":"8492ede0.11afd","type":"link in","z":"e82d9180.25452","name":"LINK_TO_SEND_ANTEROOM_IN","links":["68d7c99.f481f38"],"x":1195,"y":520,"wires":[["c056134f.3e5d8"]]},{"id":"31c8b168.7cf95e","type":"function","z":"6af69c3d.70e8f4","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["87edf4b2.c036b8"]]},{"id":"b0bfd60c.1ae048","type":"subflow:c4f0e769.e11978","z":"6af69c3d.70e8f4","name":"LIGHT_WINDOW_LEDGE_WEST","x":800,"y":80,"wires":[["87edf4b2.c036b8"]]},{"id":"e94cd2d0.8e9d8","type":"subflow:43e54d8b.0da854","z":"6af69c3d.70e8f4","name":"LIGHT_WALL_WEST","x":760,"y":160,"wires":[["87edf4b2.c036b8"]]},{"id":"eb31d165.9ac12","type":"subflow:d6e2cd6f.99b17","z":"6af69c3d.70e8f4","name":"LIGHT_TRIANGLE_WEST","x":780,"y":200,"wires":[["87edf4b2.c036b8"]]},{"id":"503458a5.427fc8","type":"link out","z":"e82d9180.25452","name":"SCENARIO_ADVENTURE","links":["f4293308.bdd65"],"x":915,"y":460,"wires":[]},{"id":"50d229d8.5f28d8","type":"link in","z":"e82d9180.25452","name":"LINK_WETSIDE_IN","links":["87edf4b2.c036b8"],"x":1195,"y":680,"wires":[["c056134f.3e5d8"]]},{"id":"5b14d6b8.8a3a68","type":"link in","z":"6af69c3d.70e8f4","name":"LINK_CONTROL_TO_FLOWS_WESTSIDE_IN","links":["85dd5f1c.b16db"],"x":500,"y":140,"wires":[["b0bfd60c.1ae048","31c8b168.7cf95e","e94cd2d0.8e9d8","eb31d165.9ac12"]]},{"id":"85dd5f1c.b16db","type":"link out","z":"e82d9180.25452","name":"LINK_CONTROL_TO_WESTSIDE_OUT","links":["5b14d6b8.8a3a68"],"x":535,"y":680,"wires":[]},{"id":"87edf4b2.c036b8","type":"link out","z":"6af69c3d.70e8f4","name":"LINK_TO_SEND_WESTSIDE_OUT","links":["50d229d8.5f28d8"],"x":1120,"y":140,"wires":[]},{"id":"123a4621.039f1a","type":"link out","z":"e82d9180.25452","name":"SCENARIO_TO_FLOW_WESTSIDE","links":["1946111a.0a8caf"],"x":915,"y":400,"wires":[]},{"id":"1946111a.0a8caf","type":"link in","z":"6af69c3d.70e8f4","name":"LINK_FROM_SCENARIO_WESTSIDE1","links":["123a4621.039f1a"],"x":495,"y":80,"wires":[["b0bfd60c.1ae048"]]},{"id":"9a74f522.76da48","type":"subflow:d13d4f5c.eb8f5","z":"8df32bb8.d282b8","name":"ANTEROOM_MIDDLE","env":[],"x":580,"y":340,"wires":[["68d7c99.f481f38"]]},{"id":"ef68d4d8.c579d8","type":"subflow:34d1efdd.44025","z":"299a059e.15e8fa","name":"LIGHT_KITCHEN","x":630,"y":260,"wires":[["d2eada74.c06218"]]},{"id":"ee284f8.ee5ceb","type":"subflow:50acc55e.b7717c","z":"299a059e.15e8fa","name":"LIGHT_KITCHENBOARD_DOWN","x":680,"y":220,"wires":[["d2eada74.c06218"]]},{"id":"944724ec.05c0d8","type":"subflow:36f32d22.115d32","z":"299a059e.15e8fa","name":"FRONTLIGHTS_KITCHEN","x":660,"y":180,"wires":[["d2eada74.c06218"]]},{"id":"ccaf08ac.491c78","type":"link in","z":"299a059e.15e8fa","name":"LINK_CONTROL_TO_KITCHEN_IN","links":["240c00fa.a3f5f"],"x":420,"y":220,"wires":[["944724ec.05c0d8","ee284f8.ee5ceb","ef68d4d8.c579d8"]]},{"id":"240c00fa.a3f5f","type":"link out","z":"e82d9180.25452","name":"LINK_TO_KITCHEN","links":["ccaf08ac.491c78"],"x":535,"y":600,"wires":[]},{"id":"d2eada74.c06218","type":"link out","z":"299a059e.15e8fa","name":"LINK_SEND_TO_KITCHEN_OUT","links":["a29b2ea9.58839"],"x":960,"y":220,"wires":[]},{"id":"a29b2ea9.58839","type":"link in","z":"e82d9180.25452","name":"LINK_TO_SEND_KITCHEN_IN","links":["d2eada74.c06218"],"x":1195,"y":720,"wires":[["c056134f.3e5d8"]]},{"id":"f4293308.bdd65","type":"link in","z":"f9686227.d7afc","name":"SCENARIO_ADVENTURE_IN","links":["503458a5.427fc8"],"x":675,"y":240,"wires":[["34e5c878.743278"]]},{"id":"dc049115.914b1","type":"ui_switch","z":"9b4e3d5e.13e23","name":"ALL_LIGHTS","label":"Alle Lichter","group":"a8da73c6.c1da7","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"ALLE LICHTER","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":160,"y":80,"wires":[["ad7eb30a.f88bb"]]},{"id":"ad7eb30a.f88bb","type":"function","z":"9b4e3d5e.13e23","name":"LIGHT KID_ROOM_ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-KIDROOM-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-KIDROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":80,"wires":[[]]},{"id":"45e20c69.ea4bb4","type":"subflow:9b4e3d5e.13e23","z":"89b05196.3022c","name":"SUB_KID_ROOM_ALL","env":[],"x":640,"y":140,"wires":[["78e0f41f.e4a66c"]]},{"id":"ca299645.a09158","type":"link in","z":"89b05196.3022c","name":"LINK_KID_ROOM","links":["bd679a65.9b2798"],"x":415,"y":140,"wires":[["45e20c69.ea4bb4"]]},{"id":"bd679a65.9b2798","type":"link out","z":"e82d9180.25452","name":"LINK_TO_KID_ROOM","links":["ca299645.a09158"],"x":541.9857635498047,"y":639.0000019073486,"wires":[]},{"id":"78e0f41f.e4a66c","type":"link out","z":"89b05196.3022c","name":"LINK_TO_SEND_KID_ROOM_OUT","links":["34663fe4.8e004"],"x":855,"y":140,"wires":[]},{"id":"34663fe4.8e004","type":"link in","z":"e82d9180.25452","name":"LINK_TO_SEND_KID_ROOM_IN","links":["78e0f41f.e4a66c"],"x":1194.9857635498047,"y":763.0000019073486,"wires":[["c056134f.3e5d8"]]}]