flows_GEORGLAPTOP.json
[{"id":"4ad434ad.37f44c","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"4d03f54d.aa03ec","type":"tab","label":"EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"9f93dd30.e8aa7","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":2660,"y":2611.666748046875,"wires":[{"id":"55af3884.46f458"}]}],"out":[{"x":3885.1285858154297,"y":2599.565972328186,"wires":[{"id":"e9b5037f.04302","port":0}]}]},{"id":"ff78f729.662a38","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":1957.0148887634277,"y":54,"wires":[{"id":"6056f0a8.2aa69"}]}],"out":[{"x":2722.8716440200806,"y":55.28568649291992,"wires":[{"id":"95efb55d.8a9a78","port":0}]}],"status":{"x":2720,"y":100,"wires":[{"id":"95efb55d.8a9a78","port":0}]}},{"id":"4eac5297.07289c","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":2078.651309967041,"y":153.0057258605957,"wires":[{"id":"cd39add1.6dd62"}]}],"out":[{"x":3118.650531768799,"y":129.00568199157715,"wires":[{"id":"ae4f5f74.58296","port":0}]}]},{"id":"828b3ec7.3c937","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"4b0b45d3.4d98bc"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"4adad3e1.9126ec","port":0}]}]},{"id":"1ea5c431.a4e98c","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"ac3b5454.67c358"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"6f7eeb18.66acc4","port":0}]}]},{"id":"cc90d1e1.c3072","type":"subflow","name":"LIGHT_KITCHEN","info":"","category":"","in":[{"x":2418.0147857666016,"y":475.00567531585693,"wires":[{"id":"a272288a.e22348"}]}],"out":[{"x":3091.01473236084,"y":473.0056140422821,"wires":[{"id":"c8f0bf8d.aa97f","port":0}]}]},{"id":"55f587fa.c178a8","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"1089562d.0fe37a"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"a28f2fe4.b204e","port":0}]}]},{"id":"c822fb6f.abc598","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"219b8cc0.1324d4"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"6e8885b9.aec25c","port":0}]}]},{"id":"bbc8c469.69f8f8","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"9f8a3ba1.92a008"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"b55e9616.e99da8","port":0}]}]},{"id":"12ae3122.6474df","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"170d8160.e9b2af"}]}],"out":[{"x":1460,"y":2560,"wires":[{"id":"36ce21c.4311cde","port":0}]}]},{"id":"9f5dc3d4.1274d","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"becfe9b8.bf4568"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"19c25b42.56bd15","port":0}]}]},{"id":"580aae57.62bbb","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"a7bdfd1b.2acdd"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"8dfeb33e.ada42","port":0}]}]},{"id":"23b521d7.35e51e","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"df19050.57a53f8"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"8df6161c.64f4b8","port":0}]}]},{"id":"9500baa0.439908","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"99880c63.327fe"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"f4a69bae.653398","port":0}]}]},{"id":"cb3153b9.67324","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"654503b8.f83fec"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"7b5d1d2.3e37be4","port":0}]}]},{"id":"b15b4cd3.28099","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"3339ce67.d11af2"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"8a525330.efd2a","port":0}]}]},{"id":"9c7e3964.913ae8","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"cbe2454d.cde608"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"20f6dc40.4343b4","port":0}]}]},{"id":"34e650ca.dc288","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"f5dab23d.a6e2e"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"53377b0c.e3c7c4","port":0}]}]},{"id":"fad53b19.1ce498","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"21ed6243.48e5ce"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"21568612.95ceba","port":0}]}]},{"id":"747de9f5.de8658","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"fee500b0.1250c"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"e1907298.a32f7","port":0}]}]},{"id":"ef0c0770.c1cfa8","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"22e95c7c.155a44"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"4a878f14.b2f8f","port":0}]}]},{"id":"aad22253.ae3b9","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"a326237c.99671"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"542d6542.1582dc","port":0}]}]},{"id":"18623255.50f4be","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"9244a4cb.0cee18"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"111811af.d24e4e","port":0}]}]},{"id":"f26df438.2abe88","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"8b8698d.7d99e68"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"860623b.74952e","port":0}]}]},{"id":"dbbfadde.9689a","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"d31d5c09.bebb1"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"1de67bd8.636034","port":0}]}]},{"id":"ccb4edfb.1dea3","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"1f912f3a.7c26b1"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"f65981f1.ab16c","port":0}]}]},{"id":"73c7999e.e5d658","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"2f3a8d8e.b574a2"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"79016f41.4b1d9","port":0}]}]},{"id":"b9b18b3f.5b2808","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"98990f9d.acf39"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"1cfdb5fb.ae4dda","port":0}]}]},{"id":"4b258ef3.9c2f4","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"f3f5f8c5.c21e98"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"d3cfe36d.c755d","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"4a3d1099.19a18","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"a6cc8f0e.463c8"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"c749a364.cea1b","port":0}]}]},{"id":"1e888c0c.f56d94","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"ce203f5f.7c274"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"565e619.13975a","port":0}]}]},{"id":"98dd05c1.410e68","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"f2ee2473.6442f8"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"253bffa6.3b506","port":0}]}]},{"id":"f377a1cd.122af","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":1682.8717193603516,"y":1390.6810283660889,"wires":[{"id":"12ec30f1.f8eb2f","port":0}]},{"x":1692.4431533813477,"y":1480.1097316741943,"wires":[{"id":"ba026b37.7e0318","port":0}]}]},{"id":"968adc75.6dc17","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"97d01927.27caa8"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"21d7e709.482d28","port":0}]}]},{"id":"5eb3f5bc.f8067c","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"ed75f586.aa3fc8"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"2626258a.4ed5ea","port":0}]}]},{"id":"15768c54.7b9684","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"d577866a.46e458"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"687d626a.ebd47c","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"687d626a.ebd47c","port":0}]}},{"id":"49ae78bf.06b138","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"a505f119.47803"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"c60ab444.3ddcb8","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"c60ab444.3ddcb8","port":0}]}},{"id":"af57e217.aba83","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"5d7b518d.0e04b"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"aa477155.4649e","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"aa477155.4649e","port":0}]}},{"id":"bc6b523f.42f61","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"363af632.96b29a"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"c26a7ee1.d4045","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"c26a7ee1.d4045","port":0}]}},{"id":"d9d8cab4.c71688","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"c07ee3e.574252","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"dc8118a4.968a18"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"6a1101f7.95eea","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"6a1101f7.95eea","port":0}]}},{"id":"b08fae39.97525","type":"subflow","name":"SUB_HEATER_BATHROOM","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"9d9cf31c.1117c"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"f02d5dba.8bff","port":0}]}],"env":[],"status":{"x":900,"y":40,"wires":[{"id":"f02d5dba.8bff","port":0}]}},{"id":"4129d18d.5d3a","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"a8271601.50b198","disp":true,"width":"6","collapse":false},{"id":"43bd85f8.6b4f8c","type":"ui_group","z":"","name":"KÜCHE","tab":"4a61c5b3.abd14c","order":1,"disp":true,"width":"6"},{"id":"40915a84.c98de4","type":"ui_group","z":"","name":"FENSTERBANK","tab":"68780f15.14e31","order":6,"disp":true,"width":"6"},{"id":"f82e81f6.0c8f8","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"68780f15.14e31","order":2,"disp":true,"width":"6"},{"id":"5e7837b.aa214c8","type":"ui_group","z":"","name":"GALLERIE","tab":"68780f15.14e31","order":3,"disp":true,"width":"6"},{"id":"65f98d30.fbe924","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"68780f15.14e31","order":5,"disp":true,"width":"6"},{"id":"9366ade7.5dc0c","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"68780f15.14e31","order":4,"disp":true,"width":"6"},{"id":"3b3d839c.0a72bc","type":"ui_group","z":"","name":"VORHAUS","tab":"8bf0256.44f4bd8","disp":true,"width":"6","collapse":false},{"id":"a8271601.50b198","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"4a61c5b3.abd14c","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"68780f15.14e31","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"8bf0256.44f4bd8","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"fca3e138.cd145","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2b5537bf.680888","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"714bd325.e26b1c","disp":true,"width":"6"},{"id":"90c8f48e.ebcaf8","type":"ui_group","z":"","name":"KÜCHE","tab":"6166c9f3.020888","order":1,"disp":true,"width":"6"},{"id":"51cf91d5.524e8","type":"ui_group","z":"","name":"FENSTERBANK","tab":"b4fe5149.f188d","order":6,"disp":true,"width":"6"},{"id":"e465c24a.e1294","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"b4fe5149.f188d","order":1,"disp":true,"width":"6"},{"id":"231e252e.453a8a","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"b4fe5149.f188d","order":2,"disp":true,"width":"6"},{"id":"4583df06.ab33c","type":"ui_group","z":"","name":"GALLERIE","tab":"b4fe5149.f188d","order":3,"disp":true,"width":"6"},{"id":"afe98d9.bba4b7","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"b4fe5149.f188d","order":5,"disp":true,"width":"6"},{"id":"e91ce14c.d9e57","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"b4fe5149.f188d","order":4,"disp":true,"width":"6"},{"id":"714bd325.e26b1c","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"6166c9f3.020888","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"b4fe5149.f188d","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"a2055aef.994c08","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"20a6bc6d.9ad274","type":"ui_group","z":"","name":"VORHAUS","tab":"a2055aef.994c08","disp":true,"width":"6","collapse":false},{"id":"f35792e3.f512e","type":"ui_group","name":"Group 2","tab":"714bd325.e26b1c","order":2,"disp":true,"width":6},{"id":"efadee78.c9a47","type":"ui_group","name":"Group 3","tab":"714bd325.e26b1c","order":3,"disp":true,"width":6},{"id":"20d2e479.305a5c","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":5},{"id":"752be375.33f19c","type":"ui_group","z":"","name":"BODEN","tab":"20d2e479.305a5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"91cc9306.37f91","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":6},{"id":"a8122fd9.aa1f6","type":"ui_group","z":"","name":"LICHTER","tab":"91cc9306.37f91","order":1,"disp":true,"width":"6","collapse":false},{"id":"fca1d98b.025148","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":7},{"id":"d5d3cb02.ea5a98","type":"ui_group","z":"","name":"LICHTER","tab":"fca1d98b.025148","order":1,"disp":true,"width":"6","collapse":false},{"id":"401290d3.811b1","type":"ui_group","z":"","name":"LUEFTER","tab":"fca1d98b.025148","order":2,"disp":true,"width":"6","collapse":false},{"id":"e99c0af8.d09ba8","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":8},{"id":"5893759.0a69d8c","type":"ui_group","z":"","name":"Lichter","tab":"e99c0af8.d09ba8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c6e5cc.9d95da","type":"ui_group","z":"","name":"Heizung","tab":"91cc9306.37f91","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a55726c.faf83e","type":"ui_group","z":"","name":"Heizkörper","tab":"a2055aef.994c08","order":2,"disp":true,"width":"6","collapse":false},{"id":"6056f0a8.2aa69","type":"ui_switch","z":"ff78f729.662a38","name":"BOILER","label":"WARMWASSER","group":"2b5537bf.680888","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2097.0148887634277,"y":54,"wires":[["95efb55d.8a9a78"]]},{"id":"f85f1d44.c106","type":"udp out","z":"4ad434ad.37f44c","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":3424.1574058532715,"y":1132.4283080101013,"wires":[]},{"id":"b6e9385e.0a49c8","type":"udp in","z":"4ad434ad.37f44c","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1980,"y":500,"wires":[["8d96d586.b418f8"]]},{"id":"8d96d586.b418f8","type":"function","z":"4ad434ad.37f44c","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":580,"wires":[["8aee73cb.4d37d"]]},{"id":"95efb55d.8a9a78","type":"function","z":"ff78f729.662a38","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2461.443099975586,"y":55.28568363189697,"wires":[[]]},{"id":"b7b832.9cf227d","type":"catch","z":"4ad434ad.37f44c","name":"","scope":["b6e9385e.0a49c8","f85f1d44.c106"],"x":1320.5146369934082,"y":1418.000298500061,"wires":[["14fbd104.3231af"]]},{"id":"14fbd104.3231af","type":"ui_toast","z":"4ad434ad.37f44c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1479.8015403747559,"y":1542.6991243362427,"wires":[]},{"id":"ae4f5f74.58296","type":"function","z":"4eac5297.07289c","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2918.650531768799,"y":129.00568199157715,"wires":[[]]},{"id":"4adad3e1.9126ec","type":"function","z":"828b3ec7.3c937","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"6f7eeb18.66acc4","type":"function","z":"1ea5c431.a4e98c","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"cd39add1.6dd62","type":"ui_switch","z":"4eac5297.07289c","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"90c8f48e.ebcaf8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2278.651309967041,"y":153.0057258605957,"wires":[["ae4f5f74.58296"]]},{"id":"4b0b45d3.4d98bc","type":"ui_switch","z":"828b3ec7.3c937","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"51cf91d5.524e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["4adad3e1.9126ec"]]},{"id":"ac3b5454.67c358","type":"ui_switch","z":"1ea5c431.a4e98c","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"2b5537bf.680888","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["6f7eeb18.66acc4"]]},{"id":"a272288a.e22348","type":"ui_switch","z":"cc90d1e1.c3072","name":"LIGHT KITCHEN","label":"ALLE KÜCHENLICHTER","group":"90c8f48e.ebcaf8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2588.0147857666016,"y":475.00567531585693,"wires":[["c8f0bf8d.aa97f"]]},{"id":"c8f0bf8d.aa97f","type":"function","z":"cc90d1e1.c3072","name":"LIGHT KITCHEN COMMAND","func":"var result;\nvar ResultOn  = \"TURN-ALL-KITCHEN-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-KITCHEN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2881.01473236084,"y":473.0056140422821,"wires":[[]]},{"id":"4b236643.f864f8","type":"ui_switch","z":"4ad434ad.37f44c","name":"ALL LIGHTS","label":"ALLE LICHTER ","group":"2b5537bf.680888","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1853.0148620605469,"y":1668.4342374801636,"wires":[["6febb9d9.005818","f4b30151.f52e1","591ba7b2.dfa7d8","86375474.d42c18","9257713d.8a4a2","380d45d6.1bacea","aa2c07a5.fbd158","f9c64509.2f0c38","733a3c95.5de2b4","cbda8064.abd1e","8b38e7fb.127218","a1dbebc2.d17c28","c23ac5d1.f17e98","f0c40326.5975e","6cb4f2bd.27a51c","a023be79.05dfc","e9aad84a.923af8","bf8c59ec.4aa9e8","3b90eedc.30f792","bd8e7a73.679008","6f8ef1d3.b0bdc","6fd13b7c.33e244","a659b54c.66a5e8","b1b28cf0.c319c","a6cda362.a6546","36bb2644.51495a","3e4c7f5d.37181","36bd787d.5d8ca8","fe9df74.cd0ac08","c65ffe1a.52376","410ec4ce.f8513c","5d44687d.38f4b8"]]},{"id":"6febb9d9.005818","type":"function","z":"4ad434ad.37f44c","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2865.300277709961,"y":861.577075958252,"wires":[["f85f1d44.c106"]]},{"id":"33ac662f.95ab2a","type":"function","z":"4ad434ad.37f44c","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2887.0145721435547,"y":1069.0058012008667,"wires":[["f85f1d44.c106"]]},{"id":"f4b30151.f52e1","type":"ui_switch","z":"4ad434ad.37f44c","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"e465c24a.e1294","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2290.5715942382812,"y":825.8629274368286,"wires":[["33ac662f.95ab2a","c7c07aab.fb2348","bdc6f9a0.979dd8","c094eb75.6415b8","444da39e.1ef11c","bdac8915.f86ed8"]]},{"id":"a28f2fe4.b204e","type":"function","z":"55f587fa.c178a8","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"1089562d.0fe37a","type":"ui_switch","z":"55f587fa.c178a8","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"51cf91d5.524e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["a28f2fe4.b204e"]]},{"id":"6e8885b9.aec25c","type":"function","z":"c822fb6f.abc598","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"219b8cc0.1324d4","type":"ui_switch","z":"c822fb6f.abc598","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"90c8f48e.ebcaf8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["6e8885b9.aec25c"]]},{"id":"9f8a3ba1.92a008","type":"ui_switch","z":"bbc8c469.69f8f8","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"e465c24a.e1294","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["b55e9616.e99da8"]]},{"id":"b55e9616.e99da8","type":"function","z":"bbc8c469.69f8f8","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"a7bdfd1b.2acdd","type":"ui_switch","z":"580aae57.62bbb","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"231e252e.453a8a","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["8dfeb33e.ada42"]]},{"id":"8dfeb33e.ada42","type":"function","z":"580aae57.62bbb","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"df19050.57a53f8","type":"ui_switch","z":"23b521d7.35e51e","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"231e252e.453a8a","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["8df6161c.64f4b8"]]},{"id":"8df6161c.64f4b8","type":"function","z":"23b521d7.35e51e","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"591ba7b2.dfa7d8","type":"ui_switch","z":"4ad434ad.37f44c","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"51cf91d5.524e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2321.0007553100586,"y":772.0057487487793,"wires":[["40f380b1.5428f","c7c07aab.fb2348"]]},{"id":"337249d0.0bb1b6","type":"ui_dropdown","z":"f377a1cd.122af","name":"SCENARIOS","label":"SCENARIOS","place":"Select option","group":"2b5537bf.680888","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":1266.428611755371,"y":1429.4943237304688,"wires":[["12ec30f1.f8eb2f","ba026b37.7e0318"]]},{"id":"12ec30f1.f8eb2f","type":"function","z":"f377a1cd.122af","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1522.8717193603516,"y":1390.6810283660889,"wires":[[]]},{"id":"ba026b37.7e0318","type":"function","z":"f377a1cd.122af","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1512.4431533813477,"y":1480.1097316741943,"wires":[[]]},{"id":"99880c63.327fe","type":"ui_switch","z":"9500baa0.439908","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"4583df06.ab33c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["f4a69bae.653398"]]},{"id":"f4a69bae.653398","type":"function","z":"9500baa0.439908","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"cbe2454d.cde608","type":"ui_switch","z":"9c7e3964.913ae8","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"4583df06.ab33c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["20f6dc40.4343b4"]]},{"id":"20f6dc40.4343b4","type":"function","z":"9c7e3964.913ae8","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"f5dab23d.a6e2e","type":"ui_switch","z":"34e650ca.dc288","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"4583df06.ab33c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["53377b0c.e3c7c4"]]},{"id":"53377b0c.e3c7c4","type":"function","z":"34e650ca.dc288","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"fee500b0.1250c","type":"ui_switch","z":"747de9f5.de8658","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"231e252e.453a8a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["e1907298.a32f7"]]},{"id":"e1907298.a32f7","type":"function","z":"747de9f5.de8658","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"22e95c7c.155a44","type":"ui_switch","z":"ef0c0770.c1cfa8","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"e465c24a.e1294","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["4a878f14.b2f8f"]]},{"id":"4a878f14.b2f8f","type":"function","z":"ef0c0770.c1cfa8","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"57bfe480.4a467c","type":"ui_button","z":"4ad434ad.37f44c","name":"RESET","group":"2b5537bf.680888","order":6,"width":0,"height":0,"passthru":false,"label":"ALLE LICHTER  AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":1546.456787109375,"y":1284.956298828125,"wires":[["4b236643.f864f8","6febb9d9.005818","591ba7b2.dfa7d8","f4b30151.f52e1","9257713d.8a4a2","40f380b1.5428f","380d45d6.1bacea","aa2c07a5.fbd158","c7c07aab.fb2348","bdc6f9a0.979dd8","c094eb75.6415b8","f9c64509.2f0c38","733a3c95.5de2b4","444da39e.1ef11c","bdac8915.f86ed8","cbda8064.abd1e","8b38e7fb.127218","a1dbebc2.d17c28","c23ac5d1.f17e98","f0c40326.5975e","6cb4f2bd.27a51c","a023be79.05dfc","e9aad84a.923af8","bf8c59ec.4aa9e8","3b90eedc.30f792","bd8e7a73.679008","6f8ef1d3.b0bdc","6fd13b7c.33e244","a659b54c.66a5e8","b1b28cf0.c319c","a6cda362.a6546","36bb2644.51495a","3e4c7f5d.37181","36bd787d.5d8ca8","fe9df74.cd0ac08","c65ffe1a.52376","410ec4ce.f8513c","5d44687d.38f4b8","bc129015.4991e"]]},{"id":"a326237c.99671","type":"ui_switch","z":"aad22253.ae3b9","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"231e252e.453a8a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["542d6542.1582dc"]]},{"id":"542d6542.1582dc","type":"function","z":"aad22253.ae3b9","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"9244a4cb.0cee18","type":"ui_switch","z":"18623255.50f4be","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"afe98d9.bba4b7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["111811af.d24e4e"]]},{"id":"111811af.d24e4e","type":"function","z":"18623255.50f4be","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"1f912f3a.7c26b1","type":"ui_switch","z":"ccb4edfb.1dea3","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"afe98d9.bba4b7","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["f65981f1.ab16c"]]},{"id":"f65981f1.ab16c","type":"function","z":"ccb4edfb.1dea3","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"2f3a8d8e.b574a2","type":"ui_switch","z":"73c7999e.e5d658","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"afe98d9.bba4b7","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["79016f41.4b1d9"]]},{"id":"79016f41.4b1d9","type":"function","z":"73c7999e.e5d658","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"98990f9d.acf39","type":"ui_switch","z":"b9b18b3f.5b2808","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"afe98d9.bba4b7","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["1cfdb5fb.ae4dda"]]},{"id":"1cfdb5fb.ae4dda","type":"function","z":"b9b18b3f.5b2808","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"f3f5f8c5.c21e98","type":"ui_switch","z":"4b258ef3.9c2f4","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["d3cfe36d.c755d"]]},{"id":"d3cfe36d.c755d","type":"function","z":"4b258ef3.9c2f4","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"a6cc8f0e.463c8","type":"ui_switch","z":"4a3d1099.19a18","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["c749a364.cea1b"]]},{"id":"c749a364.cea1b","type":"function","z":"4a3d1099.19a18","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"ce203f5f.7c274","type":"ui_switch","z":"1e888c0c.f56d94","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["565e619.13975a"]]},{"id":"565e619.13975a","type":"function","z":"1e888c0c.f56d94","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"f2ee2473.6442f8","type":"ui_switch","z":"98dd05c1.410e68","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["253bffa6.3b506"]]},{"id":"253bffa6.3b506","type":"function","z":"98dd05c1.410e68","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"d31d5c09.bebb1","type":"ui_switch","z":"dbbfadde.9689a","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["1de67bd8.636034"]]},{"id":"1de67bd8.636034","type":"function","z":"dbbfadde.9689a","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"8b8698d.7d99e68","type":"ui_switch","z":"f26df438.2abe88","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["860623b.74952e"]]},{"id":"860623b.74952e","type":"function","z":"f26df438.2abe88","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"21ed6243.48e5ce","type":"ui_switch","z":"fad53b19.1ce498","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["21568612.95ceba"]]},{"id":"21568612.95ceba","type":"function","z":"fad53b19.1ce498","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"3339ce67.d11af2","type":"ui_switch","z":"b15b4cd3.28099","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["8a525330.efd2a"]]},{"id":"8a525330.efd2a","type":"function","z":"b15b4cd3.28099","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"654503b8.f83fec","type":"ui_switch","z":"cb3153b9.67324","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["7b5d1d2.3e37be4"]]},{"id":"7b5d1d2.3e37be4","type":"function","z":"cb3153b9.67324","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"becfe9b8.bf4568","type":"ui_switch","z":"9f5dc3d4.1274d","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["19c25b42.56bd15"]]},{"id":"19c25b42.56bd15","type":"function","z":"9f5dc3d4.1274d","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"170d8160.e9b2af","type":"ui_switch","z":"12ae3122.6474df","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"e91ce14c.d9e57","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["36ce21c.4311cde"]]},{"id":"36ce21c.4311cde","type":"function","z":"12ae3122.6474df","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[[]]},{"id":"55af3884.46f458","type":"ui_switch","z":"9f93dd30.e8aa7","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"20a6bc6d.9ad274","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":3175.999973297119,"y":2345.667085647583,"wires":[["e9b5037f.04302"]]},{"id":"e9b5037f.04302","type":"function","z":"9f93dd30.e8aa7","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3620.1288146972656,"y":2452.5660724639893,"wires":[[]]},{"id":"86375474.d42c18","type":"subflow:9f93dd30.e8aa7","z":"4ad434ad.37f44c","name":"ANTEROOM_MAIN_LIGHT","x":2862.8516998291016,"y":941.4739027023315,"wires":[["f85f1d44.c106"]]},{"id":"8aee73cb.4d37d","type":"subflow:ff78f729.662a38","z":"4ad434ad.37f44c","name":"BOILER","env":[],"x":2880.0861282348633,"y":605.0714473724365,"wires":[["f85f1d44.c106"]]},{"id":"9257713d.8a4a2","type":"subflow:4eac5297.07289c","z":"4ad434ad.37f44c","name":"FRONTLIGHTS_KITCHEN","x":2849.365036010742,"y":661.5772304534912,"wires":[["f85f1d44.c106"]]},{"id":"40f380b1.5428f","type":"subflow:828b3ec7.3c937","z":"4ad434ad.37f44c","name":"LIGHT_WINDOW_LEDGE_EAST","x":2849.7940216064453,"y":714.4341616630554,"wires":[["f85f1d44.c106"]]},{"id":"380d45d6.1bacea","type":"subflow:1ea5c431.a4e98c","z":"4ad434ad.37f44c","name":"LIGHT_OUTSIDE","x":2873.0081634521484,"y":771.5770959854126,"wires":[["f85f1d44.c106"]]},{"id":"aa2c07a5.fbd158","type":"subflow:cc90d1e1.c3072","z":"4ad434ad.37f44c","name":"LIGHT_KITCHEN","x":2876.800537109375,"y":826.7200574874878,"wires":[["f85f1d44.c106"]]},{"id":"c7c07aab.fb2348","type":"subflow:55f587fa.c178a8","z":"4ad434ad.37f44c","name":"LIGHT_WINDOW_LEDGE_WEST","x":2867.5145111083984,"y":1029.7329502105713,"wires":[["f85f1d44.c106"]]},{"id":"bdc6f9a0.979dd8","type":"subflow:c822fb6f.abc598","z":"4ad434ad.37f44c","name":"LIGHT_KITCHENBOARD_DOWN","x":2884.0146255493164,"y":1105.9274473190308,"wires":[["f85f1d44.c106"]]},{"id":"c094eb75.6415b8","type":"subflow:bbc8c469.69f8f8","z":"4ad434ad.37f44c","name":"LIGHT_WALL_WEST","x":2875.5143127441406,"y":1145.8951478004456,"wires":[["f85f1d44.c106"]]},{"id":"f9c64509.2f0c38","type":"subflow:12ae3122.6474df","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_11","env":[],"x":2860.158660888672,"y":2219.6552715301514,"wires":[["f85f1d44.c106"]]},{"id":"733a3c95.5de2b4","type":"subflow:9f5dc3d4.1274d","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_10","x":2860.4440307617188,"y":2171.2984981536865,"wires":[["f85f1d44.c106"]]},{"id":"444da39e.1ef11c","type":"subflow:580aae57.62bbb","z":"4ad434ad.37f44c","name":"LIGHT_DOOR_ENTRY_LEFT","x":2904.5143661499023,"y":1193.323618888855,"wires":[["f85f1d44.c106"]]},{"id":"bdac8915.f86ed8","type":"subflow:23b521d7.35e51e","z":"4ad434ad.37f44c","name":"LIGHT_TRIANGLE_WEST","x":2891.287040710449,"y":1245.2329640388489,"wires":[["f85f1d44.c106"]]},{"id":"cbda8064.abd1e","type":"subflow:9500baa0.439908","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_DOWN","x":2887.7285537719727,"y":1293.6613845825195,"wires":[["f85f1d44.c106"]]},{"id":"8b38e7fb.127218","type":"subflow:cb3153b9.67324","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_9","x":2862.2303314208984,"y":2127.798225402832,"wires":[["f85f1d44.c106"]]},{"id":"a1dbebc2.d17c28","type":"subflow:b15b4cd3.28099","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_8","x":2871.0870971679688,"y":2077.583867073059,"wires":[["f85f1d44.c106"]]},{"id":"c23ac5d1.f17e98","type":"subflow:9c7e3964.913ae8","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP","x":2877.0285720825195,"y":1343.0113229751587,"wires":[["f85f1d44.c106"]]},{"id":"f0c40326.5975e","type":"subflow:34e650ca.dc288","z":"4ad434ad.37f44c","name":"LIGHT_TRIANGLE_UP","x":2888.265655517578,"y":1389.7264680862427,"wires":[["f85f1d44.c106"]]},{"id":"6cb4f2bd.27a51c","type":"subflow:fad53b19.1ce498","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_7","x":2864.1585540771484,"y":2036.5840816497803,"wires":[["f85f1d44.c106"]]},{"id":"a023be79.05dfc","type":"subflow:747de9f5.de8658","z":"4ad434ad.37f44c","name":"LIGHT_MAIN_DOOR","x":2869.0077896118164,"y":1432.999935388565,"wires":[["f85f1d44.c106"]]},{"id":"e9aad84a.923af8","type":"subflow:ef0c0770.c1cfa8","z":"4ad434ad.37f44c","name":"LIGHT_WINDOW_UP_EAST","x":2857.2291946411133,"y":1487.1986961364746,"wires":[["f85f1d44.c106"]]},{"id":"bf8c59ec.4aa9e8","type":"subflow:aad22253.ae3b9","z":"4ad434ad.37f44c","name":"LIGHT_RIGHT_NEXT_DOOR","x":2853.5872192382812,"y":1528.1550788879395,"wires":[["f85f1d44.c106"]]},{"id":"3b90eedc.30f792","type":"subflow:18623255.50f4be","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_DOWN_1","x":2883.4087677001953,"y":1576.0124769210815,"wires":[["f85f1d44.c106"]]},{"id":"bd8e7a73.679008","type":"subflow:f26df438.2abe88","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_6","x":2854.8018951416016,"y":1984.5126333236694,"wires":[["f85f1d44.c106"]]},{"id":"6f8ef1d3.b0bdc","type":"subflow:dbbfadde.9689a","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_5","x":2859.373176574707,"y":1933.798194885254,"wires":[["f85f1d44.c106"]]},{"id":"6fd13b7c.33e244","type":"subflow:ccb4edfb.1dea3","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_DOWN_2","x":2889.9287338256836,"y":1620.6192979812622,"wires":[["f85f1d44.c106"]]},{"id":"a659b54c.66a5e8","type":"subflow:73c7999e.e5d658","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_DOWN_3","x":2888.6902923583984,"y":1666.452688217163,"wires":[["f85f1d44.c106"]]},{"id":"b1b28cf0.c319c","type":"subflow:b9b18b3f.5b2808","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_DOWN_4","x":2890.2620162963867,"y":1708.4529342651367,"wires":[["f85f1d44.c106"]]},{"id":"a6cda362.a6546","type":"subflow:4b258ef3.9c2f4","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_1","env":[],"x":2883.1432037353516,"y":1748.7625064849854,"wires":[["f85f1d44.c106"]]},{"id":"36bb2644.51495a","type":"subflow:4a3d1099.19a18","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_2","x":2871.6583938598633,"y":1796.2982158660889,"wires":[["f85f1d44.c106"]]},{"id":"3e4c7f5d.37181","type":"subflow:1e888c0c.f56d94","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_3","x":2866.8013458251953,"y":1840.5125999450684,"wires":[["f85f1d44.c106"]]},{"id":"36bd787d.5d8ca8","type":"subflow:98dd05c1.410e68","z":"4ad434ad.37f44c","name":"LIGHT_GALLERY_UP_4","x":2861.1587677001953,"y":1887.7982196807861,"wires":[["f85f1d44.c106"]]},{"id":"3232ae76.552792","type":"subflow:f377a1cd.122af","z":"4ad434ad.37f44c","name":"SCENARIOS","env":[],"x":1820.6500701904297,"y":1575.3953647613525,"wires":[["40f380b1.5428f","c7c07aab.fb2348"],["444da39e.1ef11c","bdac8915.f86ed8"]]},{"id":"97d01927.27caa8","type":"ui_switch","z":"968adc75.6dc17","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"752be375.33f19c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["21d7e709.482d28"]]},{"id":"21d7e709.482d28","type":"function","z":"968adc75.6dc17","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"fe9df74.cd0ac08","type":"subflow:968adc75.6dc17","z":"4ad434ad.37f44c","name":"","x":2844.5243072509766,"y":984.368049621582,"wires":[["f85f1d44.c106"]]},{"id":"ed75f586.aa3fc8","type":"ui_switch","z":"5eb3f5bc.f8067c","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"a8122fd9.aa1f6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["2626258a.4ed5ea"]]},{"id":"2626258a.4ed5ea","type":"function","z":"5eb3f5bc.f8067c","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"c65ffe1a.52376","type":"subflow:5eb3f5bc.f8067c","z":"4ad434ad.37f44c","name":"","x":2930,"y":540,"wires":[["f85f1d44.c106"]]},{"id":"d577866a.46e458","type":"ui_switch","z":"15768c54.7b9684","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"d5d3cb02.ea5a98","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["687d626a.ebd47c"]]},{"id":"687d626a.ebd47c","type":"function","z":"15768c54.7b9684","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"410ec4ce.f8513c","type":"subflow:15768c54.7b9684","z":"4ad434ad.37f44c","name":"","env":[],"x":3030,"y":380,"wires":[["f85f1d44.c106"]]},{"id":"a505f119.47803","type":"ui_switch","z":"49ae78bf.06b138","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"20a6bc6d.9ad274","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["c60ab444.3ddcb8"]]},{"id":"c60ab444.3ddcb8","type":"function","z":"49ae78bf.06b138","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"5d44687d.38f4b8","type":"subflow:49ae78bf.06b138","z":"4ad434ad.37f44c","name":"","x":2862.403091430664,"y":899.6111755371094,"wires":[["f85f1d44.c106"]]},{"id":"5d7b518d.0e04b","type":"ui_switch","z":"af57e217.aba83","name":"HEATER WEST","label":"Heizkörper West","group":"e465c24a.e1294","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["aa477155.4649e"]]},{"id":"aa477155.4649e","type":"function","z":"af57e217.aba83","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"849be6e7.cadf28","type":"subflow:af57e217.aba83","z":"4ad434ad.37f44c","name":"","env":[],"x":3060,"y":320,"wires":[["f85f1d44.c106"]]},{"id":"363af632.96b29a","type":"ui_switch","z":"bc6b523f.42f61","name":"HEATER EAST","label":"Heizkörper Osten","group":"e465c24a.e1294","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["c26a7ee1.d4045"]]},{"id":"c26a7ee1.d4045","type":"function","z":"bc6b523f.42f61","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"baaf0e9e.45499","type":"subflow:bc6b523f.42f61","z":"4ad434ad.37f44c","name":"","env":[],"x":3136.000328063965,"y":169.00000762939453,"wires":[["f85f1d44.c106"]]},{"id":"1a1daac6.97b035","type":"ui_button","z":"4ad434ad.37f44c","name":"HEATERSOFF","group":"2b5537bf.680888","order":5,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":2746.0002059936523,"y":187,"wires":[["baaf0e9e.45499","849be6e7.cadf28","9804855e.864f58"]]},{"id":"a9125a13.9849c8","type":"ui_button","z":"4ad434ad.37f44c","name":"HEATERSON","group":"2b5537bf.680888","order":5,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":2738.0002059936523,"y":289.9999942779541,"wires":[["baaf0e9e.45499","849be6e7.cadf28","9804855e.864f58"]]},{"id":"b30f7400.4eab78","type":"ui_button","z":"4d03f54d.aa03ec","name":"GallerieOben_Ein","group":"e91ce14c.d9e57","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["75c76d24.0debe4"]]},{"id":"5709b29a.d2199c","type":"link in","z":"4ad434ad.37f44c","name":"","links":["75c76d24.0debe4"],"x":2478,"y":2121,"wires":[["a6cda362.a6546","36bb2644.51495a","3e4c7f5d.37181","36bd787d.5d8ca8","6f8ef1d3.b0bdc","bd8e7a73.679008","6cb4f2bd.27a51c","a1dbebc2.d17c28","8b38e7fb.127218","733a3c95.5de2b4","f9c64509.2f0c38"]]},{"id":"75c76d24.0debe4","type":"link out","z":"4d03f54d.aa03ec","name":"","links":["5709b29a.d2199c"],"x":715,"y":160,"wires":[]},{"id":"e4a9db8c.e980b8","type":"ui_button","z":"4d03f54d.aa03ec","name":"GallerieOben_Aus","group":"e91ce14c.d9e57","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["75c76d24.0debe4"]]},{"id":"6a1101f7.95eea","type":"function","z":"c07ee3e.574252","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"dc8118a4.968a18","type":"ui_button","z":"c07ee3e.574252","name":"ANTEROOM_MIDDLE_OFF","group":"20a6bc6d.9ad274","order":0,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["6a1101f7.95eea"]]},{"id":"bc129015.4991e","type":"subflow:c07ee3e.574252","z":"4ad434ad.37f44c","name":"ANTEROOM_MIDDLE","env":[],"x":3060,"y":440,"wires":[["f85f1d44.c106"]]},{"id":"9d9cf31c.1117c","type":"ui_switch","z":"b08fae39.97525","name":"HEATER BATH","label":"Heizkörper Badezimmer","group":"9c6e5cc.9d95da","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":120,"wires":[["f02d5dba.8bff"]]},{"id":"f02d5dba.8bff","type":"function","z":"b08fae39.97525","name":"HEATER BATH ","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BATH-ON\";\nvar ResultOff = \"TURN-HEATER-BATH-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":784.4282112121582,"y":121.28568363189697,"wires":[[]]},{"id":"9804855e.864f58","type":"subflow:b08fae39.97525","z":"4ad434ad.37f44c","name":"","env":[],"x":3160,"y":100,"wires":[["f85f1d44.c106"]]}]