flows_GEORGLAPTOP.json
[{"id":"9f05e627.eb6228","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"1c0d8d09.1546d3","type":"tab","label":"FLOW_EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"8e9dee1b.9ceb7","type":"tab","label":"FLOW_POWER","disabled":false,"info":""},{"id":"1a1ea712.02fc29","type":"tab","label":"FLOW_HEATERS","disabled":false,"info":""},{"id":"a008d3d.fd1c53","type":"tab","label":"FLOW_GALLERY_UP","disabled":false,"info":""},{"id":"6eac78fd.f60938","type":"tab","label":"FLOW_DOOR_WINDOWS_SOUTHSIDE","disabled":false,"info":""},{"id":"cead3f54.35447","type":"tab","label":"FLOW_ANTEROOM","disabled":false,"info":""},{"id":"d239b4e4.9f0d38","type":"tab","label":"FLOW_WESTSIDE","disabled":false,"info":""},{"id":"b1841b5a.6fb908","type":"tab","label":"FLOW_KITCHEN","disabled":false,"info":""},{"id":"9aff33f2.ea5c4","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"6afd22b7.bad9cc"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"de0de175.4daf2","port":0}]}],"status":{"x":760,"y":120,"wires":[{"id":"de0de175.4daf2","port":0}]}},{"id":"8e6c8c66.e53bd","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"43ecced1.ac31"}]}],"out":[{"x":805.8567552566528,"y":41.28568649291992,"wires":[{"id":"3d56beda.de82b2","port":0}]}],"status":{"x":802.9851112365723,"y":86,"wires":[{"id":"3d56beda.de82b2","port":0}]}},{"id":"f33e32bc.1882b","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":2078.651309967041,"y":153.0057258605957,"wires":[{"id":"8e80fedc.95271"}]}],"out":[{"x":3118.650531768799,"y":129.00568199157715,"wires":[{"id":"1e70aa31.73a366","port":0}]}]},{"id":"74b3d83.e595928","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"467caaea.531cb4"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"5ca1db4d.3b1f14","port":0}]}]},{"id":"6121c4ac.2b4c6c","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"505feb31.f756e4"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"bc3081fe.07737","port":0}]}]},{"id":"6760ee73.b1c57","type":"subflow","name":"LIGHT_KITCHEN","info":"","category":"","in":[{"x":2418.0147857666016,"y":475.00567531585693,"wires":[{"id":"8a5e1739.705da8"}]}],"out":[{"x":3091.01473236084,"y":473.0056140422821,"wires":[{"id":"74adfbb.8f52404","port":0}]}]},{"id":"95dcd9d8.1c1948","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"b4e152b9.59d0e"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"39770648.be3a2a","port":0}]}]},{"id":"e80aa56c.7f61e8","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"328957ec.a328a8"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"7382bffc.b5d9","port":0}]}]},{"id":"68b187c8.4bfaa8","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"d42ff12a.74437"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"83f262cb.257c7","port":0}]}]},{"id":"1beacecd.a76911","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"3f0afe69.db9512"}]}],"out":[{"x":1460,"y":2560,"wires":[{"id":"e652f16.ee7431","port":0}]}]},{"id":"4843e929.6d3478","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"b0165401.a8e438"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"bb91ff89.27052","port":0}]}]},{"id":"1061548a.77c81b","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"d8f6311e.7e1c3"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"4be6de22.7959a","port":0}]}]},{"id":"ef342518.c36c78","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"3c51fd5f.4665f2"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"510ab64e.2a5308","port":0}]}]},{"id":"f1ebf7ce.7cc8b8","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"1674bd3a.f5f0b3"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"acae156d.50da98","port":0}]}]},{"id":"46d78858.f9dfe8","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"7f4caee5.1451b"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"cff6dfc6.14fde","port":0}]}]},{"id":"37b4efd8.01ca","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"5f4d7aa0.4412c4"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"52481ddb.ad48c4","port":0}]}]},{"id":"38c7f61e.daa7da","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"2ce4571.26927a8"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"5bdfa019.1fe4a","port":0}]}]},{"id":"3e7cf0a7.92b13","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"ddfd5892.6316d8"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"44351384.eb1b3c","port":0}]}]},{"id":"61dfbb8e.0db504","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"f0e63273.97932"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"e07af0bf.8e7d8","port":0}]}]},{"id":"684c4da1.b77514","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"261fff80.89d13"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"d12d4b66.3dffb8","port":0}]}]},{"id":"dcffbaad.239388","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"44a65e7.ed0a3a"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"b27df8ce.82fbf8","port":0}]}]},{"id":"87f14caa.292dd","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"3561849.53e097c"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"bf094452.fff598","port":0}]}]},{"id":"f08d5410.7c0838","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"b7120816.e30208"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"8e64a50d.717628","port":0}]}]},{"id":"f6a80fbd.26ae","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"86098b73.511688"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"4f2be12c.8da1","port":0}]}]},{"id":"dcf80a9b.b630e8","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"63ae65b2.a4764c"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"5ccc616c.11d6f","port":0}]}]},{"id":"8267a33.164746","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"4e2a22ef.6afcac"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"d05a2820.5945b8","port":0}]}]},{"id":"7f123fcc.feb26","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"e4ff6cf5.3952f"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"10d87a49.e97166","port":0}]}]},{"id":"88ffbdcf.27e98","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"a9e304bb.deed18"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"30799f13.5501","port":0}]}]},{"id":"b3578d82.625dc","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"7078ebd4.540084"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"dbbc7f37.9e9b5","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"86b5dc60.7e1be","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"6e07158c.19a25c"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"246d3324.87997c","port":0}]}]},{"id":"32bf5424.74695c","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"c512571f.2b96b8"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"52d1a568.0a91fc","port":0}]}]},{"id":"f41bb25f.0c001","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"307f0b50.48e674"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"8ad521d1.6ca82","port":0}]}]},{"id":"7e60f600.2a725c","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":740,"y":100,"wires":[{"id":"87d6ab5e.c10f98","port":0}]},{"x":740,"y":220,"wires":[{"id":"ca46163.5a33de8","port":0}]}],"status":{"x":740,"y":160,"wires":[{"id":"3a41f8f4.b67538","port":0}]}},{"id":"106b647a.df708c","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"b852f009.157ad"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"576d0b7a.066774","port":0}]}]},{"id":"d07dfd26.4bf7f","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"7891fd2.659d304"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"d3090bc.9c282f8","port":0}]}]},{"id":"2f602b16.d2c694","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"1e063809.d59928"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"1950da21.19c886","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"1950da21.19c886","port":0}]}},{"id":"a4481727.451838","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"4fcda81a.a14868"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"352b2441.d1911c","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"352b2441.d1911c","port":0}]}},{"id":"2a461f97.af2f9","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"e443893d.662ca8"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"8281eea8.4fd4b","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"8281eea8.4fd4b","port":0}]}},{"id":"1fd37053.6ca36","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"25d1cc87.015ee4"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"3db89b36.941cc4","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"3db89b36.941cc4","port":0}]}},{"id":"3b5438b0.fea128","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"4950d74f.6a82b8","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"4bb02e32.7dcbc"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"f827a7d8.6a7b78","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"f827a7d8.6a7b78","port":0}]}},{"id":"6989dc5f.cbdbf4","type":"subflow","name":"SUB_HEATER_BATHROOM","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"699735b4.9833cc"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"86fa574a.33c128","port":0}]}],"env":[],"status":{"x":900,"y":40,"wires":[{"id":"86fa574a.33c128","port":0}]}},{"id":"613b48b4.cb2768","type":"subflow","name":"FLOW_BOILER","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"695bb1a0.fcbf7"}]}],"out":[{"x":639.9138717651367,"y":94.92855262756348,"wires":[{"id":"220e732e.dbc6cc","port":0}]}],"env":[],"status":{"x":640,"y":40,"wires":[{"id":"220e732e.dbc6cc","port":0}]}},{"id":"e26d2a08.03e308","type":"subflow","name":"FLOW_PLUG_IR","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"af5c74ed.170818"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"37d2df8f.5f89e","port":0}]}],"env":[],"status":{"x":480,"y":20,"wires":[{"id":"37d2df8f.5f89e","port":0}]}},{"id":"f73e386d.de68d8","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"3e361736.fb39c8","disp":true,"width":"6","collapse":false},{"id":"5d509583.7e0d9c","type":"ui_group","z":"","name":"KÜCHE","tab":"a338f724.2f3118","order":1,"disp":true,"width":"6"},{"id":"3a3ca521.6a7f2a","type":"ui_group","z":"","name":"FENSTERBANK","tab":"b9dc07da.540038","order":6,"disp":true,"width":"6"},{"id":"9d1223f5.5f2fb","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"b9dc07da.540038","order":2,"disp":true,"width":"6"},{"id":"2445f507.b1faca","type":"ui_group","z":"","name":"GALLERIE","tab":"b9dc07da.540038","order":3,"disp":true,"width":"6"},{"id":"98d9a043.837a8","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"b9dc07da.540038","order":5,"disp":true,"width":"6"},{"id":"a9cd3e2a.f89cc","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"b9dc07da.540038","order":4,"disp":true,"width":"6"},{"id":"ce7cc7c.d9ad938","type":"ui_group","z":"","name":"VORHAUS","tab":"cc574572.d68df8","disp":true,"width":"6","collapse":false},{"id":"3e361736.fb39c8","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"a338f724.2f3118","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"b9dc07da.540038","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"cc574572.d68df8","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"8d36dbf1.ee1078","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b9ff076.80fcd","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"e6510fea.d5589","disp":true,"width":"6"},{"id":"aaffb0b9.02c13","type":"ui_group","z":"","name":"KÜCHE","tab":"16da7e63.f9ba32","order":1,"disp":true,"width":"6"},{"id":"7ade5ae.93ee0a4","type":"ui_group","z":"","name":"FENSTERBANK","tab":"8794eaee.b83158","order":6,"disp":true,"width":"6"},{"id":"54f83df3.ff8454","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"8794eaee.b83158","order":1,"disp":true,"width":"6"},{"id":"87b3fdaa.44649","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"8794eaee.b83158","order":2,"disp":true,"width":"6"},{"id":"31af13c6.97c51c","type":"ui_group","z":"","name":"GALLERIE","tab":"8794eaee.b83158","order":3,"disp":true,"width":"6"},{"id":"d20ffac8.548f48","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"8794eaee.b83158","order":5,"disp":true,"width":"6"},{"id":"c1032845.865e28","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"8794eaee.b83158","order":4,"disp":true,"width":"6"},{"id":"e6510fea.d5589","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"16da7e63.f9ba32","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"8794eaee.b83158","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"f310eac4.c95ca8","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"8deaa7f3.4f5098","type":"ui_group","z":"","name":"VORHAUS","tab":"f310eac4.c95ca8","disp":true,"width":"6","collapse":false},{"id":"855057f7.cefad8","type":"ui_group","name":"Group 2","tab":"e6510fea.d5589","order":2,"disp":true,"width":6},{"id":"630f98d8.07c9b8","type":"ui_group","name":"Group 3","tab":"e6510fea.d5589","order":3,"disp":true,"width":6},{"id":"1c0ac3f5.8ef4fc","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":5},{"id":"7bcd060a.14f848","type":"ui_group","z":"","name":"BODEN","tab":"1c0ac3f5.8ef4fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"a73c4b82.503eb8","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":6},{"id":"384843ca.3a77dc","type":"ui_group","z":"","name":"LICHTER","tab":"a73c4b82.503eb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f4ad39.fde0d2c","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":7},{"id":"cb5d27e1.f84c68","type":"ui_group","z":"","name":"LICHTER","tab":"3f4ad39.fde0d2c","order":1,"disp":true,"width":"6","collapse":false},{"id":"30c95bf1.90a134","type":"ui_group","z":"","name":"LUEFTER","tab":"3f4ad39.fde0d2c","order":2,"disp":true,"width":"6","collapse":false},{"id":"89847ee4.9779e","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":8},{"id":"a600d83e.f54278","type":"ui_group","z":"","name":"Lichter","tab":"89847ee4.9779e","order":1,"disp":true,"width":"6","collapse":false},{"id":"566538f4.6cae48","type":"ui_group","z":"","name":"Heizung","tab":"a73c4b82.503eb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"7df1ed1b.aaf9f4","type":"ui_group","z":"","name":"Heizkörper","tab":"f310eac4.c95ca8","order":2,"disp":true,"width":"6","collapse":false},{"id":"43ecced1.ac31","type":"ui_switch","z":"8e6c8c66.e53bd","name":"BOILER","label":"WARMWASSER","group":"7b9ff076.80fcd","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":40,"wires":[["3d56beda.de82b2"]]},{"id":"80682b7d.69c728","type":"udp out","z":"9f05e627.eb6228","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":3580,"y":1120,"wires":[]},{"id":"3900cbf5.cf9ea4","type":"udp in","z":"9f05e627.eb6228","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":2740,"y":760,"wires":[["5fc57d61.f10a94"]]},{"id":"695bb1a0.fcbf7","type":"function","z":"613b48b4.cb2768","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["220e732e.dbc6cc"]]},{"id":"3d56beda.de82b2","type":"function","z":"8e6c8c66.e53bd","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":544.4282112121582,"y":41.28568363189697,"wires":[[]]},{"id":"e2a34f6d.7a30e","type":"catch","z":"9f05e627.eb6228","name":"","scope":["f702c4f4.359328","d11179db.4b00c8","c06b7c90.f01f5","db8e698b.1cb928","43d49232.6f44ec","cb9daa77.dff498","52a644b.5fc48bc","1f9d4fc2.e1a9d","b34385ec.2753b8","5a65d8bb.0c0c98","e28b5401.036348","174f6a3c.d670a6","9e0ccec8.e35c6","5737bf6d.7d04a","e6f223c4.c9985","b94246db.6df208","503782ee.c533dc","efa52c1e.e535","cf07f1e5.e232e","53785039.61b07","acaaec64.f30f4","8ac35003.bac8d","c2c1427d.c29b1","32239554.bd7f4a","6de8f093.c6407","39077d5.0a75082","8e30acf1.ca06","893d09d1.0b2648","cd6cf0af.e39ca","575917cd.029e18","1eee44fc.6d6bfb","3900cbf5.cf9ea4","95006846.da5c48","539164fe.96a6bc","80682b7d.69c728","e49aec76.fa491","5fc57d61.f10a94","12b33500.bddf6b"],"uncaught":false,"x":3260,"y":740,"wires":[["e49aec76.fa491"]]},{"id":"e49aec76.fa491","type":"ui_toast","z":"9f05e627.eb6228","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":3420,"y":740,"wires":[]},{"id":"1e70aa31.73a366","type":"function","z":"f33e32bc.1882b","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2918.650531768799,"y":129.00568199157715,"wires":[[]]},{"id":"5ca1db4d.3b1f14","type":"function","z":"74b3d83.e595928","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"bc3081fe.07737","type":"function","z":"6121c4ac.2b4c6c","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"8e80fedc.95271","type":"ui_switch","z":"f33e32bc.1882b","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"aaffb0b9.02c13","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2278.651309967041,"y":153.0057258605957,"wires":[["1e70aa31.73a366"]]},{"id":"467caaea.531cb4","type":"ui_switch","z":"74b3d83.e595928","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"7ade5ae.93ee0a4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["5ca1db4d.3b1f14"]]},{"id":"505feb31.f756e4","type":"ui_switch","z":"6121c4ac.2b4c6c","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"7b9ff076.80fcd","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["bc3081fe.07737"]]},{"id":"8a5e1739.705da8","type":"ui_switch","z":"6760ee73.b1c57","name":"LIGHT KITCHEN","label":"ALLE KÜCHENLICHTER","group":"aaffb0b9.02c13","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2588.0147857666016,"y":475.00567531585693,"wires":[["74adfbb.8f52404"]]},{"id":"74adfbb.8f52404","type":"function","z":"6760ee73.b1c57","name":"LIGHT KITCHEN COMMAND","func":"var result;\nvar ResultOn  = \"TURN-ALL-KITCHEN-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-KITCHEN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2881.01473236084,"y":473.0056140422821,"wires":[[]]},{"id":"f702c4f4.359328","type":"ui_switch","z":"9f05e627.eb6228","name":"ALL LIGHTS","label":"ALLE LICHTER ","group":"7b9ff076.80fcd","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1990,"y":920,"wires":[["cb9daa77.dff498","d11179db.4b00c8","12b33500.bddf6b","efa52c1e.e535","174f6a3c.d670a6","5a65d8bb.0c0c98","39077d5.0a75082","893d09d1.0b2648","e3548a0e.5b3738","c0d3c599.9f92c8"]]},{"id":"cb9daa77.dff498","type":"function","z":"9f05e627.eb6228","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2240,"y":1360,"wires":[["80682b7d.69c728"]]},{"id":"d11179db.4b00c8","type":"ui_switch","z":"9f05e627.eb6228","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"54f83df3.ff8454","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2270,"y":1300,"wires":[["476a1db6.6b6fd4"]]},{"id":"39770648.be3a2a","type":"function","z":"95dcd9d8.1c1948","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"b4e152b9.59d0e","type":"ui_switch","z":"95dcd9d8.1c1948","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"7ade5ae.93ee0a4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["39770648.be3a2a"]]},{"id":"7382bffc.b5d9","type":"function","z":"e80aa56c.7f61e8","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"328957ec.a328a8","type":"ui_switch","z":"e80aa56c.7f61e8","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"aaffb0b9.02c13","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["7382bffc.b5d9"]]},{"id":"d42ff12a.74437","type":"ui_switch","z":"68b187c8.4bfaa8","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"54f83df3.ff8454","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["83f262cb.257c7"]]},{"id":"83f262cb.257c7","type":"function","z":"68b187c8.4bfaa8","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"d8f6311e.7e1c3","type":"ui_switch","z":"1061548a.77c81b","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"87b3fdaa.44649","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["4be6de22.7959a"]]},{"id":"4be6de22.7959a","type":"function","z":"1061548a.77c81b","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"3c51fd5f.4665f2","type":"ui_switch","z":"ef342518.c36c78","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"87b3fdaa.44649","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["510ab64e.2a5308"]]},{"id":"510ab64e.2a5308","type":"function","z":"ef342518.c36c78","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"12b33500.bddf6b","type":"ui_switch","z":"9f05e627.eb6228","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"7ade5ae.93ee0a4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2470,"y":840,"wires":[["c2c1427d.c29b1"]]},{"id":"3a41f8f4.b67538","type":"ui_dropdown","z":"7e60f600.2a725c","name":"SCENARIOS","label":"SCENARIOS","place":"Select option","group":"7b9ff076.80fcd","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":210,"y":160,"wires":[["87d6ab5e.c10f98","ca46163.5a33de8"]]},{"id":"87d6ab5e.c10f98","type":"function","z":"7e60f600.2a725c","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"ca46163.5a33de8","type":"function","z":"7e60f600.2a725c","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[[]]},{"id":"1674bd3a.f5f0b3","type":"ui_switch","z":"f1ebf7ce.7cc8b8","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"31af13c6.97c51c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["acae156d.50da98"]]},{"id":"acae156d.50da98","type":"function","z":"f1ebf7ce.7cc8b8","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"2ce4571.26927a8","type":"ui_switch","z":"38c7f61e.daa7da","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"31af13c6.97c51c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["5bdfa019.1fe4a"]]},{"id":"5bdfa019.1fe4a","type":"function","z":"38c7f61e.daa7da","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"ddfd5892.6316d8","type":"ui_switch","z":"3e7cf0a7.92b13","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"31af13c6.97c51c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["44351384.eb1b3c"]]},{"id":"44351384.eb1b3c","type":"function","z":"3e7cf0a7.92b13","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"261fff80.89d13","type":"ui_switch","z":"684c4da1.b77514","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"87b3fdaa.44649","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["d12d4b66.3dffb8"]]},{"id":"d12d4b66.3dffb8","type":"function","z":"684c4da1.b77514","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"44a65e7.ed0a3a","type":"ui_switch","z":"dcffbaad.239388","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"54f83df3.ff8454","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["b27df8ce.82fbf8"]]},{"id":"b27df8ce.82fbf8","type":"function","z":"dcffbaad.239388","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"95006846.da5c48","type":"ui_button","z":"9f05e627.eb6228","name":"RESET","group":"7b9ff076.80fcd","order":8,"width":0,"height":0,"passthru":false,"label":"ALLE LICHTER  AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":1980,"y":1060,"wires":[["f702c4f4.359328","cb9daa77.dff498","12b33500.bddf6b","d11179db.4b00c8","c2c1427d.c29b1","efa52c1e.e535","174f6a3c.d670a6","5a65d8bb.0c0c98","39077d5.0a75082","893d09d1.0b2648","e3548a0e.5b3738","c0d3c599.9f92c8"]]},{"id":"3561849.53e097c","type":"ui_switch","z":"87f14caa.292dd","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"87b3fdaa.44649","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["bf094452.fff598"]]},{"id":"bf094452.fff598","type":"function","z":"87f14caa.292dd","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"b7120816.e30208","type":"ui_switch","z":"f08d5410.7c0838","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"d20ffac8.548f48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["8e64a50d.717628"]]},{"id":"8e64a50d.717628","type":"function","z":"f08d5410.7c0838","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"4e2a22ef.6afcac","type":"ui_switch","z":"8267a33.164746","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"d20ffac8.548f48","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["d05a2820.5945b8"]]},{"id":"d05a2820.5945b8","type":"function","z":"8267a33.164746","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"e4ff6cf5.3952f","type":"ui_switch","z":"7f123fcc.feb26","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"d20ffac8.548f48","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["10d87a49.e97166"]]},{"id":"10d87a49.e97166","type":"function","z":"7f123fcc.feb26","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"a9e304bb.deed18","type":"ui_switch","z":"88ffbdcf.27e98","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"d20ffac8.548f48","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["30799f13.5501"]]},{"id":"30799f13.5501","type":"function","z":"88ffbdcf.27e98","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"7078ebd4.540084","type":"ui_switch","z":"b3578d82.625dc","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["dbbc7f37.9e9b5"]]},{"id":"dbbc7f37.9e9b5","type":"function","z":"b3578d82.625dc","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"6e07158c.19a25c","type":"ui_switch","z":"86b5dc60.7e1be","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["246d3324.87997c"]]},{"id":"246d3324.87997c","type":"function","z":"86b5dc60.7e1be","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"c512571f.2b96b8","type":"ui_switch","z":"32bf5424.74695c","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["52d1a568.0a91fc"]]},{"id":"52d1a568.0a91fc","type":"function","z":"32bf5424.74695c","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"307f0b50.48e674","type":"ui_switch","z":"f41bb25f.0c001","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["8ad521d1.6ca82"]]},{"id":"8ad521d1.6ca82","type":"function","z":"f41bb25f.0c001","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"63ae65b2.a4764c","type":"ui_switch","z":"dcf80a9b.b630e8","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["5ccc616c.11d6f"]]},{"id":"5ccc616c.11d6f","type":"function","z":"dcf80a9b.b630e8","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"86098b73.511688","type":"ui_switch","z":"f6a80fbd.26ae","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["4f2be12c.8da1"]]},{"id":"4f2be12c.8da1","type":"function","z":"f6a80fbd.26ae","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"f0e63273.97932","type":"ui_switch","z":"61dfbb8e.0db504","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["e07af0bf.8e7d8"]]},{"id":"e07af0bf.8e7d8","type":"function","z":"61dfbb8e.0db504","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"5f4d7aa0.4412c4","type":"ui_switch","z":"37b4efd8.01ca","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["52481ddb.ad48c4"]]},{"id":"52481ddb.ad48c4","type":"function","z":"37b4efd8.01ca","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"7f4caee5.1451b","type":"ui_switch","z":"46d78858.f9dfe8","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["cff6dfc6.14fde"]]},{"id":"cff6dfc6.14fde","type":"function","z":"46d78858.f9dfe8","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"b0165401.a8e438","type":"ui_switch","z":"4843e929.6d3478","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["bb91ff89.27052"]]},{"id":"bb91ff89.27052","type":"function","z":"4843e929.6d3478","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"3f0afe69.db9512","type":"ui_switch","z":"1beacecd.a76911","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"c1032845.865e28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["e652f16.ee7431"]]},{"id":"e652f16.ee7431","type":"function","z":"1beacecd.a76911","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[[]]},{"id":"6afd22b7.bad9cc","type":"ui_switch","z":"9aff33f2.ea5c4","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"8deaa7f3.4f5098","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":60,"wires":[["de0de175.4daf2"]]},{"id":"de0de175.4daf2","type":"function","z":"9aff33f2.ea5c4","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"220e732e.dbc6cc","type":"subflow:8e6c8c66.e53bd","z":"613b48b4.cb2768","name":"BOILER","env":[],"x":500,"y":100,"wires":[[]]},{"id":"c2c1427d.c29b1","type":"subflow:74b3d83.e595928","z":"9f05e627.eb6228","name":"LIGHT_WINDOW_LEDGE_EAST","x":2880,"y":840,"wires":[["80682b7d.69c728"]]},{"id":"efa52c1e.e535","type":"subflow:6121c4ac.2b4c6c","z":"9f05e627.eb6228","name":"LIGHT_OUTSIDE","x":2830,"y":920,"wires":[["80682b7d.69c728"]]},{"id":"539164fe.96a6bc","type":"subflow:7e60f600.2a725c","z":"9f05e627.eb6228","name":"SCENARIOS","env":[],"x":2610,"y":1100,"wires":[["c2c1427d.c29b1","325a06b5.ad561a"],["88addb4b.079d08","8cc135c6.706998"]]},{"id":"b852f009.157ad","type":"ui_switch","z":"106b647a.df708c","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"7bcd060a.14f848","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["576d0b7a.066774"]]},{"id":"576d0b7a.066774","type":"function","z":"106b647a.df708c","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"7891fd2.659d304","type":"ui_switch","z":"d07dfd26.4bf7f","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"384843ca.3a77dc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["d3090bc.9c282f8"]]},{"id":"d3090bc.9c282f8","type":"function","z":"d07dfd26.4bf7f","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"174f6a3c.d670a6","type":"subflow:d07dfd26.4bf7f","z":"9f05e627.eb6228","name":"","x":2830,"y":700,"wires":[["80682b7d.69c728"]]},{"id":"1e063809.d59928","type":"ui_switch","z":"2f602b16.d2c694","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"cb5d27e1.f84c68","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["1950da21.19c886"]]},{"id":"1950da21.19c886","type":"function","z":"2f602b16.d2c694","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"5a65d8bb.0c0c98","type":"subflow:2f602b16.d2c694","z":"9f05e627.eb6228","name":"","env":[],"x":2810,"y":640,"wires":[["80682b7d.69c728"]]},{"id":"4fcda81a.a14868","type":"ui_switch","z":"a4481727.451838","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"8deaa7f3.4f5098","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["352b2441.d1911c"]]},{"id":"352b2441.d1911c","type":"function","z":"a4481727.451838","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"e443893d.662ca8","type":"ui_switch","z":"2a461f97.af2f9","name":"HEATER WEST","label":"Heizkörper West","group":"54f83df3.ff8454","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["8281eea8.4fd4b"]]},{"id":"8281eea8.4fd4b","type":"function","z":"2a461f97.af2f9","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"25d1cc87.015ee4","type":"ui_switch","z":"1fd37053.6ca36","name":"HEATER EAST","label":"Heizkörper Osten","group":"54f83df3.ff8454","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["3db89b36.941cc4"]]},{"id":"3db89b36.941cc4","type":"function","z":"1fd37053.6ca36","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"1da0980c.75e668","type":"ui_button","z":"1c0d8d09.1546d3","name":"GallerieOben_Ein","group":"c1032845.865e28","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["9800c901.7c7138"]]},{"id":"52a644b.5fc48bc","type":"link in","z":"9f05e627.eb6228","name":"","links":["9800c901.7c7138"],"x":2415,"y":1040,"wires":[["39077d5.0a75082"]]},{"id":"9800c901.7c7138","type":"link out","z":"1c0d8d09.1546d3","name":"","links":["52a644b.5fc48bc"],"x":715,"y":160,"wires":[]},{"id":"ccda0aa4.14f8a8","type":"ui_button","z":"1c0d8d09.1546d3","name":"GallerieOben_Aus","group":"c1032845.865e28","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["9800c901.7c7138"]]},{"id":"f827a7d8.6a7b78","type":"function","z":"4950d74f.6a82b8","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"4bb02e32.7dcbc","type":"ui_button","z":"4950d74f.6a82b8","name":"ANTEROOM_MIDDLE_OFF","group":"8deaa7f3.4f5098","order":0,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["f827a7d8.6a7b78"]]},{"id":"699735b4.9833cc","type":"ui_switch","z":"6989dc5f.cbdbf4","name":"HEATER BATH","label":"Heizkörper Badezimmer","group":"566538f4.6cae48","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":120,"wires":[["86fa574a.33c128"]]},{"id":"86fa574a.33c128","type":"function","z":"6989dc5f.cbdbf4","name":"HEATER BATH ","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BATH-ON\";\nvar ResultOff = \"TURN-HEATER-BATH-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":784.4282112121582,"y":121.28568363189697,"wires":[[]]},{"id":"5fc57d61.f10a94","type":"subflow:613b48b4.cb2768","z":"9f05e627.eb6228","name":"SUB_BOILER","env":[],"x":2920,"y":760,"wires":[["80682b7d.69c728"]]},{"id":"af5c74ed.170818","type":"ui_switch","z":"e26d2a08.03e308","name":"PLUG-IR","label":"STECKDOSE-IRHEIZUNG","group":"7b9ff076.80fcd","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"PLUG-IR","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":80,"wires":[["37d2df8f.5f89e"]]},{"id":"37d2df8f.5f89e","type":"function","z":"e26d2a08.03e308","name":"PLUG-IR","func":"var result;\nvar ResultOn  = \"POWER-PLUG-INFRA-RED-ON\";\nvar ResultOff = \"POWER-PLUG-INFRA-RED-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":340,"y":80,"wires":[[]]},{"id":"fac7eac4.9753e8","type":"subflow:e26d2a08.03e308","z":"8e9dee1b.9ceb7","name":"SUB_PLUG_IR","env":[],"x":920,"y":140,"wires":[["99efb2aa.5bd2f"]]},{"id":"99efb2aa.5bd2f","type":"link out","z":"8e9dee1b.9ceb7","name":"LINK_POWER_OUT","links":["1eee44fc.6d6bfb"],"x":1140,"y":140,"wires":[]},{"id":"1eee44fc.6d6bfb","type":"link in","z":"9f05e627.eb6228","name":"LINK_POWER_IN","links":["99efb2aa.5bd2f"],"x":3075,"y":1100,"wires":[["80682b7d.69c728"]]},{"id":"b88f447f.655408","type":"subflow:2a461f97.af2f9","z":"1a1ea712.02fc29","name":"","env":[],"x":680,"y":300,"wires":[["bece1601.2ff008"]]},{"id":"28b9011e.87ebfe","type":"subflow:1fd37053.6ca36","z":"1a1ea712.02fc29","name":"","env":[],"x":680,"y":220,"wires":[["bece1601.2ff008"]]},{"id":"de4f129d.13f0c","type":"ui_button","z":"1a1ea712.02fc29","name":"HEATERSOFF","group":"7b9ff076.80fcd","order":6,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":280,"y":80,"wires":[["28b9011e.87ebfe","b88f447f.655408","fbba2c2.dcab0d"]]},{"id":"b102b490.38b5c8","type":"ui_button","z":"1a1ea712.02fc29","name":"HEATERSON","group":"7b9ff076.80fcd","order":7,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":280,"y":360,"wires":[["28b9011e.87ebfe","b88f447f.655408","fbba2c2.dcab0d"]]},{"id":"fbba2c2.dcab0d","type":"subflow:6989dc5f.cbdbf4","z":"1a1ea712.02fc29","name":"","env":[],"x":700,"y":140,"wires":[["bece1601.2ff008"]]},{"id":"bece1601.2ff008","type":"link out","z":"1a1ea712.02fc29","name":"LINK_HEATERS_OUT","links":["575917cd.029e18"],"x":960,"y":240,"wires":[]},{"id":"575917cd.029e18","type":"link in","z":"9f05e627.eb6228","name":"LINK_HEATERS_IN","links":["bece1601.2ff008"],"x":3075,"y":1260,"wires":[["80682b7d.69c728"]]},{"id":"39077d5.0a75082","type":"link out","z":"9f05e627.eb6228","name":"LINK_CONTROL_GALLERY_UP_OUT","links":["a56ff1fc.9dc98"],"x":2415,"y":1100,"wires":[]},{"id":"3a3d62de.ae13de","type":"subflow:1beacecd.a76911","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_11","env":[],"x":630,"y":700,"wires":[["53f33d09.0ca484"]]},{"id":"f2ac7b96.103808","type":"subflow:4843e929.6d3478","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_10","x":640,"y":640,"wires":[["53f33d09.0ca484"]]},{"id":"62e0a755.80d428","type":"subflow:46d78858.f9dfe8","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_9","x":630,"y":580,"wires":[["53f33d09.0ca484"]]},{"id":"f12173f.adf569","type":"subflow:37b4efd8.01ca","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_8","x":630,"y":520,"wires":[["53f33d09.0ca484"]]},{"id":"998379e9.4a7b78","type":"subflow:61dfbb8e.0db504","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_7","x":630,"y":460,"wires":[["53f33d09.0ca484"]]},{"id":"9c9c5814.7e5ef8","type":"subflow:f6a80fbd.26ae","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_6","x":630,"y":400,"wires":[["53f33d09.0ca484"]]},{"id":"cdc83f91.e0714","type":"subflow:dcf80a9b.b630e8","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_5","x":630,"y":340,"wires":[["53f33d09.0ca484"]]},{"id":"ebdaec0.c505918","type":"subflow:b3578d82.625dc","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_1","env":[],"x":632.9845428466797,"y":109.10723495483398,"wires":[["53f33d09.0ca484"]]},{"id":"352f5ded.802b92","type":"subflow:86b5dc60.7e1be","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_2","x":630,"y":160,"wires":[["53f33d09.0ca484"]]},{"id":"29e2ac25.b6a2b4","type":"subflow:32bf5424.74695c","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_3","x":630,"y":220,"wires":[["53f33d09.0ca484"]]},{"id":"72acecdd.4f7a04","type":"subflow:f41bb25f.0c001","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP_4","x":630,"y":280,"wires":[["53f33d09.0ca484"]]},{"id":"a56ff1fc.9dc98","type":"link in","z":"a008d3d.fd1c53","name":"LINK_CONTROL_GALLERY_UP_IN","links":["39077d5.0a75082"],"x":235,"y":460,"wires":[["ebdaec0.c505918","352f5ded.802b92","29e2ac25.b6a2b4","72acecdd.4f7a04","cdc83f91.e0714","9c9c5814.7e5ef8","998379e9.4a7b78","f12173f.adf569","62e0a755.80d428","f2ac7b96.103808","3a3d62de.ae13de","dca7a932.103cf8","f14241c1.20ded"]]},{"id":"53f33d09.0ca484","type":"link out","z":"a008d3d.fd1c53","name":"LINK_CONTROL_GALLERY_UP_TOSEND_OUT","links":["8e30acf1.ca06"],"x":975,"y":460,"wires":[]},{"id":"8e30acf1.ca06","type":"link in","z":"9f05e627.eb6228","name":"LINK_CONTROL_GALLERY_UP_TOSEND_IN","links":["53f33d09.0ca484"],"x":3075,"y":1180,"wires":[["80682b7d.69c728"]]},{"id":"b9fff4c8.be17e8","type":"subflow:1061548a.77c81b","z":"6eac78fd.f60938","name":"LIGHT_DOOR_ENTRY_LEFT","env":[],"x":790,"y":400,"wires":[["138930cf.e0927f"]]},{"id":"ca8491fa.cd1f8","type":"subflow:684c4da1.b77514","z":"6eac78fd.f60938","name":"LIGHT_MAIN_DOOR","x":760,"y":80,"wires":[["138930cf.e0927f"]]},{"id":"72963804.683338","type":"subflow:dcffbaad.239388","z":"6eac78fd.f60938","name":"LIGHT_WINDOW_UP_EAST","x":780,"y":180,"wires":[["138930cf.e0927f"]]},{"id":"60d3f7d.3987e08","type":"subflow:87f14caa.292dd","z":"6eac78fd.f60938","name":"LIGHT_RIGHT_NEXT_DOOR","x":790,"y":280,"wires":[["138930cf.e0927f"]]},{"id":"72fe380d.570c38","type":"link in","z":"6eac78fd.f60938","name":"LINK_CONTROL_SOUTH_IN","links":["893d09d1.0b2648"],"x":375,"y":200,"wires":[["ca8491fa.cd1f8","72963804.683338","60d3f7d.3987e08","b9fff4c8.be17e8"]]},{"id":"138930cf.e0927f","type":"link out","z":"6eac78fd.f60938","name":"LINK_CONTROL_TOSEND_SOUTH_OUT","links":["cd6cf0af.e39ca"],"x":1075,"y":220,"wires":[]},{"id":"893d09d1.0b2648","type":"link out","z":"9f05e627.eb6228","name":"LINK_CONTROL_TO_FLOWS_SOUTH_OUT","links":["72fe380d.570c38"],"x":2415,"y":1160,"wires":[]},{"id":"cd6cf0af.e39ca","type":"link in","z":"9f05e627.eb6228","name":"LINK_CONTROL_TOSEND_SOUTH_IN","links":["138930cf.e0927f"],"x":3075,"y":1220,"wires":[["80682b7d.69c728"]]},{"id":"dca7a932.103cf8","type":"subflow:38c7f61e.daa7da","z":"a008d3d.fd1c53","name":"LIGHT_GALLERY_UP","env":[],"x":620,"y":760,"wires":[["53f33d09.0ca484"]]},{"id":"f14241c1.20ded","type":"subflow:3e7cf0a7.92b13","z":"a008d3d.fd1c53","name":"LIGHT_TRIANGLE_UP","x":630,"y":820,"wires":[["53f33d09.0ca484"]]},{"id":"88addb4b.079d08","type":"link out","z":"9f05e627.eb6228","name":"SCENARIO_TOFLOW_SOUTH_OUT","links":["d1ba3f50.d977d"],"x":2795,"y":1140,"wires":[]},{"id":"d1ba3f50.d977d","type":"link in","z":"6eac78fd.f60938","name":"FROM_SCENARIO","links":["88addb4b.079d08"],"x":455,"y":360,"wires":[["b9fff4c8.be17e8"]]},{"id":"75f91a5a.67acd4","type":"subflow:a4481727.451838","z":"cead3f54.35447","name":"","x":600,"y":120,"wires":[["2e2d01c3.ca9a1e"]]},{"id":"d430d2e1.131ad","type":"subflow:9aff33f2.ea5c4","z":"cead3f54.35447","name":"ANTEROOM_MAIN_LIGHT","env":[],"x":602.4659423828125,"y":191.87314891815186,"wires":[["2e2d01c3.ca9a1e"]]},{"id":"307b6f24.35732","type":"subflow:106b647a.df708c","z":"cead3f54.35447","name":"","x":600,"y":260,"wires":[["2e2d01c3.ca9a1e"]]},{"id":"e3548a0e.5b3738","type":"link out","z":"9f05e627.eb6228","name":"LINK_CONTROL_TO_FLOWS_ANTROOM_OUT","links":["2c058fff.28016"],"x":2415,"y":980,"wires":[]},{"id":"2c058fff.28016","type":"link in","z":"cead3f54.35447","name":"LINK_CONTROL_TO_FLOWS_ANTEROOM_IN","links":["e3548a0e.5b3738"],"x":282.07640075683594,"y":188.72570037841797,"wires":[["75f91a5a.67acd4","d430d2e1.131ad","307b6f24.35732","98e05115.3c48d"]]},{"id":"2e2d01c3.ca9a1e","type":"link out","z":"cead3f54.35447","name":"LINK_TOSEND_ANTEROOM_OUT","links":["952a072e.6fe608"],"x":855,"y":200,"wires":[]},{"id":"952a072e.6fe608","type":"link in","z":"9f05e627.eb6228","name":"LINK_TO_SEND_ANTEROOM_IN","links":["2e2d01c3.ca9a1e"],"x":3075,"y":1140,"wires":[["80682b7d.69c728"]]},{"id":"e197a2b5.405c5","type":"function","z":"d239b4e4.9f0d38","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["2f5ff703.df67d8"]]},{"id":"e9d9653a.e01c18","type":"subflow:95dcd9d8.1c1948","z":"d239b4e4.9f0d38","name":"LIGHT_WINDOW_LEDGE_WEST","x":800,"y":80,"wires":[["2f5ff703.df67d8"]]},{"id":"515148b2.edc4f8","type":"subflow:68b187c8.4bfaa8","z":"d239b4e4.9f0d38","name":"LIGHT_WALL_WEST","x":760,"y":160,"wires":[["2f5ff703.df67d8"]]},{"id":"3f6edf10.8deec","type":"subflow:ef342518.c36c78","z":"d239b4e4.9f0d38","name":"LIGHT_TRIANGLE_WEST","x":780,"y":200,"wires":[["2f5ff703.df67d8"]]},{"id":"8cc135c6.706998","type":"link out","z":"9f05e627.eb6228","name":"SCENARIO_ADVENTURE","links":["e35f3757.761fc8"],"x":2795,"y":1080,"wires":[]},{"id":"7401e18f.e8a38","type":"link in","z":"9f05e627.eb6228","name":"LINK_WETSIDE_IN","links":["2f5ff703.df67d8"],"x":3075,"y":1300,"wires":[["80682b7d.69c728"]]},{"id":"e9b2de22.fb394","type":"link in","z":"d239b4e4.9f0d38","name":"LINK_CONTROL_TO_FLOWS_WESTSIDE_IN","links":["476a1db6.6b6fd4"],"x":500,"y":140,"wires":[["e9d9653a.e01c18","e197a2b5.405c5","515148b2.edc4f8","3f6edf10.8deec"]]},{"id":"476a1db6.6b6fd4","type":"link out","z":"9f05e627.eb6228","name":"LINK_CONTROL_TO_WESTSIDE_OUT","links":["e9b2de22.fb394"],"x":2415,"y":1300,"wires":[]},{"id":"2f5ff703.df67d8","type":"link out","z":"d239b4e4.9f0d38","name":"LINK_TO_SEND_WESTSIDE_OUT","links":["7401e18f.e8a38"],"x":1120,"y":140,"wires":[]},{"id":"325a06b5.ad561a","type":"link out","z":"9f05e627.eb6228","name":"SCENARIO_TO_FLOW_WESTSIDE","links":["20d0ca7c.8999b6"],"x":2795,"y":1020,"wires":[]},{"id":"20d0ca7c.8999b6","type":"link in","z":"d239b4e4.9f0d38","name":"LINK_FROM_SCENARIO_WESTSIDE1","links":["325a06b5.ad561a"],"x":495,"y":80,"wires":[["e9d9653a.e01c18"]]},{"id":"98e05115.3c48d","type":"subflow:4950d74f.6a82b8","z":"cead3f54.35447","name":"ANTEROOM_MIDDLE","env":[],"x":580,"y":340,"wires":[["2e2d01c3.ca9a1e"]]},{"id":"cf0238ee.96fd38","type":"subflow:6760ee73.b1c57","z":"b1841b5a.6fb908","name":"LIGHT_KITCHEN","x":630,"y":260,"wires":[["9cdca789.7cfc98"]]},{"id":"5abffba1.93d284","type":"subflow:e80aa56c.7f61e8","z":"b1841b5a.6fb908","name":"LIGHT_KITCHENBOARD_DOWN","x":680,"y":220,"wires":[["9cdca789.7cfc98"]]},{"id":"94e0526d.e6dd1","type":"subflow:f33e32bc.1882b","z":"b1841b5a.6fb908","name":"FRONTLIGHTS_KITCHEN","x":660,"y":180,"wires":[["9cdca789.7cfc98"]]},{"id":"9883a2ae.20553","type":"link in","z":"b1841b5a.6fb908","name":"LINK_CONTROL_TO_KITCHEN_IN","links":["c0d3c599.9f92c8"],"x":420,"y":220,"wires":[["94e0526d.e6dd1","5abffba1.93d284","cf0238ee.96fd38"]]},{"id":"c0d3c599.9f92c8","type":"link out","z":"9f05e627.eb6228","name":"LINK_TO_KITCHEN","links":["9883a2ae.20553"],"x":2415,"y":1220,"wires":[]},{"id":"9cdca789.7cfc98","type":"link out","z":"b1841b5a.6fb908","name":"LINK_SEND_TO_KITCHEN_OUT","links":["d42f0b10.6c5f38"],"x":960,"y":220,"wires":[]},{"id":"d42f0b10.6c5f38","type":"link in","z":"9f05e627.eb6228","name":"LINK_TO_SEND_KITCEN_IN","links":["9cdca789.7cfc98"],"x":3075,"y":1340,"wires":[["80682b7d.69c728"]]},{"id":"e35f3757.761fc8","type":"link in","z":"6eac78fd.f60938","name":"SCENARIO_ADVENTURE_IN","links":["8cc135c6.706998"],"x":675,"y":240,"wires":[["72963804.683338"]]}]