flows_GEORGLAPTOP.json
[{"id":"f0ae90d4.8154","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"176b8fc2.dd619","type":"tab","label":"EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"d2b6066b.141f28","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":2660,"y":2611.666748046875,"wires":[{"id":"5c1fa9c7.6d26a8"}]}],"out":[{"x":3885.1285858154297,"y":2599.565972328186,"wires":[{"id":"6ea76212.27fd5c","port":0}]}]},{"id":"58662587.49185c","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":1957.0148887634277,"y":54,"wires":[{"id":"cc2a519c.fc24d"}]}],"out":[{"x":2722.8716440200806,"y":55.28568649291992,"wires":[{"id":"6d9e6ad8.d32344","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"c475ec24.2190f","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":2078.651309967041,"y":153.0057258605957,"wires":[{"id":"cc7b0277.822af"}]}],"out":[{"x":3118.650531768799,"y":129.00568199157715,"wires":[{"id":"32ccf91c.a12396","port":0}]}]},{"id":"e3fc58e9.0870d8","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"a2afaa38.db05c8"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"853606f7.3144d8","port":0}]}]},{"id":"4cc5af11.22cb9","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"d2a8a179.25d44"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"72ea2d8a.ae2944","port":0}]}]},{"id":"c74d7a7f.3c37c8","type":"subflow","name":"LIGHT_KITCHEN","info":"","category":"","in":[{"x":2418.0147857666016,"y":475.00567531585693,"wires":[{"id":"4f551e7f.5504f"}]}],"out":[{"x":3091.01473236084,"y":473.0056140422821,"wires":[{"id":"5f837b85.9d9154","port":0}]}]},{"id":"73dbdf9f.92884","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"810be692.251d18"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"76c99851.6ca888","port":0}]}]},{"id":"951c4e7f.f04e3","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"9c49ad91.99a08"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"d5d89444.5f49e8","port":0}]}]},{"id":"68836fb0.fdbe","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"706dc274.8950cc"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"8e80b0c5.bad1a","port":0}]}]},{"id":"7f05d7e6.2a60d8","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"8508ffc8.c8615"}]}],"out":[{"x":3838.015579223633,"y":2539.726357460022,"wires":[{"id":"3a73aa94.b93f46","port":0}]}]},{"id":"c7150568.a2b078","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"97accf89.347a7"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"f682b5c5.9210c8","port":0}]}]},{"id":"88d5f369.da9d8","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"41cf157f.02621c"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"d7301231.28706","port":0}]}]},{"id":"77fd05cb.a2414c","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"7d7387d7.9c2418"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"671c5d9b.581e24","port":0}]}]},{"id":"8da13b88.62be18","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"d9b4487a.c432e8"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"e5297555.51f128","port":0}]}]},{"id":"46e0e1c9.40b1a","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"d020cc62.1e9a4"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"83ea3989.111a08","port":0}]}]},{"id":"6daf8082.9758c","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"7757b58c.98a9dc"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"97805428.bd5a58","port":0}]}]},{"id":"e7dfd9fc.430638","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"ad4be524.004108"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"295858c3.4c80f8","port":0}]}]},{"id":"f30d2122.58648","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"dda7a6b3.8b0af8"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"4a3ecb7e.385fb4","port":0}]}]},{"id":"ba87bfcf.f631a","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"45a220e8.b93a5"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"f4fdcd35.b4112","port":0}]}]},{"id":"6b386f34.1cb3d","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"3c7e2d58.919852"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"87949de4.20ed2","port":0}]}]},{"id":"6dc60320.99388c","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"1bdc2d41.51a413"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"42471bbc.dd8354","port":0}]}]},{"id":"307bcb55.9b6374","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"32fa1243.992e4e"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"6ff7dc1a.3ddfc4","port":0}]}]},{"id":"e48f52de.8a123","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"c3dd153d.de0ed8"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"5fb163e7.d8485c","port":0}]}]},{"id":"dd8ab578.f310e8","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"1dd60853.9845b8"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"2b8b5db0.5cf102","port":0}]}]},{"id":"beecdc5f.d5e1f","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"d5140a24.569b48"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"e19915e9.6f8f08","port":0}]}]},{"id":"b4ca66b9.c9ef88","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"3dcde344.05e98c"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"984b8ff4.d6313","port":0}]}]},{"id":"811598e7.83f058","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"db5afefd.de265"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"65695c4d.8ab094","port":0}]}]},{"id":"4695782e.1abd38","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"b5c8f618.404e48"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"de91121c.830f6","port":0}]}]},{"id":"1b6fa3b4.c1e25c","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"57e2cc7a.1e5904"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"e790bcdd.debb6","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"fd1625fb.a82608","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"592badd3.59df34"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"63c649bb.9649a8","port":0}]}]},{"id":"1df033bd.0ee2fc","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"aeaa3328.e0ea2"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"7cfb7ec0.619","port":0}]}]},{"id":"2643d0c5.ffe81","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"7243f50.b0cd40c"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"c0258178.35d55","port":0}]}]},{"id":"f0a05eda.9d076","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":1682.8717193603516,"y":1390.6810283660889,"wires":[{"id":"72fc5e30.505fb","port":0}]},{"x":1692.4431533813477,"y":1480.1097316741943,"wires":[{"id":"96069795.cd6958","port":0}]}]},{"id":"d3d09cf9.ffaf2","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"b6750c2b.eff3e"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"8c96587f.cb0218","port":0}]}]},{"id":"3f004828.c7a2b8","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"9bcfb58f.dda098"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"8435ad9e.ba573","port":0}]}]},{"id":"f820c10d.cc97f","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"76dad8ac.29bcf8"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"c1a3ba20.caa668","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"c1a3ba20.caa668","port":0}]}},{"id":"196e8ddd.34a752","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"85e69b6.9958c68"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"18535a07.286b26","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"18535a07.286b26","port":0}]}},{"id":"b4c6eaae.830148","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"4702c5a3.7683ec"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"28ad2d0d.070962","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"28ad2d0d.070962","port":0}]}},{"id":"806d2417.b85018","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"4352ee1c.00e1d"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"f719c3a4.3668b","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"f719c3a4.3668b","port":0}]}},{"id":"54187203.e7bb6c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"68c1931b.2f4ecc","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"9225d423.9ad128"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"110b00f2.1219bf","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"110b00f2.1219bf","port":0}]}},{"id":"70a3ecd5.ff73b4","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"1c848fca.767f5","disp":true,"width":"6","collapse":false},{"id":"e43d1a06.1f4e58","type":"ui_group","z":"","name":"KÜCHE","tab":"ba635540.507088","order":1,"disp":true,"width":"6"},{"id":"f7bbf8c6.52ccc8","type":"ui_group","z":"","name":"FENSTERBANK","tab":"82823e49.48ecf","order":6,"disp":true,"width":"6"},{"id":"37b65a49.29ac86","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"82823e49.48ecf","order":2,"disp":true,"width":"6"},{"id":"8121d91.37ac028","type":"ui_group","z":"","name":"GALLERIE","tab":"82823e49.48ecf","order":3,"disp":true,"width":"6"},{"id":"dd82b7c4.705cd8","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"82823e49.48ecf","order":5,"disp":true,"width":"6"},{"id":"feafcc56.7f6a2","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"82823e49.48ecf","order":4,"disp":true,"width":"6"},{"id":"6e2be4c.98c621c","type":"ui_group","z":"","name":"VORHAUS","tab":"5e48b8cd.f55668","disp":true,"width":"6","collapse":false},{"id":"1c848fca.767f5","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"ba635540.507088","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"82823e49.48ecf","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"5e48b8cd.f55668","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"c0b7fa39.396d98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d240128.a8f52f","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"5fceb8bc.92f068","disp":true,"width":"6"},{"id":"a56ff6d2.536608","type":"ui_group","z":"","name":"KÜCHE","tab":"aa95f3b0.4b642","order":1,"disp":true,"width":"6"},{"id":"ac6c4408.a36398","type":"ui_group","z":"","name":"FENSTERBANK","tab":"2ebcc9b8.a13376","order":6,"disp":true,"width":"6"},{"id":"6586eed9.a52a6","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"2ebcc9b8.a13376","order":1,"disp":true,"width":"6"},{"id":"3edba3ef.23fffc","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"2ebcc9b8.a13376","order":2,"disp":true,"width":"6"},{"id":"5ffb4409.ec4dec","type":"ui_group","z":"","name":"GALLERIE","tab":"2ebcc9b8.a13376","order":3,"disp":true,"width":"6"},{"id":"20966e84.4cdd52","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"2ebcc9b8.a13376","order":5,"disp":true,"width":"6"},{"id":"22a188bc.769988","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"2ebcc9b8.a13376","order":4,"disp":true,"width":"6"},{"id":"5fceb8bc.92f068","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"aa95f3b0.4b642","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"2ebcc9b8.a13376","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"6c69a5d1.1551fc","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"b35fd9e3.61ca08","type":"ui_group","z":"","name":"VORHAUS","tab":"6c69a5d1.1551fc","disp":true,"width":"6","collapse":false},{"id":"9b514089.3354d","type":"ui_group","name":"Group 2","tab":"5fceb8bc.92f068","order":2,"disp":true,"width":6},{"id":"30387031.3dc28","type":"ui_group","name":"Group 3","tab":"5fceb8bc.92f068","order":3,"disp":true,"width":6},{"id":"10c80578.31f8db","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":5},{"id":"95bb654.4e4b198","type":"ui_group","z":"","name":"BODEN","tab":"10c80578.31f8db","order":1,"disp":true,"width":"6","collapse":false},{"id":"f775c1dd.d586a","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":6},{"id":"9488b4d5.b8f028","type":"ui_group","z":"","name":"LICHTER","tab":"f775c1dd.d586a","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bea4cb.81018b4","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":7},{"id":"c14c10a7.33473","type":"ui_group","z":"","name":"LICHTER","tab":"6bea4cb.81018b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b555559.e3b09c","type":"ui_group","z":"","name":"LUEFTER","tab":"6bea4cb.81018b4","order":2,"disp":true,"width":"6","collapse":false},{"id":"bce1079e.57d7f8","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":8},{"id":"6460d167.0eaa4","type":"ui_group","z":"","name":"Lichter","tab":"bce1079e.57d7f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c1c11ea.0f3a7e","type":"ui_group","z":"","name":"Heizung","tab":"f775c1dd.d586a","order":2,"disp":true,"width":"6","collapse":false},{"id":"2e5266cd.2eb27a","type":"ui_group","z":"","name":"Heizkörper","tab":"6c69a5d1.1551fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"cc2a519c.fc24d","type":"ui_switch","z":"58662587.49185c","name":"BOILER","label":"WARMWASSER","group":"d240128.a8f52f","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2097.0148887634277,"y":54,"wires":[["6d9e6ad8.d32344"]]},{"id":"d2447e60.a62bf","type":"udp out","z":"f0ae90d4.8154","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":3424.1574058532715,"y":1132.4283080101013,"wires":[]},{"id":"b4b84f55.f827","type":"udp in","z":"f0ae90d4.8154","name":"RECEIVE ECHO","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1351.4287414550781,"y":1059.0001525878906,"wires":[["b50645a8.3f8938","bf110eb6.5fa59"]]},{"id":"b50645a8.3f8938","type":"function","z":"f0ae90d4.8154","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2411.5146484375,"y":505.5714111328125,"wires":[["959d3a2e.13c6f8"]]},{"id":"6d9e6ad8.d32344","type":"function","z":"58662587.49185c","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2461.443099975586,"y":55.28568363189697,"wires":[[]]},{"id":"7384e356.c5bc0c","type":"catch","z":"f0ae90d4.8154","name":"","scope":["b4b84f55.f827","d2447e60.a62bf"],"x":1320.5146369934082,"y":1418.000298500061,"wires":[["cca1bda5.a9d4b"]]},{"id":"cca1bda5.a9d4b","type":"ui_toast","z":"f0ae90d4.8154","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1479.8015403747559,"y":1542.6991243362427,"wires":[]},{"id":"32ccf91c.a12396","type":"function","z":"c475ec24.2190f","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2918.650531768799,"y":129.00568199157715,"wires":[[]]},{"id":"853606f7.3144d8","type":"function","z":"e3fc58e9.0870d8","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"72ea2d8a.ae2944","type":"function","z":"4cc5af11.22cb9","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"cc7b0277.822af","type":"ui_switch","z":"c475ec24.2190f","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"a56ff6d2.536608","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2278.651309967041,"y":153.0057258605957,"wires":[["32ccf91c.a12396"]]},{"id":"a2afaa38.db05c8","type":"ui_switch","z":"e3fc58e9.0870d8","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"ac6c4408.a36398","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["853606f7.3144d8"]]},{"id":"d2a8a179.25d44","type":"ui_switch","z":"4cc5af11.22cb9","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"d240128.a8f52f","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["72ea2d8a.ae2944"]]},{"id":"4f551e7f.5504f","type":"ui_switch","z":"c74d7a7f.3c37c8","name":"LIGHT KITCHEN","label":"ALLE KÜCHENLICHTER","group":"a56ff6d2.536608","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2588.0147857666016,"y":475.00567531585693,"wires":[["5f837b85.9d9154"]]},{"id":"5f837b85.9d9154","type":"function","z":"c74d7a7f.3c37c8","name":"LIGHT KITCHEN COMMAND","func":"var result;\nvar ResultOn  = \"TURN-ALL-KITCHEN-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-KITCHEN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2881.01473236084,"y":473.0056140422821,"wires":[[]]},{"id":"97b0434.51585c","type":"ui_switch","z":"f0ae90d4.8154","name":"ALL LIGHTS","label":"ALLE LICHTER ","group":"d240128.a8f52f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1853.0148620605469,"y":1668.4342374801636,"wires":[["a664a5e1.937da8","e1a90085.13feb","4b5692a3.2734ec","edeeabbe.bf03a8","727f6214.a71fcc","e8bc7de4.dffeb","2b55b757.723578","7d051ead.a8ae1","cac171d6.38c85","a2fb922a.60a47","f43e2da5.7df2","ff306d53.ecc29","795abae5.30a494","f91262fe.f8da6","41a65d84.9be4a4","e52fd6bb.523b38","c3cd82ce.c4e99","1e1a9472.d38bec","bc37f6c4.04e528","95dd3270.4a269","ca5664b.92c6f98","12c16518.6039ab","cc0571a4.f6f62","45036d38.492a34","f3a2def5.556b","c55548e8.23eb48","4c4b54f6.2d67fc","a6eea860.3af2f8","d0e57bd4.3b8028","a73f2f71.e3324","132d6149.95832f","6bb838f7.fe4e48"]]},{"id":"a664a5e1.937da8","type":"function","z":"f0ae90d4.8154","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2865.300277709961,"y":861.577075958252,"wires":[["d2447e60.a62bf"]]},{"id":"5b72756.4beb18c","type":"function","z":"f0ae90d4.8154","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2887.0145721435547,"y":1069.0058012008667,"wires":[["d2447e60.a62bf"]]},{"id":"e1a90085.13feb","type":"ui_switch","z":"f0ae90d4.8154","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"6586eed9.a52a6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2290.5715942382812,"y":825.8629274368286,"wires":[["5b72756.4beb18c","9b8016b1.37fbd8","7752698f.97cdd8","5cc5bb60.d29e94","3386ad09.51ac92","847cb4fa.f1ac58"]]},{"id":"bf110eb6.5fa59","type":"function","z":"f0ae90d4.8154","name":"CHECK STATUS ALL LIGHTS WEST","func":"var result;\nvar ToCompare = \"ALL-LIGHTS-WEST-ARE-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1478.8575897216797,"y":1174.1488018035889,"wires":[["e1a90085.13feb","9b8016b1.37fbd8","7752698f.97cdd8","5cc5bb60.d29e94","3386ad09.51ac92","847cb4fa.f1ac58"]],"icon":"node-red/light.png"},{"id":"76c99851.6ca888","type":"function","z":"73dbdf9f.92884","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"810be692.251d18","type":"ui_switch","z":"73dbdf9f.92884","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"ac6c4408.a36398","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["76c99851.6ca888"]]},{"id":"d5d89444.5f49e8","type":"function","z":"951c4e7f.f04e3","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"9c49ad91.99a08","type":"ui_switch","z":"951c4e7f.f04e3","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"a56ff6d2.536608","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["d5d89444.5f49e8"]]},{"id":"706dc274.8950cc","type":"ui_switch","z":"68836fb0.fdbe","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"6586eed9.a52a6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["8e80b0c5.bad1a"]]},{"id":"8e80b0c5.bad1a","type":"function","z":"68836fb0.fdbe","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"41cf157f.02621c","type":"ui_switch","z":"88d5f369.da9d8","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"3edba3ef.23fffc","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["d7301231.28706"]]},{"id":"d7301231.28706","type":"function","z":"88d5f369.da9d8","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"7d7387d7.9c2418","type":"ui_switch","z":"77fd05cb.a2414c","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"3edba3ef.23fffc","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["671c5d9b.581e24"]]},{"id":"671c5d9b.581e24","type":"function","z":"77fd05cb.a2414c","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"4b5692a3.2734ec","type":"ui_switch","z":"f0ae90d4.8154","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"ac6c4408.a36398","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2321.0007553100586,"y":772.0057487487793,"wires":[["68a74f1f.22224","9b8016b1.37fbd8"]]},{"id":"2e4b5004.d4c6c","type":"ui_dropdown","z":"f0a05eda.9d076","name":"SCENARIOS","label":"SCENARIOS","place":"Select option","group":"d240128.a8f52f","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":1266.428611755371,"y":1429.4943237304688,"wires":[["72fc5e30.505fb","96069795.cd6958"]]},{"id":"72fc5e30.505fb","type":"function","z":"f0a05eda.9d076","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1522.8717193603516,"y":1390.6810283660889,"wires":[[]]},{"id":"96069795.cd6958","type":"function","z":"f0a05eda.9d076","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1512.4431533813477,"y":1480.1097316741943,"wires":[[]]},{"id":"d9b4487a.c432e8","type":"ui_switch","z":"8da13b88.62be18","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"5ffb4409.ec4dec","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["e5297555.51f128"]]},{"id":"e5297555.51f128","type":"function","z":"8da13b88.62be18","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"ad4be524.004108","type":"ui_switch","z":"e7dfd9fc.430638","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"5ffb4409.ec4dec","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["295858c3.4c80f8"]]},{"id":"295858c3.4c80f8","type":"function","z":"e7dfd9fc.430638","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"dda7a6b3.8b0af8","type":"ui_switch","z":"f30d2122.58648","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"5ffb4409.ec4dec","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["4a3ecb7e.385fb4"]]},{"id":"4a3ecb7e.385fb4","type":"function","z":"f30d2122.58648","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"3c7e2d58.919852","type":"ui_switch","z":"6b386f34.1cb3d","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"3edba3ef.23fffc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["87949de4.20ed2"]]},{"id":"87949de4.20ed2","type":"function","z":"6b386f34.1cb3d","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"1bdc2d41.51a413","type":"ui_switch","z":"6dc60320.99388c","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"6586eed9.a52a6","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["42471bbc.dd8354"]]},{"id":"42471bbc.dd8354","type":"function","z":"6dc60320.99388c","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"51db1411.2e414c","type":"ui_button","z":"f0ae90d4.8154","name":"RESET","group":"d240128.a8f52f","order":6,"width":0,"height":0,"passthru":false,"label":"ALLES AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":1546.456787109375,"y":1284.956298828125,"wires":[["97b0434.51585c","a664a5e1.937da8","4b5692a3.2734ec","e1a90085.13feb","959d3a2e.13c6f8","727f6214.a71fcc","68a74f1f.22224","e8bc7de4.dffeb","2b55b757.723578","9b8016b1.37fbd8","7752698f.97cdd8","5cc5bb60.d29e94","7d051ead.a8ae1","cac171d6.38c85","3386ad09.51ac92","847cb4fa.f1ac58","a2fb922a.60a47","f43e2da5.7df2","ff306d53.ecc29","795abae5.30a494","f91262fe.f8da6","41a65d84.9be4a4","e52fd6bb.523b38","c3cd82ce.c4e99","1e1a9472.d38bec","bc37f6c4.04e528","95dd3270.4a269","ca5664b.92c6f98","12c16518.6039ab","cc0571a4.f6f62","45036d38.492a34","f3a2def5.556b","c55548e8.23eb48","4c4b54f6.2d67fc","a6eea860.3af2f8","d0e57bd4.3b8028","a73f2f71.e3324","132d6149.95832f","6bb838f7.fe4e48","b6c0f561.d14c88"]]},{"id":"32fa1243.992e4e","type":"ui_switch","z":"307bcb55.9b6374","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"3edba3ef.23fffc","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["6ff7dc1a.3ddfc4"]]},{"id":"6ff7dc1a.3ddfc4","type":"function","z":"307bcb55.9b6374","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"c3dd153d.de0ed8","type":"ui_switch","z":"e48f52de.8a123","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"20966e84.4cdd52","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["5fb163e7.d8485c"]]},{"id":"5fb163e7.d8485c","type":"function","z":"e48f52de.8a123","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"3dcde344.05e98c","type":"ui_switch","z":"b4ca66b9.c9ef88","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"20966e84.4cdd52","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["984b8ff4.d6313"]]},{"id":"984b8ff4.d6313","type":"function","z":"b4ca66b9.c9ef88","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"db5afefd.de265","type":"ui_switch","z":"811598e7.83f058","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"20966e84.4cdd52","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["65695c4d.8ab094"]]},{"id":"65695c4d.8ab094","type":"function","z":"811598e7.83f058","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"b5c8f618.404e48","type":"ui_switch","z":"4695782e.1abd38","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"20966e84.4cdd52","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["de91121c.830f6"]]},{"id":"de91121c.830f6","type":"function","z":"4695782e.1abd38","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"57e2cc7a.1e5904","type":"ui_switch","z":"1b6fa3b4.c1e25c","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["e790bcdd.debb6"]]},{"id":"e790bcdd.debb6","type":"function","z":"1b6fa3b4.c1e25c","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"592badd3.59df34","type":"ui_switch","z":"fd1625fb.a82608","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["63c649bb.9649a8"]]},{"id":"63c649bb.9649a8","type":"function","z":"fd1625fb.a82608","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"aeaa3328.e0ea2","type":"ui_switch","z":"1df033bd.0ee2fc","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["7cfb7ec0.619"]]},{"id":"7cfb7ec0.619","type":"function","z":"1df033bd.0ee2fc","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"7243f50.b0cd40c","type":"ui_switch","z":"2643d0c5.ffe81","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["c0258178.35d55"]]},{"id":"c0258178.35d55","type":"function","z":"2643d0c5.ffe81","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"d5140a24.569b48","type":"ui_switch","z":"beecdc5f.d5e1f","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["e19915e9.6f8f08"]]},{"id":"e19915e9.6f8f08","type":"function","z":"beecdc5f.d5e1f","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"1dd60853.9845b8","type":"ui_switch","z":"dd8ab578.f310e8","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["2b8b5db0.5cf102"]]},{"id":"2b8b5db0.5cf102","type":"function","z":"dd8ab578.f310e8","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"45a220e8.b93a5","type":"ui_switch","z":"ba87bfcf.f631a","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["f4fdcd35.b4112"]]},{"id":"f4fdcd35.b4112","type":"function","z":"ba87bfcf.f631a","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"7757b58c.98a9dc","type":"ui_switch","z":"6daf8082.9758c","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["97805428.bd5a58"]]},{"id":"97805428.bd5a58","type":"function","z":"6daf8082.9758c","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"d020cc62.1e9a4","type":"ui_switch","z":"46e0e1c9.40b1a","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["83ea3989.111a08"]]},{"id":"83ea3989.111a08","type":"function","z":"46e0e1c9.40b1a","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"97accf89.347a7","type":"ui_switch","z":"c7150568.a2b078","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["f682b5c5.9210c8"]]},{"id":"f682b5c5.9210c8","type":"function","z":"c7150568.a2b078","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"8508ffc8.c8615","type":"ui_switch","z":"7f05d7e6.2a60d8","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"22a188bc.769988","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["3a73aa94.b93f46"]]},{"id":"3a73aa94.b93f46","type":"function","z":"7f05d7e6.2a60d8","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3608.015579223633,"y":2539.726357460022,"wires":[[]]},{"id":"5c1fa9c7.6d26a8","type":"ui_switch","z":"d2b6066b.141f28","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"b35fd9e3.61ca08","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":3175.999973297119,"y":2345.667085647583,"wires":[["6ea76212.27fd5c"]]},{"id":"6ea76212.27fd5c","type":"function","z":"d2b6066b.141f28","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3620.1288146972656,"y":2452.5660724639893,"wires":[[]]},{"id":"edeeabbe.bf03a8","type":"subflow:d2b6066b.141f28","z":"f0ae90d4.8154","name":"ANTEROOM_MAIN_LIGHT","x":2862.8516998291016,"y":941.4739027023315,"wires":[["d2447e60.a62bf"]]},{"id":"959d3a2e.13c6f8","type":"subflow:58662587.49185c","z":"f0ae90d4.8154","name":"BOILER","env":[],"x":2880.0861282348633,"y":605.0714473724365,"wires":[["d2447e60.a62bf"]]},{"id":"727f6214.a71fcc","type":"subflow:c475ec24.2190f","z":"f0ae90d4.8154","name":"FRONTLIGHTS_KITCHEN","x":2849.365036010742,"y":661.5772304534912,"wires":[["d2447e60.a62bf"]]},{"id":"68a74f1f.22224","type":"subflow:e3fc58e9.0870d8","z":"f0ae90d4.8154","name":"LIGHT_WINDOW_LEDGE_EAST","x":2849.7940216064453,"y":714.4341616630554,"wires":[["d2447e60.a62bf"]]},{"id":"e8bc7de4.dffeb","type":"subflow:4cc5af11.22cb9","z":"f0ae90d4.8154","name":"LIGHT_OUTSIDE","x":2873.0081634521484,"y":771.5770959854126,"wires":[["d2447e60.a62bf"]]},{"id":"2b55b757.723578","type":"subflow:c74d7a7f.3c37c8","z":"f0ae90d4.8154","name":"LIGHT_KITCHEN","x":2876.800537109375,"y":826.7200574874878,"wires":[["d2447e60.a62bf"]]},{"id":"9b8016b1.37fbd8","type":"subflow:73dbdf9f.92884","z":"f0ae90d4.8154","name":"LIGHT_WINDOW_LEDGE_WEST","x":2867.5145111083984,"y":1029.7329502105713,"wires":[["d2447e60.a62bf"]]},{"id":"7752698f.97cdd8","type":"subflow:951c4e7f.f04e3","z":"f0ae90d4.8154","name":"LIGHT_KITCHENBOARD_DOWN","x":2884.0146255493164,"y":1105.9274473190308,"wires":[["d2447e60.a62bf"]]},{"id":"5cc5bb60.d29e94","type":"subflow:68836fb0.fdbe","z":"f0ae90d4.8154","name":"LIGHT_WALL_WEST","x":2875.5143127441406,"y":1145.8951478004456,"wires":[["d2447e60.a62bf"]]},{"id":"7d051ead.a8ae1","type":"subflow:7f05d7e6.2a60d8","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_11","x":2860.158660888672,"y":2219.6552715301514,"wires":[["d2447e60.a62bf"]]},{"id":"cac171d6.38c85","type":"subflow:c7150568.a2b078","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_10","x":2860.4440307617188,"y":2171.2984981536865,"wires":[["d2447e60.a62bf"]]},{"id":"3386ad09.51ac92","type":"subflow:88d5f369.da9d8","z":"f0ae90d4.8154","name":"LIGHT_DOOR_ENTRY_LEFT","x":2904.5143661499023,"y":1193.323618888855,"wires":[["d2447e60.a62bf"]]},{"id":"847cb4fa.f1ac58","type":"subflow:77fd05cb.a2414c","z":"f0ae90d4.8154","name":"LIGHT_TRIANGLE_WEST","x":2891.287040710449,"y":1245.2329640388489,"wires":[["d2447e60.a62bf"]]},{"id":"a2fb922a.60a47","type":"subflow:8da13b88.62be18","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_DOWN","x":2887.7285537719727,"y":1293.6613845825195,"wires":[["d2447e60.a62bf"]]},{"id":"f43e2da5.7df2","type":"subflow:46e0e1c9.40b1a","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_9","x":2862.2303314208984,"y":2127.798225402832,"wires":[["d2447e60.a62bf"]]},{"id":"ff306d53.ecc29","type":"subflow:6daf8082.9758c","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_8","x":2871.0870971679688,"y":2077.583867073059,"wires":[["d2447e60.a62bf"]]},{"id":"795abae5.30a494","type":"subflow:e7dfd9fc.430638","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP","x":2877.0285720825195,"y":1343.0113229751587,"wires":[["d2447e60.a62bf"]]},{"id":"f91262fe.f8da6","type":"subflow:f30d2122.58648","z":"f0ae90d4.8154","name":"LIGHT_TRIANGLE_UP","x":2888.265655517578,"y":1389.7264680862427,"wires":[["d2447e60.a62bf"]]},{"id":"41a65d84.9be4a4","type":"subflow:ba87bfcf.f631a","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_7","x":2864.1585540771484,"y":2036.5840816497803,"wires":[["d2447e60.a62bf"]]},{"id":"e52fd6bb.523b38","type":"subflow:6b386f34.1cb3d","z":"f0ae90d4.8154","name":"LIGHT_MAIN_DOOR","x":2869.0077896118164,"y":1432.999935388565,"wires":[["d2447e60.a62bf"]]},{"id":"c3cd82ce.c4e99","type":"subflow:6dc60320.99388c","z":"f0ae90d4.8154","name":"LIGHT_WINDOW_UP_EAST","x":2857.2291946411133,"y":1487.1986961364746,"wires":[["d2447e60.a62bf"]]},{"id":"1e1a9472.d38bec","type":"subflow:307bcb55.9b6374","z":"f0ae90d4.8154","name":"LIGHT_RIGHT_NEXT_DOOR","x":2853.5872192382812,"y":1528.1550788879395,"wires":[["d2447e60.a62bf"]]},{"id":"bc37f6c4.04e528","type":"subflow:e48f52de.8a123","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_DOWN_1","x":2883.4087677001953,"y":1576.0124769210815,"wires":[["d2447e60.a62bf"]]},{"id":"95dd3270.4a269","type":"subflow:dd8ab578.f310e8","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_6","x":2854.8018951416016,"y":1984.5126333236694,"wires":[["d2447e60.a62bf"]]},{"id":"ca5664b.92c6f98","type":"subflow:beecdc5f.d5e1f","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_5","x":2859.373176574707,"y":1933.798194885254,"wires":[["d2447e60.a62bf"]]},{"id":"12c16518.6039ab","type":"subflow:b4ca66b9.c9ef88","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_DOWN_2","x":2889.9287338256836,"y":1620.6192979812622,"wires":[["d2447e60.a62bf"]]},{"id":"cc0571a4.f6f62","type":"subflow:811598e7.83f058","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_DOWN_3","x":2888.6902923583984,"y":1666.452688217163,"wires":[["d2447e60.a62bf"]]},{"id":"45036d38.492a34","type":"subflow:4695782e.1abd38","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_DOWN_4","x":2890.2620162963867,"y":1708.4529342651367,"wires":[["d2447e60.a62bf"]]},{"id":"f3a2def5.556b","type":"subflow:1b6fa3b4.c1e25c","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_1","env":[],"x":2883.1432037353516,"y":1748.7625064849854,"wires":[["d2447e60.a62bf"]]},{"id":"c55548e8.23eb48","type":"subflow:fd1625fb.a82608","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_2","x":2871.6583938598633,"y":1796.2982158660889,"wires":[["d2447e60.a62bf"]]},{"id":"4c4b54f6.2d67fc","type":"subflow:1df033bd.0ee2fc","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_3","x":2866.8013458251953,"y":1840.5125999450684,"wires":[["d2447e60.a62bf"]]},{"id":"a6eea860.3af2f8","type":"subflow:2643d0c5.ffe81","z":"f0ae90d4.8154","name":"LIGHT_GALLERY_UP_4","x":2861.1587677001953,"y":1887.7982196807861,"wires":[["d2447e60.a62bf"]]},{"id":"548c1e0.d5474e4","type":"subflow:f0a05eda.9d076","z":"f0ae90d4.8154","name":"SCENARIOS","env":[],"x":1820.6500701904297,"y":1575.3953647613525,"wires":[["68a74f1f.22224","9b8016b1.37fbd8"],["3386ad09.51ac92","847cb4fa.f1ac58"]]},{"id":"b6750c2b.eff3e","type":"ui_switch","z":"d3d09cf9.ffaf2","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"95bb654.4e4b198","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["8c96587f.cb0218"]]},{"id":"8c96587f.cb0218","type":"function","z":"d3d09cf9.ffaf2","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"d0e57bd4.3b8028","type":"subflow:d3d09cf9.ffaf2","z":"f0ae90d4.8154","name":"","x":2844.5243072509766,"y":984.368049621582,"wires":[["d2447e60.a62bf"]]},{"id":"9bcfb58f.dda098","type":"ui_switch","z":"3f004828.c7a2b8","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"9488b4d5.b8f028","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["8435ad9e.ba573"]]},{"id":"8435ad9e.ba573","type":"function","z":"3f004828.c7a2b8","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"a73f2f71.e3324","type":"subflow:3f004828.c7a2b8","z":"f0ae90d4.8154","name":"","x":2930,"y":540,"wires":[["d2447e60.a62bf"]]},{"id":"76dad8ac.29bcf8","type":"ui_switch","z":"f820c10d.cc97f","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"c14c10a7.33473","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["c1a3ba20.caa668"]]},{"id":"c1a3ba20.caa668","type":"function","z":"f820c10d.cc97f","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"132d6149.95832f","type":"subflow:f820c10d.cc97f","z":"f0ae90d4.8154","name":"","env":[],"x":3030,"y":380,"wires":[["d2447e60.a62bf"]]},{"id":"85e69b6.9958c68","type":"ui_switch","z":"196e8ddd.34a752","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"b35fd9e3.61ca08","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["18535a07.286b26"]]},{"id":"18535a07.286b26","type":"function","z":"196e8ddd.34a752","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"6bb838f7.fe4e48","type":"subflow:196e8ddd.34a752","z":"f0ae90d4.8154","name":"","x":2862.403091430664,"y":899.6111755371094,"wires":[["d2447e60.a62bf"]]},{"id":"4702c5a3.7683ec","type":"ui_switch","z":"b4c6eaae.830148","name":"HEATER WEST","label":"Heizkörper West","group":"6586eed9.a52a6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["28ad2d0d.070962"]]},{"id":"28ad2d0d.070962","type":"function","z":"b4c6eaae.830148","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"665dfe14.7de4c","type":"subflow:b4c6eaae.830148","z":"f0ae90d4.8154","name":"","env":[],"x":3060,"y":320,"wires":[["d2447e60.a62bf"]]},{"id":"4352ee1c.00e1d","type":"ui_switch","z":"806d2417.b85018","name":"HEATER EAST","label":"Heizkörper Osten","group":"6586eed9.a52a6","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["f719c3a4.3668b"]]},{"id":"f719c3a4.3668b","type":"function","z":"806d2417.b85018","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"105c7d49.1db953","type":"subflow:806d2417.b85018","z":"f0ae90d4.8154","name":"","env":[],"x":3136.000328063965,"y":169.00000762939453,"wires":[["d2447e60.a62bf"]]},{"id":"228a9b8c.7c22e4","type":"ui_button","z":"f0ae90d4.8154","name":"HEATERSOFF","group":"d240128.a8f52f","order":5,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":2746.0002059936523,"y":187,"wires":[["105c7d49.1db953","665dfe14.7de4c"]]},{"id":"40cb58e4.fa8328","type":"ui_button","z":"f0ae90d4.8154","name":"HEATERSON","group":"d240128.a8f52f","order":5,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":2738.0002059936523,"y":289.9999942779541,"wires":[["105c7d49.1db953","665dfe14.7de4c"]]},{"id":"eceb3f1d.68af4","type":"ui_button","z":"176b8fc2.dd619","name":"GallerieOben_Ein","group":"22a188bc.769988","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["25c5806f.8537c"]]},{"id":"fe7bc8a4.b97718","type":"link in","z":"f0ae90d4.8154","name":"","links":["25c5806f.8537c"],"x":2478,"y":2121,"wires":[["f3a2def5.556b","c55548e8.23eb48","4c4b54f6.2d67fc","a6eea860.3af2f8","ca5664b.92c6f98","95dd3270.4a269","41a65d84.9be4a4","ff306d53.ecc29","f43e2da5.7df2","cac171d6.38c85","7d051ead.a8ae1"]]},{"id":"25c5806f.8537c","type":"link out","z":"176b8fc2.dd619","name":"","links":["fe7bc8a4.b97718"],"x":715,"y":160,"wires":[]},{"id":"379ed5d9.0a42aa","type":"ui_button","z":"176b8fc2.dd619","name":"GallerieOben_Aus","group":"22a188bc.769988","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["25c5806f.8537c"]]},{"id":"110b00f2.1219bf","type":"function","z":"68c1931b.2f4ecc","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"9225d423.9ad128","type":"ui_button","z":"68c1931b.2f4ecc","name":"ANTEROOM_MIDDLE_OFF","group":"b35fd9e3.61ca08","order":0,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["110b00f2.1219bf"]]},{"id":"b6c0f561.d14c88","type":"subflow:68c1931b.2f4ecc","z":"f0ae90d4.8154","name":"ANTEROOM_MIDDLE","env":[],"x":3060,"y":440,"wires":[["d2447e60.a62bf"]]}]