projects/TRIAL/Trialflow.json
[{"id":"66a7bf75.1a66b","type":"tab","label":"GATE_TEST","disabled":false,"info":""},{"id":"70efd483.b3612c","type":"tab","label":"TIMER_TEST","disabled":false,"info":""},{"id":"81d71abe.1d57e8","type":"tab","label":"GATE_VIA_FUNCTION","disabled":false,"info":""},{"id":"ede0b60e.755c48","type":"tab","label":"CLUTCH","disabled":false,"info":""},{"id":"a6f0a3a1.c5cc2","type":"tab","label":"PERSISTENT_JSON","disabled":false,"info":""},{"id":"32cae4b9.0fb31c","type":"tab","label":"PERSISTENT_TEST","disabled":false,"info":""},{"id":"f8dd800d.1fe77","type":"tab","label":"IMPROVED_DATA_LOAD_STORE","disabled":false,"info":""},{"id":"3188a124.a0007e","type":"tab","label":"PHIDGETS","disabled":false,"info":""},{"id":"132eaea6.358c31","type":"tab","label":"SOUND","disabled":false,"info":""},{"id":"eaf0a555.19c6a8","type":"tab","label":"TEMP_CONTROLLER","disabled":false,"info":""},{"id":"e9785c72.e8b4c","type":"group","z":"eaf0a555.19c6a8","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7a0466a9.9e8e3","72b33982.8a9ff8","d7fbb085.541bb8","a060330a.8f2bf","abf81fc9.defbe","44e9ca81.016e9c","675f50d7.44342","e7a0c1a3.4f2ce","19a0f8c0.fd49d7","425e52f2.af005c","f39eb702.d086","9dcf8bd4.b1d858"],"x":74,"y":119,"w":1252,"h":262},{"id":"5ea97dc.96c0104","type":"ui_tab","z":"","name":"DATAHANDLING_TEST","icon":"dashboard","disabled":false,"hidden":false},{"id":"15581ee.424d761","type":"ui_group","z":"","name":"Default","tab":"5ea97dc.96c0104","order":1,"disp":true,"width":"6","collapse":false},{"id":"8437860.f6f4178","type":"ui_group","z":"66a7bf75.1a66b","name":"Second","tab":"bda0c4a1.1935c8","order":2,"disp":true,"width":"5"},{"id":"bda0c4a1.1935c8","type":"ui_tab","z":"66a7bf75.1a66b","name":"Home","icon":"link","order":1},{"id":"7131b1c6.16c8c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9ae013c4.3be8e","type":"ui_spacer","name":"spacer","group":"8437860.f6f4178","order":1,"width":1,"height":1},{"id":"c30ab2b5.74f9e","type":"ui_group","name":"Group 2","tab":"bda0c4a1.1935c8","order":2,"disp":true,"width":6},{"id":"debbd10e.c3fda","type":"ui_group","name":"Group 3","tab":"bda0c4a1.1935c8","order":3,"disp":true,"width":6},{"id":"a72f7da7.529c","type":"ui_group","z":"","name":"luces","tab":"e7b906ed.b51b48","order":2,"disp":true,"width":"7","collapse":true},{"id":"e7b906ed.b51b48","type":"ui_tab","z":"","name":"SALON","icon":"fa-television","order":2},{"id":"900c5416.1996d8","type":"ui_group","z":"","name":"Col1","tab":"5559d384.09e22c","order":1,"disp":false,"width":"6"},{"id":"7af2efc.c09141","type":"ui_group","z":"","name":"Actions","tab":"5559d384.09e22c","order":4,"disp":true,"width":"6"},{"id":"f55faac6.03d848","type":"ui_group","z":"","name":"Col2","tab":"5559d384.09e22c","order":2,"disp":false,"width":"6"},{"id":"61a9ad27.50f704","type":"ui_group","z":"","name":"Col3","tab":"5559d384.09e22c","order":3,"disp":false,"width":"6"},{"id":"5559d384.09e22c","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1},{"id":"ad0dcc31.784ce","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"c962655b.3ce558","order":1,"disp":true,"width":"6","collapse":false},{"id":"c962655b.3ce558","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"d137cc69.baba2","type":"ui_tab","z":"","name":"TEMPCONTROLLER","icon":"dashboard","disabled":false,"hidden":false},{"id":"898e7427.adcda8","type":"ui_group","z":"","name":"Default","tab":"d137cc69.baba2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a061df9.e5eac2","type":"persist-store","z":"","filename":"persistence.json","interval":"60"},{"id":"c724fbbd.75a2b","type":"ui_button","z":"66a7bf75.1a66b","name":"PLAY","group":"15581ee.424d761","order":2,"width":0,"height":0,"passthru":false,"label":"play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hi","payloadType":"str","topic":"","x":270,"y":280,"wires":[["2b193a0.4208146"]]},{"id":"a94a7a25.b30ae8","type":"ui_audio","z":"66a7bf75.1a66b","name":"","group":"15581ee.424d761","voice":"","always":"","x":610,"y":220,"wires":[]},{"id":"2b193a0.4208146","type":"file in","z":"66a7bf75.1a66b","name":"SOUND","filename":"\\soundfiles\\beep.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":280,"wires":[["a94a7a25.b30ae8","463a1302.47cfe4"]]},{"id":"463a1302.47cfe4","type":"debug","z":"66a7bf75.1a66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":320,"wires":[]},{"id":"f35f25d6.07d6d8","type":"gate","z":"66a7bf75.1a66b","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":560,"y":580,"wires":[["2dac1465.55214c","e8017aeb.be1648","2b193a0.4208146"]]},{"id":"2e49b2d1.5ab786","type":"ui_switch","z":"66a7bf75.1a66b","name":"","label":"SWITCH PULSES","tooltip":"","group":"15581ee.424d761","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"control","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":290,"y":680,"wires":[["f35f25d6.07d6d8"]]},{"id":"2dac1465.55214c","type":"debug","z":"66a7bf75.1a66b","name":"Stuff to do when switch is ON (sprinkler allowed)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":580,"wires":[]},{"id":"73c7c06f.724f58","type":"inject","z":"66a7bf75.1a66b","name":"SOME PULSES","repeat":"2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"open","payloadType":"str","x":320,"y":480,"wires":[["f35f25d6.07d6d8"]]},{"id":"e8017aeb.be1648","type":"debug","z":"66a7bf75.1a66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"85ddb21e.034ea","type":"inject","z":"66a7bf75.1a66b","name":"","repeat":"","crontab":"","once":true,"onceDelay":"","topic":"press","payload":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\"></i>","payloadType":"str","x":280,"y":740,"wires":[["ab580926.9f6ef8"]]},{"id":"ab580926.9f6ef8","type":"ui_text","z":"66a7bf75.1a66b","group":"8437860.f6f4178","order":1,"width":"1","height":"1","name":"default","label":"","format":"{{msg.payload}}","layout":"row-center","x":470,"y":720,"wires":[]},{"id":"d0a14ca9.bba71","type":"ui_switch","z":"66a7bf75.1a66b","name":"","label":"switch","tooltip":"","group":"8437860.f6f4178","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\"></i>","onvalueType":"str","onicon":"","oncolor":"","offvalue":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard\"></i>","offvalueType":"str","officon":"","offcolor":"","x":280,"y":800,"wires":[["ab580926.9f6ef8"]]},{"id":"71877a62.b0bb34","type":"change","z":"66a7bf75.1a66b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\"></i>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"<i class=\"fa fa-lightbulb-o fa-2x\"></i> ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":840,"wires":[["d5443087.1ec9e"]]},{"id":"d5443087.1ec9e","type":"ui_text","z":"66a7bf75.1a66b","group":"a72f7da7.529c","order":1,"width":"1","height":"1","name":"icon status entrada","label":"","format":"{{msg.payload}}","layout":"row-center","x":1010,"y":840,"wires":[]},{"id":"dd10d4f3.ca87a8","type":"function","z":"66a7bf75.1a66b","name":"check","func":"if (msg.payload === false){\n    msg.payload = \"#FF0000\";\n    return msg;\n}else if (msg.payload === true){\n    msg.payload = \"#00FF00\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":920,"wires":[["db61aba6.8f35e8"]]},{"id":"db61aba6.8f35e8","type":"ui_template","z":"66a7bf75.1a66b","group":"a72f7da7.529c","name":"Status luz entrada","order":3,"width":"1","height":"1","format":"<style>\n.led {\n    float: right;\n    padding: 3px;\n    width: 20px;\n    height: 20px;\n    margin: 5px 5px 5px 5px;\n    border-radius: 50%;\n    \n}\n</style>\n\n<div><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.payload}} 0 3px 15px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":990,"y":940,"wires":[[]]},{"id":"f57c55ae.8850d8","type":"ui_switch","z":"66a7bf75.1a66b","name":"","label":"switch","tooltip":"","group":"a72f7da7.529c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":920,"wires":[["71877a62.b0bb34","dd10d4f3.ca87a8"]]},{"id":"56c9a2c5.1cc26c","type":"ui_gauge","z":"66a7bf75.1a66b","name":"","group":"900c5416.1996d8","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":1140,"wires":[]},{"id":"3187ba64.fe0e36","type":"exec","z":"66a7bf75.1a66b","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":390,"y":1140,"wires":[["f62ceb3e.12c258"],[],[]]},{"id":"58af1280.69c3cc","type":"inject","z":"66a7bf75.1a66b","name":"","repeat":"10","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":184.5,"y":1148.25,"wires":[[]]},{"id":"f62ceb3e.12c258","type":"function","z":"66a7bf75.1a66b","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1140,"wires":[["56c9a2c5.1cc26c","a3f5d58d.8f38d8"]]},{"id":"d8ca32ec.ba6f7","type":"ui_button","z":"66a7bf75.1a66b","name":"","group":"7af2efc.c09141","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1520,"wires":[["9484650.53c9698"]]},{"id":"9484650.53c9698","type":"exec","z":"66a7bf75.1a66b","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Reboot","x":378,"y":1520,"wires":[[],[],[]]},{"id":"93b49884.d95528","type":"ui_button","z":"66a7bf75.1a66b","name":"","group":"7af2efc.c09141","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":168.5,"y":1564.25,"wires":[["f6d8e8d8.521da8"]]},{"id":"f6d8e8d8.521da8","type":"exec","z":"66a7bf75.1a66b","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Shutdown","x":389.5,"y":1582.25,"wires":[[],[],[]]},{"id":"a3f5d58d.8f38d8","type":"ui_chart","z":"66a7bf75.1a66b","name":"","group":"900c5416.1996d8","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"outputs":2,"x":750,"y":1180,"wires":[[],[]]},{"id":"907d7b8b.105b48","type":"exec","z":"66a7bf75.1a66b","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"CPU Load","x":390,"y":1220,"wires":[["ed6d60c5.5aa08"],[],[]]},{"id":"1fb45a59.5a2716","type":"exec","z":"66a7bf75.1a66b","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":390,"y":1300,"wires":[["e735f62b.f235c8"],[],[]]},{"id":"ed6d60c5.5aa08","type":"ui_gauge","z":"66a7bf75.1a66b","name":"","group":"900c5416.1996d8","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":750,"y":1220,"wires":[]},{"id":"e735f62b.f235c8","type":"ui_gauge","z":"66a7bf75.1a66b","name":"","group":"f55faac6.03d848","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":750,"y":1300,"wires":[]},{"id":"7d3da0ef.4d288","type":"exec","z":"66a7bf75.1a66b","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":390,"y":1380,"wires":[["7dfde397.398f8c"],[],[]]},{"id":"cb9bdea3.5bef1","type":"ui_gauge","z":"66a7bf75.1a66b","name":"","group":"61a9ad27.50f704","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":750,"y":1380,"wires":[]},{"id":"7dfde397.398f8c","type":"function","z":"66a7bf75.1a66b","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1380,"wires":[["cb9bdea3.5bef1"]]},{"id":"5b815fdc.72f22","type":"inject","z":"66a7bf75.1a66b","name":"","repeat":"60","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":190,"y":1380,"wires":[[]]},{"id":"14d8f0ca.267e9f","type":"bigtimer","z":"70efd483.b3612c","outtopic":"AutoTimer","outpayload1":"AutoTimerIsOn","outpayload2":"AutoTimerIsOff","name":"BigTimerAuto","comment":"","lat":"47.51623","lon":"14.55007","starttime":"1200","endtime":"1215","starttime2":0,"endtime2":0,"startoff":"0","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"ON","outtext2":"OFF","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":520,"y":300,"wires":[["c44ee481.a76448"],["ff1c8b3c.840ef8"],[]]},{"id":"c44ee481.a76448","type":"debug","z":"70efd483.b3612c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":260,"wires":[]},{"id":"bee03ea0.9062a","type":"inject","z":"70efd483.b3612c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OverrideOn","payload":"on","payloadType":"str","x":300,"y":140,"wires":[["14d8f0ca.267e9f"]]},{"id":"9fa9e252.82ac1","type":"inject","z":"70efd483.b3612c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OverrideOff","payload":"off","payloadType":"str","x":300,"y":200,"wires":[["14d8f0ca.267e9f"]]},{"id":"a507ec4d.83848","type":"inject","z":"70efd483.b3612c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OverrideAuto","payload":"auto","payloadType":"str","x":270,"y":280,"wires":[["14d8f0ca.267e9f"]]},{"id":"ef826f0f.c65a4","type":"debug","z":"70efd483.b3612c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":360,"wires":[]},{"id":"ff1c8b3c.840ef8","type":"debug","z":"70efd483.b3612c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":300,"wires":[]},{"id":"ee6d09a2.a37d18","type":"inject","z":"70efd483.b3612c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OverrideReset","payload":"reset","payloadType":"str","x":270,"y":340,"wires":[["14d8f0ca.267e9f"]]},{"id":"cae73443.905158","type":"function","z":"66a7bf75.1a66b","name":"TESTMESSAGE","func":"var Topic = msg.Topic;\n//msg.Timestamp = msg.Timestamp;\n\n//var NewMessage = new Object();\n//NewMessage.Timestamp = 0;\n//NewMessage.Signal = false;\n//NewMessage.Topic = Topic;\n\n//NewMessage.Timestamp =  msg.Timestamp;\n//NewMessage.Signal = msg.Signal;\n//NewMessage.Topic = Topic;\n\nif( Topic == \"TIMESTAMP\")\n{\n   msg.Timestamp =  msg.payload;\n}\n\nif( Topic === 'SIGNAL')\n{\n   msg.Signal = msg.payload;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":120,"wires":[["d4a6681f.972828"]]},{"id":"bf8b5392.5eb228","type":"inject","z":"66a7bf75.1a66b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SIGNAL","payload":"true","payloadType":"bool","x":190,"y":80,"wires":[["e3724f84.54b618"]]},{"id":"d4a6681f.972828","type":"debug","z":"66a7bf75.1a66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":120,"wires":[]},{"id":"7bdf2302.fbd824","type":"inject","z":"66a7bf75.1a66b","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TIMESTAMP","payload":"","payloadType":"date","x":240,"y":160,"wires":[["bad4e49b.43ba68"]]},{"id":"bad4e49b.43ba68","type":"change","z":"66a7bf75.1a66b","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":140,"wires":[["cae73443.905158"]]},{"id":"e3724f84.54b618","type":"change","z":"66a7bf75.1a66b","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"Signal","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["cae73443.905158"]]},{"id":"467b88dd.348238","type":"function","z":"81d71abe.1d57e8","name":"TRIGGER_GATE","func":"var NewMsg = { topic : \"SpeedGate\", payload : \"close\", Speed : 127 };\n\nif( msg.topic === \"TRIGGER\" )\n{\n    if( msg.payload === 1)\n    {\n        NewMsg.Speed  = 721;\n        NewMsg.payload = \"open\";\n    }\n}\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["2386d810.898558","a169ab71.807b58"]]},{"id":"d28205c1.fdf348","type":"inject","z":"81d71abe.1d57e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TRIGGER","payload":"1","payloadType":"num","x":230,"y":640,"wires":[["467b88dd.348238"]]},{"id":"a169ab71.807b58","type":"gate","z":"81d71abe.1d57e8","name":"RELEASE_SPEED","controlTopic":"SpeedGate","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":690,"y":600,"wires":[["72a85de1.1c3764"]]},{"id":"2386d810.898558","type":"debug","z":"81d71abe.1d57e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":680,"wires":[]},{"id":"72a85de1.1c3764","type":"debug","z":"81d71abe.1d57e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":700,"wires":[]},{"id":"392d77bc.d6bd18","type":"gate","z":"81d71abe.1d57e8","name":"gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":450,"y":400,"wires":[["21f5f197.e85e9e"]]},{"id":"b81057e7.67a948","type":"inject","z":"81d71abe.1d57e8","name":"input","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":400,"wires":[["392d77bc.d6bd18"]]},{"id":"32223967.0c90d6","type":"inject","z":"81d71abe.1d57e8","name":"open","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"open","payloadType":"str","x":250,"y":460,"wires":[["392d77bc.d6bd18"]]},{"id":"ec394ccc.2a956","type":"inject","z":"81d71abe.1d57e8","name":"close","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"close","payloadType":"str","x":250,"y":500,"wires":[["392d77bc.d6bd18"]]},{"id":"a37beafb.1e64d8","type":"inject","z":"81d71abe.1d57e8","name":"toggle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":250,"y":540,"wires":[["392d77bc.d6bd18"]]},{"id":"490b440d.4a801c","type":"inject","z":"81d71abe.1d57e8","name":"reset","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"default","payloadType":"str","x":250,"y":580,"wires":[["392d77bc.d6bd18"]]},{"id":"21f5f197.e85e9e","type":"debug","z":"81d71abe.1d57e8","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":400,"wires":[]},{"id":"a1d6955.39dd768","type":"inject","z":"81d71abe.1d57e8","name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"SpeedGate","payload":"toggle","payloadType":"str","x":210,"y":700,"wires":[[]]},{"id":"6b7adf67.121c5","type":"gate","z":"81d71abe.1d57e8","name":"gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":450,"y":240,"wires":[["d9a1a5ba.9c2f98"]]},{"id":"6fe1902d.e6cb3","type":"inject","z":"81d71abe.1d57e8","name":"toggle","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":280,"y":240,"wires":[["6b7adf67.121c5"]]},{"id":"d9a1a5ba.9c2f98","type":"debug","z":"81d71abe.1d57e8","name":"output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":240,"wires":[]},{"id":"b4ee9585.842f88","type":"function","z":"81d71abe.1d57e8","name":"TRIGGERED_COUNTER","func":"var NewMsg = { payload : 0, Speed : 0};\nvar Counter = context.get('Counter') || 0;\n\nif( msg.topic == \"COUNTER\" )\n{\n    Counter++;\n}\n\nif( msg.topic == \"TRIGGER\" )\n{ \n    if( Counter === 0 )\n    { \n        NewMsg.payload = 1;\n    }\n    else\n    {\n        NewMsg.payload = Counter;\n    }\n    NewMsg.Speed = Counter;\n   \n    Counter = 0;\n}\n\ncontext.set('Counter', Counter);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":390,"y":820,"wires":[["72eba2ea.be334c"]]},{"id":"533c70e.f72439","type":"inject","z":"81d71abe.1d57e8","name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"TRIGGER","payload":"1","payloadType":"num","x":190,"y":860,"wires":[["b4ee9585.842f88"]]},{"id":"5562af71.dfc19","type":"inject","z":"81d71abe.1d57e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"COUNTER","payload":"1","payloadType":"num","x":190,"y":780,"wires":[["b4ee9585.842f88"]]},{"id":"72eba2ea.be334c","type":"switch","z":"81d71abe.1d57e8","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":820,"wires":[["3369256a.2b85fa"]]},{"id":"3369256a.2b85fa","type":"debug","z":"81d71abe.1d57e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":800,"wires":[]},{"id":"e3eaab3a.8a7168","type":"ui_numeric","z":"81d71abe.1d57e8","name":"","label":"numeric","tooltip":"","group":"15581ee.424d761","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":200,"y":1000,"wires":[["c35db2a0.93c15"]]},{"id":"2a17afe4.60446","type":"debug","z":"81d71abe.1d57e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":880,"wires":[]},{"id":"c35db2a0.93c15","type":"function","z":"81d71abe.1d57e8","name":"LEVEL_CHECK","func":"var NewMsg = { payload : 0, Information : ''};\nvar Level = context.get('Level') || 0;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.topic == 'ACTUAL_VALUE')\n{\n    if( Level >= msg.payload   )\n    {\n        NewMsg.payload = PassActualValue;\n        NewMsg.Information = 'AnyInformation';\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\nelse\n{\n   Level = msg.payload;\n}\n\ncontext.set('Level', Level);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":480,"y":960,"wires":[["9067098f.1059d8","41f9cb26.701534"]]},{"id":"80a55b38.a29af8","type":"inject","z":"81d71abe.1d57e8","name":"","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"ACTUAL_VALUE","payload":"3","payloadType":"num","x":180,"y":920,"wires":[["8b057a9a.08c4a8"]]},{"id":"9067098f.1059d8","type":"switch","z":"81d71abe.1d57e8","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":940,"wires":[["a357b5cb.dd2e28"]]},{"id":"a357b5cb.dd2e28","type":"debug","z":"81d71abe.1d57e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":940,"wires":[]},{"id":"41f9cb26.701534","type":"debug","z":"81d71abe.1d57e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":1000,"wires":[]},{"id":"8b057a9a.08c4a8","type":"switch","z":"81d71abe.1d57e8","name":"ANY","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":880,"wires":[["c35db2a0.93c15","2a17afe4.60446"]]},{"id":"ac96ed3.3a4521","type":"function","z":"ede0b60e.755c48","name":"CLUTCH","func":"var NewMsg = { payload : 0, limit : 0 };\nvar Clutch = context.get('Clutch') || 0;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.timespan >= 0)\n{\n    if( msg.timespan >= Clutch   )\n    {\n        NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\n\nif( msg.topic == 'CLUTCH_LIMIT')\n{\n    Clutch = msg.payload;\n    context.set('Clutch', Clutch);\n}\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["ce1523af.2cefb"]]},{"id":"3f8a1b3c.c622f4","type":"ui_numeric","z":"ede0b60e.755c48","name":"","label":"numeric","tooltip":"","group":"15581ee.424d761","order":4,"width":0,"height":0,"passthru":true,"topic":"CLUTCH_LIMIT","format":"{{value}}","min":0,"max":10,"step":1,"x":240,"y":180,"wires":[["ac96ed3.3a4521"]]},{"id":"ce1523af.2cefb","type":"debug","z":"ede0b60e.755c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"c2e56589.893288","type":"inject","z":"ede0b60e.755c48","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":110,"y":40,"wires":[["540d5021.26554"]]},{"id":"540d5021.26554","type":"change","z":"ede0b60e.755c48","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"timespan","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":40,"wires":[["ac96ed3.3a4521","96866dd9.342b2"]]},{"id":"96866dd9.342b2","type":"debug","z":"ede0b60e.755c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":40,"wires":[]},{"id":"2fe40297.e74fee","type":"ui_switch","z":"a6f0a3a1.c5cc2","name":"Heizung","label":"HEIZUNG","tooltip":"","group":"ad0dcc31.784ce","order":0,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":1480,"y":360,"wires":[[]]},{"id":"1e324ff2.4a849","type":"ui_button","z":"a6f0a3a1.c5cc2","name":"","group":"ad0dcc31.784ce","order":1,"width":0,"height":0,"passthru":false,"label":"EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":320,"wires":[["8a97a5f9.8e64f8"]]},{"id":"1603bc50.95cfc4","type":"ui_button","z":"a6f0a3a1.c5cc2","name":"","group":"ad0dcc31.784ce","order":1,"width":0,"height":0,"passthru":false,"label":"AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":360,"wires":[["32605a75.70fb46","5a03e72a.853a98"]]},{"id":"32605a75.70fb46","type":"bigtimer","z":"a6f0a3a1.c5cc2","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.22908","lon":"13.0208","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1100,"y":360,"wires":[[],["38d76518.70730a","999ca3ed.bf5cd"],[]]},{"id":"447bbac0.ec21c4","type":"ui_button","z":"a6f0a3a1.c5cc2","name":"","group":"ad0dcc31.784ce","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":470,"y":420,"wires":[["32605a75.70fb46","e4e41468.fb99a8"]]},{"id":"8a97a5f9.8e64f8","type":"change","z":"a6f0a3a1.c5cc2","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":260,"wires":[["32605a75.70fb46","57e78dd2.a85c24"]]},{"id":"5a03e72a.853a98","type":"change","z":"a6f0a3a1.c5cc2","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":320,"wires":[["32605a75.70fb46","57e78dd2.a85c24"]]},{"id":"e4e41468.fb99a8","type":"change","z":"a6f0a3a1.c5cc2","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["32605a75.70fb46","57e78dd2.a85c24"]]},{"id":"57e78dd2.a85c24","type":"ui_text","z":"a6f0a3a1.c5cc2","group":"ad0dcc31.784ce","order":4,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":440,"wires":[]},{"id":"38d76518.70730a","type":"change","z":"a6f0a3a1.c5cc2","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":340,"wires":[["2fe40297.e74fee"]]},{"id":"999ca3ed.bf5cd","type":"change","z":"a6f0a3a1.c5cc2","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":380,"wires":[["2fe40297.e74fee"]]},{"id":"4b7985d5.18adcc","type":"ui_numeric","z":"a6f0a3a1.c5cc2","name":"OnHour","label":"Einschalten Stunde","tooltip":"","group":"ad0dcc31.784ce","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":40,"wires":[["61878c52.d5d754"]]},{"id":"826ac6a1.9ca928","type":"ui_numeric","z":"a6f0a3a1.c5cc2","name":"OnMinute","label":"Einschalten Minute","tooltip":"","group":"ad0dcc31.784ce","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":100,"wires":[["61878c52.d5d754"]]},{"id":"e9c75241.bf23e","type":"ui_numeric","z":"a6f0a3a1.c5cc2","name":"OffHour","label":"Ausschalten Stunde","tooltip":"","group":"ad0dcc31.784ce","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":160,"wires":[["61878c52.d5d754"]]},{"id":"79a97424.9000dc","type":"ui_numeric","z":"a6f0a3a1.c5cc2","name":"OffMinute","label":"Ausschalten Minute","tooltip":"","group":"ad0dcc31.784ce","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":220,"wires":[["61878c52.d5d754"]]},{"id":"31357343.85049c","type":"file","z":"a6f0a3a1.c5cc2","name":"StoreTimeSettings","filename":"timesettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1450,"y":120,"wires":[[]]},{"id":"61878c52.d5d754","type":"join","z":"a6f0a3a1.c5cc2","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1160,"y":120,"wires":[["31357343.85049c","aa24a71.cbb1e58","1ceb710b.904d4f","a0f0b983.94fb88"]]},{"id":"307ec0c2.67b06","type":"file in","z":"a6f0a3a1.c5cc2","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":120,"wires":[["9bedd3aa.0263a"]]},{"id":"7f5c1c5d.cb9454","type":"inject","z":"a6f0a3a1.c5cc2","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"LOAD","payload":"true","payloadType":"bool","x":70,"y":120,"wires":[["307ec0c2.67b06"]]},{"id":"9bedd3aa.0263a","type":"json","z":"a6f0a3a1.c5cc2","name":"","property":"payload","action":"","pretty":false,"x":450,"y":120,"wires":[["7a5f5c7.20ea9a4","d3f3e49f.a325b8","a1d692eb.5ffcc","931febc2.e22928"]]},{"id":"7a5f5c7.20ea9a4","type":"change","z":"a6f0a3a1.c5cc2","name":"GetHourOn","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":60,"wires":[["4b7985d5.18adcc"]]},{"id":"d3f3e49f.a325b8","type":"change","z":"a6f0a3a1.c5cc2","name":"GetMinuteOn","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":100,"wires":[["826ac6a1.9ca928"]]},{"id":"a1d692eb.5ffcc","type":"change","z":"a6f0a3a1.c5cc2","name":"GetHourOff","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":140,"wires":[["e9c75241.bf23e"]]},{"id":"931febc2.e22928","type":"change","z":"a6f0a3a1.c5cc2","name":"GetMinuteOff","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["79a97424.9000dc"]]},{"id":"aa24a71.cbb1e58","type":"function","z":"a6f0a3a1.c5cc2","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":260,"wires":[["32605a75.70fb46"]]},{"id":"1ceb710b.904d4f","type":"function","z":"a6f0a3a1.c5cc2","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":200,"wires":[["32605a75.70fb46"]]},{"id":"2ffe3e74.3e1e12","type":"inject","z":"a6f0a3a1.c5cc2","name":"Reload","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":160,"wires":[["307ec0c2.67b06"]]},{"id":"a0f0b983.94fb88","type":"debug","z":"a6f0a3a1.c5cc2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1340,"y":60,"wires":[]},{"id":"9536839a.f78c9","type":"change","z":"32cae4b9.0fb31c","name":"Maximum","rules":[{"t":"move","p":"payload.Maximum","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":40,"wires":[["2ee073f5.441afc"]]},{"id":"eedb1eb0.24f36","type":"json","z":"32cae4b9.0fb31c","name":"","property":"payload","action":"","pretty":false,"x":450,"y":40,"wires":[["9536839a.f78c9"]]},{"id":"7a1e7c04.6d9b44","type":"file in","z":"32cae4b9.0fb31c","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":40,"wires":[["eedb1eb0.24f36"]]},{"id":"1fe3ef17.2dabc1","type":"inject","z":"32cae4b9.0fb31c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"LOAD","payload":"true","payloadType":"bool","x":90,"y":20,"wires":[["7a1e7c04.6d9b44"]]},{"id":"6c453c14.04f6b4","type":"inject","z":"32cae4b9.0fb31c","name":"Reload","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":60,"wires":[["7a1e7c04.6d9b44"]]},{"id":"2ee073f5.441afc","type":"ui_numeric","z":"32cae4b9.0fb31c","name":"Maximum","label":"MAXIMUM","tooltip":"","group":"ad0dcc31.784ce","order":5,"width":0,"height":0,"passthru":true,"topic":"Maximum","format":"{{value}}","min":0,"max":"24","step":1,"x":740,"y":40,"wires":[["76da1bcb.f215c4"]]},{"id":"76da1bcb.f215c4","type":"join","z":"32cae4b9.0fb31c","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":900,"y":40,"wires":[["ea46420c.9cd31"]]},{"id":"ea46420c.9cd31","type":"function","z":"32cae4b9.0fb31c","name":"GLOBAL_STORE","func":"global.set(\"PublicTimeSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":40,"wires":[["8dec3eef.f95fe"]]},{"id":"21f6a315.3e48fc","type":"inject","z":"32cae4b9.0fb31c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LOAD","payload":"0","payloadType":"num","x":590,"y":80,"wires":[["2ee073f5.441afc"]]},{"id":"dcd45138.8947f","type":"function","z":"32cae4b9.0fb31c","name":"GLOBAL_GET","func":"var NewMsg = { Maximum : 0,ToCompare :0, TellMe : 'I AM TOO SMALL :(' };\nvar Timesettings = global.get(\"PublicTimeSettings\");\nNewMsg.Maximum = Timesettings.Maximum;\nNewMsg.ToCompare = msg.payload;\n\nif( msg.topic === 'ACTUALVALUE')\n{\n    if( msg.payload > NewMsg.Maximum  )\n    {  \n        NewMsg.TellMe = 'HI I AM BIGGER !!!!';\n    }\n}\nreturn NewMsg;","outputs":1,"noerr":0,"x":1080,"y":100,"wires":[["3ec44ad4.76af86"]]},{"id":"3ec44ad4.76af86","type":"debug","z":"32cae4b9.0fb31c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":100,"wires":[]},{"id":"dc4bd240.b2e3f","type":"inject","z":"32cae4b9.0fb31c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ACTUALVALUE","payload":"10","payloadType":"num","x":790,"y":100,"wires":[["dcd45138.8947f"]]},{"id":"8dec3eef.f95fe","type":"file","z":"32cae4b9.0fb31c","name":"","filename":"timesettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1270,"y":40,"wires":[[]]},{"id":"3f00000b.355fe","type":"change","z":"f8dd800d.1fe77","name":"TestValue","rules":[{"t":"move","p":"payload.TestValue","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":60,"wires":[["dfe81dce.80f0f","c770d02c.9e7d5"]]},{"id":"f2dd9734.4cfdc8","type":"json","z":"f8dd800d.1fe77","name":"","property":"payload","action":"","pretty":false,"x":390,"y":40,"wires":[["3f00000b.355fe","34df4cd8.be3434"]]},{"id":"ea88fa4e.bf8e48","type":"file in","z":"f8dd800d.1fe77","name":"LoadData","filename":"testsettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":60,"wires":[["f2dd9734.4cfdc8"]]},{"id":"52ccc295.e07b2c","type":"inject","z":"f8dd800d.1fe77","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"LOAD","payload":"true","payloadType":"bool","x":90,"y":40,"wires":[["ea88fa4e.bf8e48"]]},{"id":"6a14afa5.3781e","type":"inject","z":"f8dd800d.1fe77","name":"Reload","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":80,"wires":[["ea88fa4e.bf8e48"]]},{"id":"dfe81dce.80f0f","type":"ui_numeric","z":"f8dd800d.1fe77","name":"TESTVALUE","label":"TESTVALUE","tooltip":"","group":"15581ee.424d761","order":5,"width":0,"height":0,"passthru":false,"topic":"TestValue","format":"{{value}}","min":0,"max":"24","step":1,"x":730,"y":140,"wires":[["b125640a.01f3e8"]]},{"id":"b125640a.01f3e8","type":"join","z":"f8dd800d.1fe77","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":960,"y":100,"wires":[["deaaa160.f1353"]]},{"id":"deaaa160.f1353","type":"function","z":"f8dd800d.1fe77","name":"GLOBAL_STORE","func":"global.set(\"PublicTestSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":60,"wires":[["e8272b7b.facdd8"]]},{"id":"b377e3ba.3caa6","type":"inject","z":"f8dd800d.1fe77","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"LOAD","payload":"0","payloadType":"num","x":530,"y":180,"wires":[["dfe81dce.80f0f"]]},{"id":"5679f077.f28ee","type":"function","z":"f8dd800d.1fe77","name":"GLOBAL_GET","func":"var NewMsg = global.get(\"PublicTestSettings\")||0;\nreturn NewMsg;","outputs":1,"noerr":0,"x":660,"y":280,"wires":[["68e91d1c.660f64"]]},{"id":"68e91d1c.660f64","type":"debug","z":"f8dd800d.1fe77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":280,"wires":[]},{"id":"3d3f6608.21e90a","type":"inject","z":"f8dd800d.1fe77","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"GETDATA","payload":"true","payloadType":"bool","x":480,"y":280,"wires":[["5679f077.f28ee"]]},{"id":"e8272b7b.facdd8","type":"file","z":"f8dd800d.1fe77","name":"StoreData","filename":"testsettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1300,"y":60,"wires":[[]]},{"id":"1c73d1fc.f6e42e","type":"inject","z":"f8dd800d.1fe77","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"STORE","payload":"true","payloadType":"bool","x":730,"y":220,"wires":[["b125640a.01f3e8"]]},{"id":"c770d02c.9e7d5","type":"debug","z":"f8dd800d.1fe77","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":20,"wires":[]},{"id":"34df4cd8.be3434","type":"function","z":"f8dd800d.1fe77","name":"GLOBAL_STORE","func":"global.set(\"PublicTestSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[[]]},{"id":"40479ab6.b817e4","type":"phidget22-digitaloutput","z":"3188a124.a0007e","channel":0,"deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":"0","debug":true,"LEDCurrentLimit":0.02,"LEDForwardVoltage":1,"x":700,"y":340,"wires":[[]]},{"id":"26ba632.4e6099c","type":"inject","z":"3188a124.a0007e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setDutyCycle","payload":"{\"dutyCycle\":1}","payloadType":"json","x":440,"y":340,"wires":[["40479ab6.b817e4","9f8a822e.073f9"]]},{"id":"5e6f0439.27c44c","type":"inject","z":"3188a124.a0007e","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"setDutyCycle","payload":"{\"dutyCycle\":0}","payloadType":"json","x":440,"y":400,"wires":[["40479ab6.b817e4","9f8a822e.073f9"]]},{"id":"56191414.e516fc","type":"phidget22-connect","z":"3188a124.a0007e","d":true,"port":"5661","hostname":"192.168.0.51","debug":true,"x":370,"y":120,"wires":[[]]},{"id":"df40b7ae.8e0698","type":"phidget22-connect","z":"3188a124.a0007e","port":"5661","hostname":"localhost","debug":true,"x":350,"y":180,"wires":[[]]},{"id":"9f8a822e.073f9","type":"phidget22-digitaloutput","z":"3188a124.a0007e","channel":"1","deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":"0","debug":true,"LEDCurrentLimit":0.02,"LEDForwardVoltage":1,"x":700,"y":400,"wires":[[]]},{"id":"f6bfb36c.f48da","type":"phidget22-digitalinput","z":"3188a124.a0007e","channel":0,"deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":0,"debug":false,"inputMode":1,"powerSupply":"2","x":780,"y":480,"wires":[["b05509b3.0fc398"]]},{"id":"b05509b3.0fc398","type":"debug","z":"3188a124.a0007e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":380,"wires":[]},{"id":"6c92ad3b.6162c4","type":"inject","z":"132eaea6.358c31","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"tick","payloadType":"str","x":170,"y":200,"wires":[["13b2d6c2.5fa549"]]},{"id":"13b2d6c2.5fa549","type":"synth","z":"132eaea6.358c31","name":"","synthtype":"guit_harmonics","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"pan":"0"},"x":340,"y":200,"wires":[["3e0f616.43b829e"]]},{"id":"3e0f616.43b829e","type":"osc","z":"132eaea6.358c31","name":"","path":"","metadata":true,"x":530,"y":200,"wires":[["88fe3d1a.b273b"]]},{"id":"88fe3d1a.b273b","type":"udp out","z":"132eaea6.358c31","name":"","addr":"127.0.0.1","iface":"","port":"57110","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":720,"y":200,"wires":[]},{"id":"7a0466a9.9e8e3","type":"ui_numeric","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"","label":"LIMIT TURN ON","tooltip":"","group":"898e7427.adcda8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"30","step":1,"x":540,"y":160,"wires":[["e7a0c1a3.4f2ce"]]},{"id":"72b33982.8a9ff8","type":"persist in","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"TEMPCONTROLLERSETTINGSMIN","storageNode":"2a061df9.e5eac2","x":1150,"y":160,"wires":[]},{"id":"d7fbb085.541bb8","type":"persist out","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"TEMPCONTROLLERSETTINGSMIN","storageNode":"2a061df9.e5eac2","x":270,"y":160,"wires":[["7a0466a9.9e8e3"]]},{"id":"a060330a.8f2bf","type":"ui_numeric","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"","label":"LIMIT TURN OFF","tooltip":"","group":"898e7427.adcda8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"30","step":1,"x":550,"y":220,"wires":[["19a0f8c0.fd49d7"]]},{"id":"abf81fc9.defbe","type":"persist out","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"TEMPCONTROLLERSETTINGSMAX","storageNode":"2a061df9.e5eac2","x":270,"y":220,"wires":[["a060330a.8f2bf"]]},{"id":"44e9ca81.016e9c","type":"persist in","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"TEMPCONTROLLERSETTINGSMAX","storageNode":"2a061df9.e5eac2","x":1150,"y":220,"wires":[]},{"id":"675f50d7.44342","type":"ui_numeric","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"","label":"ACTUAL TEST TEMPERATURE","tooltip":"","group":"898e7427.adcda8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"30","step":1,"x":550,"y":280,"wires":[["425e52f2.af005c","9dcf8bd4.b1d858"]]},{"id":"425e52f2.af005c","type":"switch","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"TURN_ON","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"LowerTemperatureLimit","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":280,"wires":[["f39eb702.d086"]]},{"id":"e7a0c1a3.4f2ce","type":"change","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"UPPER_TEMP_LIMIT","rules":[{"t":"move","p":"payload","pt":"msg","to":"UpperTemperatureLimit","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":160,"wires":[["72b33982.8a9ff8"]]},{"id":"19a0f8c0.fd49d7","type":"change","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"LOWER_TEMP_LIMIT","rules":[{"t":"move","p":"payload","pt":"msg","to":"LowerTemperatureLimit","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":220,"wires":[["44e9ca81.016e9c"]]},{"id":"f39eb702.d086","type":"ui_toast","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"SIMULATED HEATER ON","name":"ON","x":1060,"y":280,"wires":[]},{"id":"9dcf8bd4.b1d858","type":"switch","z":"eaf0a555.19c6a8","g":"e9785c72.e8b4c","name":"TURN_OFF","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"UpperTemperatureLimit","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":340,"wires":[["107dd99c.e83526"]]},{"id":"107dd99c.e83526","type":"ui_toast","z":"eaf0a555.19c6a8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"SIMULATED HEATER OFF","name":"OFF","x":1050,"y":340,"wires":[]}]