projects/TRIAL/Trialflow.json
[{"id":"66a7bf75.1a66b","type":"tab","label":"GATE_TEST","disabled":false,"info":""},{"id":"5ea97dc.96c0104","type":"ui_tab","z":"","name":"TESTS","icon":"dashboard","disabled":false,"hidden":false},{"id":"15581ee.424d761","type":"ui_group","z":"","name":"Default","tab":"5ea97dc.96c0104","disp":true,"width":"6","collapse":false},{"id":"8437860.f6f4178","type":"ui_group","z":"66a7bf75.1a66b","name":"Second","tab":"bda0c4a1.1935c8","order":2,"disp":true,"width":"5"},{"id":"bda0c4a1.1935c8","type":"ui_tab","z":"66a7bf75.1a66b","name":"Home","icon":"link","order":1},{"id":"7131b1c6.16c8c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9ae013c4.3be8e","type":"ui_spacer","name":"spacer","group":"8437860.f6f4178","order":1,"width":1,"height":1},{"id":"c30ab2b5.74f9e","type":"ui_group","name":"Group 2","tab":"bda0c4a1.1935c8","order":2,"disp":true,"width":6},{"id":"debbd10e.c3fda","type":"ui_group","name":"Group 3","tab":"bda0c4a1.1935c8","order":3,"disp":true,"width":6},{"id":"a72f7da7.529c","type":"ui_group","z":"","name":"luces","tab":"e7b906ed.b51b48","order":2,"disp":true,"width":"7","collapse":true},{"id":"e7b906ed.b51b48","type":"ui_tab","z":"","name":"SALON","icon":"fa-television","order":2},{"id":"c724fbbd.75a2b","type":"ui_button","z":"66a7bf75.1a66b","name":"PLAY","group":"15581ee.424d761","order":2,"width":0,"height":0,"passthru":false,"label":"play","tooltip":"","color":"","bgcolor":"","icon":"","payload":"hi","payloadType":"str","topic":"","x":270,"y":280,"wires":[["2b193a0.4208146"]]},{"id":"a94a7a25.b30ae8","type":"ui_audio","z":"66a7bf75.1a66b","name":"","group":"15581ee.424d761","voice":"","always":"","x":610,"y":220,"wires":[]},{"id":"2b193a0.4208146","type":"file in","z":"66a7bf75.1a66b","name":"SOUND","filename":"\\soundfiles\\beep.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":480,"y":280,"wires":[["a94a7a25.b30ae8","463a1302.47cfe4"]]},{"id":"463a1302.47cfe4","type":"debug","z":"66a7bf75.1a66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":320,"wires":[]},{"id":"f35f25d6.07d6d8","type":"gate","z":"66a7bf75.1a66b","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","persist":false,"x":560,"y":580,"wires":[["2dac1465.55214c","e8017aeb.be1648","2b193a0.4208146"]]},{"id":"2e49b2d1.5ab786","type":"ui_switch","z":"66a7bf75.1a66b","name":"","label":"SWITCH PULSES","tooltip":"","group":"15581ee.424d761","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"control","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","x":300,"y":640,"wires":[["f35f25d6.07d6d8"]]},{"id":"2dac1465.55214c","type":"debug","z":"66a7bf75.1a66b","name":"Stuff to do when switch is ON (sprinkler allowed)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":580,"wires":[]},{"id":"73c7c06f.724f58","type":"inject","z":"66a7bf75.1a66b","name":"SOME PULSES","topic":"","payload":"open","payloadType":"str","repeat":"2","crontab":"","once":true,"onceDelay":"0.1","x":320,"y":480,"wires":[["f35f25d6.07d6d8"]]},{"id":"e8017aeb.be1648","type":"debug","z":"66a7bf75.1a66b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"85ddb21e.034ea","type":"inject","z":"66a7bf75.1a66b","name":"","topic":"press","payload":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\"></i>","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":280,"y":740,"wires":[["ab580926.9f6ef8"]]},{"id":"ab580926.9f6ef8","type":"ui_text","z":"66a7bf75.1a66b","group":"8437860.f6f4178","order":1,"width":"1","height":"1","name":"default","label":"","format":"{{msg.payload}}","layout":"row-center","x":470,"y":720,"wires":[]},{"id":"d0a14ca9.bba71","type":"ui_switch","z":"66a7bf75.1a66b","name":"","label":"switch","tooltip":"","group":"8437860.f6f4178","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\"></i>","onvalueType":"str","onicon":"","oncolor":"","offvalue":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard\"></i>","offvalueType":"str","officon":"","offcolor":"","x":280,"y":800,"wires":[["ab580926.9f6ef8"]]},{"id":"71877a62.b0bb34","type":"change","z":"66a7bf75.1a66b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"<i class=\"fa fa-lightbulb-o fa-2x nr-dashboard-warning\"></i>","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"<i class=\"fa fa-lightbulb-o fa-2x\"></i> ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":840,"wires":[["d5443087.1ec9e"]]},{"id":"d5443087.1ec9e","type":"ui_text","z":"66a7bf75.1a66b","group":"a72f7da7.529c","order":1,"width":"1","height":"1","name":"icon status entrada","label":"","format":"{{msg.payload}}","layout":"row-center","x":1010,"y":840,"wires":[]},{"id":"dd10d4f3.ca87a8","type":"function","z":"66a7bf75.1a66b","name":"check","func":"if (msg.payload === false){\n    msg.payload = \"#FF0000\";\n    return msg;\n}else if (msg.payload === true){\n    msg.payload = \"#00FF00\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":830,"y":920,"wires":[["db61aba6.8f35e8"]]},{"id":"db61aba6.8f35e8","type":"ui_template","z":"66a7bf75.1a66b","group":"a72f7da7.529c","name":"Status luz entrada","order":3,"width":"1","height":"1","format":"<style>\n.led {\n    float: right;\n    padding: 3px;\n    width: 20px;\n    height: 20px;\n    margin: 5px 5px 5px 5px;\n    border-radius: 50%;\n    \n}\n</style>\n\n<div><span class=\"led\" style=\"background-color: {{msg.payload}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.payload}} 0 3px 15px;\"></span></div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":990,"y":940,"wires":[[]]},{"id":"f57c55ae.8850d8","type":"ui_switch","z":"66a7bf75.1a66b","name":"","label":"switch","tooltip":"","group":"a72f7da7.529c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":670,"y":780,"wires":[["71877a62.b0bb34","dd10d4f3.ca87a8"]]}]