projects/ANDISHOME/.AndisHome.json.backup
[{"id":"89f4663.1fb9198","type":"tab","label":"WERKSTÄTTE2","disabled":false,"info":""},{"id":"224ea99f.aa7d56","type":"tab","label":"IOCONTROL_PHIDGETS","disabled":false,"info":""},{"id":"bea2f80b.91edc8","type":"tab","label":"IOCONTROL_PHIDGET_CONFIG","disabled":false,"info":""},{"id":"62dabc44.aa9ad4","type":"tab","label":"TESTING_PROTOTYPES","disabled":false,"info":""},{"id":"16ae33ba.369bfc","type":"tab","label":"UNIT_TEST","disabled":false,"info":""},{"id":"946b209a.e7a58","type":"tab","label":"BUERO_AUSSENBEREICH","disabled":false,"info":""},{"id":"4f454564.068fec","type":"tab","label":"UNIT_TEST2","disabled":false,"info":""},{"id":"170499d.0e7c866","type":"tab","label":"BOT_INFORMER","disabled":false,"info":""},{"id":"30ba2070.c5fb6","type":"subflow","name":"SUB_ON_HOUR_1","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"1a0bfb43.49d945"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"837ceddd.dd08a","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":540,"y":140,"wires":[{"id":"837ceddd.dd08a","port":0}]}},{"id":"62dffab4.e717e4","type":"subflow","name":"SUB_ON_MINUTE1","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"7b27dacf.9ca8b4"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"b2bfb5a0.efb2a8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7390ca22.bd6ab4","type":"subflow","name":"SUB_OFF_HOUR_1","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"f94843f0.4d27d"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"6f52c086.45d28","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"781f4d20.a37674","type":"subflow","name":"SUB_OFF_MINUTE_1","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"da0fafa0.3f9db"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"329d8dec.4441a2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a8d52260.73814","type":"subflow","name":"SUB_TIME1","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"cea13710.489628"},{"id":"4e1c3640.181948"},{"id":"df01e9d7.0a89b8"},{"id":"5c299832.350e28"}]}],"out":[{"x":400,"y":120,"wires":[{"id":"cea13710.489628","port":0},{"id":"4e1c3640.181948","port":0},{"id":"df01e9d7.0a89b8","port":0},{"id":"5c299832.350e28","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a1ab711.cebd09","type":"subflow","name":"SUB_CONTROL","info":"","category":"","in":[{"x":420,"y":560,"wires":[{"id":"2d3b1ef7.fcc242"}]}],"out":[{"x":1840,"y":360,"wires":[{"id":"8b3804de.7aba68","port":0},{"id":"4be2d5b6.7890fc","port":0},{"id":"22bc269f.e38e6a","port":0},{"id":"7e7ac4da.2f856c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c9e62a9e.cd1a28","type":"subflow","name":"SUB_ON_HOUR_2","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"22951f62.fc59f"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"7a421dd7.2483d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"daa71ced.89cee","type":"subflow","name":"SUB_ON_MINUTE_2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1b4d2a30.a5ea96"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"b7585bcc.5a2428","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"880e0c65.633fd","type":"subflow","name":"SUB_OFF_HOUR_2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"7e7fcfdd.39216"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"c404386f.22d2e8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7022a155.68146","type":"subflow","name":"SUB_OFF_MINUTE_2","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"ff51d8b4.452888"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"251f0f80.1133a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e3cf62e3.6475c","type":"subflow","name":"SUB_TIME_2","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"a346e78f.015638"},{"id":"59121532.97744c"},{"id":"4a8a7e6.ad95d8"},{"id":"4035dd9f.4d91d4"}]}],"out":[{"x":420,"y":120,"wires":[{"id":"a346e78f.015638","port":0},{"id":"59121532.97744c","port":0},{"id":"4a8a7e6.ad95d8","port":0},{"id":"4035dd9f.4d91d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"497deffc.3db77","type":"subflow","name":"SUB_OVERRIDE_OFF","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"bd90f5ed.921ae8"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"bd90f5ed.921ae8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7d23cd88.369654","type":"subflow","name":"SUB_OVERRIDE_ON","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"95cd355c.15657"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"95cd355c.15657","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9c2c755a.eb0148","type":"subflow","name":"Subflow 1","info":"","in":[{"x":140,"y":140,"wires":[]}],"out":[{"x":360,"y":60,"wires":[{"id":"fc60a1f7.a6bac","port":0}]},{"x":360,"y":100,"wires":[{"id":"fc60a1f7.a6bac","port":1}]},{"x":300,"y":140,"wires":[{"id":"9c2c755a.eb0148","port":0}]}]},{"id":"570dfd48.db6594","type":"subflow","name":"SUB_FLOW_TIMESELECTOR","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"66266a80.e662d4"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"66266a80.e662d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ac96faf9.98beb8","type":"subflow","name":"SUB_TIME1_DASHBOARD","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"75370959.efb778"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"cecf1677.9dba28","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5211edab.101474","type":"subflow","name":"SUB_TIME2_DASHBOARD","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"3473ca66.ff2616"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"aca90046.0ed04","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"39d6014.b2ceafe","type":"subflow","name":"SUB_OFFICE_CONTROL_TIMER","info":"","category":"","in":[{"x":100,"y":560,"wires":[{"id":"58fef1d5.f24c4"}]}],"out":[{"x":1140,"y":220,"wires":[{"id":"ed3505ab.57e0e8","port":0},{"id":"f7efb2e7.6a3ec","port":0},{"id":"1e3fc958.ca9017","port":0},{"id":"9184fec5.8b127","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"70839538.18ae3c","type":"subflow","name":"SUB_DASHBOARD_TIMESETTINGS","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"7e283e47.45d92"},{"id":"21abbfec.971a2"},{"id":"6de0097e.f28ac8"},{"id":"fc6dd267.731a1"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"17fb0ad8.b5b745","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3d21d686.cd0f8a","type":"subflow","name":"SUB_LOAD_TIMESETTINGS_OFFICE","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"9875fa36.453cb8"}]}],"out":[{"x":1080,"y":80,"wires":[{"id":"f7ad7a39.57c2b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1dbc8cc0.222793","type":"subflow","name":"SUB_STORE_TIMESETTINGS_OFFICE","info":"","category":"","in":[{"x":620,"y":160,"wires":[{"id":"fe94d0a8.c3ed7"}]}],"out":[{"x":920,"y":80,"wires":[{"id":"fe94d0a8.c3ed7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"378cd8c6.1c5658","type":"subflow","name":"Subflow 2","info":"","in":[{"x":0,"y":80,"wires":[{"id":"efa9abaf.4b1898"}]}],"out":[{"x":1000,"y":80,"wires":[{"id":"41b33dc0.efb364","port":0}]}]},{"id":"7a89288e.57d5f8","type":"subflow","name":"Subflow 3","info":"","in":[],"out":[]},{"id":"10da58d4.20f697","type":"ui_group","z":"","name":"HAUS","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d07e3bc1.1627f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"ART CONTROL","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a834059.84a91","type":"ui_tab","z":"","name":"WERKSTÄTTENRAUM2","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c7d1a1d5.a6e0f","type":"ui_group","z":"","name":"HEIZUNGSTEUERUNG","tab":"3a834059.84a91","order":1,"disp":true,"width":"6","collapse":true},{"id":"616ab88e.5f5868","type":"ui_group","z":"","name":"The Switch","tab":"","disp":true,"width":"6","collapse":false},{"id":"7a9ab70f.ac1128","type":"chatbot-telegram-node","z":"","botname":"HomeBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"213b4b73.8e5d84","type":"chatbot-telegram-node","z":"","botname":"MyGeorgsHome_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"113cf98e.38fec6","type":"telegram bot","z":"","botname":"MyGeorgsHome_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2bac6d07.720872","type":"ui_tab","z":"","name":"BÜRO AUSSEN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e8671909.942468","type":"ui_group","z":"","name":"REKLAME SHIELD","tab":"2bac6d07.720872","order":1,"disp":true,"width":"6","collapse":false},{"id":"198bfa2c.a0f586","type":"ui_switch","z":"89f4663.1fb9198","name":"Heizung","label":"Heizstrahler","tooltip":"","group":"c7d1a1d5.a6e0f","order":15,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":2340,"y":780,"wires":[[]]},{"id":"fb3b6f38.ec426","type":"ui_button","z":"a1ab711.cebd09","name":"","group":"c7d1a1d5.a6e0f","order":3,"width":0,"height":0,"passthru":false,"label":"HANDBETRIEB EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":120,"wires":[["8b3804de.7aba68","e0ae9a6.a85ca68"]]},{"id":"dd48777c.f447c8","type":"ui_button","z":"a1ab711.cebd09","name":"","group":"c7d1a1d5.a6e0f","order":4,"width":0,"height":0,"passthru":true,"label":"HANDBETRIEB AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":260,"wires":[["7e7ac4da.2f856c","5b9f1069.00115"]]},{"id":"66ea1a52.dcf674","type":"bigtimer","z":"89f4663.1fb9198","outtopic":"","outpayload1":"","outpayload2":"","name":"TIMER1","comment":"","lat":"48.22908","lon":"13.0208","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1800,"y":620,"wires":[[],["243cc279.c9c30e","701ef43f.64de2c","afeebeb.222fb4","47e9c0cf.f322d"],[]]},{"id":"2d3b1ef7.fcc242","type":"ui_button","z":"a1ab711.cebd09","name":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"label":"AKTIVIERE ZEITSCHALTUHR ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":610,"y":560,"wires":[["22bc269f.e38e6a","406398b8.a5eff8"]]},{"id":"8b3804de.7aba68","type":"change","z":"a1ab711.cebd09","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":80,"wires":[[]]},{"id":"4be2d5b6.7890fc","type":"change","z":"a1ab711.cebd09","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":300,"wires":[[]]},{"id":"22bc269f.e38e6a","type":"change","z":"a1ab711.cebd09","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":560,"wires":[[]]},{"id":"f1dd33c6.f924b","type":"ui_text","z":"a1ab711.cebd09","group":"c7d1a1d5.a6e0f","order":6,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":400,"wires":[]},{"id":"243cc279.c9c30e","type":"change","z":"89f4663.1fb9198","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":780,"wires":[["198bfa2c.a0f586","f5d9c65d.fc8e88"]]},{"id":"701ef43f.64de2c","type":"change","z":"89f4663.1fb9198","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":820,"wires":[["198bfa2c.a0f586","f5d9c65d.fc8e88"]]},{"id":"837ceddd.dd08a","type":"ui_numeric","z":"30ba2070.c5fb6","name":"OnHour","label":"1. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":7,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"b2bfb5a0.efb2a8","type":"ui_numeric","z":"62dffab4.e717e4","name":"OnMinute","label":"1. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":8,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":400,"y":80,"wires":[[]]},{"id":"6f52c086.45d28","type":"ui_numeric","z":"7390ca22.bd6ab4","name":"OffHour","label":"1. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":9,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"329d8dec.4441a2","type":"ui_numeric","z":"781f4d20.a37674","name":"OffMinute","label":"1. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":10,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":400,"y":80,"wires":[[]]},{"id":"f898989b.6fb488","type":"file","z":"89f4663.1fb9198","name":"StoreTimeSettings1","filename":"timesettings1","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":2130,"y":700,"wires":[[]]},{"id":"174a2e39.7eacf2","type":"file in","z":"89f4663.1fb9198","name":"LoadTimeSettings1","filename":"timesettings1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":680,"wires":[["b390c4a5.b763d8"]]},{"id":"825c9871.dfd2f8","type":"inject","z":"89f4663.1fb9198","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":610,"y":780,"wires":[["174a2e39.7eacf2","21ac702a.99994","ed6e8c6e.a3556"]]},{"id":"b390c4a5.b763d8","type":"json","z":"89f4663.1fb9198","name":"CONVERT_SETTINGS_1","property":"payload","action":"","pretty":false,"x":890,"y":640,"wires":[["98ae152e.4d2f38","e101c15b.7d31a","80be2031.65fcf8","f1edf8c1.76f738"]]},{"id":"1a0bfb43.49d945","type":"change","z":"30ba2070.c5fb6","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["837ceddd.dd08a"]]},{"id":"7b27dacf.9ca8b4","type":"change","z":"62dffab4.e717e4","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["b2bfb5a0.efb2a8"]]},{"id":"f94843f0.4d27d","type":"change","z":"7390ca22.bd6ab4","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["6f52c086.45d28"]]},{"id":"da0fafa0.3f9db","type":"change","z":"781f4d20.a37674","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["329d8dec.4441a2"]]},{"id":"95cd355c.15657","type":"function","z":"7d23cd88.369654","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"62760622.be76b","type":"inject","z":"89f4663.1fb9198","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":680,"wires":[["174a2e39.7eacf2","ed6e8c6e.a3556"]]},{"id":"a0f7fd94.9cb4e","type":"inject","z":"89f4663.1fb9198","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2120,"y":960,"wires":[["f5d9c65d.fc8e88"]]},{"id":"f5d9c65d.fc8e88","type":"function","z":"89f4663.1fb9198","name":"IO_CONTROL_HEATER_1","func":"var DigitalOutput0 = global.get('PublicDigitalOutput0');\nvar IsInitialized = global.get(\"PublicVintHubInit\");\n\nif( IsInitialized )\n{\n    if( msg.payload === 'ON')\n    {\n        DigitalOutput0.setDutyCycle(1);\n    }\n\n    if( msg.payload === 'OFF')\n    {\n        DigitalOutput0.setDutyCycle(0);\n    }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":900,"wires":[["21c96f0c.3a464","91c506f7.f68238"]]},{"id":"d94f9318.e9b56","type":"inject","z":"89f4663.1fb9198","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2130,"y":1000,"wires":[["f5d9c65d.fc8e88"]]},{"id":"afeebeb.222fb4","type":"change","z":"89f4663.1fb9198","name":"StringCommandOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":860,"wires":[["f5d9c65d.fc8e88"]]},{"id":"47e9c0cf.f322d","type":"change","z":"89f4663.1fb9198","name":"StringCommandOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":900,"wires":[["f5d9c65d.fc8e88"]]},{"id":"d0159537.6a36f8","type":"file in","z":"89f4663.1fb9198","name":"LoadBackupTimeSettings","filename":"backuptimesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":650,"y":600,"wires":[["b390c4a5.b763d8"]]},{"id":"b415ad60.88d5e","type":"inject","z":"89f4663.1fb9198","name":"RestoreBackup","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":600,"wires":[["d0159537.6a36f8"]]},{"id":"d19a9f19.61cc3","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":60,"wires":[["afd4f6a6.0c7fd8"]]},{"id":"afd4f6a6.0c7fd8","type":"function","z":"224ea99f.aa7d56","name":"INIT_PHIDGETS_VINT_HUB1_WORKSHOP_HALL","func":"var NewMsg         = { payload : ''};\nvar phidget22      = global.get('phidget22')\nvar conn           = new phidget22.Connection(5661,'192.168.1.100');\nvar Initialized    = context.get('init') || 0;\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\nvar SerialNumber = 726538;\nvar PortNumber   = 5000;\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"PublicVintHubInit\", 1);\n\t\tconsole.log('Vinthub1 with digital output 0 attached!, Serial number is:' + SerialNumber)\n\t};\n\ndigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"PublicVintHubInit\", 0);\n\t\tconsole.log('Vinthub1 with digital output 0 detached! Serial number is:' + SerialNumber)\n\t};\n\n\n\nfunction Start()\n{\n    digitalOutput0.setIsHubPortDevice(true);\n    digitalOutput0.setHubPort(0);\n    digitalOutput0.setDeviceSerialNumber(SerialNumber);\n    digitalOutput0.open(PortNumber).then(function () \n    {\n       global.set(\"PublicDigitalOutput0\", digitalOutput0);\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\nglobal.set(\"PublicPhidget\", conn);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[[]]},{"id":"c1fd41c.0cbabc","type":"file","z":"bea2f80b.91edc8","name":"PHIDGETSETTINGS","filename":"phidgetsettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":100,"wires":[[]]},{"id":"b9359544.0e58d8","type":"inject","z":"bea2f80b.91edc8","name":"MAKE_TEMPLATE","topic":"CONFIG_TEMPLATE","payload":"{\"VINTHUB_WORKSHOP_HALL_2\":{\"ipadress\":\"192.168.1.100\",\"port\":5661,\"serialnumber\":726538}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":100,"wires":[["c1fd41c.0cbabc","79ff7c5c.20bdec"]]},{"id":"79ff7c5c.20bdec","type":"debug","z":"bea2f80b.91edc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]},{"id":"98ae152e.4d2f38","type":"function","z":"89f4663.1fb9198","name":"StoreLoadedDataIntoContext1","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettingsMemory1',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemory1') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":580,"wires":[[]]},{"id":"f94752da.8ffeb","type":"catch","z":"224ea99f.aa7d56","name":"","scope":null,"uncaught":false,"x":100,"y":300,"wires":[["331cbfde.a5f648"]]},{"id":"331cbfde.a5f648","type":"ui_toast","z":"224ea99f.aa7d56","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":320,"y":300,"wires":[]},{"id":"5ea27fa.c06178","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":220,"wires":[["2ad65570.ee8d92"]]},{"id":"2ad65570.ee8d92","type":"function","z":"224ea99f.aa7d56","d":true,"name":"INIT_DIGITAL_INPUTS","func":"var NewMsg = { topic : \"DigitalInput0\", state : false };\nvar phidget22 = global.get('phidget22');\n\nconsole.log('Opening Digital Input Module 0 ....')\n\nfunction RunDigitalInputHandler() {\n\tvar digitalInput0 = new phidget22.DigitalInput();\n\n\tdigitalInput0.setDeviceSerialNumber(597039);\n\n\tdigitalInput0.onStateChange = function onDigitalInput0_StateChange(state) {\n\t\tconsole.log('State DigitalInput1: ' + state.toString())\n\t\tNewMsg.state = state;\n\t\tnode.send(NewMsg);\n\t\tnode.done();\n\t};\n\n\tdigitalInput0.open(5000).then(function() {\n          console.log('DigitalInput0 open was sucessfull');\n          flow.set( \"DigitalInput0\", digitalInput0 );\n\t}).catch(function (err){\n\t\tconsole.error('Error during open:', err);\n\n\t})\n}\n\nvar conn = new phidget22.Connection(5661, '192.168.1.51');\nconn.connect().then(RunDigitalInputHandler).catch(function (err) {\n\tconsole.error('Error during connect:', err);\n\n});\n\n\nreturn;\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["2aba4bba.3fa45c"]]},{"id":"2aba4bba.3fa45c","type":"debug","z":"224ea99f.aa7d56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":220,"wires":[]},{"id":"771644b2.61969c","type":"function","z":"62dabc44.aa9ad4","name":"SwitchOutput","func":"exports.Switch = function( initialized, digout, msg )\n{\n  if( initialized )\n  {\n    if( msg.payload === 'ON')\n    {\n        digout.setDutyCycle(1);\n    }\n\n    if( msg.payload === 'OFF')\n    {\n        digout.setDutyCycle(0);\n    }\n  }   \n}\n\n\n    \n\n","outputs":1,"noerr":0,"x":150,"y":40,"wires":[[]]},{"id":"8bffcc05.4fb28","type":"function","z":"62dabc44.aa9ad4","name":"PrepareMessageToChatBot","func":"msg.payload = {};\nmsg.payload.chatId  = 852123642;\nmsg.payload.type    = 'message';\nmsg.payload.content = 'hello from node-red!';\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["8e76ae36.91994"]]},{"id":"e8730c0b.22378","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"START","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["8bffcc05.4fb28"]]},{"id":"8e76ae36.91994","type":"telegram sender","z":"62dabc44.aa9ad4","name":"BotInformer","bot":"113cf98e.38fec6","x":570,"y":160,"wires":[[]]},{"id":"17c0a21.41e865e","type":"function","z":"62dabc44.aa9ad4","name":"INIT_PHIDGETS_PROTOTYPE","func":"var NewMsg = { payload : ''};\nvar phidget22 = global.get('phidget22')\n\nvar Config =\n{ \n    VintHub : \n    { \n        \"ipadress\"    :\"192.168.1.100\",\n        \"port\"        :5661, \n        \"serialnumber\":726538, \n        \"hubport\"     :0, \n        \"timeout\"     :5000,\n        \"PublicId\"    :\"PublicDigitalOutput0\"\n    }\n};\n\nvar conn = new phidget22.Connection(5661,'192.168.1.100');\nvar SerialNumber = 0;\nvar TimeOut = 0;\nvar HubPort = 0;\n\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"PublicVintHubInit\", 1);\n\t\tconsole.log('Vinthub attached!')\n\t};\n\ndigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"PublicVintHubInit\", 0);\n\t\tconsole.log('Vinthub detached!')\n\t};\n\t\n\nfunction StartInstance( Config, phidgetobject )\n{\n    phidgetobject.setIsHubPortDevice(true);\n    phidgetobject.setHubPort(Config.VintHub.hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(timeout).then(function () \n    {\n       global.set(Config.VintHub.publicid, phidgetobject);\n    });   \n}\n\n\nconn.connect().then(StartInstance(Config, digitalOutput0)).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\nglobal.set(\"PublicPhidget\", conn);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[[]]},{"id":"cea13710.489628","type":"subflow:30ba2070.c5fb6","z":"a8d52260.73814","name":"OFF_HOUR_1","env":[],"x":200,"y":80,"wires":[[]]},{"id":"4e1c3640.181948","type":"subflow:62dffab4.e717e4","z":"a8d52260.73814","name":"ON_MINUTE_1","env":[],"x":200,"y":120,"wires":[[]]},{"id":"df01e9d7.0a89b8","type":"subflow:7390ca22.bd6ab4","z":"a8d52260.73814","name":"OFF_HOUR_1","env":[],"x":200,"y":160,"wires":[[]]},{"id":"5c299832.350e28","type":"subflow:781f4d20.a37674","z":"a8d52260.73814","name":"OFF_MINUTE_1","env":[],"x":210,"y":200,"wires":[[]]},{"id":"75370959.efb778","type":"subflow:a8d52260.73814","z":"ac96faf9.98beb8","name":"TIME_SETTINGS_1","env":[],"x":200,"y":80,"wires":[["cecf1677.9dba28"]]},{"id":"d3e72391.ca518","type":"bigtimer","z":"89f4663.1fb9198","outtopic":"","outpayload1":"","outpayload2":"","name":"TIMER2","comment":"","lat":"48.22908","lon":"13.0208","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1800,"y":940,"wires":[[],["47e9c0cf.f322d","afeebeb.222fb4","701ef43f.64de2c","243cc279.c9c30e"],[]]},{"id":"7a421dd7.2483d4","type":"ui_numeric","z":"c9e62a9e.cd1a28","name":"OnHour2","label":"2. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":380,"y":80,"wires":[[]]},{"id":"22951f62.fc59f","type":"change","z":"c9e62a9e.cd1a28","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["7a421dd7.2483d4"]]},{"id":"21ac702a.99994","type":"subflow:a1ab711.cebd09","z":"89f4663.1fb9198","name":"CONTROL","env":[],"x":1550,"y":780,"wires":[["66ea1a52.dcf674","d3e72391.ca518"]]},{"id":"b470cb08.1c7998","type":"ui_template","z":"89f4663.1fb9198","group":"c7d1a1d5.a6e0f","name":"CLOCK","order":1,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1220,"y":500,"wires":[[]],"icon":"node-red/timer.svg"},{"id":"a346e78f.015638","type":"subflow:c9e62a9e.cd1a28","z":"e3cf62e3.6475c","name":"SUB_ON_HOUR_2","env":[],"x":190,"y":80,"wires":[[]]},{"id":"b7585bcc.5a2428","type":"ui_numeric","z":"daa71ced.89cee","name":"OnMinute2","label":"2. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":12,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":390,"y":80,"wires":[[]]},{"id":"1b4d2a30.a5ea96","type":"change","z":"daa71ced.89cee","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["b7585bcc.5a2428"]]},{"id":"59121532.97744c","type":"subflow:daa71ced.89cee","z":"e3cf62e3.6475c","name":"SUB_ON_MINUTE_2","env":[],"x":200,"y":120,"wires":[[]]},{"id":"c404386f.22d2e8","type":"ui_numeric","z":"880e0c65.633fd","name":"OffHour2","label":"2. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":13,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"7e7fcfdd.39216","type":"change","z":"880e0c65.633fd","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["c404386f.22d2e8"]]},{"id":"4a8a7e6.ad95d8","type":"subflow:880e0c65.633fd","z":"e3cf62e3.6475c","name":"SUB_OFF_HOUR_2","env":[],"x":190,"y":160,"wires":[[]]},{"id":"251f0f80.1133a","type":"ui_numeric","z":"7022a155.68146","name":"OffMinute2","label":"2. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":14,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":410,"y":80,"wires":[[]]},{"id":"ff51d8b4.452888","type":"change","z":"7022a155.68146","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["251f0f80.1133a"]]},{"id":"4035dd9f.4d91d4","type":"subflow:7022a155.68146","z":"e3cf62e3.6475c","name":"SUB_OFF_MINUTE_2","env":[],"x":200,"y":200,"wires":[[]]},{"id":"3473ca66.ff2616","type":"subflow:e3cf62e3.6475c","z":"5211edab.101474","name":"TIMESETTINGS_2","env":[],"x":190,"y":76,"wires":[["aca90046.0ed04"]]},{"id":"82ad5bf2.3cb2c8","type":"json","z":"89f4663.1fb9198","name":"CONVERT_SETTINGS_2","property":"payload","action":"","pretty":false,"x":890,"y":900,"wires":[["aff8591.fd431a8","72038150.5627b","f6d57dbb.3099","c6cb7a21.c72be8"]]},{"id":"ed6e8c6e.a3556","type":"file in","z":"89f4663.1fb9198","name":"LoadTimeSettings2","filename":"timesettings2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":900,"wires":[["82ad5bf2.3cb2c8"]]},{"id":"8dd1158a.e73438","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"TEST","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":320,"wires":[["140ffbe3.d84834"]]},{"id":"475ba0d.348696","type":"debug","z":"62dabc44.aa9ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":320,"wires":[]},{"id":"bd90f5ed.921ae8","type":"function","z":"497deffc.3db77","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"cecf1677.9dba28","type":"function","z":"ac96faf9.98beb8","name":"PrepareTimeData1","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemory1') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemory1',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[[]]},{"id":"e101c15b.7d31a","type":"subflow:497deffc.3db77","z":"89f4663.1fb9198","name":"OVERRIDE_OFF1","env":[],"x":1570,"y":600,"wires":[["66ea1a52.dcf674"]]},{"id":"80be2031.65fcf8","type":"subflow:7d23cd88.369654","z":"89f4663.1fb9198","name":"OVERRIDE_ON_1","env":[],"x":1570,"y":640,"wires":[["66ea1a52.dcf674"]]},{"id":"729b219a.243e1","type":"inject","z":"89f4663.1fb9198","name":"","topic":"MAKE_DEFAULT_CONFIGS","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1530,"y":500,"wires":[["2599235d.bc23ec"]]},{"id":"2599235d.bc23ec","type":"function","z":"89f4663.1fb9198","name":"PREPARE_DEFAULT_SETTINGS","func":"DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n   \nmsg = DefaultSettings;\nreturn msg;\n","outputs":1,"noerr":0,"x":1840,"y":500,"wires":[["9374b645.73367","f898989b.6fb488","e29c7266.57592"]]},{"id":"9374b645.73367","type":"debug","z":"89f4663.1fb9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2110,"y":500,"wires":[]},{"id":"e29c7266.57592","type":"file","z":"89f4663.1fb9198","name":"StoreTimeSettings2","filename":"timesettings2","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":2130,"y":740,"wires":[[]]},{"id":"9e50cbdc.1c8788","type":"function","z":"62dabc44.aa9ad4","name":"SelectTimeComponents","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n       \n   };\n\nvar TimeSettings = flow.get('TimeSettingsMemory1') || DefaultSettings;\n\nfunction Select( msg, timesettings )\n{\n  switch( msg.topic)\n  {\n    case \"HourOn\":\n         timesettings.payload.HourOn    = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         timesettings.payload.MinuteOn  = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         timesettings.payload.HourOff   = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         timesettings.payload.MinuteOff = msg.payload;\n         break;     \n  }  \n}\n\nSelect( msg, TimeSettings );\n\n\n\nflow.set('TimeSettingsMemory1',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["475ba0d.348696"]]},{"id":"140ffbe3.d84834","type":"function","z":"62dabc44.aa9ad4","name":"Settings_HourOn","func":"var NewMsg =   { \n       topic:   'HourOn',\n       payload: 2\n   };\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["9e50cbdc.1c8788","7627b2ed.ac722c"]]},{"id":"7627b2ed.ac722c","type":"debug","z":"62dabc44.aa9ad4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":380,"wires":[]},{"id":"ad77bf36.33805","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"TEST","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":220,"wires":[["9e50cbdc.1c8788"]]},{"id":"fc60a1f7.a6bac","type":"flow-asserter in","z":"9c2c755a.eb0148","name":"PAYLOAD_TEST","testcases":[{"testId":0,"input":"1","inputType":"num","operator":"eq","assert":"2","assertType":"num"},{"testId":1,"input":"0","inputType":"num","operator":"eq","assert":"1","assertType":"num"}],"onlyfail":false,"flowasserterout":"2ddfe89d.aa52a8","x":200,"y":80,"wires":[[],[]]},{"id":"7e7ac4da.2f856c","type":"change","z":"a1ab711.cebd09","name":"Manual","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"e25368c9.bad2f8","type":"change","z":"a1ab711.cebd09","name":"All OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Alles Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":400,"wires":[["f1dd33c6.f924b"]]},{"id":"72038150.5627b","type":"subflow:497deffc.3db77","z":"89f4663.1fb9198","name":"OVERRIDE_OFF2","env":[],"x":1570,"y":960,"wires":[["d3e72391.ca518"]]},{"id":"aff8591.fd431a8","type":"subflow:7d23cd88.369654","z":"89f4663.1fb9198","name":"OVERRIDE_ON_2","env":[],"x":1570,"y":920,"wires":[["d3e72391.ca518"]]},{"id":"aca90046.0ed04","type":"function","z":"5211edab.101474","name":"PrepareTimeData2","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemory2') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemory2',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":410,"y":76,"wires":[[]]},{"id":"f6d57dbb.3099","type":"function","z":"89f4663.1fb9198","name":"StoreLoadedDataIntoContext2","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 5, \n               HourOff   : 6, \n               MinuteOff : 7\n             } \n       \n   };\n\nflow.set('TimeSettingsMemory2',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemory2') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":980,"wires":[[]]},{"id":"5b9f1069.00115","type":"delay","z":"a1ab711.cebd09","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":340,"wires":[["4be2d5b6.7890fc","e25368c9.bad2f8"]]},{"id":"406398b8.a5eff8","type":"change","z":"a1ab711.cebd09","name":"Commando timer","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Zeitschaltuhr ein ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[["f1dd33c6.f924b"]]},{"id":"e0ae9a6.a85ca68","type":"change","z":"a1ab711.cebd09","name":"ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["f1dd33c6.f924b"]]},{"id":"66266a80.e662d4","type":"function","z":"570dfd48.db6594","name":"TIMESELECTOR","func":"var NewMsg = {};\n\n\n  switch( msg.topic )\n  {\n    case \"HourOn\":\n         msg.timesettings.payload.HourOn    = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         msg.timesettings.payload.MinuteOn  = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         msg.timesettings.payload.HourOff   = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         msg.timesettings.payload.MinuteOff = msg.payload;\n         break;     \n  }  \n\n\nNewMsg = msg.timesettings;\n\n\nreturn NewMsg;\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"28677ed2.755f52","type":"subflow:570dfd48.db6594","z":"62dabc44.aa9ad4","name":"SUB_TIMESELECTOR","env":[],"x":410,"y":440,"wires":[[]]},{"id":"3c47f1b4.01469e","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":260,"wires":[["54759403.5c8c9c"]]},{"id":"218d3fa1.2a8f9","type":"inject","z":"4f454564.068fec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":340,"wires":[["c7f211b4.a9b08","6ba927.82b1a6d8","47cbd0b1.e4284","6c818edb.57e2f"]]},{"id":"c7f211b4.a9b08","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_HOUR_ON","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 55,\n    topic:   'HourOn'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["3c47f1b4.01469e"]]},{"id":"54759403.5c8c9c","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.HourOn ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["4c80f6a4.906c88"]]},{"id":"b82462f5.b71f8","type":"flow-asserter in","z":"16ae33ba.369bfc","name":"PAYLOAD_TEST","testcases":[{"testId":0,"input":"1","inputType":"num","operator":"eq","assert":"2","assertType":"num"},{"testId":1,"input":"0","inputType":"num","operator":"eq","assert":"1","assertType":"num"}],"onlyfail":false,"flowasserterout":"2ddfe89d.aa52a8","x":260,"y":220,"wires":[["6694694d.68a098"],["6e05c8f2.41ee68"]]},{"id":"aef65b5e.4addb8","type":"flow-asserter out","z":"16ae33ba.369bfc","name":"TEST1","x":690,"y":220,"wires":[[]]},{"id":"6e05c8f2.41ee68","type":"debug","z":"16ae33ba.369bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":320,"wires":[]},{"id":"6694694d.68a098","type":"function","z":"16ae33ba.369bfc","name":"ADD","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["aef65b5e.4addb8","5dc6c53f.61b5cc"]]},{"id":"a40d7359.959ff","type":"inject","z":"16ae33ba.369bfc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":160,"wires":[["6694694d.68a098"]]},{"id":"5dc6c53f.61b5cc","type":"debug","z":"16ae33ba.369bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"4c80f6a4.906c88","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"55","valueType":"str","failMsg":""}],"x":990,"y":260,"wires":[[]]},{"id":"fdbf9690.886998","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.MinuteOn ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["a73f1105.d2d38"]]},{"id":"6ba927.82b1a6d8","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_MINUTE_ON","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 2,\n    topic:   'MinuteOn'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["ff7691d8.952c8"]]},{"id":"ff7691d8.952c8","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":320,"wires":[["fdbf9690.886998"]]},{"id":"a73f1105.d2d38","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"2","valueType":"str","failMsg":""}],"x":990,"y":320,"wires":[[]]},{"id":"b9826e36.d4d2b","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.HourOff ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["bbe67f97.79ba8"]]},{"id":"47cbd0b1.e4284","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_HOUR_OFF","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 5,\n    topic:   'HourOff'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["37b74794.c554f8"]]},{"id":"37b74794.c554f8","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":380,"wires":[["b9826e36.d4d2b"]]},{"id":"bbe67f97.79ba8","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"5","valueType":"str","failMsg":""}],"x":990,"y":380,"wires":[[]]},{"id":"cce2d185.f1325","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.MinuteOff ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["c7fcf71d.e18fa8"]]},{"id":"6c818edb.57e2f","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_MINUTE_OFF","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 999,\n    topic:   'MinuteOff'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["25a99b0c.6f7f54"]]},{"id":"25a99b0c.6f7f54","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":440,"wires":[["cce2d185.f1325"]]},{"id":"c7fcf71d.e18fa8","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"999","valueType":"str","failMsg":""}],"x":990,"y":440,"wires":[[]]},{"id":"f1edf8c1.76f738","type":"subflow:ac96faf9.98beb8","z":"89f4663.1fb9198","name":"SET_TIME1_DASHBOARD","env":[],"x":1200,"y":700,"wires":[["f898989b.6fb488","e101c15b.7d31a","80be2031.65fcf8"]]},{"id":"c6cb7a21.c72be8","type":"subflow:5211edab.101474","z":"89f4663.1fb9198","name":"SET_TIME2_DASHBOARD","env":[],"x":1200,"y":860,"wires":[["e29c7266.57592","aff8591.fd431a8","72038150.5627b"]]},{"id":"e8f77c58.2c9f8","type":"function","z":"170499d.0e7c866","name":"PrepareMessageToChatBot","func":"var NewMsg = {};\nNewMsg.payload = {};\nNewMsg.payload.chatId  = 852123642;\nNewMsg.payload.type    = 'message';\nif(  msg.payload !== \"\" && msg.payload !== null )\n{\n    NewMsg.payload.content = msg.payload;\n}\nreturn NewMsg;\n","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["6cece73.6dd4d18","ffb21f38.8618e"]]},{"id":"6cece73.6dd4d18","type":"telegram sender","z":"170499d.0e7c866","d":true,"name":"BotInformer","bot":"113cf98e.38fec6","x":790,"y":160,"wires":[[]]},{"id":"996f586f.0beba8","type":"link in","z":"170499d.0e7c866","name":"FROM_HEATER_COMMANDER","links":["ba4adfe6.132e4"],"x":235,"y":160,"wires":[["e8f77c58.2c9f8","dd32a465.120ee8"]]},{"id":"e995843c.873f18","type":"change","z":"89f4663.1fb9198","name":"MessageToBot_HeaterOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"WERKSTÄTTE HEIZUNG EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":880,"wires":[["9a637b81.d161f8"]]},{"id":"ba4adfe6.132e4","type":"link out","z":"89f4663.1fb9198","name":"HEATER_TO_BOT_INFORMER","links":["996f586f.0beba8"],"x":3395,"y":900,"wires":[]},{"id":"489fe7bc.2e5268","type":"change","z":"89f4663.1fb9198","name":"MessageToBot_HeaterOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"WERKSTÄTTE HEIZUNG AUS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2890,"y":940,"wires":[["9a637b81.d161f8"]]},{"id":"fdf38293.66a75","type":"inject","z":"170499d.0e7c866","name":"TestMsg","topic":"","payload":"Hi this is node red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":260,"wires":[["e8f77c58.2c9f8"]]},{"id":"ffb21f38.8618e","type":"debug","z":"170499d.0e7c866","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":260,"wires":[]},{"id":"dd32a465.120ee8","type":"debug","z":"170499d.0e7c866","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":80,"wires":[]},{"id":"9a637b81.d161f8","type":"rbe","z":"89f4663.1fb9198","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":3130,"y":900,"wires":[["ba4adfe6.132e4","3da73f9a.2f87a"]]},{"id":"3da73f9a.2f87a","type":"debug","z":"89f4663.1fb9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3380,"y":840,"wires":[]},{"id":"21c96f0c.3a464","type":"switch","z":"89f4663.1fb9198","name":"IsON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2710,"y":880,"wires":[["e995843c.873f18"]]},{"id":"91c506f7.f68238","type":"switch","z":"89f4663.1fb9198","name":"IsOFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2710,"y":940,"wires":[["489fe7bc.2e5268"]]},{"id":"1a8acccf.304313","type":"ui_gauge","z":"89f4663.1fb9198","name":"TEMPERATUR","group":"c7d1a1d5.a6e0f","order":2,"width":0,"height":0,"gtype":"gage","title":"TEMPERATUR","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1760,"y":1080,"wires":[]},{"id":"66111b3.f532fe4","type":"inject","z":"89f4663.1fb9198","name":"TempTestValue","topic":"TempTestValue","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1560,"y":1040,"wires":[["1a8acccf.304313"]]},{"id":"d2326fa4.38cb4","type":"ui_button","z":"39d6014.b2ceafe","name":"","group":"e8671909.942468","order":3,"width":0,"height":0,"passthru":false,"label":"HANDBETRIEB EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":120,"wires":[["ed3505ab.57e0e8","289297a5.450958"]]},{"id":"606962db.d5e20c","type":"ui_button","z":"39d6014.b2ceafe","name":"","group":"e8671909.942468","order":4,"width":0,"height":0,"passthru":true,"label":"HANDBETRIEB AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":260,"wires":[["f7efb2e7.6a3ec","863510c1.e347f"]]},{"id":"58fef1d5.f24c4","type":"ui_button","z":"39d6014.b2ceafe","name":"","group":"e8671909.942468","order":5,"width":0,"height":0,"passthru":true,"label":"AKTIVIERE ZEITSCHALTUHR ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":310,"y":560,"wires":[["9184fec5.8b127","7c9137d8.1775b8"]]},{"id":"ed3505ab.57e0e8","type":"change","z":"39d6014.b2ceafe","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":80,"wires":[[]]},{"id":"1e3fc958.ca9017","type":"change","z":"39d6014.b2ceafe","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[[]]},{"id":"9184fec5.8b127","type":"change","z":"39d6014.b2ceafe","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":560,"wires":[[]]},{"id":"15da1935.acf897","type":"ui_text","z":"39d6014.b2ceafe","group":"e8671909.942468","order":6,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":400,"wires":[]},{"id":"f7efb2e7.6a3ec","type":"change","z":"39d6014.b2ceafe","name":"Manual","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":220,"wires":[[]]},{"id":"116e6fe7.a5fbb","type":"change","z":"39d6014.b2ceafe","name":"All OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Alles Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":400,"wires":[["15da1935.acf897"]]},{"id":"863510c1.e347f","type":"delay","z":"39d6014.b2ceafe","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":340,"wires":[["1e3fc958.ca9017","116e6fe7.a5fbb"]]},{"id":"7c9137d8.1775b8","type":"change","z":"39d6014.b2ceafe","name":"Commando timer","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Zeitschaltuhr ein ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":480,"wires":[["15da1935.acf897"]]},{"id":"289297a5.450958","type":"change","z":"39d6014.b2ceafe","name":"ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":140,"wires":[["15da1935.acf897"]]},{"id":"f1f7639d.2d54f","type":"subflow:39d6014.b2ceafe","z":"946b209a.e7a58","name":"SUB_OFFICE_CONTROL","env":[],"x":1400,"y":1000,"wires":[["1649a5e2.b3f46a"]]},{"id":"79a28b55.1451a4","type":"ui_switch","z":"946b209a.e7a58","name":"LEUCHTE","label":"REKLAMELEUCHTE","tooltip":"","group":"e8671909.942468","order":15,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"LEUCHTE","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-2x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x ","offcolor":"white","x":2550,"y":1100,"wires":[[]]},{"id":"9c7c904b.60dc1","type":"change","z":"946b209a.e7a58","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":1100,"wires":[["79a28b55.1451a4","1665eb8f.604d74"]]},{"id":"e59e5800.9ac548","type":"change","z":"946b209a.e7a58","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":1140,"wires":[["79a28b55.1451a4","1665eb8f.604d74"]]},{"id":"1665eb8f.604d74","type":"function","z":"946b209a.e7a58","d":true,"name":"IO_CONTROL_LED_SIGN_PLATE_1","func":"var DigitalOutput0 = global.get('PublicDigitalOutput0');\nvar IsInitialized = global.get(\"PublicVintHubInit\");\n\nif( IsInitialized )\n{\n    if( msg.payload === 'ON')\n    {\n        DigitalOutput0.setDutyCycle(1);\n    }\n\n    if( msg.payload === 'OFF')\n    {\n        DigitalOutput0.setDutyCycle(0);\n    }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":2650,"y":1220,"wires":[[]]},{"id":"38222240.eadcee","type":"change","z":"946b209a.e7a58","name":"StringCommandOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":1180,"wires":[["1665eb8f.604d74"]]},{"id":"1649a5e2.b3f46a","type":"bigtimer","z":"946b209a.e7a58","outtopic":"","outpayload1":"","outpayload2":"","name":"TIMER_OFFICE","comment":"","lat":"48.22908","lon":"13.0208","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":2100,"y":1160,"wires":[[],["9c7c904b.60dc1","e59e5800.9ac548","38222240.eadcee"],[]]},{"id":"8a83e9c3.7c55d8","type":"ui_numeric","z":"70839538.18ae3c","name":"OnHourOffice","label":"Einschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":80,"wires":[["17fb0ad8.b5b745"]]},{"id":"7e283e47.45d92","type":"change","z":"70839538.18ae3c","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":80,"wires":[["8a83e9c3.7c55d8"]]},{"id":"3522690c.051c66","type":"ui_numeric","z":"70839538.18ae3c","name":"OnMinuteOffice","label":"Einschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":120,"wires":[["17fb0ad8.b5b745"]]},{"id":"21abbfec.971a2","type":"change","z":"70839538.18ae3c","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":120,"wires":[["3522690c.051c66"]]},{"id":"59f4f0d0.d8991","type":"ui_numeric","z":"70839538.18ae3c","name":"OffHourOffice","label":"Ausschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":160,"wires":[["17fb0ad8.b5b745"]]},{"id":"6de0097e.f28ac8","type":"change","z":"70839538.18ae3c","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[["59f4f0d0.d8991"]]},{"id":"a23a7f2c.bafea","type":"ui_numeric","z":"70839538.18ae3c","name":"OffMinuteOffice","label":"Ausschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":200,"wires":[["17fb0ad8.b5b745"]]},{"id":"fc6dd267.731a1","type":"change","z":"70839538.18ae3c","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":200,"wires":[["a23a7f2c.bafea"]]},{"id":"9875fa36.453cb8","type":"file in","z":"3d21d686.cd0f8a","name":"LoadTimeSettingsOffice","filename":"timesettingsOffice","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":80,"wires":[["737f4d8d.150244"]]},{"id":"737f4d8d.150244","type":"json","z":"3d21d686.cd0f8a","name":"CONVERT_SETTINGS_OFFICE","property":"payload","action":"","pretty":false,"x":460,"y":80,"wires":[["f7ad7a39.57c2b8"]]},{"id":"f7ad7a39.57c2b8","type":"function","z":"3d21d686.cd0f8a","name":"StoreLoadedDataIntoContextOffice","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettingsMemoryOffice',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[[]]},{"id":"dca07140.44c3a","type":"inject","z":"1dbc8cc0.222793","name":"","topic":"MAKE_DEFAULT_CONFIGS","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["7655b5a9.f2f67c"]]},{"id":"7655b5a9.f2f67c","type":"function","z":"1dbc8cc0.222793","name":"PREPARE_DEFAULT_SETTINGS","func":"DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n   \nmsg = DefaultSettings;\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["fe94d0a8.c3ed7"]]},{"id":"fe94d0a8.c3ed7","type":"file","z":"1dbc8cc0.222793","name":"StoreTimeSettings1","filename":"timesettingsOffice","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":770,"y":80,"wires":[[]]},{"id":"cd8f49c5.6ada98","type":"inject","z":"946b209a.e7a58","name":"","topic":"MAKE_DEFAULT_CONFIGS","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":1060,"wires":[["a2b5f88b.2ced48"]]},{"id":"a2b5f88b.2ced48","type":"function","z":"946b209a.e7a58","name":"PREPARE_DEFAULT_SETTINGS","func":"DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n   \nmsg = DefaultSettings;\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":1060,"wires":[["73f8623a.11d11c"]]},{"id":"73f8623a.11d11c","type":"file","z":"946b209a.e7a58","name":"StoreTimeSettingsOffice","filename":"timesettingsOffice","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1410,"y":1060,"wires":[[]]},{"id":"ef0a9b21.a94048","type":"inject","z":"946b209a.e7a58","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2320,"y":1280,"wires":[["1665eb8f.604d74"]]},{"id":"2b632b63.568024","type":"inject","z":"946b209a.e7a58","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2330,"y":1320,"wires":[["1665eb8f.604d74"]]},{"id":"85103c83.6ecdb","type":"change","z":"946b209a.e7a58","name":"StringCommandOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2330,"y":1220,"wires":[["1665eb8f.604d74"]]},{"id":"efa9abaf.4b1898","type":"file in","z":"378cd8c6.1c5658","name":"LoadTimeSettingsOffice","filename":"timesettingsOffice","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":80,"wires":[["4e0275ff.4f6fec"]]},{"id":"4e0275ff.4f6fec","type":"json","z":"378cd8c6.1c5658","name":"CONVERT_SETTINGS_OFFICE","property":"payload","action":"","pretty":false,"x":480,"y":80,"wires":[["41b33dc0.efb364"]]},{"id":"41b33dc0.efb364","type":"function","z":"378cd8c6.1c5658","name":"StoreLoadedDataIntoContextOffice","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettingsMemoryOffice',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[[]]},{"id":"17fb0ad8.b5b745","type":"function","z":"70839538.18ae3c","name":"PrepareTimeDataOffice","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemoryOffice',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[[]]},{"id":"66d1e97f.6fa5b8","type":"function","z":"946b209a.e7a58","name":"PrepareTimeDataOffice","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettings3') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettings3',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":1390,"y":1300,"wires":[["73f8623a.11d11c","7924441f.58989c","cbfd0298.79d"]]},{"id":"a3ebe61b.8d61d8","type":"ui_numeric","z":"946b209a.e7a58","name":"OnHourOffice","label":"Einschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":1140,"y":1220,"wires":[["66d1e97f.6fa5b8"]]},{"id":"34890e25.b106c2","type":"change","z":"946b209a.e7a58","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1220,"wires":[["a3ebe61b.8d61d8"]]},{"id":"45d843a6.2fe7fc","type":"ui_numeric","z":"946b209a.e7a58","name":"OnMinuteOffice","label":"Einschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"24","step":1,"x":1140,"y":1260,"wires":[["66d1e97f.6fa5b8"]]},{"id":"3bc5d495.ed7d7c","type":"change","z":"946b209a.e7a58","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1260,"wires":[["45d843a6.2fe7fc"]]},{"id":"e59d9f37.1ad06","type":"ui_numeric","z":"946b209a.e7a58","name":"OffHourOffice","label":"Ausschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":1140,"y":1300,"wires":[["66d1e97f.6fa5b8"]]},{"id":"c8022c2c.ec0f","type":"change","z":"946b209a.e7a58","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1300,"wires":[["e59d9f37.1ad06"]]},{"id":"1eefe667.c1971a","type":"ui_numeric","z":"946b209a.e7a58","name":"OffMinuteOffice","label":"Ausschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"24","step":1,"x":1140,"y":1340,"wires":[["66d1e97f.6fa5b8"]]},{"id":"c7555823.aa9cd8","type":"change","z":"946b209a.e7a58","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1340,"wires":[["1eefe667.c1971a"]]},{"id":"735625aa.973e8c","type":"file in","z":"946b209a.e7a58","name":"LoadTimeSettingsOffice","filename":"timesettingsOffice","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":1260,"wires":[["4243f1e5.89222"]]},{"id":"4243f1e5.89222","type":"json","z":"946b209a.e7a58","name":"CONVERT_SETTINGS_OFFICE","property":"payload","action":"","pretty":false,"x":540,"y":1260,"wires":[["7b7abe95.6369c","34890e25.b106c2","3bc5d495.ed7d7c","c8022c2c.ec0f","c7555823.aa9cd8"]]},{"id":"7b7abe95.6369c","type":"function","z":"946b209a.e7a58","name":"StoreLoadedDataIntoContextOffice","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettings3',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettings3') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1140,"wires":[[]]},{"id":"ff24523b.a2c55","type":"inject","z":"946b209a.e7a58","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1000,"wires":[["735625aa.973e8c","f1f7639d.2d54f"]]},{"id":"7924441f.58989c","type":"subflow:7d23cd88.369654","z":"946b209a.e7a58","name":"","x":1660,"y":1220,"wires":[["1649a5e2.b3f46a"]]},{"id":"cbfd0298.79d","type":"subflow:497deffc.3db77","z":"946b209a.e7a58","name":"","x":1670,"y":1340,"wires":[["1649a5e2.b3f46a"]]},{"id":"cdfda96b.4c5e98","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":120,"wires":[["4d056bf2.6fa94c"]]},{"id":"4d056bf2.6fa94c","type":"function","z":"224ea99f.aa7d56","d":true,"name":"INIT_PHIDGETS_VINT_HUB1_OFFICE","func":"var NewMsg         = { payload : ''};\nvar phidget22      = global.get('phidget22')\nvar conn           = new phidget22.Connection(5661,'192.168.1.51');\nvar Initialized    = context.get('init') || 0;\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\nvar SerialNumber = 597039;\nvar PortNumber   = 5000;\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"OfficePublicVintHubInit\", 1);\n\t\tconsole.log('Office Vinthub1 with digital output 0 attached!, Serial number is:' + SerialNumber)\n\t};\n\ndigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"OfficePublicVintHubInit\", 0);\n\t\tconsole.log('Office Vinthub1 with digital output 0 detached! Serial number is:' + SerialNumber)\n\t};\n\n\n\nfunction Start()\n{\n    digitalOutput0.setIsHubPortDevice(true);\n    digitalOutput0.setHubPort(0);\n    digitalOutput0.setDeviceSerialNumber(SerialNumber);\n    digitalOutput0.open(PortNumber).then(function () \n    {\n       global.set(\"OfficePublicDigitalOutput0\", digitalOutput0);\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[[]]},{"id":"f6e62054.6b6968","type":"function","z":"62dabc44.aa9ad4","d":true,"name":"INIT_PHIDGETS_PROTOTYPE_TEMPERATURE_MODULE","func":"var NewMsg    = { payload : ''};\nvar phidget22 = global.get('phidget22')\n\nvar Config =\n{ \n    VintHub : \n    { \n        \"ipadress\"    :\"192.168.1.51\",\n        \"port\"        :5661, \n        \"serialnumber\":597039, \n        \"timeout\"     :5000,\n        \"PublicId\"    :\"PublicDigitalOutput0\"\n    }\n};\n\nvar conn = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPortTemperaureModule = 2;\n\nvar digitalOutput0     = new phidget22.DigitalOutput();\nvar temperatureSensor0 = new phidget22.TemperatureSensor();\n\n\n    temperatureSensor0.onAttach = function onTemperatureSensor0_Attach() {\n\t\tconsole.log( 'OFFICE Vinthub attached! Serial number: ' + Config.VintHub.serialnumber + 'Temperature module at port' + HubPortTemperaureModule );\n\t};\n\n    temperatureSensor0.onDetach = function onDigitalOutput0_Detach() {\n\t\tconsole.log( 'OFFICE Vinthub detached! Serial number: ' + Config.VintHub.serialnumber + 'Temperature module at port' + HubPortTemperaureModule );\n\t};\n\t\n    temperatureSensor0.onTemperatureChange = function TemperatureChange(temperature) {\n\t\tconsole.log('Temperature: ' + temperature.toString())\n\t};\n\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () \n    {\n    });   \n}\n\n//conn.connect().then(StartInstance(Config, digitalOutput0, 0 )).catch(function(err) {\n//\tconsole.error(\"Error during connect:\", err);\n\t\nconn.connect().then(StartInstance(Config, temperatureSensor0, HubPortTemperaureModule )).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\n\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[[]]},{"id":"905eb223.9f36d8","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"TEST","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":520,"wires":[["f6e62054.6b6968","d8b10ad2.a327c8"]]},{"id":"d8b10ad2.a327c8","type":"function","z":"62dabc44.aa9ad4","d":true,"name":"INIT_PHIDGETS_VINT_HUB1_OFFICE","func":"var NewMsg             = { payload : ''};\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection(5661,'192.168.1.51');\nvar Initialized        = context.get('init') || 0;\nvar digitalOutput0     = new phidget22.DigitalOutput();\nvar temperatureSensor0 = new phidget22.TemperatureSensor();\n\nvar SerialNumber = 597039;\nvar PortNumber   = 5000;\n\ntemperatureSensor0.onAttach = function TemperatureAttached() {\n        global.set(\"OfficePublicVintHubInit\", 1);\n\t\tconsole.log('Office Vinthub1 (Temperaturemodule) attached!, Serial number is:' + SerialNumber)\n\t};\n\ntemperatureSensor0.onDetach = function TemperatureDetached() {\n\t    global.set(\"OfficePublicVintHubInit\", 0);\n\t\tconsole.log('Office Vinthub1 (Temperaturemodule) detached! Serial number is:' + SerialNumber)\n\t};\n\t\n\ntemperatureSensor0.onTemperatureChange = function TemperatureAttached(temperature) {\n\t\tconsole.log('Temperature: ' + temperature.toString())\n\t};\n\n\nfunction Start()\n{\n    temperatureSensor0.setHubPort(2);\n    temperatureSensor0.setDeviceSerialNumber(SerialNumber);\n    temperatureSensor0.open(PortNumber).then(function () \n    {\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":470,"y":580,"wires":[[]]},{"id":"b7d9d797.9a271","type":"function","z":"89f4663.1fb9198","name":"PHIDGETS_TEMPERATURE_MODULE","func":"var NewMsg = { topic : \"Temperaturesensor\", payload : 0 };\nvar phidget22 = global.get('phidget22')\n\nvar Config =\n{ \n    VintHub : \n    { \n        \"ipadress\"    :\"192.168.1.51\",\n        \"port\"        :5661, \n        \"serialnumber\":597039, \n        \"timeout\"     :5000,\n        \"PublicId\"    :\"PublicDigitalOutput0\"\n    },\n    \n    TemperatureSensor:\n    {\n        \"UpdateIntervall\"  : 5000\n    }\n};\n\nconst PhidgetObjectType = \n{\n    TemperatureSensor : 1\n}\n\nvar conn = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPortTemperaureModule = 2;\n\nvar digitalOutput0     = new phidget22.DigitalOutput();\nvar temperatureSensor0 = new phidget22.TemperatureSensor();\nvar VintInfo = 'Serial number: ' + Config.VintHub.serialnumber + ' Temperature module at port ' + HubPortTemperaureModule;\n\n    temperatureSensor0.onAttach = function onTemperatureSensor0_Attach() {\n\t\tconsole.log( 'OFFICE Vinthub ATTACHED! ' + VintInfo );\n\t};\n\n    temperatureSensor0.onDetach = function onDigitalOutput0_Detach() {\n\t\tconsole.log( 'OFFICE Vinthub DETACHED! ' + VintInfo );\n\t};\n\t\n    temperatureSensor0.onTemperatureChange = function TemperatureChange(temperature) {\n \t\tconsole.log('Temperature: ' + temperature.toString())\n        NewMsg.payload = temperature;\n        node.send(NewMsg);\n        node.done();\n\t};\n\n\nfunction StartInstance( Config, phidgetobject, hubport, phidgettype )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    switch( phidgettype )\n    {\n        case PhidgetObjectType.TemperaturSensor:\n            console.log( 'Temperaturesensor intervall = ', Config.TemperatureSensor.UpdateIntervall );\n            phidgetobject.setDataInterval(Config.TemperatureSensor.UpdateIntervall);\n            break;\n    } \n    \n    phidgetobject.open(Config.VintHub.timeout).then(function () \n    {\n \n    }); \n\n}\n\n//conn.connect().then(StartInstance(Config, digitalOutput0, 0 )).catch(function(err) {\n//\tconsole.error(\"Error during connect:\", err);\n\t\nconn.connect().then(StartInstance(Config,\n                                  temperatureSensor0, \n                                  HubPortTemperaureModule,\n                                  PhidgetObjectType.TemperaturSensor )).catch(function(err) {\n\tconsole.error(\"Error during connect \" + VintInfo, err);\n});\n\nreturn( NewMsg );\n\n\n\n","outputs":1,"noerr":0,"x":1460,"y":1140,"wires":[["e0a63288.9caa28","1a8acccf.304313"]]},{"id":"e0a63288.9caa28","type":"debug","z":"89f4663.1fb9198","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1740,"y":1140,"wires":[]},{"id":"e6844761.6876b","type":"inject","z":"89f4663.1fb9198","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1200,"y":1140,"wires":[["b7d9d797.9a271"]]},{"id":"2819598f.539b56","type":"catch","z":"89f4663.1fb9198","name":"CATCH_TEMP","scope":["b7d9d797.9a271"],"uncaught":false,"x":1160,"y":1240,"wires":[["854bad15.5a37f"]]},{"id":"854bad15.5a37f","type":"debug","z":"89f4663.1fb9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":1240,"wires":[]}]