projects/ANDISHOME/AndisHome.json
[{"id":"89f4663.1fb9198","type":"tab","label":"WERKSTÄTTE2","disabled":false,"info":""},{"id":"362d879c.e4bd98","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard","disabled":false,"hidden":false},{"id":"10da58d4.20f697","type":"ui_group","z":"","name":"HAUS","tab":"362d879c.e4bd98","disp":true,"width":"6","collapse":false},{"id":"d07e3bc1.1627f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a834059.84a91","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7d1a1d5.a6e0f","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"3a834059.84a91","disp":true,"width":"6","collapse":false},{"id":"616ab88e.5f5868","type":"ui_group","z":"","name":"The Switch","tab":"381cbc02.b45c54","disp":true,"width":"6","collapse":false},{"id":"381cbc02.b45c54","type":"ui_tab","z":"","name":"My Switch","icon":"dashboard","order":1},{"id":"198bfa2c.a0f586","type":"ui_switch","z":"89f4663.1fb9198","name":"Heizung","label":"HEIZUNG","tooltip":"","group":"c7d1a1d5.a6e0f","order":0,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":880,"y":160,"wires":[[]]},{"id":"fb3b6f38.ec426","type":"ui_button","z":"89f4663.1fb9198","name":"","group":"c7d1a1d5.a6e0f","order":1,"width":0,"height":0,"passthru":false,"label":"EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":370,"y":160,"wires":[["198bfa2c.a0f586","8b3804de.7aba68"]]},{"id":"dd48777c.f447c8","type":"ui_button","z":"89f4663.1fb9198","name":"","group":"c7d1a1d5.a6e0f","order":1,"width":0,"height":0,"passthru":false,"label":"AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":370,"y":260,"wires":[["198bfa2c.a0f586","66ea1a52.dcf674","4be2d5b6.7890fc"]]},{"id":"66ea1a52.dcf674","type":"bigtimer","z":"89f4663.1fb9198","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.22908","lon":"13.0208","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":780,"y":500,"wires":[[],[],[]]},{"id":"2d3b1ef7.fcc242","type":"ui_button","z":"89f4663.1fb9198","name":"","group":"c7d1a1d5.a6e0f","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":370,"y":340,"wires":[["66ea1a52.dcf674","22bc269f.e38e6a"]]},{"id":"8b3804de.7aba68","type":"change","z":"89f4663.1fb9198","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":260,"wires":[["66ea1a52.dcf674"]]},{"id":"4be2d5b6.7890fc","type":"change","z":"89f4663.1fb9198","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":300,"wires":[["66ea1a52.dcf674"]]},{"id":"22bc269f.e38e6a","type":"change","z":"89f4663.1fb9198","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":340,"wires":[["66ea1a52.dcf674"]]}]