projects/ANDISHOME/AndisHome.json
[{"id":"89f4663.1fb9198","type":"tab","label":"WERKSTÄTTE2","disabled":false,"info":""},{"id":"946b209a.e7a58","type":"tab","label":"BUERO_AUSSENBEREICH","disabled":false,"info":""},{"id":"224ea99f.aa7d56","type":"tab","label":"IOCONTROL_PHIDGETS","disabled":false,"info":""},{"id":"bea2f80b.91edc8","type":"tab","label":"IOCONTROL_PHIDGET_CONFIG","disabled":false,"info":""},{"id":"62dabc44.aa9ad4","type":"tab","label":"TESTING_PROTOTYPES","disabled":false,"info":""},{"id":"16ae33ba.369bfc","type":"tab","label":"UNIT_TEST","disabled":false,"info":""},{"id":"4f454564.068fec","type":"tab","label":"UNIT_TEST2","disabled":false,"info":""},{"id":"170499d.0e7c866","type":"tab","label":"BOT_INFORMER","disabled":false,"info":""},{"id":"ce52711a.266d28","type":"tab","label":"SET_TIME_2","disabled":false,"info":""},{"id":"30ba2070.c5fb6","type":"subflow","name":"SUB_ON_HOUR_1","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"1a0bfb43.49d945"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"837ceddd.dd08a","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":540,"y":140,"wires":[{"id":"837ceddd.dd08a","port":0}]}},{"id":"62dffab4.e717e4","type":"subflow","name":"SUB_ON_MINUTE1","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"7b27dacf.9ca8b4"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"b2bfb5a0.efb2a8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7390ca22.bd6ab4","type":"subflow","name":"SUB_OFF_HOUR_1","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"f94843f0.4d27d"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"6f52c086.45d28","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"781f4d20.a37674","type":"subflow","name":"SUB_OFF_MINUTE_1","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"da0fafa0.3f9db"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"329d8dec.4441a2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a8d52260.73814","type":"subflow","name":"SUB_TIME1","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"cea13710.489628"},{"id":"4e1c3640.181948"},{"id":"df01e9d7.0a89b8"},{"id":"5c299832.350e28"}]}],"out":[{"x":400,"y":120,"wires":[{"id":"cea13710.489628","port":0},{"id":"4e1c3640.181948","port":0},{"id":"df01e9d7.0a89b8","port":0},{"id":"5c299832.350e28","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a1ab711.cebd09","type":"subflow","name":"SUB_CONTROL","info":"","category":"","in":[{"x":420,"y":560,"wires":[{"id":"2d3b1ef7.fcc242"}]}],"out":[{"x":1840,"y":360,"wires":[{"id":"8b3804de.7aba68","port":0},{"id":"4be2d5b6.7890fc","port":0},{"id":"22bc269f.e38e6a","port":0},{"id":"7e7ac4da.2f856c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c9e62a9e.cd1a28","type":"subflow","name":"SUB_ON_HOUR_2","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"22951f62.fc59f"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"7a421dd7.2483d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"daa71ced.89cee","type":"subflow","name":"SUB_ON_MINUTE_2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1b4d2a30.a5ea96"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"b7585bcc.5a2428","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"880e0c65.633fd","type":"subflow","name":"SUB_OFF_HOUR_2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"7e7fcfdd.39216"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"c404386f.22d2e8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7022a155.68146","type":"subflow","name":"SUB_OFF_MINUTE_2","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"ff51d8b4.452888"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"251f0f80.1133a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e3cf62e3.6475c","type":"subflow","name":"SUB_TIME_2","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"a346e78f.015638"},{"id":"59121532.97744c"},{"id":"4a8a7e6.ad95d8"},{"id":"4035dd9f.4d91d4"}]}],"out":[{"x":420,"y":120,"wires":[{"id":"a346e78f.015638","port":0},{"id":"59121532.97744c","port":0},{"id":"4a8a7e6.ad95d8","port":0},{"id":"4035dd9f.4d91d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"497deffc.3db77","type":"subflow","name":"SUB_OVERRIDE_OFF","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"bd90f5ed.921ae8"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"bd90f5ed.921ae8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7d23cd88.369654","type":"subflow","name":"SUB_OVERRIDE_ON","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"95cd355c.15657"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"95cd355c.15657","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"570dfd48.db6594","type":"subflow","name":"SUB_FLOW_TIMESELECTOR","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"66266a80.e662d4"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"66266a80.e662d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ac96faf9.98beb8","type":"subflow","name":"SUB_TIME1_DASHBOARD","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"75370959.efb778"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"cecf1677.9dba28","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5211edab.101474","type":"subflow","name":"SUB_TIME2_DASHBOARD","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"3473ca66.ff2616"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"aca90046.0ed04","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"39d6014.b2ceafe","type":"subflow","name":"SUB_OFFICE_CONTROL_TIMER","info":"","category":"","in":[{"x":100,"y":560,"wires":[{"id":"58fef1d5.f24c4"}]}],"out":[{"x":1140,"y":220,"wires":[{"id":"ed3505ab.57e0e8","port":0},{"id":"f7efb2e7.6a3ec","port":0},{"id":"1e3fc958.ca9017","port":0},{"id":"9184fec5.8b127","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"70839538.18ae3c","type":"subflow","name":"SUB_DASHBOARD_TIMESETTINGS","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"7e283e47.45d92"},{"id":"21abbfec.971a2"},{"id":"6de0097e.f28ac8"},{"id":"fc6dd267.731a1"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"17fb0ad8.b5b745","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3d21d686.cd0f8a","type":"subflow","name":"SUB_LOAD_TIMESETTINGS_OFFICE","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"9875fa36.453cb8"}]}],"out":[{"x":1080,"y":80,"wires":[{"id":"f7ad7a39.57c2b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1dbc8cc0.222793","type":"subflow","name":"SUB_STORE_TIMESETTINGS_OFFICE","info":"","category":"","in":[{"x":620,"y":160,"wires":[{"id":"fe94d0a8.c3ed7"}]}],"out":[{"x":920,"y":80,"wires":[{"id":"fe94d0a8.c3ed7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"378cd8c6.1c5658","type":"subflow","name":"SUB_LOAD_SETTING","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"efa9abaf.4b1898"}]}],"out":[{"x":1000,"y":80,"wires":[{"id":"41b33dc0.efb364","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"bc570fb3.a7c69","type":"subflow","name":"SUB_ROUND","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"826bf86e.9558f"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"826bf86e.9558f","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5e143ffe.e703c","type":"subflow","name":"SUB_PHIDGET_TEMPERATURE","info":"","category":"","in":[{"x":-40,"y":80,"wires":[{"id":"b7d9d797.9a271"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"6c13910b.b9a03","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"41be0902.50d668","type":"subflow","name":"SUB_HUMIDITY","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"292aacf3.6014d4"}]}],"out":[{"x":700,"y":60,"wires":[{"id":"66185f00.fbdec","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9f58dd42.16a9e","type":"subflow","name":"SUB_DIGITAL_INPUT","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"129f5460.659eac"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"129f5460.659eac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ac8ed1e6.d7001","type":"subflow","name":"SUB_ON_HOUR_1 (2)","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"7af18941.4d8478"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"e968620b.7bbdc","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":540,"y":140,"wires":[{"id":"e968620b.7bbdc","port":0}]}},{"id":"20531731.5ea3e","type":"subflow","name":"SUB_ON_MINUTE1 (2)","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"f2cdbfcf.9d8fb"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"74e84425.ed4384","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d9f95d57.6a1ce8","type":"subflow","name":"SUB_OFF_HOUR_1 (2)","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"d9e7f6bf.caea88"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"8f4dff68.e7c26","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"80c47caa.bfaff8","type":"subflow","name":"SUB_OFF_MINUTE_1 (2)","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"d0ccea12.e0ea1"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"28f8b8a9.236948","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3b5ed20b.40aed6","type":"subflow","name":"SUB_TIME1 (2)","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"cee9dab8.e88ae"},{"id":"ddc19423.27f578"},{"id":"6bded97e.7c4ae8"},{"id":"7df2ab57.b3b08c"}]}],"out":[{"x":400,"y":120,"wires":[{"id":"cee9dab8.e88ae","port":0},{"id":"ddc19423.27f578","port":0},{"id":"6bded97e.7c4ae8","port":0},{"id":"7df2ab57.b3b08c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"adc76a28.694f38","type":"subflow","name":"SUB_CONTROL (2)","info":"","category":"","in":[{"x":420,"y":560,"wires":[{"id":"6f2ec9c1.c4a918"}]}],"out":[{"x":1840,"y":360,"wires":[{"id":"8df263d6.3953a8","port":0},{"id":"3f32cd73.efee0a","port":0},{"id":"bc0e1db8.8300b","port":0},{"id":"7448734d.70de54","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b82aec52.71077","type":"subflow","name":"SUB_ON_HOUR_2 (2)","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"ea972460.1a5c6"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"536be29d.43d12c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"37e16ef7.a80d52","type":"subflow","name":"SUB_ON_MINUTE_2 (2)","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"784d1c37.89c9c4"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"bc311fa4.4b621","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9b5aad10.7269f8","type":"subflow","name":"SUB_OFF_HOUR_2 (2)","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"c2ea07d9.f4f5"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"90b9fff4.38123","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dc753ad8.fd13e8","type":"subflow","name":"SUB_OFF_MINUTE_2 (2)","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"a4f82276.c3799"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"1ccd47a0.751c7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e0d7f3d2.992948","type":"subflow","name":"SUB_TIME_2 (2)","info":"","category":"","in":[{"x":20,"y":120,"wires":[{"id":"123aed7d.1a8c13"},{"id":"eede79bb.a179b8"},{"id":"305a01ab.4c246e"},{"id":"3aae5394.f3c2b4"}]}],"out":[{"x":420,"y":120,"wires":[{"id":"123aed7d.1a8c13","port":0},{"id":"eede79bb.a179b8","port":0},{"id":"305a01ab.4c246e","port":0},{"id":"3aae5394.f3c2b4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ccecae82.265088","type":"subflow","name":"SUB_TIME1_DASHBOARD (2)","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"613d7201.ece154"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"34f08825.2539d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3b0272cf.d2ff56","type":"subflow","name":"SUB_TIME2_DASHBOARD (2)","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"dbbddae0.c02d2"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"666896b4.42de18","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"95e1679f.9535b","type":"subflow","name":"SUB_OFFICE_CONTROL_TIMER (2)","info":"","category":"","in":[{"x":100,"y":560,"wires":[{"id":"90de0f2b.b75328"}]}],"out":[{"x":1140,"y":220,"wires":[{"id":"d3ced062.33ceb8","port":0},{"id":"cd61bdb1.b477a8","port":0},{"id":"edc85977.eab3b","port":0},{"id":"2a238e34.9d6d8a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"25351ce6.ba5ab4","type":"subflow","name":"SUB_DASHBOARD_TIMESETTINGS (2)","info":"","category":"","in":[{"x":40,"y":140,"wires":[{"id":"9d2aa243.5f199"},{"id":"130532b0.436085"},{"id":"b2a1ace1.a8f068"},{"id":"69de84ff.59f6bc"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"76864717.233ca8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"182a983d.fb9c48","type":"subflow","name":"SUB_PHIDGET_TEMPERATURE (2)","info":"","category":"","in":[{"x":-40,"y":80,"wires":[{"id":"26c65d5.b715322"}]}],"out":[{"x":660,"y":80,"wires":[{"id":"e1f877a.ff79888","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1968967e.33e14a","type":"subflow","name":"SUB_HUMIDITY (2)","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"e5bccb21.626bb"}]}],"out":[{"x":700,"y":60,"wires":[{"id":"d367f96f.82c93","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6956946d.896984","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"bb162373.aade","type":"subflow","name":"SUB_GARAGE_OPEN","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"bb4ed473.4b1e7"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"50f9245f.d8db6c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ac95dbcf.42ca78","type":"subflow","name":"SUB_GARAGE_CLOSED","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"4b282a9d.b6e644"}]}],"out":[{"x":520,"y":80,"wires":[{"id":"65352b29.663d94","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"284bcce3.73d61c","type":"subflow","name":"SUB_CONV_ON_OFF","info":"","category":"","in":[{"x":140,"y":100,"wires":[{"id":"2a3c7ffc.11a4e8"},{"id":"63f1d9dc.7717b"}]}],"out":[{"x":440,"y":80,"wires":[{"id":"2a3c7ffc.11a4e8","port":0}]},{"x":440,"y":120,"wires":[{"id":"63f1d9dc.7717b","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3d14d2e1.757ba6","type":"subflow","name":"SUB_TRANS_OFF","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"40ca71a5.f9537"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"fc8fee91.db5e6","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6a44b62a.c22618","type":"subflow","name":"SUB_TRANS_ON","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"4fde8a34.e90b84"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"8bbf4357.b7708","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9dd14a0.4cd1e38","type":"subflow","name":"SUB_TRANS_DOOR_CLOSED","info":"","category":"","in":[{"x":-20,"y":80,"wires":[{"id":"31d335c1.de5eea"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"b9ce012f.f29648","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"2d1d38d4.0a6f08","type":"subflow","name":"SUB_TRANS_DOOR_OPEN","info":"","category":"","in":[{"x":-20,"y":80,"wires":[{"id":"7662dbc0.04da54"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"d50891fd.dc7db8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a7f60f08.ebce8","type":"subflow","name":"SUB_CONFIG_OFFICE","info":"","category":"","in":[],"out":[{"x":400,"y":80,"wires":[{"id":"431e10a6.d6f2a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8463fdcb.0a5cd","type":"subflow","name":"Subflow 2","info":"","in":[{"x":-60,"y":80,"wires":[{"id":"c02af81d.1bee38"}]}],"out":[{"x":440,"y":80,"wires":[{"id":"c02af81d.1bee38","port":0}]}]},{"id":"10da58d4.20f697","type":"ui_group","z":"","name":"HAUS","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d07e3bc1.1627f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"ART CONTROL","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a834059.84a91","type":"ui_tab","z":"","name":"WERKSTÄTTENRAUM2","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c7d1a1d5.a6e0f","type":"ui_group","z":"","name":"HEIZUNGSTEUERUNG","tab":"3a834059.84a91","order":1,"disp":true,"width":"6","collapse":true},{"id":"616ab88e.5f5868","type":"ui_group","z":"","name":"The Switch","tab":"","disp":true,"width":"6","collapse":false},{"id":"7a9ab70f.ac1128","type":"chatbot-telegram-node","z":"","botname":"HomeBot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"213b4b73.8e5d84","type":"chatbot-telegram-node","z":"","botname":"MyGeorgsHome_bot","usernames":"","providerToken":"","polling":"1000","store":"","log":"","parseMode":"","debug":false,"webHook":"","connectMode":"polling"},{"id":"113cf98e.38fec6","type":"telegram bot","z":"","botname":"MyGeorgsHome_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"2bac6d07.720872","type":"ui_tab","z":"","name":"BÜRO AUSSEN","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e8671909.942468","type":"ui_group","z":"","name":"REKLAME SHIELD","tab":"2bac6d07.720872","order":1,"disp":true,"width":"6","collapse":false},{"id":"198bfa2c.a0f586","type":"ui_switch","z":"89f4663.1fb9198","name":"Heizung","label":"Heizstrahler","tooltip":"","group":"c7d1a1d5.a6e0f","order":16,"width":"6","height":"2","passthru":false,"decouple":"false","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":2300,"y":380,"wires":[[]]},{"id":"fb3b6f38.ec426","type":"ui_button","z":"a1ab711.cebd09","name":"","group":"c7d1a1d5.a6e0f","order":4,"width":0,"height":0,"passthru":false,"label":"HANDBETRIEB EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":120,"wires":[["8b3804de.7aba68","e0ae9a6.a85ca68"]]},{"id":"dd48777c.f447c8","type":"ui_button","z":"a1ab711.cebd09","name":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"label":"HANDBETRIEB AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":260,"wires":[["7e7ac4da.2f856c","5b9f1069.00115"]]},{"id":"66ea1a52.dcf674","type":"bigtimer","z":"89f4663.1fb9198","outtopic":"","outpayload1":"","outpayload2":"","name":"TIMER1","comment":"","lat":"48.22908","lon":"13.0208","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":1520,"y":160,"wires":[[],["72bf37a0.da6178"],[]]},{"id":"2d3b1ef7.fcc242","type":"ui_button","z":"a1ab711.cebd09","name":"","group":"c7d1a1d5.a6e0f","order":6,"width":0,"height":0,"passthru":true,"label":"AKTIVIERE ZEITSCHALTUHR ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":610,"y":560,"wires":[["22bc269f.e38e6a","406398b8.a5eff8"]]},{"id":"8b3804de.7aba68","type":"change","z":"a1ab711.cebd09","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":80,"wires":[[]]},{"id":"4be2d5b6.7890fc","type":"change","z":"a1ab711.cebd09","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":300,"wires":[[]]},{"id":"22bc269f.e38e6a","type":"change","z":"a1ab711.cebd09","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":560,"wires":[[]]},{"id":"f1dd33c6.f924b","type":"ui_text","z":"a1ab711.cebd09","group":"c7d1a1d5.a6e0f","order":7,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":400,"wires":[]},{"id":"837ceddd.dd08a","type":"ui_numeric","z":"30ba2070.c5fb6","name":"OnHour","label":"1. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":8,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"b2bfb5a0.efb2a8","type":"ui_numeric","z":"62dffab4.e717e4","name":"OnMinute","label":"1. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":9,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":400,"y":80,"wires":[[]]},{"id":"6f52c086.45d28","type":"ui_numeric","z":"7390ca22.bd6ab4","name":"OffHour","label":"1. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":10,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"329d8dec.4441a2","type":"ui_numeric","z":"781f4d20.a37674","name":"OffMinute","label":"1. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":400,"y":80,"wires":[[]]},{"id":"f898989b.6fb488","type":"file","z":"89f4663.1fb9198","name":"StoreTimeSettings1","filename":"timesettings1","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1860,"y":200,"wires":[[]]},{"id":"174a2e39.7eacf2","type":"file in","z":"89f4663.1fb9198","name":"LoadTimeSettings1","filename":"timesettings1","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":220,"wires":[["b390c4a5.b763d8"]]},{"id":"825c9871.dfd2f8","type":"inject","z":"89f4663.1fb9198","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":330,"y":320,"wires":[["174a2e39.7eacf2","21ac702a.99994","ed6e8c6e.a3556"]]},{"id":"b390c4a5.b763d8","type":"json","z":"89f4663.1fb9198","name":"CONVERT_SETTINGS_1","property":"payload","action":"","pretty":false,"x":610,"y":180,"wires":[["98ae152e.4d2f38","e101c15b.7d31a","80be2031.65fcf8","f1edf8c1.76f738"]]},{"id":"1a0bfb43.49d945","type":"change","z":"30ba2070.c5fb6","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["837ceddd.dd08a"]]},{"id":"7b27dacf.9ca8b4","type":"change","z":"62dffab4.e717e4","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["b2bfb5a0.efb2a8"]]},{"id":"f94843f0.4d27d","type":"change","z":"7390ca22.bd6ab4","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["6f52c086.45d28"]]},{"id":"da0fafa0.3f9db","type":"change","z":"781f4d20.a37674","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["329d8dec.4441a2"]]},{"id":"95cd355c.15657","type":"function","z":"7d23cd88.369654","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"62760622.be76b","type":"inject","z":"89f4663.1fb9198","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["174a2e39.7eacf2","ed6e8c6e.a3556"]]},{"id":"a0f7fd94.9cb4e","type":"inject","z":"89f4663.1fb9198","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1930,"y":460,"wires":[["f5d9c65d.fc8e88"]]},{"id":"f5d9c65d.fc8e88","type":"function","z":"89f4663.1fb9198","name":"IO_CONTROL_HEATER_1","func":"var DigitalOutput0 = global.get('PublicDigitalOutput0');\nvar IsInitialized = global.get(\"PublicVintHubInit\");\n\nif( IsInitialized )\n{\n    if( msg.payload === 'ON')\n    {\n        DigitalOutput0.setDutyCycle(1);\n    }\n\n    if( msg.payload === 'OFF')\n    {\n        DigitalOutput0.setDutyCycle(0);\n    }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":440,"wires":[["21c96f0c.3a464","91c506f7.f68238"]]},{"id":"d94f9318.e9b56","type":"inject","z":"89f4663.1fb9198","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1930,"y":500,"wires":[["f5d9c65d.fc8e88"]]},{"id":"d0159537.6a36f8","type":"file in","z":"89f4663.1fb9198","name":"LoadBackupTimeSettings","filename":"backuptimesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":370,"y":140,"wires":[["b390c4a5.b763d8"]]},{"id":"b415ad60.88d5e","type":"inject","z":"89f4663.1fb9198","name":"RestoreBackup","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["d0159537.6a36f8"]]},{"id":"d19a9f19.61cc3","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":60,"wires":[["afd4f6a6.0c7fd8"]]},{"id":"afd4f6a6.0c7fd8","type":"function","z":"224ea99f.aa7d56","name":"INIT_PHIDGETS_VINT_HUB1_WORKSHOP_HALL","func":"var NewMsg         = { payload : ''};\nvar phidget22      = global.get('phidget22')\nvar conn           = new phidget22.Connection(5661,'192.168.1.100');\nvar Initialized    = context.get('init') || 0;\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\nvar SerialNumber = 726538;\nvar PortNumber   = 5000;\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"PublicVintHubInit\", 1);\n\t\tconsole.log('Vinthub1 with digital output 0 attached!, Serial number is:' + SerialNumber)\n\t};\n\ndigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"PublicVintHubInit\", 0);\n\t\tconsole.log('Vinthub1 with digital output 0 detached! Serial number is:' + SerialNumber)\n\t};\n\n\n\nfunction Start()\n{\n    digitalOutput0.setIsHubPortDevice(true);\n    digitalOutput0.setHubPort(0);\n    digitalOutput0.setDeviceSerialNumber(SerialNumber);\n    digitalOutput0.open(PortNumber).then(function () \n    {\n       global.set(\"PublicDigitalOutput0\", digitalOutput0);\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\nglobal.set(\"PublicPhidget\", conn);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":390,"y":60,"wires":[[]]},{"id":"c1fd41c.0cbabc","type":"file","z":"bea2f80b.91edc8","name":"PHIDGETSETTINGS","filename":"phidgetsettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":570,"y":100,"wires":[[]]},{"id":"b9359544.0e58d8","type":"inject","z":"bea2f80b.91edc8","name":"MAKE_TEMPLATE","topic":"CONFIG_TEMPLATE","payload":"{\"VINTHUB_WORKSHOP_HALL_2\":{\"ipadress\":\"192.168.1.100\",\"port\":5661,\"serialnumber\":726538}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":100,"wires":[["c1fd41c.0cbabc","79ff7c5c.20bdec"]]},{"id":"79ff7c5c.20bdec","type":"debug","z":"bea2f80b.91edc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":180,"wires":[]},{"id":"98ae152e.4d2f38","type":"function","z":"89f4663.1fb9198","name":"StoreLoadedDataIntoContext1","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettingsMemory1',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemory1') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":120,"wires":[[]]},{"id":"f94752da.8ffeb","type":"catch","z":"224ea99f.aa7d56","name":"","scope":null,"uncaught":false,"x":100,"y":300,"wires":[["331cbfde.a5f648"]]},{"id":"331cbfde.a5f648","type":"ui_toast","z":"224ea99f.aa7d56","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":320,"y":300,"wires":[]},{"id":"5ea27fa.c06178","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":220,"wires":[["2ad65570.ee8d92"]]},{"id":"2ad65570.ee8d92","type":"function","z":"224ea99f.aa7d56","d":true,"name":"INIT_DIGITAL_INPUTS","func":"var NewMsg = { topic : \"DigitalInput0\", state : false };\nvar phidget22 = global.get('phidget22');\n\nconsole.log('Opening Digital Input Module 0 ....')\n\nfunction RunDigitalInputHandler() {\n\tvar digitalInput0 = new phidget22.DigitalInput();\n\n\tdigitalInput0.setDeviceSerialNumber(597039);\n\n\tdigitalInput0.onStateChange = function onDigitalInput0_StateChange(state) {\n\t\tconsole.log('State DigitalInput1: ' + state.toString())\n\t\tNewMsg.state = state;\n\t\tnode.send(NewMsg);\n\t\tnode.done();\n\t};\n\n\tdigitalInput0.open(5000).then(function() {\n          console.log('DigitalInput0 open was sucessfull');\n          flow.set( \"DigitalInput0\", digitalInput0 );\n\t}).catch(function (err){\n\t\tconsole.error('Error during open:', err);\n\n\t})\n}\n\nvar conn = new phidget22.Connection(5661, '192.168.1.51');\nconn.connect().then(RunDigitalInputHandler).catch(function (err) {\n\tconsole.error('Error during connect:', err);\n\n});\n\n\nreturn;\n","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["2aba4bba.3fa45c"]]},{"id":"2aba4bba.3fa45c","type":"debug","z":"224ea99f.aa7d56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":220,"wires":[]},{"id":"771644b2.61969c","type":"function","z":"62dabc44.aa9ad4","name":"SwitchOutput","func":"exports.Switch = function( initialized, digout, msg )\n{\n  if( initialized )\n  {\n    if( msg.payload === 'ON')\n    {\n        digout.setDutyCycle(1);\n    }\n\n    if( msg.payload === 'OFF')\n    {\n        digout.setDutyCycle(0);\n    }\n  }   \n}\n\n\n    \n\n","outputs":1,"noerr":0,"x":150,"y":40,"wires":[[]]},{"id":"8bffcc05.4fb28","type":"function","z":"62dabc44.aa9ad4","name":"PrepareMessageToChatBot","func":"msg.payload = {};\nmsg.payload.chatId  = 852123642;\nmsg.payload.type    = 'message';\nmsg.payload.content = 'hello from node-red!';\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["8e76ae36.91994"]]},{"id":"e8730c0b.22378","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"START","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["8bffcc05.4fb28"]]},{"id":"8e76ae36.91994","type":"telegram sender","z":"62dabc44.aa9ad4","name":"BotInformer","bot":"113cf98e.38fec6","x":570,"y":160,"wires":[[]]},{"id":"17c0a21.41e865e","type":"function","z":"62dabc44.aa9ad4","name":"INIT_PHIDGETS_PROTOTYPE","func":"var NewMsg = { payload : ''};\nvar phidget22 = global.get('phidget22')\n\nvar Config =\n{ \n    VintHub : \n    { \n        \"ipadress\"    :\"192.168.1.100\",\n        \"port\"        :5661, \n        \"serialnumber\":726538, \n        \"hubport\"     :0, \n        \"timeout\"     :5000,\n        \"PublicId\"    :\"PublicDigitalOutput0\"\n    }\n};\n\nvar conn = new phidget22.Connection(5661,'192.168.1.100');\nvar SerialNumber = 0;\nvar TimeOut = 0;\nvar HubPort = 0;\n\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"PublicVintHubInit\", 1);\n\t\tconsole.log('Vinthub attached!')\n\t};\n\ndigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"PublicVintHubInit\", 0);\n\t\tconsole.log('Vinthub detached!')\n\t};\n\t\n\nfunction StartInstance( Config, phidgetobject )\n{\n    phidgetobject.setIsHubPortDevice(true);\n    phidgetobject.setHubPort(Config.VintHub.hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(timeout).then(function () \n    {\n       global.set(Config.VintHub.publicid, phidgetobject);\n    });   \n}\n\n\nconn.connect().then(StartInstance(Config, digitalOutput0)).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\nglobal.set(\"PublicPhidget\", conn);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[[]]},{"id":"cea13710.489628","type":"subflow:30ba2070.c5fb6","z":"a8d52260.73814","name":"OFF_HOUR_1","env":[],"x":200,"y":80,"wires":[[]]},{"id":"4e1c3640.181948","type":"subflow:62dffab4.e717e4","z":"a8d52260.73814","name":"ON_MINUTE_1","env":[],"x":200,"y":120,"wires":[[]]},{"id":"df01e9d7.0a89b8","type":"subflow:7390ca22.bd6ab4","z":"a8d52260.73814","name":"OFF_HOUR_1","env":[],"x":200,"y":160,"wires":[[]]},{"id":"5c299832.350e28","type":"subflow:781f4d20.a37674","z":"a8d52260.73814","name":"OFF_MINUTE_1","env":[],"x":210,"y":200,"wires":[[]]},{"id":"75370959.efb778","type":"subflow:a8d52260.73814","z":"ac96faf9.98beb8","name":"TIME_SETTINGS_1","env":[],"x":200,"y":80,"wires":[["cecf1677.9dba28"]]},{"id":"d3e72391.ca518","type":"bigtimer","z":"89f4663.1fb9198","outtopic":"","outpayload1":"","outpayload2":"","name":"TIMER2","comment":"","lat":"48.22908","lon":"13.0208","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":1520,"y":480,"wires":[[],["72bf37a0.da6178"],[]]},{"id":"7a421dd7.2483d4","type":"ui_numeric","z":"c9e62a9e.cd1a28","name":"OnHour2","label":"2. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":12,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":380,"y":80,"wires":[[]]},{"id":"22951f62.fc59f","type":"change","z":"c9e62a9e.cd1a28","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["7a421dd7.2483d4"]]},{"id":"21ac702a.99994","type":"subflow:a1ab711.cebd09","z":"89f4663.1fb9198","name":"CONTROL","env":[],"x":1270,"y":320,"wires":[["66ea1a52.dcf674","d3e72391.ca518"]]},{"id":"b470cb08.1c7998","type":"ui_template","z":"89f4663.1fb9198","group":"c7d1a1d5.a6e0f","name":"CLOCK","order":1,"width":0,"height":0,"format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":40,"wires":[[]],"icon":"node-red/timer.svg"},{"id":"a346e78f.015638","type":"subflow:c9e62a9e.cd1a28","z":"e3cf62e3.6475c","name":"SUB_ON_HOUR_2","env":[],"x":190,"y":80,"wires":[[]]},{"id":"b7585bcc.5a2428","type":"ui_numeric","z":"daa71ced.89cee","name":"OnMinute2","label":"2. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":13,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":390,"y":80,"wires":[[]]},{"id":"1b4d2a30.a5ea96","type":"change","z":"daa71ced.89cee","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["b7585bcc.5a2428"]]},{"id":"59121532.97744c","type":"subflow:daa71ced.89cee","z":"e3cf62e3.6475c","name":"SUB_ON_MINUTE_2","env":[],"x":200,"y":120,"wires":[[]]},{"id":"c404386f.22d2e8","type":"ui_numeric","z":"880e0c65.633fd","name":"OffHour2","label":"2. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":14,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"7e7fcfdd.39216","type":"change","z":"880e0c65.633fd","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["c404386f.22d2e8"]]},{"id":"4a8a7e6.ad95d8","type":"subflow:880e0c65.633fd","z":"e3cf62e3.6475c","name":"SUB_OFF_HOUR_2","env":[],"x":190,"y":160,"wires":[[]]},{"id":"251f0f80.1133a","type":"ui_numeric","z":"7022a155.68146","name":"OffMinute2","label":"2. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":15,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":410,"y":80,"wires":[[]]},{"id":"ff51d8b4.452888","type":"change","z":"7022a155.68146","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["251f0f80.1133a"]]},{"id":"4035dd9f.4d91d4","type":"subflow:7022a155.68146","z":"e3cf62e3.6475c","name":"SUB_OFF_MINUTE_2","env":[],"x":200,"y":200,"wires":[[]]},{"id":"3473ca66.ff2616","type":"subflow:e3cf62e3.6475c","z":"5211edab.101474","name":"TIMESETTINGS_2","env":[],"x":190,"y":76,"wires":[["aca90046.0ed04"]]},{"id":"82ad5bf2.3cb2c8","type":"json","z":"89f4663.1fb9198","name":"CONVERT_SETTINGS_2","property":"payload","action":"","pretty":false,"x":610,"y":440,"wires":[["f6d57dbb.3099","8c971c1.138ef6"]]},{"id":"ed6e8c6e.a3556","type":"file in","z":"89f4663.1fb9198","name":"LoadTimeSettings2","filename":"timesettings2","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":440,"wires":[["82ad5bf2.3cb2c8"]]},{"id":"8dd1158a.e73438","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"TEST","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":320,"wires":[["140ffbe3.d84834"]]},{"id":"475ba0d.348696","type":"debug","z":"62dabc44.aa9ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":320,"wires":[]},{"id":"bd90f5ed.921ae8","type":"function","z":"497deffc.3db77","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"cecf1677.9dba28","type":"function","z":"ac96faf9.98beb8","name":"PrepareTimeData1","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemory1') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemory1',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[[]]},{"id":"e101c15b.7d31a","type":"subflow:497deffc.3db77","z":"89f4663.1fb9198","name":"OVERRIDE_OFF1","env":[],"x":1290,"y":140,"wires":[["66ea1a52.dcf674"]]},{"id":"80be2031.65fcf8","type":"subflow:7d23cd88.369654","z":"89f4663.1fb9198","name":"OVERRIDE_ON_1","env":[],"x":1290,"y":180,"wires":[["66ea1a52.dcf674"]]},{"id":"729b219a.243e1","type":"inject","z":"89f4663.1fb9198","name":"","topic":"MAKE_DEFAULT_CONFIGS","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1250,"y":40,"wires":[["2599235d.bc23ec"]]},{"id":"2599235d.bc23ec","type":"function","z":"89f4663.1fb9198","name":"PREPARE_DEFAULT_SETTINGS","func":"DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n   \nmsg = DefaultSettings;\nreturn msg;\n","outputs":1,"noerr":0,"x":1560,"y":40,"wires":[["f898989b.6fb488","e29c7266.57592"]]},{"id":"e29c7266.57592","type":"file","z":"89f4663.1fb9198","name":"StoreTimeSettings2","filename":"timesettings2","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1860,"y":240,"wires":[[]]},{"id":"9e50cbdc.1c8788","type":"function","z":"62dabc44.aa9ad4","name":"SelectTimeComponents","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n       \n   };\n\nvar TimeSettings = flow.get('TimeSettingsMemory1') || DefaultSettings;\n\nfunction Select( msg, timesettings )\n{\n  switch( msg.topic)\n  {\n    case \"HourOn\":\n         timesettings.payload.HourOn    = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         timesettings.payload.MinuteOn  = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         timesettings.payload.HourOff   = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         timesettings.payload.MinuteOff = msg.payload;\n         break;     \n  }  \n}\n\nSelect( msg, TimeSettings );\n\n\n\nflow.set('TimeSettingsMemory1',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["475ba0d.348696"]]},{"id":"140ffbe3.d84834","type":"function","z":"62dabc44.aa9ad4","name":"Settings_HourOn","func":"var NewMsg =   { \n       topic:   'HourOn',\n       payload: 2\n   };\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":390,"y":320,"wires":[["9e50cbdc.1c8788","7627b2ed.ac722c"]]},{"id":"7627b2ed.ac722c","type":"debug","z":"62dabc44.aa9ad4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":380,"wires":[]},{"id":"ad77bf36.33805","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"TEST","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":220,"wires":[["9e50cbdc.1c8788"]]},{"id":"7e7ac4da.2f856c","type":"change","z":"a1ab711.cebd09","name":"Manual","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"e25368c9.bad2f8","type":"change","z":"a1ab711.cebd09","name":"All OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Alles Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":400,"wires":[["f1dd33c6.f924b"]]},{"id":"aca90046.0ed04","type":"function","z":"5211edab.101474","name":"PrepareTimeData2","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemory2') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemory2',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":410,"y":76,"wires":[[]]},{"id":"f6d57dbb.3099","type":"function","z":"89f4663.1fb9198","name":"StoreLoadedDataIntoContext2","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 5, \n               HourOff   : 6, \n               MinuteOff : 7\n             } \n       \n   };\n\nglobal.set('TimeSettingsMemory2',msg) || DefaultSettings;\n\nvar LoadedSettings = global.get('TimeSettingsMemory2') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":520,"wires":[[]]},{"id":"5b9f1069.00115","type":"delay","z":"a1ab711.cebd09","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":340,"wires":[["4be2d5b6.7890fc","e25368c9.bad2f8"]]},{"id":"406398b8.a5eff8","type":"change","z":"a1ab711.cebd09","name":"Commando timer","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Zeitschaltuhr ein ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[["f1dd33c6.f924b"]]},{"id":"e0ae9a6.a85ca68","type":"change","z":"a1ab711.cebd09","name":"ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["f1dd33c6.f924b"]]},{"id":"66266a80.e662d4","type":"function","z":"570dfd48.db6594","name":"TIMESELECTOR","func":"var NewMsg = {};\n\n\n  switch( msg.topic )\n  {\n    case \"HourOn\":\n         msg.timesettings.payload.HourOn    = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         msg.timesettings.payload.MinuteOn  = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         msg.timesettings.payload.HourOff   = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         msg.timesettings.payload.MinuteOff = msg.payload;\n         break;     \n  }  \n\n\nNewMsg = msg.timesettings;\n\n\nreturn NewMsg;\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"28677ed2.755f52","type":"subflow:570dfd48.db6594","z":"62dabc44.aa9ad4","name":"SUB_TIMESELECTOR","env":[],"x":410,"y":440,"wires":[[]]},{"id":"3c47f1b4.01469e","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":260,"wires":[["54759403.5c8c9c"]]},{"id":"218d3fa1.2a8f9","type":"inject","z":"4f454564.068fec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":340,"wires":[["c7f211b4.a9b08","6ba927.82b1a6d8","47cbd0b1.e4284","6c818edb.57e2f"]]},{"id":"c7f211b4.a9b08","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_HOUR_ON","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 55,\n    topic:   'HourOn'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["3c47f1b4.01469e"]]},{"id":"54759403.5c8c9c","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.HourOn ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":260,"wires":[["4c80f6a4.906c88"]]},{"id":"b82462f5.b71f8","type":"flow-asserter in","z":"16ae33ba.369bfc","name":"PAYLOAD_TEST","testcases":[{"testId":0,"input":"1","inputType":"num","operator":"eq","assert":"2","assertType":"num"},{"testId":1,"input":"0","inputType":"num","operator":"eq","assert":"1","assertType":"num"}],"onlyfail":false,"flowasserterout":"2ddfe89d.aa52a8","x":260,"y":220,"wires":[["6694694d.68a098"],["6e05c8f2.41ee68"]]},{"id":"aef65b5e.4addb8","type":"flow-asserter out","z":"16ae33ba.369bfc","name":"TEST1","x":690,"y":220,"wires":[[]]},{"id":"6e05c8f2.41ee68","type":"debug","z":"16ae33ba.369bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":320,"wires":[]},{"id":"6694694d.68a098","type":"function","z":"16ae33ba.369bfc","name":"ADD","func":"msg.payload = msg.payload + 1;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["aef65b5e.4addb8","5dc6c53f.61b5cc"]]},{"id":"a40d7359.959ff","type":"inject","z":"16ae33ba.369bfc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":160,"wires":[["6694694d.68a098"]]},{"id":"5dc6c53f.61b5cc","type":"debug","z":"16ae33ba.369bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":280,"wires":[]},{"id":"4c80f6a4.906c88","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"55","valueType":"str","failMsg":""}],"x":990,"y":260,"wires":[[]]},{"id":"fdbf9690.886998","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.MinuteOn ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":320,"wires":[["a73f1105.d2d38"]]},{"id":"6ba927.82b1a6d8","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_MINUTE_ON","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 2,\n    topic:   'MinuteOn'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":320,"wires":[["ff7691d8.952c8"]]},{"id":"ff7691d8.952c8","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":320,"wires":[["fdbf9690.886998"]]},{"id":"a73f1105.d2d38","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"2","valueType":"str","failMsg":""}],"x":990,"y":320,"wires":[[]]},{"id":"b9826e36.d4d2b","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.HourOff ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":380,"wires":[["bbe67f97.79ba8"]]},{"id":"47cbd0b1.e4284","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_HOUR_OFF","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 5,\n    topic:   'HourOff'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["37b74794.c554f8"]]},{"id":"37b74794.c554f8","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":380,"wires":[["b9826e36.d4d2b"]]},{"id":"bbe67f97.79ba8","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"5","valueType":"str","failMsg":""}],"x":990,"y":380,"wires":[[]]},{"id":"cce2d185.f1325","type":"function","z":"4f454564.068fec","name":"Test","func":"var NewMsg = { payload : 0 };\nNewMsg.payload =  msg.payload.MinuteOff ;\nreturn NewMsg;","outputs":1,"noerr":0,"x":870,"y":440,"wires":[["c7fcf71d.e18fa8"]]},{"id":"6c818edb.57e2f","type":"function","z":"4f454564.068fec","name":"TEST_MESSAGE_MINUTE_OFF","func":"var NewMsg = \n{\n    \n    timesettings:\n    {\n       payload: \n             {\n               HourOn    : 11,\n               MinuteOn  : 22, \n               HourOff   : 33, \n               MinuteOff : 44\n             } \n    },\n    \n    payload: 999,\n    topic:   'MinuteOff'\n\n};\n   \nvar TimeSettings = flow.get('TimeSettingsMemory1') || NewMsg.timesettings;\n\nNewMsg.timeSettings = TimeSettings;\nNewMsg.payload = NewMsg.payload;\n   \nmsg = NewMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["25a99b0c.6f7f54"]]},{"id":"25a99b0c.6f7f54","type":"subflow:570dfd48.db6594","z":"4f454564.068fec","name":"SUB_TIMESELECTOR","env":[],"x":680,"y":440,"wires":[["cce2d185.f1325"]]},{"id":"c7fcf71d.e18fa8","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"999","valueType":"str","failMsg":""}],"x":990,"y":440,"wires":[[]]},{"id":"f1edf8c1.76f738","type":"subflow:ac96faf9.98beb8","z":"89f4663.1fb9198","name":"SET_TIME1_DASHBOARD","env":[],"x":920,"y":240,"wires":[["f898989b.6fb488","e101c15b.7d31a","80be2031.65fcf8"]]},{"id":"e8f77c58.2c9f8","type":"function","z":"170499d.0e7c866","name":"PrepareMessageToChatBot","func":"var NewMsg = {};\nNewMsg.payload = {};\nNewMsg.payload.chatId  = 852123642;\nNewMsg.payload.type    = 'message';\nif(  msg.payload !== \"\" && msg.payload !== null )\n{\n    NewMsg.payload.content = msg.payload;\n}\nreturn NewMsg;\n","outputs":1,"noerr":0,"x":500,"y":160,"wires":[["6cece73.6dd4d18","ffb21f38.8618e"]]},{"id":"6cece73.6dd4d18","type":"telegram sender","z":"170499d.0e7c866","d":true,"name":"BotInformer","bot":"113cf98e.38fec6","x":790,"y":160,"wires":[[]]},{"id":"996f586f.0beba8","type":"link in","z":"170499d.0e7c866","name":"FROM_HEATER_COMMANDER","links":["ba4adfe6.132e4"],"x":235,"y":160,"wires":[["e8f77c58.2c9f8"]]},{"id":"e995843c.873f18","type":"change","z":"89f4663.1fb9198","name":"MessageToBot_HeaterOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"WERKSTÄTTE HEIZUNG EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":420,"wires":[["9a637b81.d161f8"]]},{"id":"ba4adfe6.132e4","type":"link out","z":"89f4663.1fb9198","name":"HEATER_TO_BOT_INFORMER","links":["996f586f.0beba8"],"x":3115,"y":440,"wires":[]},{"id":"489fe7bc.2e5268","type":"change","z":"89f4663.1fb9198","name":"MessageToBot_HeaterOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"WERKSTÄTTE HEIZUNG AUS","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":480,"wires":[["9a637b81.d161f8"]]},{"id":"fdf38293.66a75","type":"inject","z":"170499d.0e7c866","name":"TestMsg","topic":"","payload":"Hi this is node red","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":260,"wires":[["e8f77c58.2c9f8"]]},{"id":"ffb21f38.8618e","type":"debug","z":"170499d.0e7c866","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":260,"wires":[]},{"id":"9a637b81.d161f8","type":"rbe","z":"89f4663.1fb9198","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2850,"y":440,"wires":[["ba4adfe6.132e4"]]},{"id":"21c96f0c.3a464","type":"switch","z":"89f4663.1fb9198","name":"IsON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2430,"y":420,"wires":[["e995843c.873f18"]]},{"id":"91c506f7.f68238","type":"switch","z":"89f4663.1fb9198","name":"IsOFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2430,"y":480,"wires":[["489fe7bc.2e5268"]]},{"id":"1a8acccf.304313","type":"ui_gauge","z":"89f4663.1fb9198","name":"TEMPERATUR","group":"c7d1a1d5.a6e0f","order":2,"width":0,"height":0,"gtype":"gage","title":"TEMPERATUR","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240,"y":680,"wires":[]},{"id":"d2326fa4.38cb4","type":"ui_button","z":"39d6014.b2ceafe","name":"","group":"e8671909.942468","order":3,"width":0,"height":0,"passthru":false,"label":"HANDBETRIEB EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":120,"wires":[["ed3505ab.57e0e8","289297a5.450958"]]},{"id":"606962db.d5e20c","type":"ui_button","z":"39d6014.b2ceafe","name":"","group":"e8671909.942468","order":4,"width":0,"height":0,"passthru":true,"label":"HANDBETRIEB AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":260,"wires":[["f7efb2e7.6a3ec","863510c1.e347f"]]},{"id":"58fef1d5.f24c4","type":"ui_button","z":"39d6014.b2ceafe","name":"","group":"e8671909.942468","order":5,"width":0,"height":0,"passthru":true,"label":"AKTIVIERE ZEITSCHALTUHR ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":310,"y":560,"wires":[["9184fec5.8b127","7c9137d8.1775b8"]]},{"id":"ed3505ab.57e0e8","type":"change","z":"39d6014.b2ceafe","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":80,"wires":[[]]},{"id":"1e3fc958.ca9017","type":"change","z":"39d6014.b2ceafe","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[[]]},{"id":"9184fec5.8b127","type":"change","z":"39d6014.b2ceafe","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":560,"wires":[[]]},{"id":"15da1935.acf897","type":"ui_text","z":"39d6014.b2ceafe","group":"e8671909.942468","order":6,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":400,"wires":[]},{"id":"f7efb2e7.6a3ec","type":"change","z":"39d6014.b2ceafe","name":"Manual","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":220,"wires":[[]]},{"id":"116e6fe7.a5fbb","type":"change","z":"39d6014.b2ceafe","name":"All OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Alles Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":400,"wires":[["15da1935.acf897"]]},{"id":"863510c1.e347f","type":"delay","z":"39d6014.b2ceafe","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":340,"wires":[["1e3fc958.ca9017","116e6fe7.a5fbb"]]},{"id":"7c9137d8.1775b8","type":"change","z":"39d6014.b2ceafe","name":"Commando timer","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Zeitschaltuhr ein ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":480,"wires":[["15da1935.acf897"]]},{"id":"289297a5.450958","type":"change","z":"39d6014.b2ceafe","name":"ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":140,"wires":[["15da1935.acf897"]]},{"id":"f1f7639d.2d54f","type":"subflow:39d6014.b2ceafe","z":"946b209a.e7a58","name":"SUB_OFFICE_CONTROL","env":[],"x":1320,"y":60,"wires":[["1649a5e2.b3f46a"]]},{"id":"79a28b55.1451a4","type":"ui_switch","z":"946b209a.e7a58","name":"LEUCHTE","label":"REKLAMELEUCHTE","tooltip":"","group":"e8671909.942468","order":15,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"LEUCHTE","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o fa-2x","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-lightbulb-o fa-2x ","offcolor":"white","x":2470,"y":160,"wires":[[]]},{"id":"9c7c904b.60dc1","type":"change","z":"946b209a.e7a58","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2230,"y":160,"wires":[["79a28b55.1451a4","a04d3b30.9cf3b8"]]},{"id":"e59e5800.9ac548","type":"change","z":"946b209a.e7a58","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2230,"y":200,"wires":[["79a28b55.1451a4","a04d3b30.9cf3b8"]]},{"id":"38222240.eadcee","type":"change","z":"946b209a.e7a58","name":"StringCommandOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":240,"wires":[["a04d3b30.9cf3b8"]]},{"id":"1649a5e2.b3f46a","type":"bigtimer","z":"946b209a.e7a58","outtopic":"","outpayload1":"","outpayload2":"","name":"TIMER_OFFICE","comment":"","lat":"48.22908","lon":"13.0208","starttime":"0","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":2020,"y":220,"wires":[[],["9c7c904b.60dc1","e59e5800.9ac548","38222240.eadcee","85103c83.6ecdb"],[]]},{"id":"8a83e9c3.7c55d8","type":"ui_numeric","z":"70839538.18ae3c","name":"OnHourOffice","label":"Einschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":80,"wires":[["17fb0ad8.b5b745"]]},{"id":"7e283e47.45d92","type":"change","z":"70839538.18ae3c","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":80,"wires":[["8a83e9c3.7c55d8"]]},{"id":"3522690c.051c66","type":"ui_numeric","z":"70839538.18ae3c","name":"OnMinuteOffice","label":"Einschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":120,"wires":[["17fb0ad8.b5b745"]]},{"id":"21abbfec.971a2","type":"change","z":"70839538.18ae3c","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":120,"wires":[["3522690c.051c66"]]},{"id":"59f4f0d0.d8991","type":"ui_numeric","z":"70839538.18ae3c","name":"OffHourOffice","label":"Ausschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":160,"wires":[["17fb0ad8.b5b745"]]},{"id":"6de0097e.f28ac8","type":"change","z":"70839538.18ae3c","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[["59f4f0d0.d8991"]]},{"id":"a23a7f2c.bafea","type":"ui_numeric","z":"70839538.18ae3c","name":"OffMinuteOffice","label":"Ausschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":200,"wires":[["17fb0ad8.b5b745"]]},{"id":"fc6dd267.731a1","type":"change","z":"70839538.18ae3c","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":200,"wires":[["a23a7f2c.bafea"]]},{"id":"9875fa36.453cb8","type":"file in","z":"3d21d686.cd0f8a","name":"LoadTimeSettingsOffice","filename":"timesettingsOffice","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":80,"wires":[["737f4d8d.150244"]]},{"id":"737f4d8d.150244","type":"json","z":"3d21d686.cd0f8a","name":"CONVERT_SETTINGS_OFFICE","property":"payload","action":"","pretty":false,"x":460,"y":80,"wires":[["f7ad7a39.57c2b8"]]},{"id":"f7ad7a39.57c2b8","type":"function","z":"3d21d686.cd0f8a","name":"StoreLoadedDataIntoContextOffice","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettingsMemoryOffice',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[[]]},{"id":"dca07140.44c3a","type":"inject","z":"1dbc8cc0.222793","name":"","topic":"MAKE_DEFAULT_CONFIGS","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":80,"wires":[["7655b5a9.f2f67c"]]},{"id":"7655b5a9.f2f67c","type":"function","z":"1dbc8cc0.222793","name":"PREPARE_DEFAULT_SETTINGS","func":"DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n   \nmsg = DefaultSettings;\nreturn msg;\n","outputs":1,"noerr":0,"x":500,"y":80,"wires":[["fe94d0a8.c3ed7"]]},{"id":"fe94d0a8.c3ed7","type":"file","z":"1dbc8cc0.222793","name":"StoreTimeSettings1","filename":"timesettingsOffice","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":770,"y":80,"wires":[[]]},{"id":"cd8f49c5.6ada98","type":"inject","z":"946b209a.e7a58","name":"","topic":"MAKE_DEFAULT_CONFIGS","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":650,"y":120,"wires":[["a2b5f88b.2ced48"]]},{"id":"a2b5f88b.2ced48","type":"function","z":"946b209a.e7a58","name":"PREPARE_DEFAULT_SETTINGS","func":"DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n   \nmsg = DefaultSettings;\nreturn msg;\n","outputs":1,"noerr":0,"x":960,"y":120,"wires":[["73f8623a.11d11c"]]},{"id":"73f8623a.11d11c","type":"file","z":"946b209a.e7a58","name":"StoreTimeSettingsOffice","filename":"timesettingsOffice","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1330,"y":120,"wires":[[]]},{"id":"ef0a9b21.a94048","type":"inject","z":"946b209a.e7a58","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2240,"y":340,"wires":[["a04d3b30.9cf3b8"]]},{"id":"2b632b63.568024","type":"inject","z":"946b209a.e7a58","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2250,"y":380,"wires":[["a04d3b30.9cf3b8"]]},{"id":"85103c83.6ecdb","type":"change","z":"946b209a.e7a58","name":"StringCommandOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":280,"wires":[["a04d3b30.9cf3b8"]]},{"id":"efa9abaf.4b1898","type":"file in","z":"378cd8c6.1c5658","name":"LoadTimeSettingsOffice","filename":"timesettingsOffice","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":80,"wires":[["4e0275ff.4f6fec"]]},{"id":"4e0275ff.4f6fec","type":"json","z":"378cd8c6.1c5658","name":"CONVERT_SETTINGS_OFFICE","property":"payload","action":"","pretty":false,"x":480,"y":80,"wires":[["41b33dc0.efb364"]]},{"id":"41b33dc0.efb364","type":"function","z":"378cd8c6.1c5658","name":"StoreLoadedDataIntoContextOffice","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettingsMemoryOffice',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[[]]},{"id":"17fb0ad8.b5b745","type":"function","z":"70839538.18ae3c","name":"PrepareTimeDataOffice","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemoryOffice',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[[]]},{"id":"66d1e97f.6fa5b8","type":"function","z":"946b209a.e7a58","name":"PrepareTimeDataOffice","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettings3') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettings3',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":1310,"y":360,"wires":[["73f8623a.11d11c","7924441f.58989c","cbfd0298.79d"]]},{"id":"a3ebe61b.8d61d8","type":"ui_numeric","z":"946b209a.e7a58","name":"OnHourOffice","label":"Einschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":1060,"y":280,"wires":[["66d1e97f.6fa5b8"]]},{"id":"34890e25.b106c2","type":"change","z":"946b209a.e7a58","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":280,"wires":[["a3ebe61b.8d61d8"]]},{"id":"45d843a6.2fe7fc","type":"ui_numeric","z":"946b209a.e7a58","name":"OnMinuteOffice","label":"Einschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"24","step":1,"x":1060,"y":320,"wires":[["66d1e97f.6fa5b8"]]},{"id":"3bc5d495.ed7d7c","type":"change","z":"946b209a.e7a58","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":320,"wires":[["45d843a6.2fe7fc"]]},{"id":"e59d9f37.1ad06","type":"ui_numeric","z":"946b209a.e7a58","name":"OffHourOffice","label":"Ausschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":1060,"y":360,"wires":[["66d1e97f.6fa5b8"]]},{"id":"c8022c2c.ec0f","type":"change","z":"946b209a.e7a58","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":360,"wires":[["e59d9f37.1ad06"]]},{"id":"1eefe667.c1971a","type":"ui_numeric","z":"946b209a.e7a58","name":"OffMinuteOffice","label":"Ausschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"24","step":1,"x":1060,"y":400,"wires":[["66d1e97f.6fa5b8"]]},{"id":"c7555823.aa9cd8","type":"change","z":"946b209a.e7a58","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":400,"wires":[["1eefe667.c1971a"]]},{"id":"735625aa.973e8c","type":"file in","z":"946b209a.e7a58","name":"LoadTimeSettingsOffice","filename":"timesettingsOffice","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":190,"y":320,"wires":[["4243f1e5.89222"]]},{"id":"4243f1e5.89222","type":"json","z":"946b209a.e7a58","name":"CONVERT_SETTINGS_OFFICE","property":"payload","action":"","pretty":false,"x":460,"y":320,"wires":[["7b7abe95.6369c","34890e25.b106c2","3bc5d495.ed7d7c","c8022c2c.ec0f","c7555823.aa9cd8"]]},{"id":"7b7abe95.6369c","type":"function","z":"946b209a.e7a58","name":"StoreLoadedDataIntoContextOffice","func":"var DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nflow.set('TimeSettings3',msg) || DefaultSettings;\n\nvar LoadedSettings = flow.get('TimeSettings3') || DefaultSettings;\nmsg = LoadedSettings;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":200,"wires":[[]]},{"id":"ff24523b.a2c55","type":"inject","z":"946b209a.e7a58","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["735625aa.973e8c","f1f7639d.2d54f"]]},{"id":"7924441f.58989c","type":"subflow:7d23cd88.369654","z":"946b209a.e7a58","name":"","x":1580,"y":280,"wires":[["1649a5e2.b3f46a"]]},{"id":"cbfd0298.79d","type":"subflow:497deffc.3db77","z":"946b209a.e7a58","name":"","x":1590,"y":400,"wires":[["1649a5e2.b3f46a"]]},{"id":"cdfda96b.4c5e98","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":120,"wires":[["4d056bf2.6fa94c"]]},{"id":"4d056bf2.6fa94c","type":"function","z":"224ea99f.aa7d56","d":true,"name":"INIT_PHIDGETS_VINT_HUB1_OFFICE","func":"var NewMsg         = { payload : ''};\nvar phidget22      = global.get('phidget22')\nvar conn           = new phidget22.Connection(5661,'192.168.1.51');\nvar Initialized    = context.get('init') || 0;\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\nvar SerialNumber = 597039;\nvar PortNumber   = 5000;\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"OfficePublicVintHubInit\", 1);\n\t\tconsole.log('Office Vinthub1 with digital output 0 attached!, Serial number is:' + SerialNumber)\n\t};\n\ndigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"OfficePublicVintHubInit\", 0);\n\t\tconsole.log('Office Vinthub1 with digital output 0 detached! Serial number is:' + SerialNumber)\n\t};\n\n\n\nfunction Start()\n{\n    digitalOutput0.setIsHubPortDevice(true);\n    digitalOutput0.setHubPort(0);\n    digitalOutput0.setDeviceSerialNumber(SerialNumber);\n    digitalOutput0.open(PortNumber).then(function () \n    {\n       global.set(\"OfficePublicDigitalOutput0\", digitalOutput0);\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[[]]},{"id":"f6e62054.6b6968","type":"function","z":"62dabc44.aa9ad4","d":true,"name":"INIT_PHIDGETS_PROTOTYPE_TEMPERATURE_MODULE","func":"var NewMsg    = { payload : ''};\nvar phidget22 = global.get('phidget22')\n\nvar Config =\n{ \n    VintHub : \n    { \n        \"ipadress\"    :\"192.168.1.51\",\n        \"port\"        :5661, \n        \"serialnumber\":597039, \n        \"timeout\"     :5000,\n        \"PublicId\"    :\"PublicDigitalOutput0\"\n    }\n};\n\nvar conn = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPortTemperaureModule = 2;\n\nvar digitalOutput0     = new phidget22.DigitalOutput();\nvar temperatureSensor0 = new phidget22.TemperatureSensor();\n\n\n    temperatureSensor0.onAttach = function onTemperatureSensor0_Attach() {\n\t\tconsole.log( 'OFFICE Vinthub attached! Serial number: ' + Config.VintHub.serialnumber + 'Temperature module at port' + HubPortTemperaureModule );\n\t};\n\n    temperatureSensor0.onDetach = function onDigitalOutput0_Detach() {\n\t\tconsole.log( 'OFFICE Vinthub detached! Serial number: ' + Config.VintHub.serialnumber + 'Temperature module at port' + HubPortTemperaureModule );\n\t};\n\t\n    temperatureSensor0.onTemperatureChange = function TemperatureChange(temperature) {\n\t\tconsole.log('Temperature: ' + temperature.toString())\n\t};\n\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () \n    {\n    });   \n}\n\n//conn.connect().then(StartInstance(Config, digitalOutput0, 0 )).catch(function(err) {\n//\tconsole.error(\"Error during connect:\", err);\n\t\nconn.connect().then(StartInstance(Config, temperatureSensor0, HubPortTemperaureModule )).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\n\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":540,"y":520,"wires":[[]]},{"id":"905eb223.9f36d8","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"TEST","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":520,"wires":[["f6e62054.6b6968","d8b10ad2.a327c8"]]},{"id":"d8b10ad2.a327c8","type":"function","z":"62dabc44.aa9ad4","d":true,"name":"INIT_PHIDGETS_VINT_HUB1_OFFICE","func":"var NewMsg             = { payload : ''};\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection(5661,'192.168.1.51');\nvar Initialized        = context.get('init') || 0;\nvar digitalOutput0     = new phidget22.DigitalOutput();\nvar temperatureSensor0 = new phidget22.TemperatureSensor();\n\nvar SerialNumber = 597039;\nvar PortNumber   = 5000;\n\ntemperatureSensor0.onAttach = function TemperatureAttached() {\n        global.set(\"OfficePublicVintHubInit\", 1);\n\t\tconsole.log('Office Vinthub1 (Temperaturemodule) attached!, Serial number is:' + SerialNumber)\n\t};\n\ntemperatureSensor0.onDetach = function TemperatureDetached() {\n\t    global.set(\"OfficePublicVintHubInit\", 0);\n\t\tconsole.log('Office Vinthub1 (Temperaturemodule) detached! Serial number is:' + SerialNumber)\n\t};\n\t\n\ntemperatureSensor0.onTemperatureChange = function TemperatureAttached(temperature) {\n\t\tconsole.log('Temperature: ' + temperature.toString())\n\t};\n\n\nfunction Start()\n{\n    temperatureSensor0.setHubPort(2);\n    temperatureSensor0.setDeviceSerialNumber(SerialNumber);\n    temperatureSensor0.open(PortNumber).then(function () \n    {\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":470,"y":580,"wires":[[]]},{"id":"b7d9d797.9a271","type":"function","z":"5e143ffe.e703c","name":"PHIDGETS_TEMPERATURE_MODULE","func":"var Config = msg.payload;\nvar NewMsg = { topic : \"TemperatureSensor\", payload : 0, DecimalPlaces : Config.TemperatureSensor.Precision };\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPort            = Config.TemperatureSensor.HubPort;\nvar PhidgetObject      = new phidget22.TemperatureSensor();\nvar VintInfo = 'Serial number: ' + Config.VintHub.serialnumber + ' Temperature module at port ' + HubPort;\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () {})\n       .catch(function(err) \n       {\n\t           console.error(\"Error during open \" + VintInfo, err)\n       }); \n    \n    phidgetobject.onAttach = function onTemperatureSensor_Attach() {\n\t\tconsole.log( 'Vinthub ATTACHED! ' + VintInfo );\n\t};\n\n    phidgetobject.onDetach = function onTemperatureSensor_Detach() {\n\t\tconsole.log( 'Vinthub DETACHED! ' + VintInfo );\n\t};\n\t\n    phidgetobject.onTemperatureChange = function TemperatureChange(temperature) {\n        NewMsg.payload = temperature;\n        node.send(NewMsg);\n        node.done();\n\t};\n}\n\nconn.connect().then(StartInstance(Config, PhidgetObject, HubPort )).catch(function(err) {\n\tconsole.error(\"Error during connect \" + VintInfo, err);\n});\n\nreturn( NewMsg );\n\n\n\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["6c13910b.b9a03"]]},{"id":"2819598f.539b56","type":"catch","z":"89f4663.1fb9198","name":"CATCH_TEMP","scope":null,"uncaught":true,"x":680,"y":1040,"wires":[["854bad15.5a37f"]]},{"id":"854bad15.5a37f","type":"debug","z":"89f4663.1fb9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":1040,"wires":[]},{"id":"826bf86e.9558f","type":"function","z":"bc570fb3.a7c69","name":"ROUND","func":"NewMsg = { 'payload' : 0 }\n\nfunction roundNumber(num, dec) {\n  return Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);\n}\n\nNewMsg.payload = roundNumber( msg.payload, msg.DecimalPlaces );\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[[]]},{"id":"9a8d2e3e.05814","type":"subflow:bc570fb3.a7c69","z":"4f454564.068fec","name":"SUB_ROUND","env":[],"x":700,"y":520,"wires":[["325efc67.7270d4"]]},{"id":"718c0580.ded63c","type":"function","z":"4f454564.068fec","name":"TEST_VALUE_1","func":"var NewMsg = { 'payload' : 1.55, 'DecimalPlaces' : 1 };\nreturn NewMsg;","outputs":1,"noerr":0,"x":360,"y":520,"wires":[["9a8d2e3e.05814"]]},{"id":"8dd2b686.f67278","type":"inject","z":"4f454564.068fec","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":520,"wires":[["718c0580.ded63c","3035a778.413e58"]]},{"id":"325efc67.7270d4","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"1.6","valueType":"num","failMsg":""}],"x":870,"y":520,"wires":[[]]},{"id":"7b50d38b.dbfef4","type":"subflow:bc570fb3.a7c69","z":"4f454564.068fec","name":"SUB_ROUND","env":[],"x":700,"y":580,"wires":[["eb293c96.dd95a8"]]},{"id":"3035a778.413e58","type":"function","z":"4f454564.068fec","name":"TEST_VALUE_2","func":"var NewMsg = { 'payload' : 1.41, 'DecimalPlaces' : 1 };\nreturn NewMsg;","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["7b50d38b.dbfef4"]]},{"id":"eb293c96.dd95a8","type":"assert","z":"4f454564.068fec","name":"","rules":[{"property":"payload","propertyType":"msg","type":"eq","value":"1.4","valueType":"num","failMsg":""}],"x":870,"y":580,"wires":[[]]},{"id":"431e10a6.d6f2a","type":"inject","z":"a7f60f08.ebce8","name":"CONFIG_VINT_HUB_OFFICE","topic":"TOPIC_CONFIG","payload":"{\"VintHub\":{\"Location\":\"Office\",\"ipadress\":\"192.168.1.51\",\"port\":5661,\"serialnumber\":597039,\"timeout\":10000},\"TemperatureSensor\":{\"UpdateIntervall\":5000,\"Precision\":1,\"HubPort\":2},\"HumiditySensor\":{\"UpdateIntervall\":5000,\"Precision\":1,\"HubPort\":3},\"DigitalInput\":{\"HubPort\":1,\"Channel\":0},\"DigitalOutput\":{\"PublicId\":\"PublicDigitalOutput\",\"PublicInit\":\"PublicInit1\",\"HubPort\":3}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":80,"wires":[[]]},{"id":"b41adcf0.76948","type":"delay","z":"89f4663.1fb9198","name":"DELAY_TEMP","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":740,"wires":[["555fd9c6.593638"]]},{"id":"555fd9c6.593638","type":"function","z":"89f4663.1fb9198","name":"TEMPERATURE_LOG","func":"console.log('Temperature: ' + msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":740,"wires":[[]]},{"id":"93536032.48d2d","type":"subflow:5e143ffe.e703c","z":"89f4663.1fb9198","name":"SUB_TEMPERATURE","env":[],"x":1020,"y":680,"wires":[["b41adcf0.76948","1a8acccf.304313"]]},{"id":"292aacf3.6014d4","type":"function","z":"41be0902.50d668","name":"PHIDGETS_HUMIDITY_MODULE","func":"var Config = msg.payload;\nvar NewMsg = { topic : \"HumiditySensor\", payload : 0, DecimalPlaces : Config.TemperatureSensor.Precision };\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPort            = Config.HumiditySensor.HubPort;\nvar sensor             = new phidget22.HumiditySensor();\nvar VintInfo = 'Serial number: ' + Config.VintHub.serialnumber + ' Humitidy module at port ' + HubPort;\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () {}).catch(function(err) {\n\tconsole.error(\"Error during open \" + VintInfo, err)}); \n    \n    phidgetobject.onAttach = function onTemperatureSensor_Attach() {\n\t\tconsole.log( 'Vinthub ATTACHED! ' + VintInfo );\n\t};\n\n    phidgetobject.onDetach = function onTemperatureSensor_Detach() {\n\t\tconsole.log( 'Vinthub DETACHED! ' + VintInfo );\n\t};\n\t\n    phidgetobject.onHumidityChange = function ValueChange(humidity) {\n        NewMsg.payload = humidity;\n        node.send(NewMsg);\n        node.done();\n\t};\n}\n\nconn.connect().then(StartInstance(Config, sensor, HubPort )).catch(function(err) {\n\tconsole.error(\"Error during connect \" + VintInfo, err);\n});\n\nreturn( NewMsg );\n\n\n\n","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["66185f00.fbdec"]]},{"id":"7f37b4bd.ce2a8c","type":"function","z":"89f4663.1fb9198","name":"HUMIDITY_LOG","func":"console.log('Humidity: ' + msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":940,"wires":[[]]},{"id":"7199f90e.727c98","type":"delay","z":"89f4663.1fb9198","name":"DELAY_HUM","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":940,"wires":[["7f37b4bd.ce2a8c"]]},{"id":"66185f00.fbdec","type":"subflow:bc570fb3.a7c69","z":"41be0902.50d668","name":"SUB_ROUND","env":[],"x":560,"y":60,"wires":[[]]},{"id":"dd84be5f.7fbac","type":"subflow:41be0902.50d668","z":"89f4663.1fb9198","name":"SUB_HUMIDITY","env":[],"x":1000,"y":880,"wires":[["7199f90e.727c98","571b2764.017118"]]},{"id":"6c13910b.b9a03","type":"subflow:bc570fb3.a7c69","z":"5e143ffe.e703c","name":"SUB_ROUND","env":[],"x":480,"y":80,"wires":[[]]},{"id":"cbb92d1b.ff789","type":"inject","z":"89f4663.1fb9198","name":"CONFIG_VINT_HUB_WORKSHOP","topic":"TOPIC_CONFIG_VINT_HUB_WORKSHOP","payload":"{\"VintHub\":{\"ipadress\":\"192.168.1.100\",\"port\":5661,\"serialnumber\":597039,\"timeout\":5000},\"TemperatureSensor\":{\"UpdateIntervall\":5000,\"Precision\":1,\"HubPort\":2},\"HumiditySensor\":{\"UpdateIntervall\":5000,\"Precision\":1,\"HubPort\":3}}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":630,"y":620,"wires":[[]]},{"id":"5f5ed1a.2f9373","type":"function","z":"4f454564.068fec","name":"SAVESTATE","func":"var State = flow.get('SoredState') || false;\n\nif( msg.payload === 1 )\n{\n    flow.get('SoredState',true);\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":680,"wires":[[]]},{"id":"e1472d7b.01a5e","type":"ui_text","z":"89f4663.1fb9198","group":"c7d1a1d5.a6e0f","order":17,"width":0,"height":0,"name":"GARAGENTOOR","label":"GARAGENTOOR","format":"{{msg.payload}}","layout":"row-spread","x":2370,"y":620,"wires":[]},{"id":"50f9245f.d8db6c","type":"change","z":"bb162373.aade","name":"ConvertOpen","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"OFFEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"65352b29.663d94","type":"change","z":"ac95dbcf.42ca78","name":"ConvertClosed","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"GESCHLOSSEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":80,"wires":[[]]},{"id":"571b2764.017118","type":"ui_text","z":"89f4663.1fb9198","group":"c7d1a1d5.a6e0f","order":3,"width":0,"height":0,"name":"HUMIDITY","label":"FEUCHTIGKEIT","format":"{{msg.payload}} %","layout":"row-spread","x":1230,"y":880,"wires":[]},{"id":"c7fdf405.f77ef8","type":"finite-state-machine","z":"16ae33ba.369bfc","name":"HEATER_VS_DOOR","fsmDefinition":"{\"state\":{\"status\":\"OFF\",\"data\":{\"x\":5}},\"transitions\":{\"OFF\":{\"on\":\"ON\"},\"ON\":{\"pause\":\"PAUSE\",\"off\":\"OFF\"},\"PAUSE\":{\"on\":\"ON\",\"off\":\"OFF\"}}}","sendInitialState":true,"showTransitionErrors":false,"x":530,"y":440,"wires":[["4399d3f4.af578c"],[],[]]},{"id":"74e6e33c.ecf92c","type":"inject","z":"16ae33ba.369bfc","name":"ON","topic":"on","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":400,"wires":[["c7fdf405.f77ef8"]]},{"id":"e0a16090.5082b","type":"inject","z":"16ae33ba.369bfc","name":"PAUSE","topic":"pause","payload":"PAUSE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":480,"wires":[["c7fdf405.f77ef8"]]},{"id":"4399d3f4.af578c","type":"debug","z":"16ae33ba.369bfc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":420,"wires":[]},{"id":"b2f6262d.ad9b18","type":"inject","z":"16ae33ba.369bfc","name":"OFF","topic":"off","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":360,"wires":[["c7fdf405.f77ef8"]]},{"id":"19881b44.236b25","type":"finite-state-machine","z":"89f4663.1fb9198","name":"HEATER_VS_DOOR","fsmDefinition":"{\"state\":{\"status\":\"OFF\",\"data\":{\"x\":5}},\"transitions\":{\"OFF\":{\"on\":\"ON\"},\"ON\":{\"dooropened\":\"PAUSE\",\"off\":\"OFF\"},\"PAUSE\":{\"doorclosed\":\"ON\",\"off\":\"OFF\"}}}","sendInitialState":true,"showTransitionErrors":false,"x":2480,"y":160,"wires":[["ff33925a.0df558"],[],[]]},{"id":"8bbf4357.b7708","type":"change","z":"6a44b62a.c22618","name":"MAKETOPIC","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[[]]},{"id":"40ca71a5.f9537","type":"change","z":"3d14d2e1.757ba6","name":"TRANSITION_OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["fc8fee91.db5e6"]]},{"id":"7662dbc0.04da54","type":"change","z":"2d1d38d4.0a6f08","name":"TRANSITION_DOOROPENED","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"dooropened","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["d50891fd.dc7db8"]]},{"id":"31d335c1.de5eea","type":"change","z":"9dd14a0.4cd1e38","name":"TRANSITION_DOORCLOSED","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"doorclosed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["b9ce012f.f29648"]]},{"id":"550c22bf.d3e06c","type":"change","z":"89f4663.1fb9198","name":"ISPAUSE","rules":[{"t":"change","p":"payload","pt":"msg","from":"PAUSE","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2840,"y":180,"wires":[["3ab18e8f.ade86a"]]},{"id":"4fde8a34.e90b84","type":"change","z":"6a44b62a.c22618","name":"TRANSITION_ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["8bbf4357.b7708"]]},{"id":"fc8fee91.db5e6","type":"change","z":"3d14d2e1.757ba6","name":"MAKETOPIC","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[[]]},{"id":"129f5460.659eac","type":"function","z":"9f58dd42.16a9e","name":"DIGITAL_INPUT","func":"var NewMsg = { payload : false };\nvar Config = msg.payload;\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPort            = Config.DigitalInput.HubPort;\nvar PhidgetObject      = new phidget22.DigitalInput();\nvar VintInfo = 'Serial number: ' + Config.VintHub.serialnumber + ' Digital input module at port ' + HubPort;\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setChannel(Config.DigitalInput.Channel);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () {})\n       .catch(function(err) \n       {\n\t           console.error(\"Error during open \" + VintInfo, err)\n       }); \n    \n    phidgetobject.onAttach = function onDevice_Attach() {\n\t\tconsole.log( 'Vinthub ATTACHED! ' + VintInfo );\n\t};\n\n    phidgetobject.onDetach = function onDeviceSensor_Detach() {\n\t\tconsole.log( 'Vinthub DETACHED! ' + VintInfo );\n\t};\n\t\n    phidgetobject.onStateChange = function DigitalInputState(state) {\n        NewMsg.payload = state;\n        node.send(NewMsg);\n        node.done();\n\t};\n}\n\nconn.connect().then(StartInstance(Config, PhidgetObject, HubPort )).catch(function(err) {\n\tconsole.error(\"Error during connect \" + VintInfo, err);\n});\n\nreturn( NewMsg );\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"f08a4d87.38eb4","type":"debug","z":"224ea99f.aa7d56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":360,"wires":[]},{"id":"770596d0.b675a","type":"inject","z":"224ea99f.aa7d56","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["304541c7.ea77de"]]},{"id":"304541c7.ea77de","type":"debug","z":"224ea99f.aa7d56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":440,"wires":[]},{"id":"c5a24439.82875","type":"subflow:9f58dd42.16a9e","z":"224ea99f.aa7d56","name":"","env":[],"x":320,"y":360,"wires":[["f08a4d87.38eb4"]]},{"id":"2fc0c94a.5ae3ee","type":"subflow:9f58dd42.16a9e","z":"89f4663.1fb9198","name":"DIGITAL_INPUT_GARAGE_DOOR_LIMIT_SWITCH","env":[],"x":1090,"y":800,"wires":[["42cfaf1d.f3b3"]]},{"id":"ac162b8d.15e8c8","type":"link out","z":"89f4663.1fb9198","name":"TO_GARAGE_DOOR_LOGIC","links":["d3047653.b58b6","561b2832.e7b6e8"],"x":1735,"y":800,"wires":[]},{"id":"d3047653.b58b6","type":"link in","z":"89f4663.1fb9198","name":"FROM_GARAGE_DOOR_LIMIT_SWTICH","links":["ac162b8d.15e8c8"],"x":1835,"y":80,"wires":[["3507d8b3.28a9c","b7902f10.ff9d5"]]},{"id":"d50891fd.dc7db8","type":"change","z":"2d1d38d4.0a6f08","name":"MAKETOPIC","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[[]]},{"id":"b9ce012f.f29648","type":"change","z":"9dd14a0.4cd1e38","name":"MAKETOPIC","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[[]]},{"id":"561b2832.e7b6e8","type":"link in","z":"89f4663.1fb9198","name":"FROM_DIGITAL_INPUT_GARAGE_DOOR","links":["ac162b8d.15e8c8"],"x":1855,"y":620,"wires":[["e93733c.6796f5","250ff630.880b1a"]]},{"id":"4cc15c06.e7d5cc","type":"ui_button","z":"adc76a28.694f38","name":"","group":"c7d1a1d5.a6e0f","order":4,"width":0,"height":0,"passthru":false,"label":"HANDBETRIEB EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":120,"wires":[["8df263d6.3953a8","14b3ddb8.42f07a"]]},{"id":"cf15b47c.b18e7","type":"ui_button","z":"adc76a28.694f38","name":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"label":"HANDBETRIEB AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":260,"wires":[["7448734d.70de54","9fe02fa1.5d9d38"]]},{"id":"6f2ec9c1.c4a918","type":"ui_button","z":"adc76a28.694f38","name":"","group":"c7d1a1d5.a6e0f","order":6,"width":0,"height":0,"passthru":true,"label":"AKTIVIERE ZEITSCHALTUHR ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":610,"y":560,"wires":[["bc0e1db8.8300b","636b9cd9.40bd0c"]]},{"id":"8df263d6.3953a8","type":"change","z":"adc76a28.694f38","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":80,"wires":[[]]},{"id":"3f32cd73.efee0a","type":"change","z":"adc76a28.694f38","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":300,"wires":[[]]},{"id":"bc0e1db8.8300b","type":"change","z":"adc76a28.694f38","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":560,"wires":[[]]},{"id":"3852ed29.23a05a","type":"ui_text","z":"adc76a28.694f38","group":"c7d1a1d5.a6e0f","order":7,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":1550,"y":400,"wires":[]},{"id":"e968620b.7bbdc","type":"ui_numeric","z":"ac8ed1e6.d7001","name":"OnHour","label":"1. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":8,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"74e84425.ed4384","type":"ui_numeric","z":"20531731.5ea3e","name":"OnMinute","label":"1. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":9,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":400,"y":80,"wires":[[]]},{"id":"8f4dff68.e7c26","type":"ui_numeric","z":"d9f95d57.6a1ce8","name":"OffHour","label":"1. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":10,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"28f8b8a9.236948","type":"ui_numeric","z":"80c47caa.bfaff8","name":"OffMinute","label":"1. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":400,"y":80,"wires":[[]]},{"id":"7af18941.4d8478","type":"change","z":"ac8ed1e6.d7001","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["e968620b.7bbdc"]]},{"id":"f2cdbfcf.9d8fb","type":"change","z":"20531731.5ea3e","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["74e84425.ed4384"]]},{"id":"d9e7f6bf.caea88","type":"change","z":"d9f95d57.6a1ce8","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["8f4dff68.e7c26"]]},{"id":"d0ccea12.e0ea1","type":"change","z":"80c47caa.bfaff8","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["28f8b8a9.236948"]]},{"id":"cee9dab8.e88ae","type":"subflow:ac8ed1e6.d7001","z":"3b5ed20b.40aed6","name":"OFF_HOUR_1","env":[],"x":200,"y":80,"wires":[[]]},{"id":"ddc19423.27f578","type":"subflow:20531731.5ea3e","z":"3b5ed20b.40aed6","name":"ON_MINUTE_1","env":[],"x":200,"y":120,"wires":[[]]},{"id":"6bded97e.7c4ae8","type":"subflow:d9f95d57.6a1ce8","z":"3b5ed20b.40aed6","name":"OFF_HOUR_1","env":[],"x":200,"y":160,"wires":[[]]},{"id":"7df2ab57.b3b08c","type":"subflow:80c47caa.bfaff8","z":"3b5ed20b.40aed6","name":"OFF_MINUTE_1","env":[],"x":210,"y":200,"wires":[[]]},{"id":"613d7201.ece154","type":"subflow:3b5ed20b.40aed6","z":"ccecae82.265088","name":"TIME_SETTINGS_1","env":[],"x":200,"y":80,"wires":[["34f08825.2539d"]]},{"id":"536be29d.43d12c","type":"ui_numeric","z":"b82aec52.71077","name":"OnHour2","label":"2. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":12,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":380,"y":80,"wires":[[]]},{"id":"ea972460.1a5c6","type":"change","z":"b82aec52.71077","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":80,"wires":[["536be29d.43d12c"]]},{"id":"123aed7d.1a8c13","type":"subflow:b82aec52.71077","z":"e0d7f3d2.992948","name":"SUB_ON_HOUR_2","env":[],"x":190,"y":80,"wires":[[]]},{"id":"bc311fa4.4b621","type":"ui_numeric","z":"37e16ef7.a80d52","name":"OnMinute2","label":"2. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":13,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":390,"y":80,"wires":[[]]},{"id":"784d1c37.89c9c4","type":"change","z":"37e16ef7.a80d52","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["bc311fa4.4b621"]]},{"id":"eede79bb.a179b8","type":"subflow:37e16ef7.a80d52","z":"e0d7f3d2.992948","name":"SUB_ON_MINUTE_2","env":[],"x":200,"y":120,"wires":[[]]},{"id":"90b9fff4.38123","type":"ui_numeric","z":"9b5aad10.7269f8","name":"OffHour2","label":"2. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":14,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":400,"y":80,"wires":[[]]},{"id":"c2ea07d9.f4f5","type":"change","z":"9b5aad10.7269f8","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["90b9fff4.38123"]]},{"id":"305a01ab.4c246e","type":"subflow:9b5aad10.7269f8","z":"e0d7f3d2.992948","name":"SUB_OFF_HOUR_2","env":[],"x":190,"y":160,"wires":[[]]},{"id":"1ccd47a0.751c7","type":"ui_numeric","z":"dc753ad8.fd13e8","name":"OffMinute2","label":"2. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":15,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":410,"y":80,"wires":[[]]},{"id":"a4f82276.c3799","type":"change","z":"dc753ad8.fd13e8","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["1ccd47a0.751c7"]]},{"id":"3aae5394.f3c2b4","type":"subflow:dc753ad8.fd13e8","z":"e0d7f3d2.992948","name":"SUB_OFF_MINUTE_2","env":[],"x":200,"y":200,"wires":[[]]},{"id":"dbbddae0.c02d2","type":"subflow:e0d7f3d2.992948","z":"3b0272cf.d2ff56","name":"TIMESETTINGS_2","env":[],"x":190,"y":76,"wires":[["666896b4.42de18"]]},{"id":"34f08825.2539d","type":"function","z":"ccecae82.265088","name":"PrepareTimeData1","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemory1') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemory1',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[[]]},{"id":"7448734d.70de54","type":"change","z":"adc76a28.694f38","name":"Manual","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[[]]},{"id":"f57b9ae7.fc8f58","type":"change","z":"adc76a28.694f38","name":"All OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Alles Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":400,"wires":[["3852ed29.23a05a"]]},{"id":"666896b4.42de18","type":"function","z":"3b0272cf.d2ff56","name":"PrepareTimeData2","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 4,\n               MinuteOn  : 0, \n               HourOff   : 12, \n               MinuteOff : 0\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemory2') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemory2',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":410,"y":76,"wires":[[]]},{"id":"9fe02fa1.5d9d38","type":"delay","z":"adc76a28.694f38","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":340,"wires":[["3f32cd73.efee0a","f57b9ae7.fc8f58"]]},{"id":"636b9cd9.40bd0c","type":"change","z":"adc76a28.694f38","name":"Commando timer","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Zeitschaltuhr ein ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[["3852ed29.23a05a"]]},{"id":"14b3ddb8.42f07a","type":"change","z":"adc76a28.694f38","name":"ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["3852ed29.23a05a"]]},{"id":"f07cb31e.21e5c","type":"ui_button","z":"95e1679f.9535b","name":"","group":"e8671909.942468","order":3,"width":0,"height":0,"passthru":false,"label":"HANDBETRIEB EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":120,"wires":[["d3ced062.33ceb8","b9d4c191.de3138"]]},{"id":"af36bfe0.47d688","type":"ui_button","z":"95e1679f.9535b","name":"","group":"e8671909.942468","order":4,"width":0,"height":0,"passthru":true,"label":"HANDBETRIEB AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":200,"y":260,"wires":[["cd61bdb1.b477a8","26fa8e16.8c754a"]]},{"id":"90de0f2b.b75328","type":"ui_button","z":"95e1679f.9535b","name":"","group":"e8671909.942468","order":5,"width":0,"height":0,"passthru":true,"label":"AKTIVIERE ZEITSCHALTUHR ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":310,"y":560,"wires":[["2a238e34.9d6d8a","d99d5a63.e7c47"]]},{"id":"d3ced062.33ceb8","type":"change","z":"95e1679f.9535b","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":80,"wires":[[]]},{"id":"edc85977.eab3b","type":"change","z":"95e1679f.9535b","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":300,"wires":[[]]},{"id":"2a238e34.9d6d8a","type":"change","z":"95e1679f.9535b","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":560,"wires":[[]]},{"id":"d9bf6957.29baf8","type":"ui_text","z":"95e1679f.9535b","group":"e8671909.942468","order":6,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":400,"wires":[]},{"id":"cd61bdb1.b477a8","type":"change","z":"95e1679f.9535b","name":"Manual","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":220,"wires":[[]]},{"id":"dc47f70b.5fd8e8","type":"change","z":"95e1679f.9535b","name":"All OFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Alles Aus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":400,"wires":[["d9bf6957.29baf8"]]},{"id":"26fa8e16.8c754a","type":"delay","z":"95e1679f.9535b","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":340,"wires":[["edc85977.eab3b","dc47f70b.5fd8e8"]]},{"id":"d99d5a63.e7c47","type":"change","z":"95e1679f.9535b","name":"Commando timer","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"Zeitschaltuhr ein ...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":480,"wires":[["d9bf6957.29baf8"]]},{"id":"b9d4c191.de3138","type":"change","z":"95e1679f.9535b","name":"ON","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"EIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":140,"wires":[["d9bf6957.29baf8"]]},{"id":"2622129f.27b48e","type":"ui_numeric","z":"25351ce6.ba5ab4","name":"OnHourOffice","label":"Einschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":80,"wires":[["76864717.233ca8"]]},{"id":"9d2aa243.5f199","type":"change","z":"25351ce6.ba5ab4","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":80,"wires":[["2622129f.27b48e"]]},{"id":"66b1bf48.19dc4","type":"ui_numeric","z":"25351ce6.ba5ab4","name":"OnMinuteOffice","label":"Einschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":120,"wires":[["76864717.233ca8"]]},{"id":"130532b0.436085","type":"change","z":"25351ce6.ba5ab4","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":120,"wires":[["66b1bf48.19dc4"]]},{"id":"ddce2a2c.710c","type":"ui_numeric","z":"25351ce6.ba5ab4","name":"OffHourOffice","label":"Ausschalten Stunde","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":160,"wires":[["76864717.233ca8"]]},{"id":"b2a1ace1.a8f068","type":"change","z":"25351ce6.ba5ab4","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[["ddce2a2c.710c"]]},{"id":"ac1f269f.4d7e68","type":"ui_numeric","z":"25351ce6.ba5ab4","name":"OffMinuteOffice","label":"Ausschalten Minute","tooltip":"","group":"e8671909.942468","order":11,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"24","step":1,"x":440,"y":200,"wires":[["76864717.233ca8"]]},{"id":"69de84ff.59f6bc","type":"change","z":"25351ce6.ba5ab4","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":200,"wires":[["ac1f269f.4d7e68"]]},{"id":"76864717.233ca8","type":"function","z":"25351ce6.ba5ab4","name":"PrepareTimeDataOffice","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 1,\n               MinuteOn  : 2, \n               HourOff   : 3, \n               MinuteOff : 4\n             } \n       \n   };\n\nvar TimeSettings=flow.get('TimeSettingsMemoryOffice') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nflow.set('TimeSettingsMemoryOffice',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[[]]},{"id":"26c65d5.b715322","type":"function","z":"182a983d.fb9c48","name":"PHIDGETS_TEMPERATURE_MODULE","func":"var Config = msg.payload;\nvar NewMsg = { topic : \"TemperatureSensor\", payload : 0, DecimalPlaces : Config.TemperatureSensor.Precision };\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPort            = Config.TemperatureSensor.HubPort;\nvar PhidgetObject      = new phidget22.TemperatureSensor();\nvar VintInfo = 'Serial number: ' + Config.VintHub.serialnumber + ' Temperature module at port ' + HubPort;\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () {})\n       .catch(function(err) \n       {\n\t           console.error(\"Error during open \" + VintInfo, err)\n       }); \n    \n    phidgetobject.onAttach = function onTemperatureSensor_Attach() {\n\t\tconsole.log( 'Vinthub ATTACHED! ' + VintInfo );\n\t};\n\n    phidgetobject.onDetach = function onTemperatureSensor_Detach() {\n\t\tconsole.log( 'Vinthub DETACHED! ' + VintInfo );\n\t};\n\t\n    phidgetobject.onTemperatureChange = function TemperatureChange(temperature) {\n        NewMsg.payload = temperature;\n        node.send(NewMsg);\n        node.done();\n\t};\n}\n\nconn.connect().then(StartInstance(Config, PhidgetObject, HubPort )).catch(function(err) {\n\tconsole.error(\"Error during connect \" + VintInfo, err);\n});\n\nreturn( NewMsg );\n\n\n\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["e1f877a.ff79888"]]},{"id":"e5bccb21.626bb","type":"function","z":"1968967e.33e14a","name":"PHIDGETS_HUMIDITY_MODULE","func":"var Config = msg.payload;\nvar NewMsg = { topic : \"HumiditySensor\", payload : 0, DecimalPlaces : Config.TemperatureSensor.Precision };\nvar phidget22          = global.get('phidget22')\nvar conn               = new phidget22.Connection( Config.VintHub.port, Config.VintHub.ipadress);\nvar HubPort            = Config.HumiditySensor.HubPort;\nvar sensor             = new phidget22.HumiditySensor();\nvar VintInfo = 'Serial number: ' + Config.VintHub.serialnumber + ' Humitidy module at port ' + HubPort;\n\nfunction StartInstance( Config, phidgetobject, hubport )\n{\n    phidgetobject.setHubPort(hubport);\n    phidgetobject.setDeviceSerialNumber(Config.VintHub.serialnumber);\n    phidgetobject.open(Config.VintHub.timeout).then(function () {}).catch(function(err) {\n\tconsole.error(\"Error during open \" + VintInfo, err)}); \n    \n    phidgetobject.onAttach = function onTemperatureSensor_Attach() {\n\t\tconsole.log( 'Vinthub ATTACHED! ' + VintInfo );\n\t};\n\n    phidgetobject.onDetach = function onTemperatureSensor_Detach() {\n\t\tconsole.log( 'Vinthub DETACHED! ' + VintInfo );\n\t};\n\t\n    phidgetobject.onHumidityChange = function ValueChange(humidity) {\n        NewMsg.payload = humidity;\n        node.send(NewMsg);\n        node.done();\n\t};\n}\n\nconn.connect().then(StartInstance(Config, sensor, HubPort )).catch(function(err) {\n\tconsole.error(\"Error during connect \" + VintInfo, err);\n});\n\nreturn( NewMsg );\n\n\n\n","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["d367f96f.82c93"]]},{"id":"d367f96f.82c93","type":"subflow:bc570fb3.a7c69","z":"1968967e.33e14a","name":"SUB_ROUND","env":[],"x":560,"y":60,"wires":[[]]},{"id":"e1f877a.ff79888","type":"subflow:bc570fb3.a7c69","z":"182a983d.fb9c48","name":"SUB_ROUND","env":[],"x":480,"y":80,"wires":[[]]},{"id":"42cfaf1d.f3b3","type":"trigger","z":"89f4663.1fb9198","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1430,"y":800,"wires":[["ac162b8d.15e8c8"]]},{"id":"4b282a9d.b6e644","type":"switch","z":"ac95dbcf.42ca78","name":"IsTrue","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":80,"wires":[["65352b29.663d94"]]},{"id":"bb4ed473.4b1e7","type":"switch","z":"bb162373.aade","name":"IsFalse","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":80,"wires":[["50f9245f.d8db6c"]]},{"id":"e93733c.6796f5","type":"subflow:bb162373.aade","z":"89f4663.1fb9198","name":"SUB_GARAGE_OPEN","env":[],"x":2050,"y":600,"wires":[["e1472d7b.01a5e"]]},{"id":"250ff630.880b1a","type":"subflow:ac95dbcf.42ca78","z":"89f4663.1fb9198","name":"SUB_GARAGE_CLOSED","env":[],"x":2060,"y":640,"wires":[["e1472d7b.01a5e"]]},{"id":"ff33925a.0df558","type":"change","z":"89f4663.1fb9198","name":"ST2PAYL","rules":[{"t":"move","p":"payload.status","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":140,"wires":[["3bbc71a5.cd646e","550c22bf.d3e06c","4e952ced.157334"]]},{"id":"3bbc71a5.cd646e","type":"change","z":"89f4663.1fb9198","name":"ISON","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2830,"y":140,"wires":[["3ab18e8f.ade86a"]]},{"id":"4e952ced.157334","type":"change","z":"89f4663.1fb9198","name":"ISOFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2830,"y":100,"wires":[["3ab18e8f.ade86a"]]},{"id":"45bb1fa1.29342","type":"link in","z":"89f4663.1fb9198","name":"TO_IO_CONTROL_HEATER","links":["3ab18e8f.ade86a"],"x":1980,"y":420,"wires":[["f5d9c65d.fc8e88"]]},{"id":"3ab18e8f.ade86a","type":"link out","z":"89f4663.1fb9198","name":"FROM_STATEMACHINE","links":["45bb1fa1.29342","4f270f86.f08b2"],"x":2975,"y":140,"wires":[]},{"id":"2a3c7ffc.11a4e8","type":"change","z":"284bcce3.73d61c","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[[]]},{"id":"63f1d9dc.7717b","type":"change","z":"284bcce3.73d61c","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[[]]},{"id":"4f270f86.f08b2","type":"link in","z":"89f4663.1fb9198","name":"TO_IO_CONTROL_HEATER","links":["3ab18e8f.ade86a"],"x":1975,"y":360,"wires":[["ddadd9b5.f80a2","5fae8400.92e3fc"]]},{"id":"72bf37a0.da6178","type":"subflow:284bcce3.73d61c","z":"89f4663.1fb9198","name":"","x":1860,"y":300,"wires":[["54f7e943.358e78"],["717d128f.0377fc"]]},{"id":"ddadd9b5.f80a2","type":"change","z":"89f4663.1fb9198","name":"ISON","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":340,"wires":[["198bfa2c.a0f586"]]},{"id":"5fae8400.92e3fc","type":"change","z":"89f4663.1fb9198","name":"ISOFF","rules":[{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2130,"y":400,"wires":[["198bfa2c.a0f586"]]},{"id":"717d128f.0377fc","type":"subflow:3d14d2e1.757ba6","z":"89f4663.1fb9198","name":"SUB_TRANS_OFF","env":[],"x":2150,"y":180,"wires":[["19881b44.236b25"]]},{"id":"54f7e943.358e78","type":"subflow:6a44b62a.c22618","z":"89f4663.1fb9198","name":"SUB_TRANS_ON","env":[],"x":2150,"y":140,"wires":[["19881b44.236b25"]]},{"id":"3507d8b3.28a9c","type":"subflow:9dd14a0.4cd1e38","z":"89f4663.1fb9198","name":"SUB_TRANS_DOOR_CLOSED","env":[],"x":2110,"y":100,"wires":[["19881b44.236b25"]]},{"id":"b7902f10.ff9d5","type":"subflow:2d1d38d4.0a6f08","z":"89f4663.1fb9198","name":"SUB_TRANS_DOOR_OPEN","env":[],"x":2110,"y":60,"wires":[["19881b44.236b25"]]},{"id":"80754af8.2fc508","type":"link in","z":"89f4663.1fb9198","name":"FROM_DASHBOARD_SETTIME_2","links":["4da4d6d6.651268"],"x":1095,"y":420,"wires":[["e29c7266.57592","d1ae9566.3beb08","c8ffa3aa.84ff9"]]},{"id":"ba378e7a.b2315","type":"function","z":"ce52711a.266d28","name":"PrepareTimeData2","func":"var NewMsg = {};\n\n \nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 0,\n               MinuteOn  : 0, \n               HourOff   : 0, \n               MinuteOff : 0\n             } \n       \n   };\n   \n\nvar TimeSettings=global.get('TimeSettingsMemory2') || DefaultSettings;\n\n\nswitch( msg.topic)\n{\n    case \"HourOn\":\n         TimeSettings.payload.HourOn = msg.payload;\n         break;\n\n    case \"MinuteOn\":\n         TimeSettings.payload.MinuteOn = msg.payload;\n         break;\n         \n    case \"HourOff\":\n         TimeSettings.payload.HourOff = msg.payload;\n         break;\n\n    case \"MinuteOff\":\n         TimeSettings.payload.MinuteOff = msg.payload;\n         break;     \n         \n}\n\nglobal.set('TimeSettingsMemory2',TimeSettings);\n\nNewMsg = TimeSettings;\nreturn NewMsg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["4da4d6d6.651268"]]},{"id":"df04d7c1.760db8","type":"ui_numeric","z":"ce52711a.266d28","name":"OnHour2","label":"2. Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":12,"width":0,"height":0,"passthru":false,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":620,"y":100,"wires":[["ba378e7a.b2315"]]},{"id":"50c9b687.e6b6b8","type":"change","z":"ce52711a.266d28","name":"GetHourOnAsValue","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":140,"wires":[["df04d7c1.760db8"]]},{"id":"7797c20b.9eb9b4","type":"change","z":"ce52711a.266d28","name":"GetMinuteOnAsValue","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[["5da9ef88.dc98"]]},{"id":"5da9ef88.dc98","type":"ui_numeric","z":"ce52711a.266d28","name":"OnMinute2","label":"2. Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":13,"width":0,"height":0,"passthru":false,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":630,"y":160,"wires":[["ba378e7a.b2315"]]},{"id":"72f26455.c98e14","type":"change","z":"ce52711a.266d28","name":"GetHourOffAsValue","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["5addd2e8.d5a734"]]},{"id":"5addd2e8.d5a734","type":"ui_numeric","z":"ce52711a.266d28","name":"OffHour2","label":"2. Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":14,"width":0,"height":0,"passthru":false,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":620,"y":220,"wires":[["ba378e7a.b2315"]]},{"id":"691f89f8.12f2d","type":"change","z":"ce52711a.266d28","name":"GetMinuteOffAsValue","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":260,"wires":[["3379ca48.5f96ee"]]},{"id":"3379ca48.5f96ee","type":"ui_numeric","z":"ce52711a.266d28","name":"OffMinute2","label":"2. Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":15,"width":0,"height":0,"passthru":false,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":630,"y":280,"wires":[["ba378e7a.b2315"]]},{"id":"8c971c1.138ef6","type":"link out","z":"89f4663.1fb9198","name":"TO_DASHBOARD_TIMESETTINGS_2","links":["16f892f6.407825"],"x":795,"y":420,"wires":[]},{"id":"16f892f6.407825","type":"link in","z":"ce52711a.266d28","name":"DASHBOARD_FEED_TIMESETTINGS2","links":["8c971c1.138ef6"],"x":195,"y":180,"wires":[["50c9b687.e6b6b8","7797c20b.9eb9b4","72f26455.c98e14","691f89f8.12f2d"]]},{"id":"4da4d6d6.651268","type":"link out","z":"ce52711a.266d28","name":"FROM_DASHBOARD_FEED_TIMER2","links":["80754af8.2fc508"],"x":1060,"y":180,"wires":[]},{"id":"d1ae9566.3beb08","type":"function","z":"89f4663.1fb9198","name":"ProvideOverrideOnTime","func":"var NewMsg = {payload : 0};\n\nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 0,\n               MinuteOn  : 0, \n               HourOff   : 0, \n               MinuteOff : 0\n             } \n       \n   };\n   \n\nvar TimeSettings=global.get('TimeSettingsMemory2') || DefaultSettings;\nvar OnOverride = \"On_Override \";\n\nNewMsg.payload = OnOverride + TimeSettings.payload.HourOn + \":\" + TimeSettings.payload.MinuteOn;\n\n\nreturn NewMsg;\n","outputs":1,"noerr":0,"x":1290,"y":420,"wires":[["d3e72391.ca518"]]},{"id":"c8ffa3aa.84ff9","type":"function","z":"89f4663.1fb9198","name":"ProvideOverrideOffTime","func":"var NewMsg = {payload : 0};\n\nvar DefaultSettings =   { \n       payload: \n             {\n               HourOn    : 0,\n               MinuteOn  : 0, \n               HourOff   : 0, \n               MinuteOff : 0\n             } \n       \n   };\n   \n\nvar TimeSettings=global.get('TimeSettingsMemory2') || DefaultSettings;\nvar OffOverride = \"Off_Override \";\n\nNewMsg.payload = OffOverride + TimeSettings.payload.HourOff + \":\" + TimeSettings.payload.MinuteOff;\n\n\nreturn NewMsg;\n","outputs":1,"noerr":0,"x":1290,"y":480,"wires":[["d3e72391.ca518"]]},{"id":"d308bbd9.b9ce18","type":"function","z":"62dabc44.aa9ad4","d":true,"name":"INIT_PHIDGETS_DIGITAL_OUTPUT","func":"var NewMsg         = { payload : ''};\nvar Config         = msg.payload;\nvar phidget22      = global.get('phidget22')\nvar conn           = new phidget22.Connection(Config.VintHub.port, Config.VintHub.ipadress);\nvar Initialized    = context.get('init') || 0;\nvar digitalOutput  = new phidget22.DigitalOutput();\n\nvar PublicId     = Config.DigitalOutput.PublicId;    \nvar PublicInit   = Config.DigitalOutput.PublicInit;\nvar SerialNumber = Config.VintHub.serialnumber;\nvar Timeout      = Config.VintHub.timeout;\nvar HubPort      = Config.DigitalOutput.HubPort;\nvar Location     = Config.VintHub.Location;\nvar LogInfo      = 'Vinthub ' +  Location + ' with digital output ' + HubPort + ' Serial number is: ' + SerialNumber;\n\ndigitalOutput.onAttach = () => {\n \t\tconsole.log(LogInfo);\n\t};\n\ndigitalOutput.onDetach = () => {\n\t    global.set(PublicInit, 0);\n\t\tconsole.log(LogInfo);\n\t};\n\n\nfunction Start()\n{\n    digitalOutput.setIsHubPortDevice(true);\n    digitalOutput.setHubPort(HubPort);\n    digitalOutput.setDeviceSerialNumber(SerialNumber);\n    digitalOutput.open(Timeout).then( () =>\n    {\n       global.set(PublicId, digitalOutput);\n       global.set(PublicInit, 1);\n    });\n}\n\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\" + LogInfo, err);\n});\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[[]]},{"id":"212dd1bd.d18d3e","type":"subflow:a7f60f08.ebce8","z":"89f4663.1fb9198","name":"SUB_CONFIG_OFFICE","env":[],"x":680,"y":780,"wires":[["93536032.48d2d","dd84be5f.7fbac","2fc0c94a.5ae3ee"]]},{"id":"78def42b.adb72c","type":"subflow:a7f60f08.ebce8","z":"62dabc44.aa9ad4","name":"SUB_CONFIG_OFFICE","env":[],"x":240,"y":660,"wires":[["d308bbd9.b9ce18","d53c2cfc.32a9b"]]},{"id":"6948300b.f5cfa","type":"subflow:a7f60f08.ebce8","z":"946b209a.e7a58","name":"SUB_CONFIG_OFFICE","env":[],"x":2760,"y":200,"wires":[["cc9480e3.4e4ef"]]},{"id":"a04d3b30.9cf3b8","type":"link out","z":"946b209a.e7a58","name":"FROM_OFFICE_TIMER_COMMANDER","links":["390e4102.70358e"],"x":2455,"y":280,"wires":[]},{"id":"390e4102.70358e","type":"link in","z":"946b209a.e7a58","name":"TO_OFFICE_DIG_OUT_1","links":["a04d3b30.9cf3b8"],"x":2675,"y":260,"wires":[["cc9480e3.4e4ef"]]},{"id":"d53c2cfc.32a9b","type":"function","z":"62dabc44.aa9ad4","d":true,"name":"INIT_PHIDGETS_DIGITAL_OUTPUT_INLINE","func":"var NewMsg = {};\nvar Config = {};\nvar phidget22      = global.get('phidget22');\nvar DigitalOutput = 0;\nvar IsInitialized = 0;\nvar ON             = 'ON';\nvar OFF            = 'OFF';\nvar Location;\nvar SerialNumber;\nvar HubPort;\n\nvar LogInfo;\nvar DigOutError;\n\n\nfunction Start(digitalOutput, config)\n{\n    digitalOutput.setIsHubPortDevice(true);\n    digitalOutput.setHubPort(config.DigitalOutput.HubPort);\n    digitalOutput.setDeviceSerialNumber(config.VintHub.serialnumber);\n    digitalOutput.open(config.VintHub.timeout).then( () =>\n    {\n       global.set(Config.DigitalOutput.PublicInit, 1);\n    });\n}\n\nif( msg.topic === \"TOPIC_CONFIG\" )\n{\n    Config         = msg.payload;\n    global.set(\"Config\",Config);\n    var conn           = new phidget22.Connection(Config.VintHub.port, Config.VintHub.ipadress);\n    DigitalOutput = new phidget22.DigitalOutput();\n    global.set(Config.DigitalOutput.PublicId,DigitalOutput);\n    conn.connect().then(Start(DigitalOutput, Config)).catch( err => {\n    \tconsole.error(\"Error during connect:\" + LogInfo, err);\n    });\n}\n\nConfig = global.get(\"Config\"||0);\nif( Config)\n{\n    DigitalOutput = global.get(Config.DigitalOutput.PublicId);\n    IsInitialized = global.get(Config.DigitalOutput.PublicInit);\n    Location       = Config.VintHub.Location;\n    SerialNumber   = Config.VintHub.serialnumber;\n    HubPort        = Config.DigitalOutput.HubPort;\n    LogInfo        = Location + ' with digital output '                 + HubPort + ' Serial number is: ' + SerialNumber;\n    DigOutError    = Location + \"Error setting digital output at port \" + HubPort +  'Serial number is: ' + SerialNumber;\n}\n\n\n\n   DigitalOutput.onAttach = () => {\n             global.set(Config.DigitalOutput.PublicInit, 1);\n             console.log(\"Vinthub ATTACHED! \" + LogInfo);\n   };\n\n   DigitalOutput.onDetach = () => {\n             global.set(Config.DigitalOutput.PublicInit,  0);\n             console.log(\"Vinthub DETACHED! \" + LogInfo);\n   }; \n\n\nif( IsInitialized  )\n{\n    if( msg.payload === ON)\n    {\n        DigitalOutput.setDutyCycle(1).catch( err => { console.error(DigOutError, err); } );\n    }\n\n    if( msg.payload === OFF)\n    {\n        DigitalOutput.setDutyCycle(0).catch( err => { console.error(DigOutError, err); } );\n    }\n}\n\nNewMsg = msg;\n\nreturn(NewMsg);\n\n\n","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["c2abb5f.9390948"]]},{"id":"4abc2033.8bbd4","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":740,"wires":[["d53c2cfc.32a9b"]]},{"id":"76f3a264.03291c","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":780,"wires":[["d53c2cfc.32a9b"]]},{"id":"c2abb5f.9390948","type":"debug","z":"62dabc44.aa9ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":680,"wires":[]},{"id":"be15c7d4.d385b8","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":820,"wires":[["d53c2cfc.32a9b"]]},{"id":"dee96837.5d7968","type":"inject","z":"946b209a.e7a58","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2760,"y":320,"wires":[["cc9480e3.4e4ef"]]},{"id":"10adfb94.7a1674","type":"inject","z":"946b209a.e7a58","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2760,"y":360,"wires":[["cc9480e3.4e4ef"]]},{"id":"c02af81d.1bee38","type":"function","z":"8463fdcb.0a5cd","name":"INIT_PHIDGETS_DIGITAL_OUTPUT_INLINE","func":"var NewMsg = {};\nvar Config = {};\nvar phidget22      = global.get('phidget22');\nvar DigitalOutput = 0;\nvar IsInitialized = 0;\nvar ON             = 'ON';\nvar OFF            = 'OFF';\nvar Location;\nvar SerialNumber;\nvar HubPort;\n\nvar LogInfo;\nvar DigOutError;\n\n\nfunction Start(digitalOutput, config)\n{\n    digitalOutput.setIsHubPortDevice(true);\n    digitalOutput.setHubPort(config.DigitalOutput.HubPort);\n    digitalOutput.setDeviceSerialNumber(config.VintHub.serialnumber);\n    digitalOutput.open(config.VintHub.timeout).then( () =>\n    {\n       global.set(Config.DigitalOutput.PublicInit, 1);\n    });\n}\n\nif( msg.topic === \"TOPIC_CONFIG\" )\n{\n    Config         = msg.payload;\n    global.set(\"Config\",Config);\n    var conn           = new phidget22.Connection(Config.VintHub.port, Config.VintHub.ipadress);\n    DigitalOutput = new phidget22.DigitalOutput();\n    global.set(Config.DigitalOutput.PublicId,DigitalOutput);\n    conn.connect().then(Start(DigitalOutput, Config)).catch( err => {\n    \tconsole.error(\"Error during connect:\" + LogInfo, err);\n    });\n}\n\nConfig = global.get(\"Config\"||0);\nif( Config)\n{\n    DigitalOutput = global.get(Config.DigitalOutput.PublicId);\n    IsInitialized = global.get(Config.DigitalOutput.PublicInit);\n    Location       = Config.VintHub.Location;\n    SerialNumber   = Config.VintHub.serialnumber;\n    HubPort        = Config.DigitalOutput.HubPort;\n    LogInfo        = Location + ' with digital output '                 + HubPort + ' Serial number is: ' + SerialNumber;\n    DigOutError    = Location + \"Error setting digital output at port \" + HubPort +  'Serial number is: ' + SerialNumber;\n}\n\n\n\n   DigitalOutput.onAttach = () => {\n             global.set(Config.DigitalOutput.PublicInit, 1);\n             console.log(\"Vinthub ATTACHED! \" + LogInfo);\n   };\n\n   DigitalOutput.onDetach = () => {\n             global.set(Config.DigitalOutput.PublicInit,  0);\n             console.log(\"Vinthub DETACHED! \" + LogInfo);\n   }; \n\n\nif( IsInitialized  )\n{\n    if( msg.payload === ON)\n    {\n        DigitalOutput.setDutyCycle(1).catch( err => { console.error(DigOutError, err); } );\n    }\n\n    if( msg.payload === OFF)\n    {\n        DigitalOutput.setDutyCycle(0).catch( err => { console.error(DigOutError, err); } );\n    }\n}\n\nNewMsg = msg;\n\nreturn(NewMsg);\n\n\n","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"cc9480e3.4e4ef","type":"subflow:8463fdcb.0a5cd","z":"946b209a.e7a58","name":"SUB_DIGITAL_OUT_INLINE","env":[],"x":3160,"y":300,"wires":[[]]},{"id":"709873d9.1ee3dc","type":"function","z":"62dabc44.aa9ad4","name":"TIMESTAMP","func":"var date = new Date();\nvar timestamp = date.getTime();\nmsg.payload = timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":920,"wires":[["78a5145b.ad75fc"]]},{"id":"78a5145b.ad75fc","type":"debug","z":"62dabc44.aa9ad4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":920,"wires":[]},{"id":"b99d9e3f.d2675","type":"inject","z":"62dabc44.aa9ad4","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":920,"wires":[["709873d9.1ee3dc","5255d4ae.6cdb0c"]]},{"id":"5255d4ae.6cdb0c","type":"simpletime","z":"62dabc44.aa9ad4","name":"TIME","x":440,"y":980,"wires":[["1906f8b3.5bc937"]]},{"id":"1906f8b3.5bc937","type":"debug","z":"62dabc44.aa9ad4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":980,"wires":[]},{"id":"d93cd691.1c4b78","type":"inject","z":"62dabc44.aa9ad4","name":"DICTIONARY","topic":"DICTIONARY","payload":"{\"ON\":\"Heizung ein\",\"OFF\":\"Heizung aus\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1060,"wires":[["a1063a26.511928","d41b8da4.944b9"]]},{"id":"a1063a26.511928","type":"function","z":"62dabc44.aa9ad4","name":"DICT_ACESS","func":"var NewMsg = { payload : {} };\nvar Dictionary;\nvar PublicDictionary = \"Dictionary\";\n\nif( msg.topic === \"DICTIONARY\" )\n{\n    global.set(PublicDictionary, msg.payload);\n}\n\nif( msg.topic === \"GetValueByKey\")\n{\n    Dictionary = global.get(PublicDictionary);\n    NewMsg.payload = Dictionary[msg.payload];\n}\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":580,"y":1060,"wires":[["f05f1bb6.404d78"]]},{"id":"40d2fcb5.fd84a4","type":"debug","z":"62dabc44.aa9ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":1060,"wires":[]},{"id":"5fcfab91.bd42e4","type":"inject","z":"62dabc44.aa9ad4","name":"GetValue","topic":"GetValueByKey","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1120,"wires":[["a1063a26.511928"]]},{"id":"d41b8da4.944b9","type":"debug","z":"62dabc44.aa9ad4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":1020,"wires":[]},{"id":"1519968f.a60359","type":"function","z":"62dabc44.aa9ad4","name":"CONCAT","func":"var NewMsg = { payload : \"\" };\nNewMsg.payload = msg.mydate + \" \" + msg.mytimes + \":\" + msg.mymillis + \" Info : \" +  msg.payload;\nreturn NewMsg;","outputs":1,"noerr":0,"x":860,"y":1060,"wires":[["40d2fcb5.fd84a4"]]},{"id":"f05f1bb6.404d78","type":"simpletime","z":"62dabc44.aa9ad4","name":"TIME","x":730,"y":1060,"wires":[["1519968f.a60359"]]}]