projects/ANDISHOME/AndisHome.json
[{"id":"89f4663.1fb9198","type":"tab","label":"WERKSTÄTTE2","disabled":false,"info":""},{"id":"362d879c.e4bd98","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard","disabled":false,"hidden":false},{"id":"10da58d4.20f697","type":"ui_group","z":"","name":"HAUS","tab":"362d879c.e4bd98","disp":true,"width":"6","collapse":false},{"id":"d07e3bc1.1627f8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3a834059.84a91","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"c7d1a1d5.a6e0f","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"3a834059.84a91","disp":true,"width":"6","collapse":false},{"id":"616ab88e.5f5868","type":"ui_group","z":"","name":"The Switch","tab":"381cbc02.b45c54","disp":true,"width":"6","collapse":false},{"id":"381cbc02.b45c54","type":"ui_tab","z":"","name":"My Switch","icon":"dashboard","order":1},{"id":"198bfa2c.a0f586","type":"ui_switch","z":"89f4663.1fb9198","name":"Heizung","label":"HEIZUNG","tooltip":"","group":"c7d1a1d5.a6e0f","order":0,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":1540,"y":340,"wires":[[]]},{"id":"fb3b6f38.ec426","type":"ui_button","z":"89f4663.1fb9198","name":"","group":"c7d1a1d5.a6e0f","order":1,"width":0,"height":0,"passthru":false,"label":"EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":300,"wires":[["8b3804de.7aba68"]]},{"id":"dd48777c.f447c8","type":"ui_button","z":"89f4663.1fb9198","name":"","group":"c7d1a1d5.a6e0f","order":1,"width":0,"height":0,"passthru":false,"label":"AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":340,"wires":[["66ea1a52.dcf674","4be2d5b6.7890fc"]]},{"id":"66ea1a52.dcf674","type":"bigtimer","z":"89f4663.1fb9198","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.22908","lon":"13.0208","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1120,"y":380,"wires":[[],["243cc279.c9c30e","701ef43f.64de2c","afeebeb.222fb4","47e9c0cf.f322d"],[]]},{"id":"2d3b1ef7.fcc242","type":"ui_button","z":"89f4663.1fb9198","name":"","group":"c7d1a1d5.a6e0f","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":490,"y":400,"wires":[["66ea1a52.dcf674","22bc269f.e38e6a"]]},{"id":"8b3804de.7aba68","type":"change","z":"89f4663.1fb9198","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["66ea1a52.dcf674","f1dd33c6.f924b"]]},{"id":"4be2d5b6.7890fc","type":"change","z":"89f4663.1fb9198","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["66ea1a52.dcf674","f1dd33c6.f924b"]]},{"id":"22bc269f.e38e6a","type":"change","z":"89f4663.1fb9198","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":420,"wires":[["66ea1a52.dcf674","f1dd33c6.f924b"]]},{"id":"f1dd33c6.f924b","type":"ui_text","z":"89f4663.1fb9198","group":"c7d1a1d5.a6e0f","order":4,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":420,"wires":[]},{"id":"243cc279.c9c30e","type":"change","z":"89f4663.1fb9198","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":320,"wires":[["198bfa2c.a0f586","f5d9c65d.fc8e88"]]},{"id":"701ef43f.64de2c","type":"change","z":"89f4663.1fb9198","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":360,"wires":[["198bfa2c.a0f586","f5d9c65d.fc8e88"]]},{"id":"837ceddd.dd08a","type":"ui_numeric","z":"89f4663.1fb9198","name":"OnHour","label":"Einschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":920,"y":20,"wires":[["3a4d74e1.44379c"]]},{"id":"b2bfb5a0.efb2a8","type":"ui_numeric","z":"89f4663.1fb9198","name":"OnMinute","label":"Einschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":920,"y":80,"wires":[["3a4d74e1.44379c"]]},{"id":"6f52c086.45d28","type":"ui_numeric","z":"89f4663.1fb9198","name":"OffHour","label":"Ausschalten Stunde","tooltip":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":920,"y":140,"wires":[["3a4d74e1.44379c"]]},{"id":"329d8dec.4441a2","type":"ui_numeric","z":"89f4663.1fb9198","name":"OffMinute","label":"Ausschalten Minute","tooltip":"","group":"c7d1a1d5.a6e0f","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":920,"y":200,"wires":[["3a4d74e1.44379c"]]},{"id":"f898989b.6fb488","type":"file","z":"89f4663.1fb9198","name":"StoreTimeSettings","filename":"timesettings","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1610,"y":100,"wires":[[]]},{"id":"3a4d74e1.44379c","type":"join","z":"89f4663.1fb9198","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1180,"y":100,"wires":[["4a69a19b.0b5b9","95cd355c.15657","41539af2.ff5094","f898989b.6fb488"]]},{"id":"174a2e39.7eacf2","type":"file in","z":"89f4663.1fb9198","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":290,"y":100,"wires":[["b390c4a5.b763d8"]]},{"id":"825c9871.dfd2f8","type":"inject","z":"89f4663.1fb9198","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":100,"wires":[["174a2e39.7eacf2"]]},{"id":"b390c4a5.b763d8","type":"json","z":"89f4663.1fb9198","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["1a0bfb43.49d945","7b27dacf.9ca8b4","f94843f0.4d27d","da0fafa0.3f9db"]]},{"id":"1a0bfb43.49d945","type":"change","z":"89f4663.1fb9198","name":"GetHourOn","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":40,"wires":[["837ceddd.dd08a"]]},{"id":"7b27dacf.9ca8b4","type":"change","z":"89f4663.1fb9198","name":"GetMinuteOn","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":80,"wires":[["b2bfb5a0.efb2a8"]]},{"id":"f94843f0.4d27d","type":"change","z":"89f4663.1fb9198","name":"GetHourOff","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":120,"wires":[["6f52c086.45d28"]]},{"id":"da0fafa0.3f9db","type":"change","z":"89f4663.1fb9198","name":"GetMinuteOff","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":160,"wires":[["329d8dec.4441a2"]]},{"id":"4a69a19b.0b5b9","type":"function","z":"89f4663.1fb9198","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["66ea1a52.dcf674"]]},{"id":"95cd355c.15657","type":"function","z":"89f4663.1fb9198","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":180,"wires":[["66ea1a52.dcf674"]]},{"id":"62760622.be76b","type":"inject","z":"89f4663.1fb9198","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["174a2e39.7eacf2"]]},{"id":"9e07fde3.9ce14","type":"inject","z":"89f4663.1fb9198","name":"","topic":"Preset","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":200,"wires":[["837ceddd.dd08a","b2bfb5a0.efb2a8","6f52c086.45d28","329d8dec.4441a2"]]},{"id":"113e7cd4.4a4683","type":"function","z":"89f4663.1fb9198","name":"INIT_PHIDGETS","func":"var NewMsg = { payload : ''};\nvar phidget22 = global.get('phidget22')\nvar conn = new phidget22.Connection(5661,'192.168.0.100');\nvar Initialized=context.get('init') || 0;\nvar digitalOutput0 = new phidget22.DigitalOutput();\n\ndigitalOutput0.onAttach = function onDigitalOutput0_Error() {\n        global.set(\"PublicVintHubInit\", 1);\n\t\tconsole.log('Vinthub attached!')\n\t};\n\n\tdigitalOutput0.onDetach = function onDigitalOutput0_Error() {\n\t    global.set(\"PublicVintHubInit\", 0);\n\t\tconsole.log('Vinthub detached!')\n\t};\n\n\nfunction Start()\n{\n    digitalOutput0.setIsHubPortDevice(true);\n    digitalOutput0.setHubPort(0);\n    digitalOutput0.setDeviceSerialNumber(726538);\n    digitalOutput0.open(5000).then(function () \n    {\n       global.set(\"PublicDigitalOutput0\", digitalOutput0);\n    });\n}\nconn.connect().then(Start).catch(function(err) {\n\tconsole.error(\"Error during connect:\", err);\n});\n\nglobal.set(\"PublicPhidget\", conn);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":1570,"y":40,"wires":[[]]},{"id":"7bd76260.062abc","type":"inject","z":"89f4663.1fb9198","name":"","topic":"INIT","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1380,"y":40,"wires":[["113e7cd4.4a4683"]]},{"id":"a0f7fd94.9cb4e","type":"inject","z":"89f4663.1fb9198","name":"","topic":"RELAY","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1220,"y":600,"wires":[["f5d9c65d.fc8e88"]]},{"id":"f5d9c65d.fc8e88","type":"function","z":"89f4663.1fb9198","name":"HEATER_1","func":"var DigitalOutput0 = global.get('PublicDigitalOutput0');\nvar IsInitialized = global.get(\"PublicVintHubInit\");\n\nif( IsInitialized )\n{\n    if( msg.payload === 'ON')\n    {\n        DigitalOutput0.setDutyCycle(1);\n    }\n\n    if( msg.payload === 'OFF')\n    {\n        DigitalOutput0.setDutyCycle(0);\n    }\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":500,"wires":[[]]},{"id":"d94f9318.e9b56","type":"inject","z":"89f4663.1fb9198","name":"","topic":"RELAY","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":640,"wires":[["f5d9c65d.fc8e88"]]},{"id":"afeebeb.222fb4","type":"change","z":"89f4663.1fb9198","name":"StringCommandOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":400,"wires":[["f5d9c65d.fc8e88"]]},{"id":"47e9c0cf.f322d","type":"change","z":"89f4663.1fb9198","name":"StringCommandOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":440,"wires":[["f5d9c65d.fc8e88"]]},{"id":"d0159537.6a36f8","type":"file in","z":"89f4663.1fb9198","name":"LoadBackupTimeSettings","filename":"backuptimesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":180,"wires":[["b390c4a5.b763d8"]]},{"id":"b415ad60.88d5e","type":"inject","z":"89f4663.1fb9198","name":"RestoreBackup","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["d0159537.6a36f8"]]},{"id":"41539af2.ff5094","type":"debug","z":"89f4663.1fb9198","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":20,"wires":[]}]