projects/GEORGSHOME/flows.json
[{"id":"7fa0f8f.5a71708","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"751908ce.1d1d68","type":"tab","label":"FLOW_EXTENDED_ELEMENTS","disabled":false,"info":" - Erweiterung galleriesteuerung\n - Erweiterung zentrale Heizkörpersteuerung"},{"id":"7098ba05.866f94","type":"tab","label":"FLOW_POWER","disabled":false,"info":""},{"id":"947efd24.6a1b6","type":"tab","label":"FLOW_HEATERS","disabled":false,"info":""},{"id":"2110ff8c.cc84f","type":"tab","label":"FLOW_GALLERY_UP","disabled":false,"info":""},{"id":"4f4805f4.fd73bc","type":"tab","label":"FLOW_DOOR_WINDOWS_SOUTHSIDE","disabled":false,"info":""},{"id":"1f4c4ae3.09c2f5","type":"tab","label":"FLOW_ANTEROOM","disabled":false,"info":""},{"id":"27c430f0.58ebc","type":"tab","label":"FLOW_WESTSIDE","disabled":false,"info":""},{"id":"3428a01a.0d641","type":"tab","label":"FLOW_KITCHEN","disabled":false,"info":""},{"id":"c28cf7ba.34de98","type":"tab","label":"FLOW_KIDROOM","disabled":false,"info":""},{"id":"74fbc076.276df","type":"tab","label":"FLOW_GALLERY_DOWN","disabled":false,"info":""},{"id":"fe7ff20.d2e8f1","type":"tab","label":"GLOBAL","disabled":false,"info":""},{"id":"f6dd1fca.6c306","type":"subflow","name":"SUB_ANTEROOM_MAIN_LIGHT","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"a952ee58.75f5b"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"56b8eb53.8f1a84","port":0}]}],"status":{"x":760,"y":120,"wires":[{"id":"56b8eb53.8f1a84","port":0}]}},{"id":"15e47868.0e5ea8","type":"subflow","name":"BOILER","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"5e8c7091.07116"}]}],"out":[{"x":805.8567552566528,"y":41.28568649291992,"wires":[{"id":"583ee5d6.cac97c","port":0}]}],"status":{"x":802.9851112365723,"y":86,"wires":[{"id":"583ee5d6.cac97c","port":0}]}},{"id":"8f298b26.b15d28","type":"subflow","name":"FRONTLIGHTS_KITCHEN","info":"","category":"","in":[{"x":120,"y":40,"wires":[{"id":"e026d406.fb2f88"}]}],"out":[{"x":780,"y":40,"wires":[{"id":"f72af37e.0c69a","port":0}]}]},{"id":"fd0015a.609c3e8","type":"subflow","name":"LIGHT_WINDOW_LEDGE_EAST","info":"","category":"","in":[{"x":2261.6509552001953,"y":245.00547122955322,"wires":[{"id":"e6277f7f.fe238"}]}],"out":[{"x":3097.650718688965,"y":253.00562381744385,"wires":[{"id":"5ab8ac96.b9b9a4","port":0}]}]},{"id":"2e8f2f3a.4b7f9","type":"subflow","name":"LIGHT_OUTSIDE","info":"","category":"","in":[{"x":2381.650947570801,"y":375.00568771362305,"wires":[{"id":"85d91908.2b8968"}]}],"out":[{"x":3086.6509590148926,"y":373.0055351257324,"wires":[{"id":"b9f3a229.09629","port":0}]}]},{"id":"e1423e4a.93e71","type":"subflow","name":"LIGHT_WINDOW_LEDGE_WEST","info":"","category":"","in":[{"x":2647.0143699645996,"y":1225.7326710224152,"wires":[{"id":"b3f809ba.1aafc8"}]}],"out":[{"x":3444.014190673828,"y":1225.7325947284698,"wires":[{"id":"bcb0c415.ab2f18","port":0}]}]},{"id":"5a45fc24.e52174","type":"subflow","name":"LIGHT_KITCHENBOARD_DOWN","info":"","category":"","in":[{"x":2600.0142936706543,"y":1286.6415932178497,"wires":[{"id":"42cce5fc.704eac"}]}],"out":[{"x":3442.0143432617188,"y":1286.6416490077972,"wires":[{"id":"ced3e08.3efb02","port":0}]}],"env":[]},{"id":"1df46f96.bc77b","type":"subflow","name":"LIGHT_WALL_WEST","info":"","category":"","in":[{"x":2588.014331817627,"y":1342.8234837055206,"wires":[{"id":"e96e682.5f9e098"}]}],"out":[{"x":3363.014217376709,"y":1345.8236410617828,"wires":[{"id":"db8f3b2f.ceadb8","port":0}]}]},{"id":"6246a200.ac18dc","type":"subflow","name":"LIGHT_GALLERY_UP_11","info":"","category":"","in":[{"x":630.0158004760742,"y":2542.7267780303955,"wires":[{"id":"d3c59bcd.8bf718"}]}],"out":[{"x":1460,"y":2560,"wires":[{"id":"5698937a.c33e4c","port":0}]}]},{"id":"fbecec3.074551","type":"subflow","name":"LIGHT_GALLERY_UP_10","info":"","category":"","in":[{"x":783.0157699584961,"y":2487.7266550064087,"wires":[{"id":"d3bc916.9bdf47"}]}],"out":[{"x":3777.015579223633,"y":2495.72647857666,"wires":[{"id":"3851963e.783a1a","port":0}]}]},{"id":"58c186d2.cc7718","type":"subflow","name":"LIGHT_DOOR_ENTRY_LEFT","info":"","category":"","in":[{"x":2582.0143394470215,"y":1410.8237144947052,"wires":[{"id":"589874b4.69d95c"}]}],"out":[{"x":3315.0143432617188,"y":1413.8236029148102,"wires":[{"id":"7d276b21.d1de14","port":0}]}]},{"id":"9e792846.0d4958","type":"subflow","name":"LIGHT_TRIANGLE_WEST","info":"","category":"","in":[{"x":2548.014301300049,"y":1479.7328798770905,"wires":[{"id":"61b0ce88.bdd6e"}]}],"out":[{"x":3298.5597534179688,"y":1480.7328989505768,"wires":[{"id":"db3b4d8f.7e919","port":0}]}]},{"id":"1976d7f.0dd9028","type":"subflow","name":"LIGHT_GALLERY_DOWN","info":"","category":"","in":[{"x":2554.014404296875,"y":1559.7328147888184,"wires":[{"id":"f5edce8d.7058b"}]}],"out":[{"x":3275.44287109375,"y":1545.5899925231934,"wires":[{"id":"219271c2.3aeb5e","port":0}]}]},{"id":"be228d90.8caef","type":"subflow","name":"LIGHT_GALLERY_UP_9","info":"","category":"","in":[{"x":906.0157165527344,"y":2425.726776123047,"wires":[{"id":"ac5d0ed5.a4698"}]}],"out":[{"x":3719.015579223633,"y":2452.726414680481,"wires":[{"id":"2bb209b5.9fdf76","port":0}]}]},{"id":"fb9db58e.530998","type":"subflow","name":"LIGHT_GALLERY_UP_8","info":"","category":"","in":[{"x":1036.015640258789,"y":2363.726781845093,"wires":[{"id":"9b7fb993.cf8aa8"}]}],"out":[{"x":3683.0155181884766,"y":2411.7264137268066,"wires":[{"id":"5d8ab761.552368","port":0}]}]},{"id":"24a391fc.9c0f9e","type":"subflow","name":"LIGHT_GALLERY_UP","info":"","category":"","in":[{"x":2502.028564453125,"y":1624.0112571716309,"wires":[{"id":"d4205800.eafa98"}]}],"out":[{"x":3238.028564453125,"y":1622.0112571716309,"wires":[{"id":"919e20c8.c749a","port":0}]}]},{"id":"c08a9f29.c0364","type":"subflow","name":"LIGHT_TRIANGLE_UP","info":"","category":"","in":[{"x":2477.265625,"y":1679.2264671325684,"wires":[{"id":"6a086c60.026464"}]}],"out":[{"x":3213.265625,"y":1674.2264671325684,"wires":[{"id":"8c5c28f0.07d728","port":0}]}]},{"id":"6dbd2357.9181cc","type":"subflow","name":"LIGHT_GALLERY_UP_7","info":"","category":"","in":[{"x":1138.0157012939453,"y":2322.7264976501465,"wires":[{"id":"24663af3.ee3a36"}]}],"out":[{"x":3632.0155334472656,"y":2368.726643562317,"wires":[{"id":"76ac2f2a.44c4a","port":0}]}]},{"id":"77354d21.b63d74","type":"subflow","name":"LIGHT_MAIN_DOOR","info":"","category":"","in":[{"x":2385.0078125,"y":1738.9999046325684,"wires":[{"id":"683bb31d.76cd8c"}]}],"out":[{"x":3203.007568359375,"y":1736.9997825622559,"wires":[{"id":"e8dd3419.8cde48","port":0}]}]},{"id":"8e0df9ea.dc6d98","type":"subflow","name":"LIGHT_WINDOW_UP_EAST","info":"","category":"","in":[{"x":2348.229248046875,"y":1798.6986351013184,"wires":[{"id":"4bb22b97.5e2784"}]}],"out":[{"x":3134.229248046875,"y":1801.6986351013184,"wires":[{"id":"d17830e4.5d856","port":0}]}]},{"id":"17252e85.f4c3c1","type":"subflow","name":"LIGHT_RIGHT_NEXT_DOOR","info":"","category":"","in":[{"x":2317.015625,"y":1839.2264671325684,"wires":[{"id":"ea3f3594.237fc8"}]}],"out":[{"x":3245.015625,"y":1842.2264671325684,"wires":[{"id":"457726bc.ce31c8","port":0}]}]},{"id":"59dc7866.dede98","type":"subflow","name":"LIGHT_GALLERY_DOWN_1","info":"","category":"","in":[{"x":2242.765625,"y":1892.2264671325684,"wires":[{"id":"d8bcccf0.10541"}]}],"out":[{"x":3245.765625,"y":1889.2264671325684,"wires":[{"id":"17f40115.67571f","port":0}]}]},{"id":"ea250672.3772b8","type":"subflow","name":"LIGHT_GALLERY_UP_6","info":"","category":"","in":[{"x":1232.0158157348633,"y":2286.7265281677246,"wires":[{"id":"9bf8988d.9fd508"}]}],"out":[{"x":3577.0157775878906,"y":2329.726408958435,"wires":[{"id":"c617dc83.01e63","port":0}]}]},{"id":"bbbc4d26.67bb6","type":"subflow","name":"LIGHT_GALLERY_UP_5","info":"","category":"","in":[{"x":1354.0156478881836,"y":2242.726587295532,"wires":[{"id":"c1e9e872.58a348"}]}],"out":[{"x":3519.0155181884766,"y":2289.7265911102295,"wires":[{"id":"1c8cf8a0.b34597","port":0}]}]},{"id":"71195148.90b36","type":"subflow","name":"LIGHT_GALLERY_DOWN_2","info":"","category":"","in":[{"x":2245,"y":1951.4764671325684,"wires":[{"id":"47a69112.94d"}]}],"out":[{"x":3282,"y":1939.4764671325684,"wires":[{"id":"92d9bb85.832db8","port":0}]}]},{"id":"5adde79.cef0318","type":"subflow","name":"LIGHT_GALLERY_DOWN_3","info":"","category":"","in":[{"x":2250.333251953125,"y":2000.8097190856934,"wires":[{"id":"e8b24c7b.b1669"}]}],"out":[{"x":3283.333251953125,"y":1995.8097190856934,"wires":[{"id":"bed70e4.0186af","port":0}]}]},{"id":"f1f09036.8e6a5","type":"subflow","name":"LIGHT_GALLERY_DOWN_4","info":"","category":"","in":[{"x":2255.333251953125,"y":2048.8097190856934,"wires":[{"id":"fdd8d83d.115138"}]}],"out":[{"x":3294.333251953125,"y":2045.8097190856934,"wires":[{"id":"76dfd902.5d3618","port":0}]}]},{"id":"920f6b4f.48eac8","type":"subflow","name":"LIGHT_GALLERY_UP_1","info":"","category":"","in":[{"x":2223,"y":2092.4764671325684,"wires":[{"id":"eae848c3.f33078"}]}],"out":[{"x":2936.250045776367,"y":1933.7265934944153,"wires":[{"id":"c7f4a8b7.bef9f8","port":0}]}],"status":{"x":160,"y":30,"wires":[]}},{"id":"14763e8a.16f4e1","type":"subflow","name":"LIGHT_GALLERY_UP_2","info":"","category":"","in":[{"x":1929.0157775878906,"y":2122.7265224456787,"wires":[{"id":"22b82a20.270176"}]}],"out":[{"x":3384.015579223633,"y":2146.726706504822,"wires":[{"id":"44b81f44.a5266","port":0}]}]},{"id":"6f1a9f64.905d8","type":"subflow","name":"LIGHT_GALLERY_UP_3","info":"","category":"","in":[{"x":1733.015712738037,"y":2164.726493835449,"wires":[{"id":"cde32557.f86308"}]}],"out":[{"x":3466.0155334472656,"y":2189.726873397827,"wires":[{"id":"eb8c74c5.c28818","port":0}]}]},{"id":"9fee7c36.f7377","type":"subflow","name":"LIGHT_GALLERY_UP_4","info":"","category":"","in":[{"x":1568.0158309936523,"y":2202.726583480835,"wires":[{"id":"6a660298.a819fc"}]}],"out":[{"x":3478.0155181884766,"y":2241.726589202881,"wires":[{"id":"9282d027.3f4a5","port":0}]}]},{"id":"77dda60a.d7efe8","type":"subflow","name":"SCENARIOS","info":"","category":"","in":[],"out":[{"x":740,"y":100,"wires":[{"id":"878f556e.dc77d8","port":0}]},{"x":740,"y":220,"wires":[{"id":"34d1e102.250d5e","port":0}]}],"status":{"x":740,"y":160,"wires":[{"id":"33f201d7.d8ec1e","port":0}]}},{"id":"732a823b.6349dc","type":"subflow","name":"ANTEROOM_GALLERY_UP","info":"","category":"","in":[{"x":169.9999942779541,"y":128.9999942779541,"wires":[{"id":"956c65fc.759a28"}]}],"out":[{"x":1076.9999828338623,"y":128.00001049041748,"wires":[{"id":"f4f718ca.73ad78","port":0}]}],"status":{"x":1080,"y":40,"wires":[{"id":"f4f718ca.73ad78","port":0}]}},{"id":"3486c1a7.a51b3e","type":"subflow","name":"LIGHT_BATH_ALL","info":"","category":"","in":[{"x":202.9999942779541,"y":149.9999942779541,"wires":[{"id":"5138ce61.f5ce7"}]}],"out":[{"x":1123.999984741211,"y":265.9999942779541,"wires":[{"id":"8f311a56.6e0af8","port":0}]}]},{"id":"e05aa54.b29db58","type":"subflow","name":"LIGHT WC","info":"","category":"","in":[{"x":226.9999942779541,"y":147.9999942779541,"wires":[{"id":"c959c02a.01119"}]}],"out":[{"x":1033.999984741211,"y":259.9999942779541,"wires":[{"id":"2de0416d.3ababe","port":0}]}],"status":{"x":1040,"y":150,"wires":[{"id":"2de0416d.3ababe","port":0}]}},{"id":"398e4654.d2a5ea","type":"subflow","name":"LIGHT_ANTEROOM_BACK","info":"Vorhaus Lichter LEDs hinten","category":"","in":[{"x":246.9999942779541,"y":193.9999942779541,"wires":[{"id":"ed728d49.43d96"}]}],"out":[{"x":1135.999984741211,"y":299.9999942779541,"wires":[{"id":"4bc9db11.460844","port":0}]}],"env":[],"status":{"x":1138.7500038146973,"y":215,"wires":[{"id":"4bc9db11.460844","port":0}]}},{"id":"a96c7925.d9b518","type":"subflow","name":"SUB_HEATERWEST","info":"Heizkörper im Westen - Ansteuerung","category":"","in":[{"x":70,"y":117,"wires":[{"id":"311fb730.1844b8"}]}],"out":[{"x":913,"y":111,"wires":[{"id":"2425aabe.c3d216","port":0}]}],"env":[],"status":{"x":796,"y":25,"wires":[{"id":"2425aabe.c3d216","port":0}]}},{"id":"9444d242.b6c36","type":"subflow","name":"SUB_HEATEREAST","info":"Heizkörper osten","category":"","in":[{"x":168,"y":89,"wires":[{"id":"659aa27.c12095c"}]}],"out":[{"x":945,"y":101,"wires":[{"id":"a7144b0b.29a108","port":0}]}],"env":[],"status":{"x":933,"y":35,"wires":[{"id":"a7144b0b.29a108","port":0}]}},{"id":"658af8e2.d21c88","type":"subflow","name":"SUB_LIGHT_ANTEROOM_MIDDLE","info":"","category":"","in":[{"x":10,"y":80,"wires":[{"id":"c2c21b85.dd8198"}]}],"out":[{"x":783.0002517700195,"y":80,"wires":[{"id":"4480e402.3d37fc","port":0}]}],"env":[],"status":{"x":792.9999980926514,"y":154.99999809265137,"wires":[{"id":"4480e402.3d37fc","port":0}]}},{"id":"1f41fee.aca6501","type":"subflow","name":"SUB_HEATER_BATHROOM","info":"","category":"","in":[{"x":260,"y":100,"wires":[{"id":"1bf9a73c.5a3da9"}]}],"out":[{"x":940,"y":120,"wires":[{"id":"3b3917c4.ca56a8","port":0}]}],"env":[],"status":{"x":900,"y":40,"wires":[{"id":"3b3917c4.ca56a8","port":0}]}},{"id":"54f401c5.36b84","type":"subflow","name":"FLOW_BOILER","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"68ae468d.8df4d8"}]}],"out":[{"x":639.9138717651367,"y":94.92855262756348,"wires":[{"id":"873c10f2.25982","port":0}]}],"env":[],"status":{"x":640,"y":40,"wires":[{"id":"873c10f2.25982","port":0}]}},{"id":"5cf46a6e.756414","type":"subflow","name":"FLOW_PLUG_IR","info":"","category":"","in":[{"x":100,"y":280,"wires":[{"id":"17a97e5f.fe2282"}]}],"out":[{"x":920,"y":100,"wires":[{"id":"f968c49c.09d3b8","port":0},{"id":"567336af.028f88","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":920,"y":40,"wires":[{"id":"f968c49c.09d3b8","port":0},{"id":"567336af.028f88","port":0}]}},{"id":"749feb8f.103b04","type":"subflow","name":"LIGHT_KID_CEILING","info":"","category":"","in":[{"x":180,"y":140,"wires":[{"id":"6e8e5be3.73c834"}]}],"out":[{"x":900,"y":140,"wires":[{"id":"c3771cc1.4c77d","port":0}]}],"env":[],"status":{"x":900,"y":200,"wires":[{"id":"c3771cc1.4c77d","port":0}]}},{"id":"673e6c8d.6d6944","type":"subflow","name":"LIGHT_KID_RIGHT","info":"","category":"","in":[{"x":180,"y":60,"wires":[{"id":"70497155.174b5"}]}],"out":[{"x":920,"y":60,"wires":[{"id":"faf302ed.83b2b","port":0}]}],"env":[],"status":{"x":920,"y":120,"wires":[{"id":"faf302ed.83b2b","port":0}]}},{"id":"acf40cda.989ad","type":"subflow","name":"LIGHT_KID_3","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"f4f25e75.df19f"}]}],"out":[{"x":840,"y":60,"wires":[{"id":"62ec3391.b3b57c","port":0}]}],"env":[],"status":{"x":840,"y":120,"wires":[{"id":"62ec3391.b3b57c","port":0}]}},{"id":"4a0d4570.92dcfc","type":"subflow","name":"LIGHT_KID_4","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"e2a9708e.bc9c8"}]}],"out":[{"x":720,"y":40,"wires":[{"id":"efebc5d2.62f878","port":0}]}],"env":[],"status":{"x":720,"y":100,"wires":[{"id":"efebc5d2.62f878","port":0}]}},{"id":"5841569b.a2c378","type":"subflow","name":"LIGHT_KID_5","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"cf228ba3.464208"}]}],"out":[{"x":760,"y":60,"wires":[{"id":"46e96038.8662a","port":0}]}],"env":[],"status":{"x":760,"y":120,"wires":[{"id":"46e96038.8662a","port":0}]}},{"id":"909c3dae.8a8b","type":"subflow","name":"HEATER_KID_ROOM","info":"","category":"","in":[{"x":120,"y":40,"wires":[{"id":"7db1089b.69c5c8"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"a05e9613.6b2f98","port":0}]}],"env":[],"status":{"x":640,"y":100,"wires":[{"id":"a05e9613.6b2f98","port":0}]}},{"id":"5fed965b.1efc18","type":"subflow","name":"SUB_ANTROOM_MIDDLE_OFF","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"cc05f2fc.0e355"}]}],"out":[{"x":400,"y":80,"wires":[{"id":"cc05f2fc.0e355","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":400,"y":140,"wires":[{"id":"cc05f2fc.0e355","port":0}]}},{"id":"b6e6fa.8bfd1908","type":"subflow","name":"SUB_ANTEROOM_MIDDLE_ON","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"9accca19.dead38"}]}],"out":[{"x":440,"y":80,"wires":[{"id":"9accca19.dead38","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":440,"y":140,"wires":[{"id":"9accca19.dead38","port":0}]}},{"id":"53cbac0a.2b67f4","type":"subflow","name":"SUB_LIGHT_MIDDLE","info":"","category":"","in":[{"x":40,"y":100,"wires":[{"id":"1bffffd9.4080c"},{"id":"dee88283.1e36c"}]}],"out":[{"x":420,"y":100,"wires":[{"id":"1bffffd9.4080c","port":0},{"id":"dee88283.1e36c","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":400,"y":160,"wires":[{"id":"1bffffd9.4080c","port":0},{"id":"dee88283.1e36c","port":0}]}},{"id":"f6dee579.962058","type":"group","z":"7fa0f8f.5a71708","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["69f60a0.5dcbbf8","a17f4ddf.9afc8"],"x":2154,"y":199,"w":272,"h":162},{"id":"d1e7d7ad.42bde8","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"","disp":true,"width":"6","collapse":false},{"id":"68419d26.ef9f84","type":"ui_group","z":"","name":"KÜCHE","tab":"2211de52.b114b2","order":1,"disp":true,"width":"6"},{"id":"3a67d708.491aa8","type":"ui_group","z":"","name":"FENSTERBANK","tab":"","order":6,"disp":true,"width":"6"},{"id":"da3ea710.5749a8","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"","order":2,"disp":true,"width":"6"},{"id":"94fb52e9.afaa7","type":"ui_group","z":"","name":"GALLERIE","tab":"","order":3,"disp":true,"width":"6"},{"id":"8f0e4184.08183","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"","order":5,"disp":true,"width":"6"},{"id":"c50cfbbe.2ebd18","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"","order":4,"disp":true,"width":"6"},{"id":"a24fb5d0.f805f8","type":"ui_group","z":"","name":"VORHAUS","tab":"e72dbf90.dc0d1","order":1,"disp":true,"width":"6","collapse":false},{"id":"2211de52.b114b2","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"e72dbf90.dc0d1","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"79166127.536b1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f082d23.5870f3","type":"ui_group","z":"","name":"HAUPTSTEUERUNG","tab":"1ec83753.5b31a9","order":1,"disp":true,"width":"6"},{"id":"3dbc8c98.083aa4","type":"ui_group","z":"","name":"KÜCHE","tab":"35aaad8a.ed3c12","order":1,"disp":true,"width":"6"},{"id":"d8a967f.6ed2998","type":"ui_group","z":"","name":"FENSTERBANK","tab":"52acc5d.8b5ba3c","order":6,"disp":true,"width":"6","collapse":true},{"id":"848f3969.ede7f8","type":"ui_group","z":"","name":"WOHNZIMMER","tab":"52acc5d.8b5ba3c","order":1,"disp":true,"width":"6","collapse":true},{"id":"dddbf4a9.de6238","type":"ui_group","z":"","name":"HAUPTEINGANG VORNE","tab":"52acc5d.8b5ba3c","order":2,"disp":true,"width":"6","collapse":true},{"id":"468e6c40.6e8c54","type":"ui_group","z":"","name":"GALLERIE","tab":"52acc5d.8b5ba3c","order":3,"disp":true,"width":"6","collapse":true},{"id":"59870186.4c225","type":"ui_group","z":"","name":"GALLERIE UNTEN","tab":"52acc5d.8b5ba3c","order":5,"disp":true,"width":"6","collapse":true},{"id":"ee7391e3.0774","type":"ui_group","z":"","name":"GALLERIE OBEN","tab":"52acc5d.8b5ba3c","order":4,"disp":true,"width":"6","collapse":true},{"id":"1ec83753.5b31a9","type":"ui_tab","z":"","name":"HAUS","icon":"dashboard"},{"id":"35aaad8a.ed3c12","type":"ui_tab","z":"","name":"KÜCHE","icon":"dashboard","order":3},{"id":"52acc5d.8b5ba3c","type":"ui_tab","z":"","name":"WOHNZIMMER","icon":"dashboard","order":2},{"id":"ea22f5b5.5af548","type":"ui_tab","z":"","name":"VORHAUS","icon":"dashboard","order":4},{"id":"fd93ca25.397518","type":"ui_group","z":"","name":"VORHAUS","tab":"ea22f5b5.5af548","order":1,"disp":true,"width":"6","collapse":false},{"id":"56be4a6.19911b4","type":"ui_tab","z":"","name":"OBEN","icon":"dashboard","order":5},{"id":"b210f56e.db6368","type":"ui_group","z":"","name":"BODEN","tab":"56be4a6.19911b4","order":1,"disp":true,"width":"6","collapse":false},{"id":"c1a8c6ed.e57098","type":"ui_tab","z":"","name":"BAD","icon":"dashboard","order":6},{"id":"83673fe2.3b03d","type":"ui_group","z":"","name":"LICHTER","tab":"c1a8c6ed.e57098","order":1,"disp":true,"width":"6","collapse":false},{"id":"60261446.7371fc","type":"ui_tab","z":"","name":"WC","icon":"dashboard","order":7},{"id":"f055e626.392288","type":"ui_group","z":"","name":"LICHTER","tab":"60261446.7371fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d52af1b.24d841","type":"ui_group","z":"","name":"LUEFTER","tab":"60261446.7371fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"6fa3dc0b.2db2b4","type":"ui_group","z":"","name":"Lichter","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"ef7f35ee.d69248","type":"ui_group","z":"","name":"Heizung","tab":"c1a8c6ed.e57098","order":2,"disp":true,"width":"6","collapse":false},{"id":"f9c180f2.4091","type":"ui_group","z":"","name":"Heizkörper","tab":"ea22f5b5.5af548","order":2,"disp":true,"width":"6","collapse":false},{"id":"17e38b6a.856c95","type":"ui_tab","z":"","name":"KINDERZIMMER","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"9f9a8a62.d54b98","type":"ui_group","z":"","name":"LICHTER","tab":"17e38b6a.856c95","order":1,"disp":true,"width":"6","collapse":true},{"id":"c9ad1603.380408","type":"ui_group","z":"","name":"HEIZUNG","tab":"17e38b6a.856c95","order":2,"disp":true,"width":"6","collapse":true},{"id":"b0db099e.93d0d8","type":"ui_group","z":"","name":"hidden_group","tab":"e8c8455b.fcfee8","order":1,"disp":false,"width":"6","collapse":false},{"id":"e8c8455b.fcfee8","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"713baee.661de5","type":"ui_group","z":"","name":"hidden_group","tab":"43746246.80f00c","order":1,"disp":false,"width":"6","collapse":false},{"id":"43746246.80f00c","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"5e8c7091.07116","type":"ui_switch","z":"15e47868.0e5ea8","name":"BOILER","label":"WARMWASSER","tooltip":"","group":"f082d23.5870f3","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":40,"wires":[["583ee5d6.cac97c"]]},{"id":"f5547ea4.3e666","type":"udp out","z":"7fa0f8f.5a71708","name":"SENDER","addr":"192.168.0.255","iface":"","port":"10000","ipv":"udp4","outport":"9700","base64":false,"multicast":"broad","x":2400,"y":520,"wires":[]},{"id":"db817ee0.d6c88","type":"udp in","z":"7fa0f8f.5a71708","name":"RECEIVER","iface":"","port":"12000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":1630,"y":360,"wires":[["e7efa5e.6e36958","69f60a0.5dcbbf8"]]},{"id":"68ae468d.8df4d8","type":"function","z":"54f401c5.36b84","name":"CHECK STATUS BOILER","func":"var result;\nvar ToCompare = \"BOILER-IS-ON\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["873c10f2.25982"]]},{"id":"583ee5d6.cac97c","type":"function","z":"15e47868.0e5ea8","name":"BOILER COMMAND","func":"var result;\nvar ResultOn  = \"TURN-BOILER-ON\";\nvar ResultOff = \"TURN-BOILER-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":544.4282112121582,"y":41.28568363189697,"wires":[[]]},{"id":"aeb3733c.98dd","type":"catch","z":"7fa0f8f.5a71708","name":"","scope":["46c0d0f8.ce014","d3afa9e1.b3b358","c06b7c90.f01f5","db8e698b.1cb928","43d49232.6f44ec","65acd935.85f9b8","66469f4f.823ff","1f9d4fc2.e1a9d","b34385ec.2753b8","2ef3deb7.89c4c2","e28b5401.036348","528d8119.b5e69","9e0ccec8.e35c6","5737bf6d.7d04a","e6f223c4.c9985","b94246db.6df208","503782ee.c533dc","6fc6b4bc.2db89c","cf07f1e5.e232e","53785039.61b07","acaaec64.f30f4","8ac35003.bac8d","b53402c9.abef1","32239554.bd7f4a","6de8f093.c6407","234d0ad4.aa5936","6f154ce5.194d04","a030b27e.8deae","87280057.43332","183696ab.96e4b9","86c3cf93.eb9b","db817ee0.d6c88","f141cad7.25f818","4af67bd.b6c9e84","f5547ea4.3e666","e6986e20.446ed","e7efa5e.6e36958","34f4f74.85d2b08"],"uncaught":false,"x":2080,"y":140,"wires":[["e6986e20.446ed"]]},{"id":"e6986e20.446ed","type":"ui_toast","z":"7fa0f8f.5a71708","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":2240,"y":140,"wires":[]},{"id":"f72af37e.0c69a","type":"function","z":"8f298b26.b15d28","name":"FRONT LIGHT COMMAND","func":"var result;\nvar ResultOn  = \"TURN-FRONT-LIGHTS-ON\";\nvar ResultOff = \"TURN-FRONT-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":40,"wires":[[]]},{"id":"5ab8ac96.b9b9a4","type":"function","z":"fd0015a.609c3e8","name":"WINDOW LEDGE EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-EAST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2867.650718688965,"y":253.00562381744385,"wires":[[]]},{"id":"b9f3a229.09629","type":"function","z":"2e8f2f3a.4b7f9","name":"LIGHT OUTSIDE COMMAND","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-OUTSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-OUTSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2876.6509590148926,"y":373.0055351257324,"wires":[[]]},{"id":"e026d406.fb2f88","type":"ui_switch","z":"8f298b26.b15d28","name":"FRONTLIGHTS KITCHEN","label":"VORDERLICHTER KÜCHE","group":"3dbc8c98.083aa4","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":300,"y":40,"wires":[["f72af37e.0c69a"]]},{"id":"e6277f7f.fe238","type":"ui_switch","z":"fd0015a.609c3e8","name":"WINDOW LEDGE EAST","label":"FENSTERBANK OSTEN","group":"d8a967f.6ed2998","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2451.6509552001953,"y":245.00547122955322,"wires":[["5ab8ac96.b9b9a4"]]},{"id":"85d91908.2b8968","type":"ui_switch","z":"2e8f2f3a.4b7f9","name":"LIGHT OUTSIDE","label":"AUSSENLICHT","group":"f082d23.5870f3","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2551.650947570801,"y":375.00568771362305,"wires":[["b9f3a229.09629"]]},{"id":"46c0d0f8.ce014","type":"ui_switch","z":"7fa0f8f.5a71708","name":"ALL LIGHTS","label":"ALLE LICHTER ","tooltip":"","group":"f082d23.5870f3","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":810,"y":320,"wires":[["65acd935.85f9b8","d3afa9e1.b3b358","34f4f74.85d2b08","6fc6b4bc.2db89c","528d8119.b5e69","2ef3deb7.89c4c2","234d0ad4.aa5936","a030b27e.8deae","7a79026c.f00c8c","1f08d9ae.1ea606","2e6ea3e2.15e3bc","8902ca66.b29778","71ee541a.3a062c"]]},{"id":"65acd935.85f9b8","type":"function","z":"7fa0f8f.5a71708","name":"COMMAND ALL","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":760,"wires":[["f5547ea4.3e666"]]},{"id":"d3afa9e1.b3b358","type":"ui_switch","z":"7fa0f8f.5a71708","name":"ALL LIGHTS WEST","label":"ALLE LICHTER WESTEN","group":"848f3969.ede7f8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1090,"y":700,"wires":[["419fc6fa.d20eb8"]]},{"id":"bcb0c415.ab2f18","type":"function","z":"e1423e4a.93e71","name":"LIGHT COMMAND WINDOW LEDGE WEST","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LEDGE-WEST-ON\";\nvar ResultOff = \"TURN-WINDOW-LEDGE-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3194.014190673828,"y":1225.7325947284698,"wires":[[]]},{"id":"b3f809ba.1aafc8","type":"ui_switch","z":"e1423e4a.93e71","name":"WINDOW LEDGE WEST","label":"FENSTERBANK WESTEN","group":"d8a967f.6ed2998","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2837.0143699645996,"y":1225.7326710224152,"wires":[["bcb0c415.ab2f18"]]},{"id":"ced3e08.3efb02","type":"function","z":"5a45fc24.e52174","name":"LIGHT COMMAND KITCHEN BOARD DOWN","func":"var result;\nvar ResultOn  = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-ON\";\nvar ResultOff = \"TURN-KITCHEN-BOARD-DOWN-LIGHTS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3182.0143432617188,"y":1286.6416490077972,"wires":[[]]},{"id":"42cce5fc.704eac","type":"ui_switch","z":"5a45fc24.e52174","name":"LIGHT KITCHENBOARD DOWN","label":"ARBEITSPLATTE KÜCHE UNTEN","group":"3dbc8c98.083aa4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2820.0142936706543,"y":1286.6415932178497,"wires":[["ced3e08.3efb02"]]},{"id":"e96e682.5f9e098","type":"ui_switch","z":"1df46f96.bc77b","name":"WALL LIGHT WEST","label":"WANDLEUCHTE WESTEN","group":"848f3969.ede7f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2768.014331817627,"y":1342.8234837055206,"wires":[["db8f3b2f.ceadb8"]]},{"id":"db8f3b2f.ceadb8","type":"function","z":"1df46f96.bc77b","name":"LIGHT COMMAND WALL WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHTS-WALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHTS-WALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3143.014217376709,"y":1345.8236410617828,"wires":[[]]},{"id":"589874b4.69d95c","type":"ui_switch","z":"58c186d2.cc7718","name":"LIGHT DOOR ENTRY LEFT","label":"BALKEN TÜR LINKS","group":"dddbf4a9.de6238","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2782.0143394470215,"y":1410.8237144947052,"wires":[["7d276b21.d1de14"]]},{"id":"7d276b21.d1de14","type":"function","z":"58c186d2.cc7718","name":"LIGHT DOOR ENTRY LEFT","func":"var result;\nvar ResultOn  = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-ON\";\nvar ResultOff = \"TURN-WINDOW-LIGHT-DOOR-ENTRY-LEFT-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3115.0143432617188,"y":1413.8236029148102,"wires":[[]]},{"id":"61b0ce88.bdd6e","type":"ui_switch","z":"9e792846.0d4958","name":"WINDOW TRIANGLE WEST","label":"DREIECKFENSTER OBEN WEST","group":"dddbf4a9.de6238","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2748.014301300049,"y":1479.7328798770905,"wires":[["db3b4d8f.7e919"]]},{"id":"db3b4d8f.7e919","type":"function","z":"9e792846.0d4958","name":"LIGHT TRIANGLE WEST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-ON\";\nvar ResultOff = \"TURN-LIGHT-TRIANGLE-SMALL-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3108.5597534179688,"y":1480.7328989505768,"wires":[[]]},{"id":"34f4f74.85d2b08","type":"ui_switch","z":"7fa0f8f.5a71708","name":"WINDOW LEDGE EAST AND WEST","label":"FENSTERBANK OSTEN UND WESTEN","group":"d8a967f.6ed2998","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1290,"y":240,"wires":[["b53402c9.abef1"]]},{"id":"33f201d7.d8ec1e","type":"ui_dropdown","z":"77dda60a.d7efe8","name":"SCENARIOS","label":"SCENARIOS","tooltip":"","place":"Select option","group":"f082d23.5870f3","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"NONE","value":"NONE","type":"str"},{"label":"DIMM","value":"DIMM","type":"str"},{"label":"ADVENTURE","value":"ADVENTURE","type":"str"}],"payload":"","topic":"","x":210,"y":160,"wires":[["878f556e.dc77d8","34d1e102.250d5e"]]},{"id":"878f556e.dc77d8","type":"function","z":"77dda60a.d7efe8","name":"MAKE_DIMM","func":"var result;\nvar ToCompare = \"DIMM\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[[]]},{"id":"34d1e102.250d5e","type":"function","z":"77dda60a.d7efe8","name":"MAKE_ADVENTURE","func":"var result;\nvar ToCompare = \"ADVENTURE\";\nif( msg.payload === ToCompare )\n{\n   result = true;\n}\nelse\n{\n   result = false;\n}\nmsg.payload = result;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[[]]},{"id":"f5edce8d.7058b","type":"ui_switch","z":"1976d7f.0dd9028","name":"GALLERY DOWN","label":"LEUCHTEN NACH UNTEN","group":"468e6c40.6e8c54","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2724.014404296875,"y":1559.7328147888184,"wires":[["219271c2.3aeb5e"]]},{"id":"219271c2.3aeb5e","type":"function","z":"1976d7f.0dd9028","name":"LIGHT COMMAND GALLERY DOWN","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3045.44287109375,"y":1545.5899925231934,"wires":[[]]},{"id":"d4205800.eafa98","type":"ui_switch","z":"24a391fc.9c0f9e","name":"GALLERY UP","label":"LEUCHTEN NACH OBEN","group":"468e6c40.6e8c54","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2662.028564453125,"y":1624.0112571716309,"wires":[["919e20c8.c749a"]]},{"id":"919e20c8.c749a","type":"function","z":"24a391fc.9c0f9e","name":"LIGHT_ COMMAND_GALLERY_UP","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP-ON\";\nvar ResultOff = \"TURN-GALLERY-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3008.028564453125,"y":1622.0112571716309,"wires":[[]]},{"id":"6a086c60.026464","type":"ui_switch","z":"c08a9f29.c0364","name":"TRIANGLE UP","label":"LICHT DREIECK OBEN","group":"468e6c40.6e8c54","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2637.265625,"y":1679.2264671325684,"wires":[["8c5c28f0.07d728"]]},{"id":"8c5c28f0.07d728","type":"function","z":"c08a9f29.c0364","name":"LIGHT COMMAND TRIANGLE UP","func":"var result;\nvar ResultOn  = \"TURN-TRIANAGLE-UPSTAIRS-ON\";\nvar ResultOff = \"TURN-TRIANAGLE-UPSTAIRS-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2993.265625,"y":1674.2264671325684,"wires":[[]]},{"id":"683bb31d.76cd8c","type":"ui_switch","z":"77354d21.b63d74","name":"LIGHTBAR MAIN DOOR","label":"LICHT ÜBER TÜR","group":"dddbf4a9.de6238","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2575.0078125,"y":1738.9999046325684,"wires":[["e8dd3419.8cde48"]]},{"id":"e8dd3419.8cde48","type":"function","z":"77354d21.b63d74","name":"LIGHT COMMAND DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-DOOR-ENTRY-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2983.007568359375,"y":1736.9997825622559,"wires":[[]]},{"id":"4bb22b97.5e2784","type":"ui_switch","z":"8e0df9ea.dc6d98","name":"LIGHT WINDOW UP EAST","label":"LICHT FENSTER OBEN OSTEN","group":"848f3969.ede7f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2548.229248046875,"y":1798.6986351013184,"wires":[["d17830e4.5d856"]]},{"id":"d17830e4.5d856","type":"function","z":"8e0df9ea.dc6d98","name":"LIGHT_WINDOW_UP_EAST","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-ON\";\nvar ResultOff = \"TURN-LIGHT-WINDOW-SOUTHEAST-UPSIDE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2934.229248046875,"y":1801.6986351013184,"wires":[[]]},{"id":"f141cad7.25f818","type":"ui_button","z":"7fa0f8f.5a71708","name":"RESET","group":"f082d23.5870f3","order":8,"width":0,"height":0,"passthru":false,"label":"ALLE LICHTER  AUS","tooltip":"","color":"","bgcolor":"","icon":"fa-2x fa-lightbulb-o","payload":"false","payloadType":"bool","topic":"","x":800,"y":460,"wires":[["46c0d0f8.ce014","65acd935.85f9b8","34f4f74.85d2b08","d3afa9e1.b3b358","b53402c9.abef1","6fc6b4bc.2db89c","528d8119.b5e69","2ef3deb7.89c4c2","234d0ad4.aa5936","a030b27e.8deae","7a79026c.f00c8c","1f08d9ae.1ea606","2e6ea3e2.15e3bc","8902ca66.b29778"]]},{"id":"ea3f3594.237fc8","type":"ui_switch","z":"17252e85.f4c3c1","name":"LIGHT WINDOW BESIDE DOOR RIGHT","label":"LICHT FENSTER NEBEN TÜRE RECHTS","group":"dddbf4a9.de6238","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2557.015625,"y":1839.2264671325684,"wires":[["457726bc.ce31c8"]]},{"id":"457726bc.ce31c8","type":"function","z":"17252e85.f4c3c1","name":"LIGHT COMMAND INDOW BESIDE DOOR LIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-ON\";\nvar ResultOff = \"TURN-LIGHTBAR-OVER-RIGHTWINDOW-BESIDE-DOOR-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2975.015625,"y":1842.2264671325684,"wires":[[]]},{"id":"d8bcccf0.10541","type":"ui_switch","z":"59dc7866.dede98","name":"GALLERY DOWN 1","label":"LEUCHTEN UNTEN 1","group":"59870186.4c225","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2422.765625,"y":1892.2264671325684,"wires":[["17f40115.67571f"]]},{"id":"17f40115.67571f","type":"function","z":"59dc7866.dede98","name":"LIGHT COMMAND GALLERY DOWN 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-1-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3005.765625,"y":1889.2264671325684,"wires":[[]]},{"id":"47a69112.94d","type":"ui_switch","z":"71195148.90b36","name":"GALLERY DOWN 2","label":"LEUCHTEN UNTEN 2","group":"59870186.4c225","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2425,"y":1951.4764671325684,"wires":[["92d9bb85.832db8"]]},{"id":"92d9bb85.832db8","type":"function","z":"71195148.90b36","name":"LIGHT COMMAND GALLERY DOWN 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-2-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3042,"y":1939.4764671325684,"wires":[[]]},{"id":"e8b24c7b.b1669","type":"ui_switch","z":"5adde79.cef0318","name":"GALLERY DOWN 3","label":"LEUCHTEN UNTEN 3","group":"59870186.4c225","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2430.333251953125,"y":2000.8097190856934,"wires":[["bed70e4.0186af"]]},{"id":"bed70e4.0186af","type":"function","z":"5adde79.cef0318","name":"LIGHT COMMAND GALLERY DOWN 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-3-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3043.333251953125,"y":1995.8097190856934,"wires":[[]]},{"id":"fdd8d83d.115138","type":"ui_switch","z":"f1f09036.8e6a5","name":"GALLERY DOWN 4","label":"LEUCHTEN UNTEN 4","group":"59870186.4c225","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2435.333251953125,"y":2048.8097190856934,"wires":[["76dfd902.5d3618"]]},{"id":"76dfd902.5d3618","type":"function","z":"f1f09036.8e6a5","name":"LIGHT COMMAND GALLERY DOWN 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-DOWN-4-ON\";\nvar ResultOff = \"TURN-GALLERY-DOWN-4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3054.333251953125,"y":2045.8097190856934,"wires":[[]]},{"id":"eae848c3.f33078","type":"ui_switch","z":"920f6b4f.48eac8","name":"GALLERY UP 1","label":"LEUCHTEN OBEN 1","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2383,"y":2092.4764671325684,"wires":[["c7f4a8b7.bef9f8"]]},{"id":"c7f4a8b7.bef9f8","type":"function","z":"920f6b4f.48eac8","name":"LIGHT COMMAND GALLERY UP 1","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP1-ON\";\nvar ResultOff = \"TURN-GALLERY-UP1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":2716.250045776367,"y":1933.7265934944153,"wires":[[]]},{"id":"22b82a20.270176","type":"ui_switch","z":"14763e8a.16f4e1","name":"GALLERY UP 2","label":"LEUCHTEN OBEN 2","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2089.0157775878906,"y":2122.7265224456787,"wires":[["44b81f44.a5266"]]},{"id":"44b81f44.a5266","type":"function","z":"14763e8a.16f4e1","name":"LIGHT COMMAND GALLERY UP 2","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP2-ON\";\nvar ResultOff = \"TURN-GALLERY-UP2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3164.015579223633,"y":2146.726706504822,"wires":[[]]},{"id":"cde32557.f86308","type":"ui_switch","z":"6f1a9f64.905d8","name":"GALLERY UP 3","label":"LEUCHTEN OBEN  3","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1893.015712738037,"y":2164.726493835449,"wires":[["eb8c74c5.c28818"]]},{"id":"eb8c74c5.c28818","type":"function","z":"6f1a9f64.905d8","name":"LIGHT COMMAND GALLERY UP 3","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP3-ON\";\nvar ResultOff = \"TURN-GALLERY-UP3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3246.0155334472656,"y":2189.726873397827,"wires":[[]]},{"id":"6a660298.a819fc","type":"ui_switch","z":"9fee7c36.f7377","name":"GALLERY UP 4","label":"LEUCHTEN OBEN 4","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1728.0158309936523,"y":2202.726583480835,"wires":[["9282d027.3f4a5"]]},{"id":"9282d027.3f4a5","type":"function","z":"9fee7c36.f7377","name":"LIGHT COMMAND GALLERY UP 4","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP4-ON\";\nvar ResultOff = \"TURN-GALLERY-UP4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3258.0155181884766,"y":2241.726589202881,"wires":[[]]},{"id":"c1e9e872.58a348","type":"ui_switch","z":"bbbc4d26.67bb6","name":"GALLERY UP 5","label":"LEUCHTEN OBEN 5","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1514.0156478881836,"y":2242.726587295532,"wires":[["1c8cf8a0.b34597"]]},{"id":"1c8cf8a0.b34597","type":"function","z":"bbbc4d26.67bb6","name":"LIGHT COMMAND GALLERY UP 5","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP5-ON\";\nvar ResultOff = \"TURN-GALLERY-UP5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3299.0155181884766,"y":2289.7265911102295,"wires":[[]]},{"id":"9bf8988d.9fd508","type":"ui_switch","z":"ea250672.3772b8","name":"GALLERY UP 6","label":"LEUCHTEN OBEN 6","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1392.0158157348633,"y":2286.7265281677246,"wires":[["c617dc83.01e63"]]},{"id":"c617dc83.01e63","type":"function","z":"ea250672.3772b8","name":"LIGHT COMMAND GALLERY UP 6","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP6-ON\";\nvar ResultOff = \"TURN-GALLERY-UP6-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3357.0157775878906,"y":2329.726408958435,"wires":[[]]},{"id":"24663af3.ee3a36","type":"ui_switch","z":"6dbd2357.9181cc","name":"GALLERY UP 7","label":"LEUCHTEN OBEN 7","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1298.0157012939453,"y":2322.7264976501465,"wires":[["76ac2f2a.44c4a"]]},{"id":"76ac2f2a.44c4a","type":"function","z":"6dbd2357.9181cc","name":"LIGHT COMMAND GALLERY UP 7","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP7-ON\";\nvar ResultOff = \"TURN-GALLERY-UP7-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3412.0155334472656,"y":2368.726643562317,"wires":[[]]},{"id":"9b7fb993.cf8aa8","type":"ui_switch","z":"fb9db58e.530998","name":"GALLERY UP 8","label":"LEUCHTEN OBEN 8","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1196.015640258789,"y":2363.726781845093,"wires":[["5d8ab761.552368"]]},{"id":"5d8ab761.552368","type":"function","z":"fb9db58e.530998","name":"LIGHT COMMAND GALLERY UP 8","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP8-ON\";\nvar ResultOff = \"TURN-GALLERY-UP8-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3463.0155181884766,"y":2411.7264137268066,"wires":[[]]},{"id":"ac5d0ed5.a4698","type":"ui_switch","z":"be228d90.8caef","name":"GALLERY UP 9","label":"LEUCHTEN OBEN 9","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1066.0157165527344,"y":2425.726776123047,"wires":[["2bb209b5.9fdf76"]]},{"id":"2bb209b5.9fdf76","type":"function","z":"be228d90.8caef","name":"LIGHT COMMAND GALLERY UP 9","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP9-ON\";\nvar ResultOff = \"TURN-GALLERY-UP9-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3499.015579223633,"y":2452.726414680481,"wires":[[]]},{"id":"d3bc916.9bdf47","type":"ui_switch","z":"fbecec3.074551","name":"GALLERY UP 10","label":"LEUCHTEN OBEN 10","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":953.0157699584961,"y":2487.7266550064087,"wires":[["3851963e.783a1a"]]},{"id":"3851963e.783a1a","type":"function","z":"fbecec3.074551","name":"LIGHT COMMAND GALLERY UP 10","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP10-ON\";\nvar ResultOff = \"TURN-GALLERY-UP10-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":3547.015579223633,"y":2495.72647857666,"wires":[[]]},{"id":"d3c59bcd.8bf718","type":"ui_switch","z":"6246a200.ac18dc","name":"GALLERY UP 11","label":"LEUCHTEN OBEN 11","group":"ee7391e3.0774","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800.0158004760742,"y":2542.7267780303955,"wires":[["5698937a.c33e4c"]]},{"id":"5698937a.c33e4c","type":"function","z":"6246a200.ac18dc","name":"LIGHT COMMAND GALLERY UP 11","func":"var result;\nvar ResultOn  = \"TURN-GALLERY-UP11-ON\";\nvar ResultOff = \"TURN-GALLERY-UP11-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[[]]},{"id":"a952ee58.75f5b","type":"ui_switch","z":"f6dd1fca.6c306","name":"VORHAUS  HAUPTLICHT","label":"Haupt Licht","group":"fd93ca25.397518","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"HAUPTLICHT","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":60,"wires":[["56b8eb53.8f1a84"]]},{"id":"56b8eb53.8f1a84","type":"function","z":"f6dd1fca.6c306","name":"LIGHT COMMAND ANTEROOM MAIN","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MAIN-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MAIN-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":60,"wires":[[]]},{"id":"873c10f2.25982","type":"subflow:15e47868.0e5ea8","z":"54f401c5.36b84","name":"BOILER","env":[],"x":500,"y":100,"wires":[[]]},{"id":"b53402c9.abef1","type":"subflow:fd0015a.609c3e8","z":"7fa0f8f.5a71708","name":"LIGHT_WINDOW_LEDGE_EAST","x":1700,"y":240,"wires":[["f5547ea4.3e666"]]},{"id":"6fc6b4bc.2db89c","type":"subflow:2e8f2f3a.4b7f9","z":"7fa0f8f.5a71708","name":"LIGHT_OUTSIDE","x":1650,"y":320,"wires":[["f5547ea4.3e666"]]},{"id":"4af67bd.b6c9e84","type":"subflow:77dda60a.d7efe8","z":"7fa0f8f.5a71708","name":"SCENARIOS","env":[],"x":1430,"y":500,"wires":[["b53402c9.abef1","7b20a57f.06ad1c"],["658ebf41.b879","42e30d78.045134"]]},{"id":"956c65fc.759a28","type":"ui_switch","z":"732a823b.6349dc","name":"VORHAUS  GALLERIE BODEN","label":"SPOTS BODEN","group":"b210f56e.db6368","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"GALLERIE BODEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":378.0173645019531,"y":129.01040649414062,"wires":[["f4f718ca.73ad78"]]},{"id":"f4f718ca.73ad78","type":"function","z":"732a823b.6349dc","name":"LIGHT COMMAND ANTEROOM GALLERY UP","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-FLOOR-UP-ON\";\nvar ResultOff = \"TURN-LIGHT-FLOOR-UP-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":808.1461334228516,"y":50.909400939941406,"wires":[[]]},{"id":"5138ce61.f5ce7","type":"ui_switch","z":"3486c1a7.a51b3e","name":"BAD ALLE LICHTER","label":"Alle Lichter","group":"83673fe2.3b03d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"BAD","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":444.0173645019531,"y":170.01040649414062,"wires":[["8f311a56.6e0af8"]]},{"id":"8f311a56.6e0af8","type":"function","z":"3486c1a7.a51b3e","name":"LIGHT COMMAND BATHROOM ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-BATHROOM-ALL-ON\";\nvar ResultOff = \"TURN-LIGHT-BATHROOM-ALL-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":898.1462059020996,"y":276.9093933105469,"wires":[[]]},{"id":"528d8119.b5e69","type":"subflow:3486c1a7.a51b3e","z":"7fa0f8f.5a71708","name":"","x":1650,"y":100,"wires":[["f5547ea4.3e666"]]},{"id":"c959c02a.01119","type":"ui_switch","z":"e05aa54.b29db58","name":"WC  ALLE LICHTER","label":"Alle Lichter","group":"f055e626.392288","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"WC","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415.0173645019531,"y":155.01040649414062,"wires":[["2de0416d.3ababe"]]},{"id":"2de0416d.3ababe","type":"function","z":"e05aa54.b29db58","name":"LIGHT COMMAND WC ALL","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-WASHROOM-ON\";\nvar ResultOff = \"TURN-LIGHT-WASHROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":839.1462059020996,"y":261.9093933105469,"wires":[[]]},{"id":"2ef3deb7.89c4c2","type":"subflow:e05aa54.b29db58","z":"7fa0f8f.5a71708","name":"","env":[],"x":1630,"y":40,"wires":[["f5547ea4.3e666"]]},{"id":"ed728d49.43d96","type":"ui_switch","z":"398e4654.d2a5ea","name":"VORHAUS  LICHT HINTEN","label":"Licht Hinten","group":"fd93ca25.397518","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"LICHT HINTEN","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":471.0173645019531,"y":194.01040649414062,"wires":[["4bc9db11.460844"]]},{"id":"4bc9db11.460844","type":"function","z":"398e4654.d2a5ea","name":"LIGHT COMMAND ANTEROOM BACK","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-BACK-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-BACK-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":915.1462059020996,"y":300.9093933105469,"wires":[[]]},{"id":"311fb730.1844b8","type":"ui_switch","z":"a96c7925.d9b518","name":"HEATER WEST","label":"Heizkörper West","group":"848f3969.ede7f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":282,"y":116,"wires":[["2425aabe.c3d216"]]},{"id":"2425aabe.c3d216","type":"function","z":"a96c7925.d9b518","name":"HEATER WEST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-WEST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":646.4282112121582,"y":117.28568363189697,"wires":[[]]},{"id":"659aa27.c12095c","type":"ui_switch","z":"9444d242.b6c36","name":"HEATER EAST","label":"Heizkörper Osten","group":"848f3969.ede7f8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":344,"y":105,"wires":[["a7144b0b.29a108"]]},{"id":"a7144b0b.29a108","type":"function","z":"9444d242.b6c36","name":"HEATER EAST COMMAND","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BODY-EAST-ON\";\nvar ResultOff = \"TURN-HEATER-BODY-EAST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":708.4282112121582,"y":106.28568363189697,"wires":[[]]},{"id":"6626f78f.706558","type":"ui_button","z":"751908ce.1d1d68","name":"GallerieOben_Ein","group":"ee7391e3.0774","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE EIN","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":80,"wires":[["d2c402.64870c"]]},{"id":"66469f4f.823ff","type":"link in","z":"7fa0f8f.5a71708","name":"","links":["d2c402.64870c"],"x":1235,"y":440,"wires":[["234d0ad4.aa5936"]]},{"id":"d2c402.64870c","type":"link out","z":"751908ce.1d1d68","name":"","links":["66469f4f.823ff"],"x":715,"y":160,"wires":[]},{"id":"4492de44.c8d9a","type":"ui_button","z":"751908ce.1d1d68","name":"GallerieOben_Aus","group":"ee7391e3.0774","order":0,"width":0,"height":0,"passthru":false,"label":"ALLE AUS","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":490,"y":260,"wires":[["d2c402.64870c"]]},{"id":"4480e402.3d37fc","type":"function","z":"658af8e2.d21c88","name":"LIGHT COMMAND ANTEROOM MIDDLE","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-ANTEROOM-MIDDLE-ON\";\nvar ResultOff = \"TURN-LIGHT-ANTEROOM-MIDDLE-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":543.0002517700195,"y":80,"wires":[[]]},{"id":"c2c21b85.dd8198","type":"ui_button","z":"658af8e2.d21c88","name":"ANTEROOM_MIDDLE_OFF","group":"fd93ca25.397518","order":4,"width":0,"height":0,"passthru":false,"label":"Vorhaus Licht Mitte AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"ANTEROOM_MIDDLE_OFF","x":210,"y":80,"wires":[["4480e402.3d37fc"]]},{"id":"1bf9a73c.5a3da9","type":"ui_switch","z":"1f41fee.aca6501","name":"HEATER BATH","label":"Heizkörper Badezimmer","group":"ef7f35ee.d69248","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":120,"wires":[["3b3917c4.ca56a8"]]},{"id":"3b3917c4.ca56a8","type":"function","z":"1f41fee.aca6501","name":"HEATER BATH ","func":"var result;\nvar ResultOn  = \"TURN-HEATER-BATH-ON\";\nvar ResultOff = \"TURN-HEATER-BATH-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":784.4282112121582,"y":121.28568363189697,"wires":[[]]},{"id":"e7efa5e.6e36958","type":"subflow:54f401c5.36b84","z":"7fa0f8f.5a71708","name":"SUB_BOILER","env":[],"x":1820,"y":420,"wires":[["f5547ea4.3e666"]]},{"id":"b917fb18.e70048","type":"ui_switch","z":"5cf46a6e.756414","name":"PLUG-IR","label":"STECKDOSE-IRHEIZUNG","tooltip":"","group":"f082d23.5870f3","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"PLUG-IR","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":80,"wires":[["f968c49c.09d3b8","c1b5ab76.9fea58"]]},{"id":"f968c49c.09d3b8","type":"function","z":"5cf46a6e.756414","name":"PLUG-IR","func":"var result;\nvar ResultOn  = \"POWER-PLUG-INFRA-RED-ON\";\nvar ResultOff = \"POWER-PLUG-INFRA-RED-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":80,"wires":[[]]},{"id":"549bb42a.74bb9c","type":"subflow:5cf46a6e.756414","z":"7098ba05.866f94","name":"SUB_PLUG_IR","env":[],"x":600,"y":160,"wires":[["1be1736d.08c8ed"]]},{"id":"1be1736d.08c8ed","type":"link out","z":"7098ba05.866f94","name":"LINK_POWER_OUT","links":["86c3cf93.eb9b"],"x":820,"y":160,"wires":[]},{"id":"86c3cf93.eb9b","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_POWER_IN","links":["1be1736d.08c8ed"],"x":1895,"y":500,"wires":[["f5547ea4.3e666"]]},{"id":"81ecc549.f8c448","type":"ui_button","z":"947efd24.6a1b6","name":"HEATERSOFF","group":"f082d23.5870f3","order":6,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper aus","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"Alle Heizkörper aus","x":320,"y":180,"wires":[["1ffc57aa.502708","b83e37c3.585798"]]},{"id":"4aa8e6e4.d07c48","type":"ui_button","z":"947efd24.6a1b6","name":"HEATERSON","group":"f082d23.5870f3","order":7,"width":0,"height":0,"passthru":false,"label":"Alle Heizkörper ein","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"Alle Heizkörper ein","x":320,"y":240,"wires":[["1ffc57aa.502708","b83e37c3.585798"]]},{"id":"1ffc57aa.502708","type":"subflow:1f41fee.aca6501","z":"947efd24.6a1b6","name":"","env":[],"x":700,"y":240,"wires":[["529d6a10.414664"]]},{"id":"529d6a10.414664","type":"link out","z":"947efd24.6a1b6","name":"LINK_HEATERS_OUT","links":["183696ab.96e4b9"],"x":960,"y":240,"wires":[]},{"id":"183696ab.96e4b9","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_HEATERS_IN","links":["529d6a10.414664"],"x":1895,"y":660,"wires":[["f5547ea4.3e666"]]},{"id":"234d0ad4.aa5936","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_CONTROL_GALLERY_UP_OUT","links":["bb8b0123.c8baf"],"x":1235,"y":500,"wires":[]},{"id":"b8e7cd07.7fb1c","type":"subflow:6246a200.ac18dc","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_11","env":[],"x":630,"y":700,"wires":[["a6da726f.2402a"]]},{"id":"5a0a6783.e7d0e8","type":"subflow:fbecec3.074551","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_10","x":640,"y":640,"wires":[["a6da726f.2402a"]]},{"id":"59d70f77.1bd21","type":"subflow:be228d90.8caef","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_9","x":630,"y":580,"wires":[["a6da726f.2402a"]]},{"id":"53b3b2a1.8a039c","type":"subflow:fb9db58e.530998","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_8","x":630,"y":520,"wires":[["a6da726f.2402a"]]},{"id":"c4d1fd9d.a5b8d","type":"subflow:6dbd2357.9181cc","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_7","x":630,"y":460,"wires":[["a6da726f.2402a"]]},{"id":"c07acaae.712158","type":"subflow:ea250672.3772b8","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_6","x":630,"y":400,"wires":[["a6da726f.2402a"]]},{"id":"61a732ca.b667fc","type":"subflow:bbbc4d26.67bb6","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_5","x":630,"y":340,"wires":[["a6da726f.2402a"]]},{"id":"510f23e2.5407bc","type":"subflow:920f6b4f.48eac8","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_1","env":[],"x":632.9845428466797,"y":109.10723495483398,"wires":[["a6da726f.2402a"]]},{"id":"b3f8fb06.edebd8","type":"subflow:14763e8a.16f4e1","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_2","x":630,"y":160,"wires":[["a6da726f.2402a"]]},{"id":"7d63c6.15177c3c","type":"subflow:6f1a9f64.905d8","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_3","x":630,"y":220,"wires":[["a6da726f.2402a"]]},{"id":"2a345534.38f40a","type":"subflow:9fee7c36.f7377","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP_4","x":630,"y":280,"wires":[["a6da726f.2402a"]]},{"id":"bb8b0123.c8baf","type":"link in","z":"2110ff8c.cc84f","name":"LINK_CONTROL_GALLERY_UP_IN","links":["234d0ad4.aa5936"],"x":235,"y":460,"wires":[["510f23e2.5407bc","b3f8fb06.edebd8","7d63c6.15177c3c","2a345534.38f40a","61a732ca.b667fc","c07acaae.712158","c4d1fd9d.a5b8d","53b3b2a1.8a039c","59d70f77.1bd21","5a0a6783.e7d0e8","b8e7cd07.7fb1c","6143e08d.553e3","a4423e84.af18a"]]},{"id":"a6da726f.2402a","type":"link out","z":"2110ff8c.cc84f","name":"LINK_CONTROL_GALLERY_UP_TOSEND_OUT","links":["6f154ce5.194d04"],"x":975,"y":460,"wires":[]},{"id":"6f154ce5.194d04","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_CONTROL_GALLERY_UP_TOSEND_IN","links":["a6da726f.2402a"],"x":1895,"y":580,"wires":[["f5547ea4.3e666"]]},{"id":"2a0fb1c8.57c7ae","type":"subflow:58c186d2.cc7718","z":"4f4805f4.fd73bc","name":"LIGHT_DOOR_ENTRY_LEFT","env":[],"x":790,"y":400,"wires":[["c7dc9b5.d390368"]]},{"id":"5b139a3c.b77794","type":"subflow:77354d21.b63d74","z":"4f4805f4.fd73bc","name":"LIGHT_MAIN_DOOR","x":760,"y":80,"wires":[["c7dc9b5.d390368"]]},{"id":"1c1d56da.e66e19","type":"subflow:8e0df9ea.dc6d98","z":"4f4805f4.fd73bc","name":"LIGHT_WINDOW_UP_EAST","x":780,"y":180,"wires":[["c7dc9b5.d390368"]]},{"id":"45579c05.6d8f24","type":"subflow:17252e85.f4c3c1","z":"4f4805f4.fd73bc","name":"LIGHT_RIGHT_NEXT_DOOR","x":790,"y":280,"wires":[["c7dc9b5.d390368"]]},{"id":"935a3994.8e65b8","type":"link in","z":"4f4805f4.fd73bc","name":"LINK_CONTROL_SOUTH_IN","links":["a030b27e.8deae"],"x":375,"y":200,"wires":[["5b139a3c.b77794","1c1d56da.e66e19","45579c05.6d8f24","2a0fb1c8.57c7ae"]]},{"id":"c7dc9b5.d390368","type":"link out","z":"4f4805f4.fd73bc","name":"LINK_CONTROL_TOSEND_SOUTH_OUT","links":["87280057.43332"],"x":1075,"y":220,"wires":[]},{"id":"a030b27e.8deae","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_CONTROL_TO_FLOWS_SOUTH_OUT","links":["935a3994.8e65b8"],"x":1235,"y":560,"wires":[]},{"id":"87280057.43332","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_CONTROL_TOSEND_SOUTH_IN","links":["c7dc9b5.d390368"],"x":1895,"y":620,"wires":[["f5547ea4.3e666"]]},{"id":"6143e08d.553e3","type":"subflow:24a391fc.9c0f9e","z":"2110ff8c.cc84f","name":"LIGHT_GALLERY_UP","env":[],"x":620,"y":760,"wires":[["a6da726f.2402a"]]},{"id":"a4423e84.af18a","type":"subflow:c08a9f29.c0364","z":"2110ff8c.cc84f","name":"LIGHT_TRIANGLE_UP","x":630,"y":820,"wires":[["a6da726f.2402a"]]},{"id":"658ebf41.b879","type":"link out","z":"7fa0f8f.5a71708","name":"SCENARIO_TOFLOW_SOUTH_OUT","links":["aafe16d6.baf1b8"],"x":1615,"y":540,"wires":[]},{"id":"aafe16d6.baf1b8","type":"link in","z":"4f4805f4.fd73bc","name":"FROM_SCENARIO","links":["658ebf41.b879"],"x":455,"y":360,"wires":[["2a0fb1c8.57c7ae"]]},{"id":"12adb9bc.a841b6","type":"subflow:398e4654.d2a5ea","z":"1f4c4ae3.09c2f5","name":"","x":600,"y":120,"wires":[["d12deac3.fec6f8"]]},{"id":"bb065406.f04828","type":"subflow:f6dd1fca.6c306","z":"1f4c4ae3.09c2f5","name":"ANTEROOM_MAIN_LIGHT","env":[],"x":602.4659423828125,"y":191.87314891815186,"wires":[["d12deac3.fec6f8"]]},{"id":"f74a32bd.cbcdc","type":"subflow:732a823b.6349dc","z":"1f4c4ae3.09c2f5","name":"","env":[],"x":600,"y":260,"wires":[["d12deac3.fec6f8"]]},{"id":"7a79026c.f00c8c","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_CONTROL_TO_FLOWS_ANTROOM_OUT","links":["cab34a8f.35c668"],"x":975,"y":60,"wires":[]},{"id":"cab34a8f.35c668","type":"link in","z":"1f4c4ae3.09c2f5","name":"LINK_CONTROL_TO_FLOWS_ANTEROOM_IN","links":["7a79026c.f00c8c"],"x":282.07640075683594,"y":188.72570037841797,"wires":[["12adb9bc.a841b6","bb065406.f04828","f74a32bd.cbcdc"]]},{"id":"d12deac3.fec6f8","type":"link out","z":"1f4c4ae3.09c2f5","name":"LINK_TOSEND_ANTEROOM_OUT","links":["c1487bb5.ec6388"],"x":855,"y":200,"wires":[]},{"id":"c1487bb5.ec6388","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_TO_SEND_ANTEROOM_IN","links":["d12deac3.fec6f8"],"x":1895,"y":540,"wires":[["f5547ea4.3e666"]]},{"id":"b461a748.541ac8","type":"function","z":"27c430f0.58ebc","name":"LIGHT COMMAND ALL LIGHTS WEST","func":"var result;\nvar ResultOn  = \"TURN-ALL-LIGHTS-WEST-ON\";\nvar ResultOff = \"TURN-ALL-LIGHTS-WEST-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":120,"wires":[["85ffe774.57d6e8"]]},{"id":"b518eb80.ad0298","type":"subflow:e1423e4a.93e71","z":"27c430f0.58ebc","name":"LIGHT_WINDOW_LEDGE_WEST","x":800,"y":80,"wires":[["85ffe774.57d6e8"]]},{"id":"732c79a1.5df9c8","type":"subflow:1df46f96.bc77b","z":"27c430f0.58ebc","name":"LIGHT_WALL_WEST","x":760,"y":160,"wires":[["85ffe774.57d6e8"]]},{"id":"8a6c9274.5e31d","type":"subflow:9e792846.0d4958","z":"27c430f0.58ebc","name":"LIGHT_TRIANGLE_WEST","x":780,"y":200,"wires":[["85ffe774.57d6e8"]]},{"id":"42e30d78.045134","type":"link out","z":"7fa0f8f.5a71708","name":"SCENARIO_ADVENTURE","links":["8d7eff1b.47165"],"x":1615,"y":480,"wires":[]},{"id":"4118db13.ed27a4","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_WETSIDE_IN","links":["85ffe774.57d6e8"],"x":1895,"y":700,"wires":[["f5547ea4.3e666"]]},{"id":"7d8ed4fd.6c780c","type":"link in","z":"27c430f0.58ebc","name":"LINK_CONTROL_TO_FLOWS_WESTSIDE_IN","links":["419fc6fa.d20eb8"],"x":500,"y":140,"wires":[["b518eb80.ad0298","b461a748.541ac8","732c79a1.5df9c8","8a6c9274.5e31d"]]},{"id":"419fc6fa.d20eb8","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_CONTROL_TO_WESTSIDE_OUT","links":["7d8ed4fd.6c780c"],"x":1235,"y":700,"wires":[]},{"id":"85ffe774.57d6e8","type":"link out","z":"27c430f0.58ebc","name":"LINK_TO_SEND_WESTSIDE_OUT","links":["4118db13.ed27a4"],"x":1120,"y":140,"wires":[]},{"id":"7b20a57f.06ad1c","type":"link out","z":"7fa0f8f.5a71708","name":"SCENARIO_TO_FLOW_WESTSIDE","links":["5389fb5b.5a0244"],"x":1615,"y":420,"wires":[]},{"id":"5389fb5b.5a0244","type":"link in","z":"27c430f0.58ebc","name":"LINK_FROM_SCENARIO_WESTSIDE1","links":["7b20a57f.06ad1c"],"x":495,"y":80,"wires":[["b518eb80.ad0298"]]},{"id":"25c0e3c3.9c37ac","type":"subflow:5a45fc24.e52174","z":"3428a01a.0d641","name":"LIGHT_KITCHENBOARD_DOWN","x":460,"y":120,"wires":[["48611f94.4d494"]]},{"id":"573539e9.5b4038","type":"subflow:8f298b26.b15d28","z":"3428a01a.0d641","name":"FRONTLIGHTS_KITCHEN","env":[],"x":440,"y":60,"wires":[["48611f94.4d494"]]},{"id":"9ea353d9.0ebde","type":"link in","z":"3428a01a.0d641","name":"LINK_CONTROL_TO_KITCHEN_IN","links":["1f08d9ae.1ea606"],"x":200,"y":100,"wires":[["573539e9.5b4038","25c0e3c3.9c37ac"]]},{"id":"1f08d9ae.1ea606","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_TO_KITCHEN","links":["9ea353d9.0ebde"],"x":1235,"y":620,"wires":[]},{"id":"48611f94.4d494","type":"link out","z":"3428a01a.0d641","name":"LINK_SEND_TO_KITCHEN_OUT","links":["4875aa3e.f01994"],"x":740,"y":100,"wires":[]},{"id":"4875aa3e.f01994","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_TO_SEND_KITCEN_IN","links":["48611f94.4d494"],"x":1895,"y":740,"wires":[["f5547ea4.3e666"]]},{"id":"8d7eff1b.47165","type":"link in","z":"4f4805f4.fd73bc","name":"SCENARIO_ADVENTURE_IN","links":["42e30d78.045134"],"x":675,"y":240,"wires":[["1c1d56da.e66e19"]]},{"id":"c3771cc1.4c77d","type":"function","z":"749feb8f.103b04","name":"LIGHT COMMAND KID CEILING","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM1-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM1-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":140,"wires":[[]]},{"id":"6e8e5be3.73c834","type":"ui_switch","z":"749feb8f.103b04","name":"LIGHT CEILING","label":"DECKE","tooltip":"","group":"9f9a8a62.d54b98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":317.99995040893555,"y":139.9999442100525,"wires":[["c3771cc1.4c77d"]]},{"id":"8616432a.605b1","type":"subflow:749feb8f.103b04","z":"c28cf7ba.34de98","name":"","env":[],"x":360,"y":60,"wires":[["a56095e6.72c498"]]},{"id":"2e6ea3e2.15e3bc","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_TO_KID_ROOM_IN","links":["ba1c15b5.fe9038"],"x":1235,"y":660,"wires":[]},{"id":"ba1c15b5.fe9038","type":"link in","z":"c28cf7ba.34de98","name":"LINK_FROM_KIDROOM_IN","links":["2e6ea3e2.15e3bc"],"x":115,"y":180,"wires":[["8616432a.605b1","36494773.294568","fd30c31e.bb36e","37283ba1.3eff64","13bbf6ae.e581a9"]]},{"id":"a56095e6.72c498","type":"link out","z":"c28cf7ba.34de98","name":"LINK_FROM_KIDROOM_OUT","links":["880ac662.010978"],"x":635,"y":180,"wires":[]},{"id":"880ac662.010978","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_SEND_TO_KIDROOM_IN","links":["a56095e6.72c498"],"x":1895,"y":780,"wires":[["f5547ea4.3e666"]]},{"id":"faf302ed.83b2b","type":"function","z":"673e6c8d.6d6944","name":"LIGHT COMMAND KID RIGHT","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM2-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM2-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]},{"id":"70497155.174b5","type":"ui_switch","z":"673e6c8d.6d6944","name":"LIGHT RIGHT","label":"RECHTS","tooltip":"","group":"9f9a8a62.d54b98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o ","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o ","offcolor":"gray","x":337.99995040893555,"y":59.99994421005249,"wires":[["faf302ed.83b2b"]]},{"id":"36494773.294568","type":"subflow:673e6c8d.6d6944","z":"c28cf7ba.34de98","name":"","x":350,"y":124,"wires":[["a56095e6.72c498"]]},{"id":"62ec3391.b3b57c","type":"function","z":"acf40cda.989ad","name":"LIGHT COMMAND KID 3","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM3-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM3-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":60,"wires":[[]]},{"id":"f4f25e75.df19f","type":"ui_switch","z":"acf40cda.989ad","name":"Light3","label":"MANSARDE1","tooltip":"","group":"9f9a8a62.d54b98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":227.99995040893555,"y":59.99994421005249,"wires":[["62ec3391.b3b57c"]]},{"id":"fd30c31e.bb36e","type":"subflow:acf40cda.989ad","z":"c28cf7ba.34de98","name":"","env":[],"x":340,"y":180,"wires":[["a56095e6.72c498"]]},{"id":"efebc5d2.62f878","type":"function","z":"4a0d4570.92dcfc","name":"LIGHT COMMAND KID 4","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM4-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM4-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":40,"wires":[[]]},{"id":"e2a9708e.bc9c8","type":"ui_switch","z":"4a0d4570.92dcfc","name":"Light4","label":"MANSARDE2","tooltip":"","group":"9f9a8a62.d54b98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":147.99995040893555,"y":39.99994421005249,"wires":[["efebc5d2.62f878"]]},{"id":"37283ba1.3eff64","type":"subflow:4a0d4570.92dcfc","z":"c28cf7ba.34de98","name":"","env":[],"x":340,"y":240,"wires":[["a56095e6.72c498"]]},{"id":"46e96038.8662a","type":"function","z":"5841569b.a2c378","name":"LIGHT COMMAND KID 5","func":"var result;\nvar ResultOn  = \"TURN-LIGHT-KIDROOM5-ON\";\nvar ResultOff = \"TURN-LIGHT-KIDROOM5-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[[]]},{"id":"cf228ba3.464208","type":"ui_switch","z":"5841569b.a2c378","name":"Light5","label":"MANSARDE3","tooltip":"","group":"9f9a8a62.d54b98","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-lightbulb-o","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-lightbulb-o","offcolor":"gray","x":207.99995040893555,"y":59.99994421005249,"wires":[["46e96038.8662a"]]},{"id":"13bbf6ae.e581a9","type":"subflow:5841569b.a2c378","z":"c28cf7ba.34de98","name":"","env":[],"x":340,"y":300,"wires":[["a56095e6.72c498"]]},{"id":"a05e9613.6b2f98","type":"function","z":"909c3dae.8a8b","name":"Heater KID","func":"var result;\nvar ResultOn  = \"TURN-HEATER-KID-ROOM-ON\";\nvar ResultOff = \"TURN-HEATER-KID-ROOM-OFF\";\n\nif( msg.payload === true)\n{\n   result = ResultOn;\n}\nelse\n{\n   result = ResultOff;\n}\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[[]]},{"id":"7db1089b.69c5c8","type":"ui_switch","z":"909c3dae.8a8b","name":"Heater","label":"HEIZUNG","tooltip":"","group":"c9ad1603.380408","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":210,"y":40,"wires":[["a05e9613.6b2f98"]]},{"id":"c2a31090.8735d","type":"subflow:909c3dae.8a8b","z":"c28cf7ba.34de98","name":"","env":[],"x":360,"y":360,"wires":[["a56095e6.72c498"]]},{"id":"22397ecd.9acf02","type":"ui_template","z":"7fa0f8f.5a71708","group":"f082d23.5870f3","name":"Clock Toolbar","order":9,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":1340,"y":40,"wires":[[]]},{"id":"56651b0c.ffcc54","type":"subflow:1976d7f.0dd9028","z":"74fbc076.276df","name":"","x":360,"y":80,"wires":[["9f75869f.9109f8"]]},{"id":"c0e29fe.b1b256","type":"subflow:59dc7866.dede98","z":"74fbc076.276df","name":"","x":360,"y":140,"wires":[["9f75869f.9109f8"]]},{"id":"b70853db.0f8fe","type":"subflow:71195148.90b36","z":"74fbc076.276df","name":"","x":360,"y":200,"wires":[["9f75869f.9109f8"]]},{"id":"59a1e3c5.f5e6ac","type":"subflow:5adde79.cef0318","z":"74fbc076.276df","name":"","x":360,"y":260,"wires":[["9f75869f.9109f8"]]},{"id":"f486a434.6a4028","type":"subflow:f1f09036.8e6a5","z":"74fbc076.276df","name":"","x":360,"y":320,"wires":[["9f75869f.9109f8"]]},{"id":"246b7513.745d1a","type":"link in","z":"74fbc076.276df","name":"LINK_GALLYERY_DOWN_IN","links":["8902ca66.b29778"],"x":135,"y":200,"wires":[["56651b0c.ffcc54","c0e29fe.b1b256","b70853db.0f8fe","59a1e3c5.f5e6ac","f486a434.6a4028"]]},{"id":"9f75869f.9109f8","type":"link out","z":"74fbc076.276df","name":"LINK_GALLERY_DOWN_OUT","links":["84544b60.cc31d8"],"x":660,"y":220,"wires":[]},{"id":"8902ca66.b29778","type":"link out","z":"7fa0f8f.5a71708","name":"","links":["246b7513.745d1a"],"x":1235,"y":400,"wires":[]},{"id":"84544b60.cc31d8","type":"link in","z":"7fa0f8f.5a71708","name":"LINK_TO_SEND_GALLERY_DOWN_OUT","links":["9f75869f.9109f8"],"x":1895,"y":460,"wires":[["f5547ea4.3e666"]]},{"id":"ba9c0e3a.9d4bd","type":"link in","z":"c28cf7ba.34de98","name":"FROM_LINK_HEATERS","links":["b83e37c3.585798"],"x":140,"y":360,"wires":[["c2a31090.8735d"]]},{"id":"b83e37c3.585798","type":"link out","z":"947efd24.6a1b6","name":"TO_LINK_HEATER_KIDROOM","links":["ba9c0e3a.9d4bd"],"x":515,"y":300,"wires":[]},{"id":"9accca19.dead38","type":"ui_button","z":"b6e6fa.8bfd1908","name":"ANTEROOM_MIDDLE_ON","group":"fd93ca25.397518","order":3,"width":0,"height":0,"passthru":true,"label":"Vorhaus Licht Mitte EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TURN-LIGHT-ANTEROOM-MIDDLE-ON","payloadType":"str","topic":"ANTEROOM_MIDDLE_ON","x":180,"y":80,"wires":[[]]},{"id":"cc05f2fc.0e355","type":"ui_button","z":"5fed965b.1efc18","name":"ANTEROOM_MIDDLE_OFF","group":"fd93ca25.397518","order":4,"width":0,"height":0,"passthru":true,"label":"Vorhaus Licht Mitte AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"TURN-LIGHT-ANTEROOM-MIDDLE-OFF","payloadType":"str","topic":"ANTEROOM_MIDDLE_OFF","x":200,"y":80,"wires":[[]]},{"id":"1bffffd9.4080c","type":"subflow:5fed965b.1efc18","z":"53cbac0a.2b67f4","name":"ANTROOM_MIDDLE_OFF","env":[],"x":200,"y":80,"wires":[[]]},{"id":"dee88283.1e36c","type":"subflow:b6e6fa.8bfd1908","z":"53cbac0a.2b67f4","name":"ANTEROOM_MIDDLE_ON","env":[],"x":200,"y":140,"wires":[[]]},{"id":"a56d14db.ae8e98","type":"link in","z":"1f4c4ae3.09c2f5","name":"LINK_FROM_ALL_LIGHTS_IN","links":["71ee541a.3a062c"],"x":260,"y":360,"wires":[["39b8623a.a0dfae"]]},{"id":"71ee541a.3a062c","type":"link out","z":"7fa0f8f.5a71708","name":"LINK_TO_ALL_LIGHTS_OUT","links":["a56d14db.ae8e98"],"x":1000,"y":220,"wires":[]},{"id":"39b8623a.a0dfae","type":"subflow:53cbac0a.2b67f4","z":"1f4c4ae3.09c2f5","name":"","env":[],"x":580,"y":320,"wires":[["d12deac3.fec6f8"]]},{"id":"69f60a0.5dcbbf8","type":"switch","z":"7fa0f8f.5a71708","g":"f6dee579.962058","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"indDigitalInputAnteRoomMainButton_True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2230,"y":240,"wires":[["a17f4ddf.9afc8"]]},{"id":"ed32287b.6cba08","type":"debug","z":"7fa0f8f.5a71708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2570,"y":300,"wires":[]},{"id":"a17f4ddf.9afc8","type":"change","z":"7fa0f8f.5a71708","g":"f6dee579.962058","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2310,"y":320,"wires":[["ed32287b.6cba08"]]},{"id":"17a97e5f.fe2282","type":"ui_switch","z":"5cf46a6e.756414","name":"PLUG-IR-AUTO","label":"STECKDOSE-IRHEIZUNG-AUTO-AUS","tooltip":"","group":"f082d23.5870f3","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"PLUG-IR-AUTO","style":"","onvalue":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","onvalueType":"global","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":180,"wires":[["567336af.028f88"]]},{"id":"c1b5ab76.9fea58","type":"change","z":"5cf46a6e.756414","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":180,"wires":[["17a97e5f.fe2282"]]},{"id":"567336af.028f88","type":"switch","z":"5cf46a6e.756414","name":"ACTIVATE_ONLY","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":180,"wires":[[]]},{"id":"845cb910.0d57d8","type":"inject","z":"7098ba05.866f94","name":"INITIAL_AUTO_OFF_ACTIVATED","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"ACTIVATE-POWER-PLUG-INFRA-RED-AUTO","payloadType":"str","x":320,"y":160,"wires":[["549bb42a.74bb9c"]]},{"id":"c44e116a.cb695","type":"inject","z":"fe7ff20.d2e8f1","name":"Initial","props":[{"p":"constants","v":"{\"ACTIVATE_POWER_PLUG_INFRA_RED_AUTO\":\"ACTIVATE-POWER-PLUG-INFRA-RED-AUTO\"}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":100,"wires":[["659fa532.98cc7c","839bdbf3.308d88"]]},{"id":"659fa532.98cc7c","type":"function","z":"fe7ff20.d2e8f1","name":"","func":"var Constants = global.set('Constants', msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":100,"wires":[["df58aa40.4a83c8"]]},{"id":"df58aa40.4a83c8","type":"debug","z":"fe7ff20.d2e8f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"839bdbf3.308d88","type":"change","z":"fe7ff20.d2e8f1","name":"","rules":[{"t":"move","p":"constants","pt":"msg","to":"constants","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["fe8edb24.5a8e08"]]},{"id":"fe8edb24.5a8e08","type":"debug","z":"fe7ff20.d2e8f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"c3940c47.5e272","type":"switch","z":"fe7ff20.d2e8f1","name":"TEST_CONSTANTS","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"constants.ACTIVATE_POWER_PLUG_INFRA_RED_AUTO","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":280,"wires":[["2fb69576.d5b82a"]]},{"id":"1d233c55.5e48a4","type":"change","z":"fe7ff20.d2e8f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ACTIVATE-POWER-PLUG-INFRA-RED-AUTO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[["c3940c47.5e272"]]},{"id":"f4c6d319.af2f5","type":"inject","z":"fe7ff20.d2e8f1","name":"Initial","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":280,"wires":[["1d233c55.5e48a4"]]},{"id":"2fb69576.d5b82a","type":"debug","z":"fe7ff20.d2e8f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]}]