projects/PHIDGETS/flow.json
[{"id":"11ee38b2.311d67","type":"tab","label":"PHIDGETS","disabled":false,"info":""},{"id":"42332056.6c2a5","type":"phidget22-digitaloutput","z":"11ee38b2.311d67","channel":0,"deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":"0","debug":true,"LEDCurrentLimit":0.02,"LEDForwardVoltage":1,"x":560,"y":360,"wires":[[]]},{"id":"4ccdf194.f4116","type":"inject","z":"11ee38b2.311d67","name":"","topic":"setDutyCycle","payload":"{\"dutyCycle\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":360,"wires":[["42332056.6c2a5","772cd012.15489"]]},{"id":"7d7ec2e7.82a9cc","type":"inject","z":"11ee38b2.311d67","name":"","topic":"setDutyCycle","payload":"{\"dutyCycle\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":420,"wires":[["42332056.6c2a5","772cd012.15489"]]},{"id":"84cd656b.77d048","type":"phidget22-connect","z":"11ee38b2.311d67","d":true,"port":"5661","hostname":"192.168.0.51","debug":true,"x":230,"y":140,"wires":[[]]},{"id":"fb27b005.2daf3","type":"phidget22-connect","z":"11ee38b2.311d67","port":"5661","hostname":"localhost","debug":true,"x":210,"y":200,"wires":[[]]},{"id":"772cd012.15489","type":"phidget22-digitaloutput","z":"11ee38b2.311d67","channel":"1","deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":"0","debug":true,"LEDCurrentLimit":0.02,"LEDForwardVoltage":1,"x":560,"y":420,"wires":[[]]},{"id":"f608aef4.11094","type":"phidget22-digitalinput","z":"11ee38b2.311d67","channel":0,"deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":0,"debug":false,"inputMode":1,"powerSupply":"2","x":240,"y":480,"wires":[["f0a66c2d.aafdd"]]},{"id":"2f2d8b5c.e43c94","type":"debug","z":"11ee38b2.311d67","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":480,"wires":[]},{"id":"f0a66c2d.aafdd","type":"change","z":"11ee38b2.311d67","name":"StateToPayload","rules":[{"t":"move","p":"payload.state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["2f2d8b5c.e43c94"]]}]