projects/PHIDGETS/phidgets.json
[{"id":"52b37009.bd722","type":"tab","label":"PHIDGETS","disabled":false,"info":""},{"id":"e78fbcbc.3320b","type":"phidget22-digitaloutput","z":"52b37009.bd722","channel":0,"deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":"0","debug":true,"LEDCurrentLimit":0.02,"LEDForwardVoltage":1,"x":600,"y":340,"wires":[[]]},{"id":"9cdd5359.f579c","type":"inject","z":"52b37009.bd722","name":"","topic":"setDutyCycle","payload":"{\"dutyCycle\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":340,"wires":[["e78fbcbc.3320b","5dfd177f.897c78"]]},{"id":"d9fc5145.830a","type":"inject","z":"52b37009.bd722","name":"","topic":"setDutyCycle","payload":"{\"dutyCycle\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":400,"wires":[["e78fbcbc.3320b","5dfd177f.897c78"]]},{"id":"1a416cbf.a65693","type":"phidget22-connect","z":"52b37009.bd722","d":true,"port":"5661","hostname":"192.168.0.51","debug":true,"x":270,"y":120,"wires":[[]]},{"id":"f8cfb676.ed04e8","type":"phidget22-connect","z":"52b37009.bd722","port":"5661","hostname":"localhost","debug":true,"x":250,"y":180,"wires":[[]]},{"id":"5dfd177f.897c78","type":"phidget22-digitaloutput","z":"52b37009.bd722","channel":"1","deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":"0","debug":true,"LEDCurrentLimit":0.02,"LEDForwardVoltage":1,"x":600,"y":400,"wires":[[]]},{"id":"9c2ae672.9400f8","type":"phidget22-digitalinput","z":"52b37009.bd722","channel":0,"deviceSerialNumber":"311883","isHubPortDevice":false,"hubPort":0,"debug":false,"inputMode":1,"powerSupply":"2","x":680,"y":480,"wires":[["d9975430.a7f488"]]},{"id":"d9975430.a7f488","type":"debug","z":"52b37009.bd722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":380,"wires":[]}]